#{if edit}
<div class="section gray-bg">
<div class="container">
	<form id="cropForm" action="/crop" method="post">
		<input type="hidden" id="url" name="url" value="${request.url.urlEncode()}" />
		<input type="hidden" id="x1" name="x1" />
		<input type="hidden" id="x2" name="x2" />
		<input type="hidden" id="y1" name="y1" />
		<input type="hidden" id="y2" name="y2" />
		<input type="hidden" id="imageIdCrop" name="imageId" />
		<input type="hidden" id="type" name="type" value="listing" />
		<input type="hidden" id="tempCrop" name="objectId" value="#{if listing}${listing.uuid}#{/if}#{else}${temp}#{/else}"/>
	</form>
	
	<form action="" method="post" role="form">
	#{if fromEvent}
		<input type="hidden" name="temp" id="temp" value="${temp}">
		<div class="form-group" >
			<div class="row" style="margin-left:0px" >
			  <div class="col-lg-4" style="padding-left:0px">
				<label class="control-label">&{'event-date'}</label>
				<div class="input-group input-append bootstrap-timepicker" style="margin-bottom:5px;">
					<input type="text" class="form-control input-small" maxlength="50" name="eventDate" id="eventDate" value="${params.eventDate}" placeholder="&{'event-date'}"/>
					<span id="fa-calendar" class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
				</div>
			  </div>
			  <div class="col-lg-4" style="padding-left:0px">
				<label class="control-label">&{'start-time'}</label>
				<div class="input-group input-append bootstrap-timepicker" style="margin-bottom:5px;">
					<input id="timepicker1" type="text" class="form-control input-small" name="eventStart" value="${params.eventStart}">
					<span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
				</div>
			  </div>
			  <div class="col-lg-4" style="padding-left:0px">
				<label class="control-label">&{'end-time'}</label>
				<div class="input-group input-append bootstrap-timepicker" style="margin-bottom:5px;">
					<input id="timepicker2" type="text" class="form-control input-small" name="eventEnd" value="${params.eventEnd}">
					<span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
				</div>
			  </div>
			</div>
			<div class="alert alert-danger">#{error 'eventStart' /}</div>
			<div class="alert alert-danger">#{error 'eventEnd' /}</div>
			<div class="alert alert-danger">#{error 'eventDate' /}</div>
			<div class="alert alert-danger">#{error 'time' /}</div>
			
			<input type="hidden" id="offset" name="offset"/>
			<script>
				$(document).ready(function(){
	                $('#offset').val(new Date().getTimezoneOffset());
	                $('#timepicker1').timepicker({
	                    appendWidgetTo: 'body',
	                    showMeridian: false
	                });
	                $('#timepicker2').timepicker({
	                    appendWidgetTo: 'body',
	                    showMeridian: false	
	                });
	                $('#fa-calendar').click(function(){
	                    $('#eventDate').datepicker('show');
	                });
	                
	                var nowTemp = new Date();
	                var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
	                
	                #{if params.eventEnd == null || params.eventEnd.length() == 0}
	                 $('#timepicker2').timepicker('setTime', (nowTemp.getHours()+1)+":"+($("#timepicker1").val().substring($("#timepicker1").val().indexOf(":")+1)));
	            	#{/if}
	                #{else}
	                 $('#timepicker2').timepicker('setTime', '${params.eventEnd}');
	                #{/else}
	                
	            	var checkin = $('#eventDate').datepicker({
	                  format:"dd.mm.yyyy",
	                  onRender: function(date) {
	                    return date.valueOf() < now.valueOf() ? 'disabled' : '';
	                  }
	                }).data('datepicker');
	                
	                #{if params.eventDate == null || params.eventDate.length() == 0}
	                	$('#eventDate').datepicker('setValue', now);
	                #{/if}
				});	                
			</script>
		</div>		
		
		<label class="control-label">Event type</label>
		<div class="form-group">
			<div class="btn-group" data-toggle="buttons">
			  <label class="btn btn-light-gray #{if params.type == "p2p"} active #{/if}" >
			    <input type="radio" name="type" id="option1" autocomplete="off" #{if params.type == "p2p"} checked="checked" #{/if} value="p2p"> &{'video-conference'}
			  </label>
			  *{
			  <label class="btn btn-light-gray #{if params.type == "broadcast"} active #{/if}" >
			    <input type="radio" name="type" id="option1" autocomplete="off" #{if params.type == "broadcast"} checked="checked" #{/if} value="broadcast"> &{'live-broadcast'}
			  </label>
			  }*
			  <label class="btn btn-light-gray #{if params.type == "hangout"} active #{/if}" >
			    <input type="radio" name="type" id="option1" autocomplete="off" #{if params.type == "hangout"} checked="checked" #{/if} value="hangout"><i class="fa fa-google-plus"></i> &{'google-hangout'}
			  </label>
			  <label class="btn btn-light-gray #{if params.type == "hangoutAir"} active #{/if}" >
			    <input type="radio" name="type" id="option1" autocomplete="off" #{if params.type == "hangoutAir"} checked="checked" #{/if} value="hangoutAir"><i class="fa fa-google-plus"></i> &{'google-hangout-air'}
			  </label>
			</div>				
			<div class="alert alert-danger">#{error 'type' /}</div>
		</div>

		<label class="control-label">&{'privacy'}</label>
		<div class="form-group ">
			<div class="btn-group" data-toggle="buttons">
				  <label class="btn btn-light-gray #{if params.privacy == "private"} active #{/if}" >
				    <input type="radio" name="privacy" id="option1" autocomplete="off" #{if params.privacy == "private"} checked="checked" #{/if} value="private"> &{'private'}
				  </label>				
				  <label class="btn btn-light-gray #{if params.privacy == "public"} active #{/if}" >
				    <input type="radio" name="privacy" id="option1" autocomplete="off" #{if params.privacy == "public"} checked="checked" #{/if} value="public"> &{'public'}
				  </label>
			</div>					
			<div class="alert alert-danger">#{error 'privacy' /}</div>
		</div>
		
		<label class="control-label">&{'charging'}</label>
		<div class="form-group">
			<div class="event-charging-container">
				<div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-light-gray #{if params.charging == "free"} active #{/if}" >
					    <input type="radio" name="charging" id="option1" autocomplete="off" #{if params.charging == "free"} checked="checked" #{/if} class="event-charging" value="free"> &{'free'}
					  </label>				
					  <label class="btn btn-light-gray #{if params.charging == "before"} active #{/if}" >
					    <input type="radio" name="charging" id="option1" autocomplete="off" #{if params.charging == "before"} checked="checked" #{/if} class="event-charging" value="before"> &{'paid'} 
					  </label>
				</div>			
			</div>
			<div class="alert alert-danger">#{error 'charging' /}</div>
			<script>
				$(document).ready(function(){
					if($('input[name=charging]:checked', '.event-charging-container').val() == 'free')    
					    $(".price-container").hide();
					else
					    $(".price-container").show();
				})
				$(".event-charging").change(function(){
					if($('input[name=charging]:checked', '.event-charging-container').val() == 'free')    
					    $(".price-container").hide();
					else
					    $(".price-container").show();
				});
			</script>

			<div class="price-container">
				#{if params.firstFree == 'true'}
					<p>
						<span class="label label-default">&{'first-event-is-free'}</span>
					</p>
				 #{/if}			
				<div class="input-group">
    			  <input type="text" class="form-control event-charging-price" style="height:40px;" id="event-charging-price" maxlength="30" placeholder="&{'dashboard.price'}" name="price" value="${params.price}"/>
				  <span class="input-group-addon">
					  <select class="event-currency" name="currency">
						<option value="USD" #{if params.currency == "USD"} selected="selected" #{/if} >USD</option>
						<option value="EUR" #{if params.currency == "EUR"} selected="selected" #{/if} >EUR</option>
						<option value="GBP" #{if params.currency == "GBP"} selected="selected" #{/if} >GBP</option>
						<option value="CAD" #{if params.currency == "CAD"} selected="selected" #{/if} >CAD</option>
						<option value="CHF" #{if params.currency == "CHF"} selected="selected" #{/if} >CHF</option>
						<option value="SEK" #{if params.currency == "SEK"} selected="selected" #{/if} >SEK</option>
						<option value="NOK" #{if params.currency == "NOK"} selected="selected" #{/if} >NOK</option>
						<option value="AUD" #{if params.currency == "AUD"} selected="selected" #{/if} >AUD</option>
						<option value="BRL" #{if params.currency == "BRL"} selected="selected" #{/if} >BRL</option>
						<option value="PLN" #{if params.currency == "PLN"} selected="selected" #{/if} >PLN</option>
						<option value="CZK" #{if params.currency == "CZK"} selected="selected" #{/if} >CZK</option>
						<option value="JPY" #{if params.currency == "JPY"} selected="selected" #{/if} >JPY</option>
						<option value="DKK" #{if params.currency == "DKK"} selected="selected" #{/if} >DKK</option>
						<option value="NZD" #{if params.currency == "NZD"} selected="selected" #{/if} >NZD</option>
					  </select>
				  </span>
				</div>
				<div class="alert alert-danger">#{error 'price' /}</div>
				<div class="alert alert-danger">#{error 'currency' /}</div>
				
				<br/> 
				<div class="form-group event-category" >
		  			<select class="form-control" name="chargingTime">
						<option value="15" #{if params.chargingTime == "15"} selected="selected" #{/if} >for 15 &{'minutes'}</option>
						<option value="10" #{if params.chargingTime == "10"} selected="selected" #{/if} >for 10 &{'minutes'}</option>
						<option value="5" #{if params.chargingTime == "5"} selected="selected" #{/if} >for 5 &{'minutes'}</option>
					</select>						
					<div class="alert alert-danger">#{error 'category' /}</div>
				</div>					
			</div>	
		</div>			
		
		<div class="form-group ">
			<div class="" > 
				<label class="" style="font-weight:100;"> <input type="checkbox" name="chatEnabled" value="chatEnabled" #{if params.chatEnabled != null} checked="checked" #{/if}> <strong>&{'enable-chat'}</strong></label> &nbsp;&nbsp;&nbsp;
			</div>
		</div>											
		
		<div class="form-group ">
			<div class="" > 
				<label class="" style="font-weight:100;"> <input type="checkbox" name="commentsEnabled" value="commentsEnabled" #{if params.commentsEnabled != null} checked="checked" #{/if}> <strong>&{'enable-comments'}</strong></label> &nbsp;&nbsp;&nbsp;
			</div>
		</div>											
		<br/>
		
		<div class="event-edit">
			<button type="submit" class="btn btn-default" id="event-dialog-save" >&{'save'}</button>
	   		<a href="${request.params.url}" type="button" class="btn btn-light-gray">&{'cancel'}</a> 
		</div>
	#{/if}
	#{else}
	
		<!-- File upload -->
		<span id="upload-button" class="btn btn-light-gray" style="margin-top:5px"><i class="fa fa-camera"></i> &{'upload-new-picture'}</span>
		<span id="crop-button" class="btn btn-light-gray " style="margin-top:5px;display:none"><i class="fa fa-camera"></i> &{'crop'}</span>

		
		<input type="file" id="upload" name="upload"  accept="image/*" style="display:none">
		<input type="hidden" id="temp" name="temp" value="${params.temp}"/>
		<input type="hidden" id="imageInput" name="image" value="${params.image}"/>
		<input type="hidden" id="imageTemp" name="imageTempUrl" value="${request.params.imageUrl}"/>
		<input type="hidden" id="imageId" name="imageId"/>
		<div id="progresses" style='margin-top:10px'>
		</div>
		<!-- Fileupload -->			


		<div class="form-group"> 
			<div class="event-edit">
				<div id="selectedColor" style="height:30px;width:30px;background:#{if listing && listing.color.length() > 0}${listing.color}#{/if}#{else}#3A87AD#{/else};float:left;margin:3px;margin-left:0px;"></div>
				<div style="height:30px;width:2px;background:#AAAAAA;float:left;margin-right:5px;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#3A87AD');" style="height:30px;width:30px;background:#3A87AD;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#429CF6');" style="height:30px;width:30px;background:#429CF6;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#20D1E8');" style="height:30px;width:30px;background:#20D1E8;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#0ACCBF');" style="height:30px;width:30px;background:#0ACCBF;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#81DA42');" style="height:30px;width:30px;background:#81DA42;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#DAD542');" style="height:30px;width:30px;background:#DAD542;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#DB851C');" style="height:30px;width:30px;background:#DB851C;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#6B5031');" style="height:30px;width:30px;background:#6B5031;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#D43131');" style="height:30px;width:30px;background:#D43131;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#D43991');" style="height:30px;width:30px;background:#D43991;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#9327DB');" style="height:30px;width:30px;background:#9327DB;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#2633C7');" style="height:30px;width:30px;background:#2633C7;float:left;margin:3px;"></div>
				<input type="hidden" id="event-color" name="color" value="#{if listing}${listing.color}#{/if}"/>
				<script>
                       starCalendar.dialogColorPick = function(hex) {
                           $("#event-color").val(hex);
                           $("#selectedColor").css("background-color",hex);
                       };						
				</script>
				<div style="clear:both"></div>
			</div>
		</div>
		
		<label class="control-label">Title</label>
		<div class="form-group" >
			<input type="text" class="form-control " id="event-title" maxlength="50" name="title" placeholder="&{'title'}" value="${params.title}"/>
			<div class="alert alert-danger">#{error 'title' /}</div>
		</div>

		<label class="control-label">&{'tags'}</label>
		<div class="form-group event-tags" >
			<input type="text" id="event-tags" class="form-control" style="width:100%" name="tags" value="${params.tags}" data-role="tagsinput"> 
			<script>
				$(document).ready(function(){
					$('#event-tags').tagsinput({
					    typeahead: {                  
					        source: function(query) {
					          return $.get('/channels/tags?query='+query);
					        }
					    }
					});
				});		
			</script>
			<div class="alert alert-danger">#{error 'tags' /}</div>
		</div>

		<label class="control-label">Category</label>
		<div class="form-group event-category" >
  			<select class="event-category form-control" id="event-category" name="category">
				<option value="business" #{if params.category == "business"} selected="selected" #{/if} >&{'business'}</option>
				<option value="education" #{if params.category == "education"} selected="selected" #{/if} >&{'education'}</option>
				<option value="electronics" #{if params.category == "electronics"} selected="selected" #{/if} >&{'electronics'}</option>
				<option value="health" #{if params.category == "health"} selected="selected" #{/if} >&{'health'}</option>
				<option value="art" #{if params.category == "art"} selected="selected" #{/if} >&{'art'}</option>
				<option value="sport" #{if params.category == "sport"} selected="selected" #{/if} >&{'sport'}</option>
				<option value="household" #{if params.category == "household"} selected="selected" #{/if} >&{'household'}</option>
				*{
				<option value="18plus" #{if params.category == "18plus"} selected="selected" #{/if} >&{'18plus'}</option>
				}*
				<option value="other" #{if params.category == "other"} selected="selected" #{/if} >&{'other'}</option>
			</select>						
			<div class="alert alert-danger">#{error 'category' /}</div>
		</div>

		<label class="control-label">&{'about'}</label>
		<div class="form-group">
			<textarea class="form-control event-description event-edit" rows="12" id="event-description" maxlength="1000" name="description" placeholder="&{'description'}">${params.description}</textarea>
			<div class="alert alert-danger">#{error 'description' /}</div>
		</div>
	
		<label class="control-label">&{'introduction-video-url'}</label>	
		<div class="form-group event-title-1" >
			<input type="text" class="form-control " id="event-title" maxlength="50" name="video" placeholder="&{'url'}" value="${params.video}"/>
			<div class="alert alert-danger">#{error 'video' /}</div>
		</div>		
		
		<label class="control-label">&{'channel-type'}</label>
		<div class="form-group">
			<div class="btn-group" data-toggle="buttons">
			  <label class="btn btn-light-gray #{if params.type == "p2p"} active #{/if}" >
			    <input type="radio" name="type" id="option1" autocomplete="off" #{if params.type == "p2p"} checked="checked" #{/if} value="p2p"> &{'video-conference'}
			  </label>
			  *{
			  <label class="btn btn-light-gray #{if params.type == "broadcast"} active #{/if}" >
			    <input type="radio" name="type" id="option1" autocomplete="off" #{if params.type == "broadcast"} checked="checked" #{/if} value="broadcast"> &{'live-broadcast'}
			  </label>
			  <label class="btn btn-light-gray #{if params.type == "instant"} active #{/if}" >
			    <input type="radio" name="type" id="option1" autocomplete="off" #{if params.type == "instant"} checked="checked" #{/if} value="instant"> &{'instant-broadcast'}
			  </label>
			  }*
			  <label class="btn btn-light-gray #{if params.type == "hangout"} active #{/if}" >
			    <input type="radio" name="type" id="option1" autocomplete="off" #{if params.type == "hangout"} checked="checked" #{/if} value="hangout"> &{'google-hangout'}
			  </label>
			  <label class="btn btn-light-gray #{if params.type == "hangoutAir"} active #{/if}" >
			    <input type="radio" name="type" id="option1" autocomplete="off" #{if params.type == "hangoutAir"} checked="checked" #{/if} value="hangoutAir"> &{'google-hangout-air'}
			  </label>
			</div>				
		</div>

		<label class="control-label">Privacy</label>
		<div class="form-group ">
			<div class="btn-group" data-toggle="buttons">
				  <label class="btn btn-light-gray #{if params.privacy == "private"} active #{/if}" >
				    <input type="radio" name="privacy" id="option1" autocomplete="off" #{if params.privacy == "private"} checked="checked" #{/if} value="private"> &{'private'}
				  </label>				
				  <label class="btn btn-light-gray #{if params.privacy == "public"} active #{/if}" >
				    <input type="radio" name="privacy" id="option1" autocomplete="off" #{if params.privacy == "public"} checked="checked" #{/if} value="public"> &{'public'}
				  </label>
			</div>					
			<div class="alert alert-danger">#{error 'privacy' /}</div>
		</div>
		
		<label class="control-label">&{'charging'}</label>
		<div class="form-group">
			<div class="event-charging-container">
				<div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-light-gray #{if params.charging == "free"} active #{/if}" >
					    <input type="radio" name="charging" id="option1" autocomplete="off" #{if params.charging == "free"} checked="checked" #{/if} class="event-charging" value="free"> &{'free'}
					  </label>				
					  <label class="btn btn-light-gray #{if params.charging == "before"} active #{/if}" >
					    <input type="radio" name="charging" id="option1" autocomplete="off" #{if params.charging == "before"} checked="checked" #{/if} class="event-charging" value="before"> &{'paid'} 
					  </label>
				</div>			
			</div>
			<div class="alert alert-danger">#{error 'charging' /}</div>
			<script>
				$(document).ready(function(){
					if($('input[name=charging]:checked', '.event-charging-container').val() == 'free')    
					    $(".price-container").hide();
					else
					    $(".price-container").show();
				})
				$(".event-charging").change(function(){
					if($('input[name=charging]:checked', '.event-charging-container').val() == 'free')    
					    $(".price-container").hide();
					else
					    $(".price-container").show();
				});
			</script>

			<div class="price-container">
				<div class="input-group">
    			  <input type="text" class="form-control event-charging-price" style="height:40px;" id="event-charging-price" maxlength="30" placeholder="&{'price'}" name="price" value="${params.price}"/>
				  <span class="input-group-addon">
					  <select class="event-currency" name="currency">
						<option value="USD" #{if params.currency == "USD"} selected="selected" #{/if} >USD</option>
						<option value="EUR" #{if params.currency == "EUR"} selected="selected" #{/if} >EUR</option>
						<option value="GBP" #{if params.currency == "GBP"} selected="selected" #{/if} >GBP</option>
						<option value="CAD" #{if params.currency == "CAD"} selected="selected" #{/if} >CAD</option>
						<option value="CHF" #{if params.currency == "CHF"} selected="selected" #{/if} >CHF</option>
						<option value="SEK" #{if params.currency == "SEK"} selected="selected" #{/if} >SEK</option>
						<option value="NOK" #{if params.currency == "NOK"} selected="selected" #{/if} >NOK</option>
						<option value="AUD" #{if params.currency == "AUD"} selected="selected" #{/if} >AUD</option>
						<option value="BRL" #{if params.currency == "BRL"} selected="selected" #{/if} >BRL</option>
						<option value="PLN" #{if params.currency == "PLN"} selected="selected" #{/if} >PLN</option>
						<option value="CZK" #{if params.currency == "CZK"} selected="selected" #{/if} >CZK</option>
						<option value="JPY" #{if params.currency == "JPY"} selected="selected" #{/if} >JPY</option>
						<option value="DKK" #{if params.currency == "DKK"} selected="selected" #{/if} >DKK</option>
						<option value="NZD" #{if params.currency == "NZD"} selected="selected" #{/if} >NZD</option>
					  </select>
				  </span>
				</div>
				<div class="alert alert-danger">#{error 'price' /}</div>
				<div class="alert alert-danger">#{error 'currency' /}</div>
				
				<br/>
				<div class="form-group event-category" >
		  			<select class="form-control" name="chargingTime">
						<option value="15" #{if params.chargingTime == "15"} selected="selected" #{/if} >&{'for'} 15 &{'minutes'}</option>
						<option value="10" #{if params.chargingTime == "10"} selected="selected" #{/if} >&{'for'} 10 &{'minutes'}</option>
						<option value="5" #{if params.chargingTime == "5"} selected="selected" #{/if} >&{'for'} 5 &{'minutes'}</option>
					</select>						
					<div class="alert alert-danger">#{error 'category' /}</div>
				</div>					
				<div class="form-group ">
					<div class="" > 
						<label class="" style="font-weight:100;"> <input type="checkbox" name="firstFree" value="firstFree" #{if params.firstFree != null} checked="checked" #{/if}> &{'first-free'}</label> &nbsp;&nbsp;&nbsp;
					</div>
					<div class="alert alert-danger">#{error 'firstFree' /}</div>
				</div>						
			</div>	
		</div>								

		<br/>
		<div class="form-group ">
			<div class="" > 
				<label class="" style="font-weight:100;"> <input type="checkbox" name="chatEnabled" value="chatEnabled" #{if params.chatEnabled != null} checked="checked" #{/if}> <strong>&{'enable-chat'}</strong></label> &nbsp;&nbsp;&nbsp;
			</div>
			<div class="alert alert-danger">#{error 'chatEnabled' /}</div>
		</div>
		
		<div class="form-group ">
			<div class="" > 
				<label class="" style="font-weight:100;"> <input type="checkbox" name="commentsEnabled" value="commentsEnabled" #{if params.commentsEnabled != null} checked="checked" #{/if}> <strong>&{'enable-comments'}</strong></label> &nbsp;&nbsp;&nbsp;
			</div>
			<div class="alert alert-danger">#{error 'commentsEnabled' /}</div>
		</div>		
		<br/>
		
		<div class="event-edit">
			<button type="submit" class="btn btn-default" id="event-dialog-save" >&{'save'}</button>
	   		<a href="${request.params.url}" type="button" class="btn btn-light-gray">&{'cancel'}</a> 
		</div>

	#{/else}
	</form>	
</div>
</div>
#{/if}
