<!-- Init to default -->
#{set obj:(event != null ? event: listing) /}


<!-- edit buttons -->
<div class="" style="float:right; display: inline; margin-top:5px;">

	#{if fromEvent && event}
	
		#{if event.charging != null && attendance && !event.isFree()}
			
			#{if !paid }
				#{set displayStream:false /}
				<a class="btn btn-warning  btn-social margin-clear" href="/payment/${event.uuid}?url=${request.url.urlEncode()}&#{token /}" rel="tooltip" data-placement="top" title="&{'pay-for-event-now'}">
					<i class="fa fa-paypal"></i>
				</a>
			#{/if}
			
			#{if attendance && attendance.paid && !attendance.refundRequested}
				<a class="btn btn-warning  btn-social margin-clear" href="" data-toggle="modal" data-target="#refundModal" onclick="$('#share-link').select();">&{'request-refund'}</a>
			#{/if}
		#{/if}

		#{if isOwner && (event.state == 'customer_created' )}
			<a class="btn btn-success  btn-social margin-clear" href="/event-approve?event=${event.uuid}&url=${request.url.urlEncode()}&#{token /}"><i class="fa fa-check"></i> &{'approve'}</a>
			<a class="btn btn-danger  btn-social margin-clear" href="/event-decline?event=${request.params.uuid}&#{token /}&url=${'/channel/'+listing.uuid.urlEncode()}" 
				onclick="if(confirm('&{'confirm-decline'}')){return true;} else {return false;}">
				<i class="dialog-event-edit fa fa-times fa-1x"></i> &{'decline'}
			</a>
	   	#{/if} 				
		
		
		#{if isOwner && !edit && event.type == 'broadcast'}
			#{if event.started == null}
				<a class="btn btn-light-gray btn-social margin-clear" href="/event-start?event=${event.uuid}&url=${request.url.urlEncode()}&#{token /}" >&{'start-live-broadcast'}</a>
			#{/if}
			#{else}
				<a class="btn btn-light-gray btn-social margin-clear" href="/event-stop?event=${event.uuid}&url=${request.url.urlEncode()}&#{token /}" >&{'stop-live-broadcast'}</a>
			#{/else}
		#{/if}		
		
		
		#{if isOwner && !edit && event.type == 'instant'}
			<a class="btn btn-light-gray btn-social margin-clear btn-instant-stop"  data-href='/channel-stop?id=${listing.uuid}&url=${("/channel/"+listing.uuid+"").urlEncode()}' >&{'stop-instant-broadcast'}</a>
		#{/if}							


		#{if isOwner && !edit && event.type == 'hangoutAir'}
			<span style="display:nones;">
			<script src="https://apis.google.com/js/platform.js" ></script>
			<span id="placeholder"></span>
			<script>
			  gapi.hangout.render('placeholder', {
			    'render': 'createhangout',
			    'hangout_type': 'onair',
			    'initial_apps': [{'app_id' : '647254293629', 'start_data' : '${event.uuid}', 'app_type' : 'ROOM_APP', 'invites' : [{'id' : 'marecica2@gmail.com', 'invite_type' : 'EMAIL'}] }],
			    'widget_size': 175
			  });
			</script>		
			</span>
		#{/if}	
		
		
		#{if isOwner && !edit && event.type == 'hangout'}
			<a class="btn btn-light-gray btn-social margin-clear" href="//plus.google.com/hangouts/_/?gid=647254293629&gd=${event.uuid}" target="_blank">&{'start-hangout'}</a>
		#{/if}			
		
										
		#{if !isOwner && !edit && event.type == 'hangout'}
			#{if event.hangoutUrl}
				<a class="btn btn-light-gray btn-social margin-clear" href="${event.hangoutUrl}" target="_blank">&{'join-hangout'}</a>
			#{/if}											
			#{else}
				<a class="btn btn-light-gray btn-social margin-clear" href="">&{'refresh'}</a>
			#{/else}											
		#{/if}											
		
		
		#{if !edit && isOwner && event.isEditable(user)}
		<a class="btn btn-light-gray btn-social margin-clear" href="/event?action=edit&uuid=${request.params.uuid}&url=${request.url.urlEncode()}&#{token /}" rel="tooltip" data-original-title="&{'edit-event'}">
			<i class="dialog-event-edit fa fa-pencil fa-1x"></i>
		</a>
		#{/if}


		#{if !edit && isOwner && event.isEditable(user)}
		<a class="btn btn-light-gray btn-social margin-clear" href="/event-delete?uuid=${request.params.uuid}&url=${'/channel/'+listing.uuid.urlEncode()}&#{token /}" onclick="if(confirm('&{'confirm-decline'}?')){return true;} else {return false;}" rel="tooltip" data-original-title="&{'delete-event'}">
			<i class="dialog-event-edit fa fa-times fa-1x"></i>
		</a>
		#{/if}
		
		#{if !edit && event.type == 'p2p' && (event.state.equals("user_accepted") || event.state.equals("user_created"))}
			<a class="btn btn-danger  btn-social margin-clear" href="/room?id=${event.uuid}&secret=${event.roomSecret}&#{token /}" target="_self" rel="tooltip" data-original-title="&{'join-video-call'}"><i class="fa fa-video-camera fa-flip-horizontal"></i></a>
		#{/if}			

		
		#{if edit}
			<a class="btn btn-light-gray btn-social margin-clear" href="${request.params.url}">
				&{'cancel'}
			</a>		
		#{/if}	
	#{/if}	
	
	
	#{else}	 
		#{if isOwner && !edit && listing.type == 'instant'}
			#{if listing.started == null}
				<a class="btn btn-light-gray btn-social margin-clear btn-instant-start" href="/channel-start?id=${listing.uuid}&url=${request.url.urlEncode()}&#{token /}" title="&{'star-instant-broadcast'}"><i class="fa fa-play"></i></a>
			#{/if}
			#{else}
				<a class="btn btn-light-gray btn-social margin-clear btn-instant-stop" data-href="/channel-stop?id=${listing.uuid}&url=${request.url.urlEncode()}&#{token /}" title="&{'stop-instant-broadcast'}"><i class="fa fa-stop"></i></a>
				<a class="btn btn-light-gray btn-social margin-clear btn-instant-room" data-href="/create-room?id=${listing.uuid}&url=${request.url.urlEncode()}&#{token /}" title="&{'go-to-private-room'}"><i class="icon-key"></i></a>
			#{/else}
		#{/if}		


		#{if !isOwner && !edit && listing.type == 'instant' && listing.instantBroadcast != null}
			<a class="btn btn-light-gray  btn-social margin-clear" href="/event/${listing.instantBroadcast}" >&{'go-to-private-room'}</a>
		#{/if}		
		
		
		#{if !isOwner && !edit && listing.type == 'instant' && listing.started == null}
		#{/if}

		#{if !edit && isOwner}

			<a class="btn btn-light-gray btn-social margin-clear" href="" rel="tooltip" data-original-title="&{'website-embed'}" data-toggle="modal" data-target="#embedModal"><i class="fa fa-code"></i></a>
		
			#{if user.isPublisher() && listing.type != 'instant' && listing.deleted == null}
				<a href="/event?action=edit&newEvent=true&url=${request.url.urlEncode()}&#{token /}&listingId=${listing.uuid}" class="btn btn-light-gray btn-social margin-clear" rel="tooltip" data-original-title="&{'add-event'}">
					<i class="fa fa-plus"></i>
				</a>
			#{/if}
			<a href="/channel/${listing.uuid}?action=edit&url=${request.url.urlEncode()}&#{token /}" class="btn btn-light-gray btn-social margin-clear" rel="tooltip" data-original-title="&{'edit-channel'}">
				<i class="fa fa-pencil fa-1x"></i>
			</a>
			#{if listing.deleted}
				<a href="/channel-enable?uuid=${listing.uuid}&url=${request.url.urlEncode()}&#{token /}" class="btn btn-gray btn-social margin-clear" onclick="if(confirm('&{'confirm-decline'}?')){return true;} else {return false;}" rel="tooltip" data-original-title="&{'enable-channel'}">
					<i class="fa fa-check"></i>
				</a>
			#{/if}
			#{else}
				<a href="/channel-delete?uuid=${listing.uuid}&#{token /}" class="btn btn-light-gray btn-social margin-clear" onclick="if(confirm('&{'confirm-decline'}?')){return true;} else {return false;}" rel="tooltip" data-original-title="&{'delete-channel'}">
					<i class="fa fa-times"></i>
				</a>
			#{/else}
		#{/if}
		
		
		#{if edit}
			<a href="${request.params.url}" class="btn btn-light-gray  btn-social margin-clear">&{'cancel'}</a>		
		#{/if}	
	#{/else}	
	<!-- edit buttons -->   	
</div>