#{extends 'main.html' /} 

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/lib/bootstrap-timepicker.min.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/lib/simpleWebRtc.js'}" type="text/javascript" ></script>
	<script src="@{'/public/javascripts/lib/bootstrap-datepicker.js'}" type="text/javascript"></script>	
	<script src="@{'/public/javascripts/lib/jquery.Jcrop.min.js'}"></script>
	<script src="@{'/public/javascripts/utils.js'}" type="text/javascript"></script>	
	<script>
		starInit.aspectRatio = 2.5;
		#{if listing}
			starInit.event = "${listing.uuid}" 
		#{/if}
        #{else}
        	starInit.temp = "${temp}";
        #{/else}	
        
        #{if event}
			starInit.event = "${event.uuid}" 
		#{/if}
		#{else}
			starInit.temp = "${temp}";
		#{/else}	
	</script>	
	<script src="@{'/public/javascripts/utils.js'}" type="text/javascript"></script>	
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
	<script src="@{'/public/javascripts/upload.js'}" type="text/javascript"></script>	
	<script type="text/javascript" src="@{'/public/javascripts/lib/bootstrap-timepicker.min.js'}"></script>
	<script>
		$(document).ready(function(){
			starCalendarInit.listing = "${listing.uuid}";
			var now = (new Date(new Date().getTime())).toJSON();
			var params = "&start="+now+"&end="+now+"&listing="+starCalendarInit.listing+"&direction=upcoming&type=listing";
			star.initItems("Upcoming", params);
	
			var params1 = "&start="+now+"&end="+now+"&listing="+starCalendarInit.listing+"&direction=previous&type=listing";
			star.initItems("Previous", params1);
		});
	</script>			
#{/set}


#{set 'moreStyles'}
    <link href="@{'/public/css/bootstrap-timepicker.min.css'}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" href="@{'/public/css/tags.css'}" />
	<link rel="stylesheet" href="@{'/public/css/jquery.Jcrop.min.css'}" type="text/css" />
    <style>
    	.vertical-divider-right {
			padding-right: 15px !important;
    	}	
    </style>
#{/set}

<!-- set the item object -->
#{if fromEvent && event}
	#{set item:event /}
#{/if}
#{else}
	#{set item:listing /}
#{/else}

#{if listing}
	#{set usr:listing.user /} 
#{/if}
#{else}
	#{set usr:user /} 
#{/else}




<div class="section gray-bg" style="padding-top:15px;padding-bottom:15px">
	<div class="container">
	   	#{if listing}
	   	<div class="pull-left">
		   	<h3 style="margin-top:10px"><a href="/home" class="anchor"><i><strong>${listing.category.capAll()}</strong></i></a> / <i>${listing.title}</i></h3>
	   	</div>
		#{/if}
	   	<div class="pull-right">
			<ul class="social-links colored clearfix" style="margin:0px">
				<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
				<li class="linkedin"><a target="_blank" href="http://www.skype.com"><i class="fa fa-linkedin"></i></a></li>
				<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
				<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
			</ul>
	   	</div>
	   	<div class="clearfix"></div>
	</div>
</div>


	
<!-- header -->
<div class="section dark-bg" style="padding:0px;">
	<div class="container">	
		<div class="row" style="border-top:0px solid #{if listing && listing.color} ${listing.color} #{/if} #{else} #3A87AD #{/else};">
			<div class="col-md-12 " style="padding:0px;">
				#{if !edit}
				<div id="image"style="overflow: hidden;width:100%;height:400px;background: url(/${listing.imageUrl}); background-size: cover">
					<div class="shadow-inset" style="height:130%;position:relative;top:-60px;"></div>
					<a style="position:absolute;top:50%;left:48%" class="color-link popup-iframe" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i class="fa fa-youtube-play fa-3x"></i></a>
				</div>
				#{/if}
				#{else}
				<img id="image" class="shadow-inset" style="width:100%" src="#{if listing}${listing.imageUrl}#{/if}#{else}${params.image}#{/else}">	
				#{/else}
				
				<!-- edit buttons -->
				<div style="position:absolute;top:15px;right:15px;">
					#{if fromEvent}
						#{if event && isOwner && (event.state == 'customer_created' || event.state == 'user_declined')}
							<a class="btn btn-light-gray btn-sm " href='/event/approve?event=${event.uuid}&url=${request.url.urlEncode()}' style="margin:2px;" id="" data-url="/event/approve?event="><i class="fa fa-check"></i> &{'dashboard.approve'}</a>
							<a class="btn btn-light-gray btn-sm " href='/event/decline?event=${event.uuid}&url=${request.url.urlEncode()}' style="margin:2px;" id="" data-url="/event/decline?event="><i class="fa fa-times"></i> &{'dashboard.decline'}</a>				   	
					   	#{/if} 				
						#{if event && event.charging && attendance != null}
							#{if attendance.paid == null || !attendance.paid }
								<a href="/paypal/checkout/${event.uuid}?url=${request.url.urlEncode()}" class="btn btn-light-gray btn-sm">
									<i class="dialog-event-edit color-link fa fa-paypal fa-1x"></i> Pay for event now
								</a>
							#{/if}
							#{else}
								<span class="btn btn-default btn-xs shadow">
									<i class="dialog-event-edit color-link fa fa-paypal fa-1x"></i> Paid on ${attendance.transactionDate.format("dd MMM, yyyy")}
								</span>
							#{/else}
						#{/if}
	
						#{if event && (attendance == null || !attendance.watchlist)}
							<a href="/watchlist/add?event=${event.uuid}&url=${request.url.urlEncode()}" class="btn btn-light-gray btn-sm">
								<i class="dialog-event-edit color-link fa fa-plus fa-1x"></i> Add to watchlist
							</a>
						#{/if}
						
						#{if attendance != null && attendance.watchlist}
							<a href="/watchlist/remove?id=${attendance.uuid}&url=${request.url.urlEncode()}" class="btn btn-light-gray btn-sm">
								<i class="dialog-event-edit color-link fa fa-minus fa-1x"></i> Remove from watchlist
							</a>
						#{/if}
						
						#{if !edit && isOwner}
							<a href="/event-detail?action=edit&uuid=${request.params.uuid}&url=${request.url.urlEncode()}" class="btn btn-light-gray btn-sm">
								<i class="dialog-event-edit color-link fa fa-pencil fa-1x"></i> Edit Event
							</a>
						#{/if}
						#{if edit}
							<a href="${request.params.url}" class="btn btn-light-gray btn-sm">
								Cancel
							</a>		
						#{/if}			
					#{/if}	
					
					#{else}	 
						#{if !edit && isOwner}
							<a href="/event-detail?action=edit&url=${request.url.urlEncode()}&listingId=${listing.uuid}" class="btn btn-light-gray btn-sm">
								<i class="color-link fa fa-plus fa-1x"></i> Create Event
							</a>
							<a href="/listing-new?action=edit&uuid=${request.params.uuid}&url=${request.url.urlEncode()}" class="btn btn-light-gray btn-sm">
								<i class="color-link fa fa-pencil fa-1x"></i> Edit listing
							</a>
						#{/if}	
						#{if edit}
							<a href="${request.params.url}" class="btn btn-light-gray btn-sm">
								Cancel
							</a>		
						#{/if}	
					#{/else}	
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header -->





<!-- edit -->
#{if edit}
<div class="container">
	<form id="cropForm" action="/crop" method="post">
		<input type="hidden" id="url" name="url" value="${request.url.urlEncode()}" />
		<input type="hidden" id="x1" name="x1" />
		<input type="hidden" id="x2" name="x2" />
		<input type="hidden" id="y1" name="y1" />
		<input type="hidden" id="y2" name="y2" />
		<input type="hidden" id="imageUrlCrop" name="imageUrl" />
		<input type="hidden" id="imageIdCrop" name="imageId" />
		<input type="hidden" id="type" name="type" value="listing" />
		<input type="hidden" id="tempCrop" name="objectId" value="#{if listing}${listing.uuid}#{/if}#{else}${temp}#{/else}"/>
	</form>
	<form action="" method="post">
	#{if fromEvent}
		<input type="hidden" name="temp" id="temp" value="${temp}">
		<div class="form-group event-title-1" style="">
			<label class="big" for="event-description">Time</label>
			<div class="row" style="margin:0px" >
			  <div class="col-lg-4" style="padding-left:0px">
				<div class="input-group input-append bootstrap-timepicker" style="margin-bottom:5px;">
					<input type="text" class="form-control input-small" maxlength="50" name="eventDate" id="eventDate" value="${params.eventDate}" placeholder="Event date"/>
					<span id="fa-calendar" class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
				</div>
			  </div>
			  <div class="col-lg-4" style="padding-left:0px">
				<div class="input-group input-append bootstrap-timepicker" style="margin-bottom:5px;">
					<input id="timepicker1" type="text" class="form-control input-small" name="eventStart" value="${params.eventStart}">
					<span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
				</div>
			  </div>
			  <div class="col-lg-4" style="padding-left:0px">
				<div class="input-group input-append bootstrap-timepicker" style="margin-bottom:5px;">
					<input id="timepicker2" type="text" class="form-control input-small" name="eventEnd" value="${params.eventEnd}">
					<span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
				</div>
			  </div>
			</div>
			<div class="error 1">#{error 'eventStart' /}</div>
			<div class="error 2">#{error 'eventEnd' /}</div>
			<div class="error 3">#{error 'eventDate' /}</div>
			
			<input type="hidden" id="offset" name="offset"/>
			<script>
				$(document).ready(function(){
	                $('#offset').val(new Date().getTimezoneOffset());
	                $('#timepicker1').timepicker({
	                    appendWidgetTo: 'body',
	                    showMeridian: false
	                });
	                $('#timepicker2').timepicker({
	                    appendWidgetTo: 'body',
	                    showMeridian: false	
	                });
	                $('#fa-calendar').click(function(){
	                    $('#eventDate').datepicker('show');
	                });
	                
	                var nowTemp = new Date();
	                var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
	                
	                #{if params.eventEnd == null || params.eventEnd.length() == 0}
	                 $('#timepicker2').timepicker('setTime', (nowTemp.getHours()+1)+":"+($("#timepicker1").val().substring($("#timepicker1").val().indexOf(":")+1)));
	            	#{/if}
	                #{else}
	                 $('#timepicker2').timepicker('setTime', '${params.eventEnd}');
	                #{/else}
	                
	            	var checkin = $('#eventDate').datepicker({
	                  format:"dd.mm.yyyy",
	                  onRender: function(date) {
	                    return date.valueOf() < now.valueOf() ? 'disabled' : '';
	                  }
	                }).data('datepicker');
	                
	                #{if params.eventDate == null || params.eventDate.length() == 0}
	                	$('#eventDate').datepicker('setValue', new Date());
	                #{/if}
				});	                
			</script>
		</div>		
		
		<div class="form-group ">
			<label class="big">&{'dashboard.charging'}</label> 
			<div class="" >
				<label class="" style="font-weight:100;"> <input type="radio" name="charging" class="event-charging" #{if params.charging == "free"} checked="checked" #{/if} value="free"> &{'dashboard.free'}</label> &nbsp;&nbsp;&nbsp;
				<label class="" style="font-weight:100;"> <input type="radio" name="charging" class="event-charging" #{if params.charging == "before"} checked="checked" #{/if} value="before"> &{'dashboard.payBefore'}</label> &nbsp;&nbsp;&nbsp;
			</div>
			<div class="error">${errs.get('charging')}</div>

			<div class="price-container" style="">
				<div class="input-group">
    			  <input type="text" class="form-control event-charging-price" style="height:40px;" id="event-charging-price" maxlength="30" placeholder="&{'dashboard.price'}" name="price" value="${params.price}"/>
				  <span class="input-group-addon">
					  <select class="event-currency" name="currency">
						<option value="USD" #{if params.currency == "USD"} selected="selected" #{/if} >USD</option>
						<option value="EUR" #{if params.currency == "EUR"} selected="selected" #{/if} >EUR</option>
						<option value="GBP" #{if params.currency == "GBP"} selected="selected" #{/if} >GBP</option>
						<option value="CAD" #{if params.currency == "CAD"} selected="selected" #{/if} >CAD</option>
						<option value="CHF" #{if params.currency == "CHF"} selected="selected" #{/if} >CHF</option>
						<option value="SEK" #{if params.currency == "SEK"} selected="selected" #{/if} >SEK</option>
						<option value="NOK" #{if params.currency == "NOK"} selected="selected" #{/if} >NOK</option>
						<option value="AUD" #{if params.currency == "AUD"} selected="selected" #{/if} >AUD</option>
						<option value="BRL" #{if params.currency == "BRL"} selected="selected" #{/if} >BRL</option>
						<option value="CZK" #{if params.currency == "CZK"} selected="selected" #{/if} >CZK</option>
						<option value="JPY" #{if params.currency == "JPY"} selected="selected" #{/if} >JPY</option>
						<option value="DKK" #{if params.currency == "DKK"} selected="selected" #{/if} >DKK</option>
						<option value="NZD" #{if params.currency == "NZD"} selected="selected" #{/if} >NZD</option>
						<option value="PLN" #{if params.currency == "PLN"} selected="selected" #{/if} >PLN</option>
					  </select>
				  </span>
				</div>
				<div class="error">#{error 'price' /}</div>
				<div class="error">#{error 'currency' /}</div>
			</div>	
		</div>	
		
		<div class="form-group">
			<label class="big">&{'dashboard.eventType'}</label>
			<div class="" >
				<label class="" style="font-weight:100;"> <input type="radio" name="type" value="p2p" class="event-type" #{if params.type == "p2p"} checked="checked" #{/if}> &{'dashboard.p2p'}</label> &nbsp;&nbsp;&nbsp;
				<label class="" style="font-weight:100;"> <input type="radio" name="type" value="livecast" class="event-type" #{if params.type == "livecast"} checked="checked" #{/if}> &{'dashboard.livecast'}</label> &nbsp;&nbsp;&nbsp;
			</div>
			<div class="error">${errs.get('type')}</div>
		</div>

		<div class="form-group ">
			<label class="big">&{'dashboard.privacy'}</label>
			<div class="" style="font-weight:light;"> 
				<label class="" style="font-weight:100;"> <input type="radio" name="privacy" value="private" #{if params.privacy == "private"} checked="checked" #{/if}> &{'dashboard.privateEvent'}</label> &nbsp;&nbsp;&nbsp;
				<label class="" style="font-weight:100;"> <input type="radio" name="privacy" value="public" #{if params.privacy == "public"} checked="checked" #{/if}> &{'dashboard.publicEvent'}</label> &nbsp;&nbsp;&nbsp;
			</div>
			<div class="error">${errs.get('privacy')}</div>
		</div>
		
		<div class="form-group ">
			<div class="" style="font-weight:light;"> 
				<label class="" style="font-weight:100;"> <input type="checkbox" name="chatEnabled" value="chatEnabled" #{if params.chatEnabled != null} checked="checked" #{/if}> Enable chat</label> &nbsp;&nbsp;&nbsp;
			</div>
			<div class="error">${errs.get('chatEnabled')}</div>
		</div>											

		<div class="form-group ">
			<div class="" style="font-weight:light;"> 
				<label class="" style="font-weight:100;"> <input type="checkbox" name="commentsEnabled" value="commentsEnabled" #{if params.commentsEnabled != null} checked="checked" #{/if}> Enable comments</label> &nbsp;&nbsp;&nbsp;
			</div>
			<div class="error">${errs.get('commentsEnabled')}</div>
		</div>											
		<br/>
		
		<div class="event-edit">
			<button type="submit" class="btn btn-default" id="event-dialog-save" >&{'dashboard.save'}</button>
	   		<a href="${request.params.url}" type="button" class="btn btn-white">&{'cancel'}</a> 
		</div>
	#{/if}
	#{else}
		<!-- File upload -->
		<span id="upload-button" class="btn btn-default" style="margin-top:5px"><i class="fa fa-camera"></i> Upload new picture</span>
		<span id="crop-button" class="btn btn-white" style="margin-top:5px;display:none"><i class="fa fa-camera"></i> Crop</span>

		#{if listing && params.image && params.image.indexOf("uploads") != -1}
			<a href="/listing/reset-image?id=${listing.uuid}&url=${request.url.urlEncode()}"  style="margin-top:5px;" id="delete-upload-button" class="btn btn-white"><i class="fa fa-times"></i> Remove</a>
		#{/if}
		
		<input type="file" id="upload" name="upload"  accept="image/*" style="display:none">
		<input type="hidden" id="temp" name="temp" value="${params.temp}"/>
		<input type="hidden" id="imageInput" name="image" value="${params.image}"/>
		<input type="hidden" id="imageTemp" name="imageTempUrl" value="${request.params.imageUrl}"/>
		<input type="hidden" id="imageId" name="imageId"/>
		<div id="progresses" style='margin-top:10px'>
		</div>
		<!-- Fileupload -->			


		<div class="form-group"> 
			<div class="event-edit">
				<div id="selectedColor" style="height:30px;width:30px;background:#{if listing && listing.color.length() > 0}${listing.color}#{/if}#{else}#3A87AD#{/else};float:left;margin:3px;margin-left:0px;"></div>
				<div style="height:30px;width:2px;background:#AAAAAA;float:left;margin-right:5px;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#3A87AD');" style="height:30px;width:30px;background:#3A87AD;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#429CF6');" style="height:30px;width:30px;background:#429CF6;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#20D1E8');" style="height:30px;width:30px;background:#20D1E8;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#0ACCBF');" style="height:30px;width:30px;background:#0ACCBF;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#81DA42');" style="height:30px;width:30px;background:#81DA42;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#DAD542');" style="height:30px;width:30px;background:#DAD542;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#DB851C');" style="height:30px;width:30px;background:#DB851C;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#6B5031');" style="height:30px;width:30px;background:#6B5031;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#D43131');" style="height:30px;width:30px;background:#D43131;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#D43991');" style="height:30px;width:30px;background:#D43991;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#9327DB');" style="height:30px;width:30px;background:#9327DB;float:left;margin:3px;"></div>
				<div class="colorHover" onclick="starCalendar.dialogColorPick('#2633C7');" style="height:30px;width:30px;background:#2633C7;float:left;margin:3px;"></div>
				<input type="hidden" id="event-color" name="color" value="#{if listing}${listing.color}#{/if}"/>
				<script>
                       var starCalendar = {};
                       starCalendar.dialogColorPick = function(hex) {
                           $("#event-color").val(hex);
                           $("#selectedColor").css("background-color",hex);
                       };						
				</script>
				<div style="clear:both"></div>
			</div>
		</div>
		
		<div class="form-group event-title-1" style="">
			<label class="big" for="event-title">Title</label>
			<input type="text" class="form-control " id="event-title" maxlength="50" name="title" placeholder="&{'dashboard.title'}" value="${params.title}"/>
			<div class="error">#{error 'title' /}</div>
		</div>
		
		
		<div class="form-group event-tags" style="">
			<label class="big" for="event-tags">Tags</label><br/>
			<input type="text" id="event-tags" class="form-control" style="width:100%" name="tags" value="${params.tags}" data-role="tagsinput"> 
			<script>
				$(document).ready(function(){
				    console.log("xxxx");
					$('#event-tags').tagsinput({
					    typeahead: {
					      source: ['Amsterdam', 'Washington', 'Sydney', 'Beijing', 'Cairo']
					    }
					});
				});		
			</script>
			<div class="error">#{error 'tags' /}</div>
		</div>
		

		<div class="form-group event-category" style="">
			<label class="big" for="event-category">Category</label>
  			<select class="event-category form-control" id="event-category" name="category">
				<option value="education" #{if params.category == "education"} selected="selected" #{/if} >Education</option>
				<option value="music" #{if params.category == "music"} selected="selected" #{/if} >Music</option>
				<option value="sport" #{if params.category == "sport"} selected="selected" #{/if} >Sport</option>
				<option value="finances" #{if params.category == "finances"} selected="selected" #{/if} >Finances</option>
				<option value="health" #{if params.category == "health"} selected="selected" #{/if} >Health</option>
				<option value="other" #{if params.category == "other"} selected="selected" #{/if} >Other</option>
			</select>						
			<div class="error">#{error 'category' /}</div>
		</div>

		<div class="form-group" style="">
			<label class="big" for="event-description">About</label>
			<textarea class="form-control event-description event-edit" rows="6" id="event-description" maxlength="1000" name="description" placeholder="&{'dashboard.description'}">${params.description}</textarea>
			<div class="error">#{error 'description' /}</div>
		</div>
		
		<div class="event-edit">
			<div class="form-group">
				<label class="big">&{'dashboard.eventType'}</label>
				<div class="" >
					<label class="" style="font-weight:100;"> <input type="radio" name="type" value="p2p" class="event-type" #{if params.type == "p2p"} checked="checked" #{/if}> &{'dashboard.p2p'}</label> &nbsp;&nbsp;&nbsp;
					<label class="" style="font-weight:100;"> <input type="radio" name="type" value="livecast" class="event-type" #{if params.type == "livecast"} checked="checked" #{/if}> &{'dashboard.livecast'}</label> &nbsp;&nbsp;&nbsp;
				</div>
				<div class="error">${errs.get('type')}</div>
			</div>

			<div class="form-group ">
				<label class="big">&{'dashboard.privacy'}</label>
				<div class="" style="font-weight:light;"> 
					<label class="" style="font-weight:100;"> <input type="radio" name="privacy" value="private" #{if params.privacy == "private"} checked="checked" #{/if}> &{'dashboard.privateEvent'}</label> &nbsp;&nbsp;&nbsp;
					<label class="" style="font-weight:100;"> <input type="radio" name="privacy" value="public" #{if params.privacy == "public"} checked="checked" #{/if}> &{'dashboard.publicEvent'}</label> &nbsp;&nbsp;&nbsp;
				</div>
				<div class="error">${errs.get('privacy')}</div>
			</div>
			
			<div class="form-group ">
				<label class="big">&{'dashboard.charging'}</label> 
				<div class="" >
					<label class="" style="font-weight:100;"> <input type="radio" name="charging" class="event-charging" #{if params.charging == "free"} checked="checked" #{/if} value="free"> &{'dashboard.free'}</label> &nbsp;&nbsp;&nbsp;
					<label class="" style="font-weight:100;"> <input type="radio" name="charging" class="event-charging" #{if params.charging == "before"} checked="checked" #{/if} value="before"> &{'dashboard.payBefore'}</label> &nbsp;&nbsp;&nbsp;
				</div>
				<div class="error">${errs.get('charging')}</div>

				<div class="price-container" style="">
					<div class="input-group">
	    			  <input type="text" class="form-control event-charging-price" style="height:40px;" id="event-charging-price" maxlength="30" placeholder="&{'dashboard.price'}" name="price" value="${params.price}"/>
					  <span class="input-group-addon">
						  <select class="event-currency" name="currency">
							<option value="USD" #{if params.currency == "USD"} selected="selected" #{/if} >USD</option>
							<option value="EUR" #{if params.currency == "EUR"} selected="selected" #{/if} >EUR</option>
							<option value="GBP" #{if params.currency == "GBP"} selected="selected" #{/if} >GBP</option>
							<option value="CAD" #{if params.currency == "CAD"} selected="selected" #{/if} >CAD</option>
							<option value="CHF" #{if params.currency == "CHF"} selected="selected" #{/if} >CHF</option>
							<option value="SEK" #{if params.currency == "SEK"} selected="selected" #{/if} >SEK</option>
							<option value="NOK" #{if params.currency == "NOK"} selected="selected" #{/if} >NOK</option>
							<option value="AUD" #{if params.currency == "AUD"} selected="selected" #{/if} >AUD</option>
							<option value="BRL" #{if params.currency == "BRL"} selected="selected" #{/if} >BRL</option>
							<option value="CZK" #{if params.currency == "CZK"} selected="selected" #{/if} >CZK</option>
							<option value="JPY" #{if params.currency == "JPY"} selected="selected" #{/if} >JPY</option>
							<option value="DKK" #{if params.currency == "DKK"} selected="selected" #{/if} >DKK</option>
							<option value="NZD" #{if params.currency == "NZD"} selected="selected" #{/if} >NZD</option>
							<option value="PLN" #{if params.currency == "PLN"} selected="selected" #{/if} >PLN</option>
						  </select>
					  </span>
					</div>
					<div class="error">#{error 'price' /}</div>
					<div class="error">#{error 'currency' /}</div>
				</div>	
			</div>								

			<div class="form-group ">
				<div class="" style="font-weight:light;"> 
					<label class="" style="font-weight:100;"> <input type="checkbox" name="chatEnabled" value="chatEnabled" #{if params.chatEnabled != null} checked="checked" #{/if}> Enable chat</label> &nbsp;&nbsp;&nbsp;
				</div>
				<div class="error">${errs.get('chatEnabled')}</div>
			</div>
			
			<div class="form-group ">
				<div class="" style="font-weight:light;"> 
					<label class="" style="font-weight:100;"> <input type="checkbox" name="commentsEnabled" value="commentsEnabled" #{if params.commentsEnabled != null} checked="checked" #{/if}> Enable comments</label> &nbsp;&nbsp;&nbsp;
				</div>
				<div class="error">${errs.get('commentsEnabled')}</div>
			</div>									
		</div>
		<br/>
		
		<div class="event-edit">
			<button type="submit" class="btn btn-default" id="event-dialog-save" >&{'dashboard.save'}</button>
	   		<a href="${request.params.url}" type="button" class="btn btn-white"><i class="fa fa-times"></i> &{'cancel'}</a> 
		</div>

	#{/else}
	</form>	
</div>
#{/if}
<!-- edit -->



<!-- parallax -->
#{if !edit}
<div class="section parallax light-translucent-bg parallax-bg-3" style="background-position: 50% 116px;padding:15px 0 0 0">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1 class="title text-center">
					<a class="anchor" href="/listing-new?uuid=${listing.uuid}">${listing.title}</a>		
				</h1>
				<p class="text-center" style="margin:0 0 15px 0">
			   	   	#{if event}
			   	   	<strong>
				   		<span>${event.eventStart.format("dd MMM, yyyy")}</span>
				   		<span>#{time time:event.eventStart/}</span> - 
				   		<span>#{time time:event.eventEnd/}</span>
			   	   	</strong>
				   	#{/if} 			
					<span>
						#{if item && item.charging == 'free'}
							<span>Free</span>
						#{/if}
						#{if item && item.charging == 'before'}
							<span>from ${item.price} ${item.currency}</span>
						#{/if}	
						<span>per 15 minutes</span>
					</span>				
				</p>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<a href="../user/${usr.login}"><img style="height:61px;" src="${usr.avatarUrl}_64x64"></a>				
					<a href="../calendar/${usr.login}?listing=${listing.uuid}" class="btn btn-default btn-lg"><i class="fa fa-calendar"></i> Request a Time</a>
				</div>
			</div>
		</div>
	</div>
</div>
#{/if}
<!-- parallax -->



<!-- stream -->
#{if fromEvent && !edit}
<div class="section gray-bg" style="background:#fafafa">
	<div class="container">	
		<div class="row">
			<div class="col-md-12">
				#{set cols: event.chatEnabled?8:12 /} 
				<div class="row">
					#{if event.type == "livecast" && type != "broadcast"}
					<div class="col-md-${cols}" style="padding:0px;">
						<object height="500" style="background:black;" type="application/x-shockwave-flash" id="applicationID" data="/public/images/downstream.swf">
						    <param name='src' value='/public/images/downstream.swf'/>
						    <param name="movie" value="https://fpdownload.adobe.com/strobe/FlashMediaPlayback.swf" />
							<param name=FlashVars value="myServerUrl=${rmtp}&myStreamName=${event.uuid}" />
							<param name="wmode" value="transparent" />
							<param name="allowFullScreen" value="true" />
							<param name="allowscriptaccess" value="always" />
							<param name="quality" value="high" />
							<param name="menu" value="false" />
						</object>		
					</div>
					#{/if}
					
					#{if type == 'broadcast'}
					<div class="col-md-${cols}" style="padding:0px;">
						 <object class=""  style="background:black;width:100%;min-height:500px;" type="application/x-shockwave-flash" id="applicationID" data="/public/images/upstream.swf">
						    <param name='src' value='/public/images/upstream.swf'/>
							<param name="movie" value="/public/images/upstream.swf" />
							<param name=FlashVars value="myServerUrl=${rmtp}&myStreamName=${event.uuid}" />
							<param name="wmode" value="transparent" />
							<param name="quality" value="high" />
							<param name="menu" value="false" />
							<param name="allowFullScreen" value="true" />
						 </object>	
					</div>
					#{/if}
					
					#{if event.type == 'p2p'}
					<div class="col-md-${cols}" style="padding:0px;#{if event.chatEnabled}height:500px;#{/if}#{else}height:100px#{/else}">
						 <div class="higlight" style="width:100%;height:100px;text-align: center">
						 	<div style="height: 200px;width: 200px;position: absolute;margin: -50px 0 0 -50px;left:45%;top: 50%;">
							 	<a class="anchor" href="/room?id=${event.uuid}&secret=${event.roomSecret}" target="_blank" ><i style="font-size:6em" class="fa fa-comments"></i><span style="font-size:2em"> Join</span></a>
						 	</div>
						 </div>	
					</div>		
					#{/if}
					
					#{if event.chatEnabled}
					<div class="col-md-4" style="padding:10px;height:500px;">
						<div style="height:100%">
							<div id="content" class="form-control" style="height:440px;color:black;overflow-y: scroll;"></div>
							<div class="controls">
								<form onsubmit="return false;">
									<div class="input-group">
										<input id="chat-text" class="form-control"> <input id="chat-name" type="hidden" value="${name}"> 
										<span class="input-group-btn">
											<button id="chat-send" class="btn btn-gray btn-short" style="margin:0px;height:40px">
												&{'send'}
											</button>
										</span>
										<div class="clearfix"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
					#{/if}
				</div>
			</div>
		</div>
	</div>
</div>
#{/if}
<!-- stream -->

	
#{if !edit}
<div class="container">		
	<div class="row">
		<div class="col-md-8 side vertical-divider-right" style="padding-top:0px;margin-right:0px">
			<!-- description -->
			<div>
    	   	   <h2>
					#{if listing}
    	   	   			${listing.title}
	 	    	   	#{/if}
	 	    	   	<small>
						#{if fromEvent && event}
							#{if event.privacy == 'private'}
								<span class="label label-default"><i class="fa fa-lock" title="${event.privacy}"></i> ${event.privacy}</span>
							#{/if}
							#{if event.privacy == 'public'}
								<span class="label label-default"><i class="fa fa-unlock" title="${event.privacy}"></i> ${event.privacy}</span>
							#{/if}
							
							#{if event.type == 'p2p'}
								<span class="label label-info"><i class="fa fa-comments" title="${event.type}"></i> ${event.type}</span>
							#{/if}
							#{if event.type == 'livecast'}
								<span class="label label-info"><i class="fa fa-globe" title="${event.type}"></i> ${event.type}</span>
							#{/if}
							#{if event.charging == 'free'}
								<span class="label label-default"><i class="fa fa-ban" title="${event.charging}"></i> ${event.charging} </span>
							#{/if}
							#{if event.charging == 'before'}
								<span class="label label-danger">${event.price} ${event.currency} </span>
							#{/if}						
						#{/if}		 	    	   	
						#{else}
							#{if listing.privacy == 'private'}
								<span class="label label-default"><i class="fa fa-lock" title="${listing.privacy}"></i> ${listing.privacy}</span>
							#{/if}
							#{if listing.privacy == 'public'}
								<span class="label label-default"><i class="fa fa-unlock" title="${listing.privacy}"></i> ${listing.privacy}</span>
							#{/if}
							
							#{if listing.type == 'p2p'}
								<span class="label label-info"><i class="fa fa-comments" title="${listing.type}"></i> ${listing.type}</span>
							#{/if}
							#{if listing.type == 'livecast'}
								<span class="label label-info"><i class="fa fa-globe" title="${listing.type}"></i> ${listing.type}</span>
							#{/if}
							#{if listing.charging == 'free'}
								<span class="label label-default"><i class="fa fa-ban" title="${listing.charging}"></i> ${listing.charging} </span>
							#{/if}
							#{if listing.charging == 'before'}
								<span class="label default-bg">${listing.price} ${listing.currency} </span>
							#{/if}
						#{/else}		    	   
		    	   	</small>
    	   	   	</h2>
    	   	   	<div class="separator-2"></div>
    	   	   	
    	   	   	<p><a href="/user/${listing.user.login}"><img class="avatar22 img-circle" src="/${listing.user.avatarUrl}_32x32"> <strong>${listing.user.fullName}</strong></a> 
    	   	   	on 
    	   	   	#{if fromEvent}
	    	   	   	${event.created.format("dd MMM, yyyy")}
    	   	   	#{/if}
    	   	   	#{else}
	    	   	   	${listing.created.format("dd MMM, yyyy")}
    	   	   	#{/else}
    	   	   	</p>
				<p>${listing.description.raw()}</p>
			 	#{if event}
				   <p>
				       <strong>Links</strong><br/>
					   #{if !edit && event}
					       #{if event.type == 'livecast'}
								#{if isOwner && (type == null || type != "broadcast") }
									<i class="fa fa-arrow-circle-o-right"></i> <a href='/event-detail?uuid=${event.uuid}&type=broadcast'>&{'dashboard.startLivestream'}</a>
								#{/if}
								#{if isOwner && (type != null && type == "broadcast") }
									<i class="fa fa-arrow-circle-o-right"></i> <a href='/event-detail?uuid=${event.uuid}'>&{'dashboard.stopLivestream'}</a>
								#{/if}
								<i class="fa fa-eye"></i> <a href="/event-detail?uuid=${event.uuid}&type=view">&{'dashboard.viewLivestream'}</a>
							#{/if}
							
						   	#{if isOwner && type && type == 'broadcast'}
						   		<i class="fa fa-microphone"></i> <a href="/event-detail?uuid=${event.uuid}" class="">Stop</a>
						   	#{/if} 
							
							#{if event.type == 'p2p'}
								<i class="fa fa-arrow-circle-o-right"></i> <a class="" href="/room?id=${event.uuid}&secret=${event.roomSecret}" target="_blank">&{'dashboard.joinMeeting'}</a>
							#{/if}
						#{/if}
		    	   </p>
		    	#{/if}				
    	   		<strong>Tags</strong><br/>
    	   		#{if listing && listing.tags}
	    		    #{set tags = listing.tags.split(",") /}
	    	    	#{list items:tags, as:'tag'}
	    	    		<a href="/events?search=${tag}" style="font-size:1.0em" class="btn btn-default btn-short btn-sm">${tag}</a>
	    	    	#{/list}
    	    	#{/if}
			</div>

			<!-- user about -->
			<div>
				<br/>
				<h2>About ${listing.user.firstName}</h2>
				<div class="separator-2"></div>
				#{if listing}
					#{set usr: listing.user /}
				#{/if}		
				#{else}		
					#{set usr: user /}
				#{/else}		
					
				<img class="" src="/${listing.user.avatarUrl}_64x64" style="float:left; margin-right:10px">		
				#{include 'userAbout.html' /}
			</div>	


			<!-- comments -->
			<div>
				<!-- comments -->
				#{if fromEvent}
					#{set object:event /}
					#{include 'comments.html' /}			
				#{/if}
				#{else}
					#{set object:listing /}
					#{include 'comments.html' /}			
				#{/else}
			</div>		
			
			
			<!-- listing events -->
			#{if !fromEvent}
			<div class="shadow" style="background: white;padding:15px;">
				<h2 class="">Events in this channel</h2>
				<div class="separator-2"></div>
				<div class="row">
					<div class="col-md-6">
						<h4>
							<i class="icon-back-in-time"></i>Upcoming Events
						</h4>
						<div id="itemsListUpcoming"></div>
						<div class="spinner-container1">
							<div class="spinner-container">
								<div id="spinnerUpcoming" class="spinner-load"></div>
								<a id="moreResultsUpcoming" class="spinner-more"><i class=" icon-plus-circled"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<h4>
							<i class="icon-back-in-time"></i>Recent Events
						</h4>
						<div id="itemsListPrevious"></div>
						<div class="spinner-container1">
							<div class="spinner-container">
								<div id="spinnerPrevious" class="spinner-load"></div>
								<a id="moreResultsPrevious" class="spinner-more"><i class=" icon-plus-circled"></i></a>
							</div>
						</div>
					</div>	
				</div>	
				<div class="clearfix"></div>
			</div>		
			#{/if}
						

			<!-- ratings -->
			<div>
				<!-- ratings -->
				#{if fromEvent}
					#{set object:event /}
					#{set ratingType:"event" /}
				#{/if}
				#{else}
					#{set object:listing /}
					#{set ratingType:"listing" /}
				#{/else}
				#{include 'ratings.html' /}				
			</div>		
		</div>
	
	
	
		<div class="col-md-4">
		
			<!-- invites -->
			#{if fromEvent && !edit}
			<!-- guests -->
			<div>
				<h2>
					<label style="font-weight:500" for="notify-check-all">&{'dashboard.guests'}</label>
					#{if isOwner}
						<input id='notify-check-all' type='checkbox' style='position:relative;top:2px;' class='notify-check-all' value='all'>
					#{/if}
				</h2>
				
				#{if isOwner}
	 				<form class="" action="/attendance-new-save?eventId=${event.uuid}&url=${request.url.urlEncode()}" method="post">
					    <div class="input-group" style="width:100%">
							<input type="text" class="form-control" autocomplete="off" placeholder="&{'dashboard.inviteAdd'}" maxlength="50" name="email" id="dialog-invite-input" data-provide="typeahead">
						    <span class="input-group-btn">
						    	<button class="btn btn-default btn-short" style="margin:0px;height:40px" id="dialog-invite-button" type="submit">&{'dashboard.invite'}</button>
						    </span>
					    </div>
						<script>
						        $(".notify-check-all").change(function(){
						            if($(this).prop("checked")){
						                $('.notify-checkboxes').prop("checked", true);
						            } else {
						                $('.notify-checkboxes').prop("checked", false);
						            }
						        });
						    				      
							  	$("#dialog-invite-input").typeahead(
							  	{
							  	    minLength : 2, 
							  	    source : function(value, process){
										  	    $.get("/event/invites?str="+value, function(data){
										  	        var list = [];
											  	    for(var i in data)
												  		list.push(data[i].login +", "+ data[i].name);
										  	        process(list);
										  	    });
							  				},
							  		updater : function(item){
							  		    return item.substring(0, item.indexOf(", "));
							  		}, 
							  		matcher : function(item){
							  		    console.log("mm");
							  		    return true;
							  		}
							  	}
							  	);
						</script>
	  				</form>
					#{/if}					

					#{if event && event.attendances}
	  				<form action="/event/invite?eventId=${event.uuid}&url=${request.url.urlEncode()}" method="post">
						<table class="dialog-invite-list" data-checkboxes="true" style="width:100%">
							#{list items:event.attendances, as:'item'}
							    <tr>
							    	<td>
							    		#{if item.isForUser && item.user != null}
								    		<img class="avatar22 img-circle"  src="${item.user.avatarUrl}"> <label for="invite${item.uuid}"><a href="/user/${item.user.login}">${item.user.fullName}</a></label>
										#{/if}
										#{elseif item.customer != null}
								    		<img class="avatar22 img-circle"  src="${item.customer.avatarUrl}"> <label for="invite${item.uuid}"><a href="/user/${item.customer.login}">${item.customer.fullName}</a></label>
										#{/elseif}
										#{else}
								    		<img class="avatar22 img-circle"  src=""> <label for="invite${item.uuid}">${item.email}</label>
										#{/else}
							    		#{if isOwner && (item.user == null || !item.isForUser)}<input name="invite" id="invite${item.uuid}" class="notify-checkboxes" type="checkbox" value="${item.uuid}">#{/if} 
							    	</td>
							    	<td style="padding:3px;text-align:center"> 
							    		#{if item.result && item.result == 'accepted'}<span class="label label-success">accepted</span> #{/if}
							    		#{if item.result && item.result == 'declined'}<span class="label label-danger">declined</span> #{/if}
							    		#{if item.result == null}<span class="label label-default">waiting</span> #{/if}
							    	</td>
							    	<td style="padding:3px;text-align:center"> 
							    	#{if isOwner && item.paid}
							    		<span class="label label-default">paid</span>
							    	#{/if}
							    	</td>
							    	<td style="text-align:right">
							    		#{if user && item.email == user.login}
							    		<a class="" href="/attendance-new-edit?type=accepted&uuid=${item.uuid}&url=${request.url.urlEncode()}">
							    			<i class="fa fa-check color-link fa-1x"></i>
							    		</a>
							    		<a class="" href="/attendance-new-edit?type=declined&uuid=${item.uuid}&url=${request.url.urlEncode()}">
							    			<i class="fa fa-times color-link fa-1x"></i>
							    		</a>
							    		#{/if}
							    		#{if isOwner}
							    		<a class="" href="/attendance-new-delete?uuid=${item.uuid}&url=${request.url.urlEncode()}">
							    			<i class="fa fa-minus-square color-link fa-1x"></i>
							    		</a>
							    		#{/if}
							    	</td>
							    </tr>
							#{/list}							
						</table>
						#{if isOwner}
							<h3>Write message</h3>
						    <div class="error">#{error 'email' /}</div>
							<div class="form-group" style="margin-bottom:5px;">			    
						    	<textarea rows="4" cols="" name="message" class="form-control" placeholder="Message" style="margin-top:5px"></textarea>
						    </div>
					        <button type="submit" class="pull-right btn btn-white btn-short"><span class="spinner-small spinner-notify"> </span>&{'submit'}</button>
			  				<div class="clearfix"></div>
						#{/if}
	  				</form>					
					#{/if}
			</div>
  			<!-- guests -->				
			#{/if}

			#{include 'leftPanel.html' /}
		</div>
		
	</div>	
</div>
#{/if}



#{if !edit && event && event.listing.chatEnabled}
<script>
    star.user = '${name}';
    star.room = '${room}';
    star.server_host = '${serverIp}:8888';
    star.livestream = true;
    star.peerId = null;
</script>
<script src="https://${serverIp}:8888/socket.io/socket.io.js"></script>
<script src="@{'/public/javascripts/room.js'}" type="text/javascript"></script>
#{/if}	



