#{extends 'main.html' /} 
#{set 'title'}
	#{if listing} ${listing.title} #{/if} #{if event} - ${event.eventStart.format("dd MMM")} #{time time:event.eventStart/} #{/if}
#{/set}
#{set 'meta'}
	#{if listing} 
		<meta class="meta-title" property="title" content="${listing.title}" />  
		<meta class="meta-description" property="description" content="${listing.description}" />  
	#{/if}
#{/set}

#{set 'moreScripts'}
	<script>
	starCalendar.aspectRatio = 2.5;
	star.dashboard = false;
	#{if user}
		star.user = "${user.uuid}";
	#{/if}
    #{if event}
       	starCalendar.event = "${event.uuid}" 
	#{/if}
	#{elseif listing}
    	starCalendar.listing = "${listing.uuid}";
    	starCalendar.user = "${listing.user.login}";	
	#{/elseif}
	#{else}
		starCalendar.temp = "${temp}";
	#{/else}	
	#{if listing && listing.commentsEnabled}
		starCalendar.comments = true;
	#{/if}
	#{if event && event.commentsEnabled}
		starCalendar.comments = true;
	#{/if}
	</script>	
	<script src="@{'/public/javascripts/lib/bootstrap-timepicker.min.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/lib/simpleWebRtc.js'}" type="text/javascript" ></script>
	<script src="@{'/public/javascripts/lib/bootstrap-datepicker.js'}" type="text/javascript"></script>	
	<script type="text/javascript" src="@{'/public/javascripts/lib/bootstrap-timepicker.min.js'}"></script>
	#{if listing}
	<script>
		$(document).ready(function(){
			var now = (new Date(new Date().getTime())).toJSON();
			
			var params = "&start="+now+"&end="+now+"&listing="+starCalendar.listing+"&user="+starCalendar.user+"&direction=upcoming&type=listing";
			star.initItems("Upcoming", params);
	
			var params1 = "&start="+now+"&end="+now+"&listing="+starCalendar.listing+"&user="+starCalendar.user+"&direction=previous&type=listing";
			star.initItems("Previous", params1);
		});
	</script>			
	#{/if}
#{/set}


#{set 'moreStyles'}
    <link href="@{'/public/css/bootstrap-timepicker.min.css'}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" href="@{'/public/css/tags.css'}" />
	<link rel="stylesheet" href="@{'/public/css/jquery.Jcrop.min.css'}" type="text/css" />
    <style>
    	.vertical-divider-right {
			padding-right: 15px !important;
    	}	
    	iframe[data-gapiattached="true"] {
    		position:relative !important;
    		top:10px !important;
    	}
    </style>
#{/set}

#{set 'fbmeta'}
	#{if listing}
		<meta class="fb-meta-title" property="og:title" content="${listing.title}" /> 
		<meta class="fb-meta-description" property="og:description" content="${listing.description}" /> 
		<meta class="fb-meta-image" property="og:image" content="${baseUrl}/${listing.imageUrl}" />  
	#{/if} 
#{/set}

<!-- set the item object -->
#{if fromEvent && event}
	#{set item:event /}
	#{set globalObject:event /}
#{/if}
#{else}
	#{set item:listing /}
	#{set globalObject:listing /}
#{/else}

#{if listing}
	#{set usr:listing.user /} 
#{/if}
#{else}
	#{set usr:user /} 
#{/else}

<!-- Share Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">&{'cancel'}</span></button>
        <h3 class="modal-title" id="myModalLabel"><i class="fa fa-link"></i> &{'share'}</h3>
      </div>
      <div class="modal-body">
		<label for="">&{'share-via-link'}</label>
      	<input type="text" class="form-control share-link" value="${baseUrl + request.url}" onclick="javascript:$(this).select();">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-short" data-dismiss="modal">&{'close'}</button>
      </div>
    </div>
  </div>
</div>

<!-- Refund Modal -->
#{if fromEvent && !edit && attendance}
<div class="modal" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form method="POST" action="/paypal/refund/request/${attendance.uuid}?url=${request.url.urlEncode()}&#{token /}">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">&{'cancel'}</span></button>
	        <h3 class="modal-title" id="myModalLabel">&{'request-refund'}</h3>
	      </div>
	      <div class="modal-body">
	      	<label>&{'refund-reason'}</label>
	      	<textarea rows="4" class="form-control" name="reason" placeholder="&{'write-reason'}" maxlength="500"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default btn-short" data-dismiss="modal">&{'close'}</button>
	        <button type="submit" class="btn btn-default btn-short">&{'submit'}</button>
	      </div>
	    </div>
	  </div>
  </form>
</div>
#{/if}


<!-- Embed modal -->
#{if !fromEvent && !edit && isOwner}
<div class="modal" id="embedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form method="POST">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">&{'cancel'}</span></button>
	        <h3 class="modal-title" id="myModalLabel"><i class="fa fa-code"></i> &{'embed-listing'}</h3>
	      </div>
	      <div class="modal-body">
	      	<label>&{'embed-listing-desc'}</label>
	      	<textarea rows="4" class="form-control" name="reason" maxlength="500" onclick="javascript:$(this).select();">
	      	<script type="text/javascript" src="${baseUrl}/public/javascripts/embed.js"></script>
	      	<iframe id="widgr-embedded-container" data-bs="${baseUrl}" data-ws="${socketIo}" data-usr="${usr.getFullName()}" data-room="${usr.uuid}" width="100%" height="200px" src="${baseUrl}/embed/channel/${listing.uuid}" seamless frameBorder="0" scrolling="no" style="overflow: hidden; height:465px; width:465px"></iframe></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default btn-short" data-dismiss="modal">&{'close'}</button>
	      </div>
	    </div>
	  </div>
  </form>
</div>
#{/if}


<!-- Listing title controls -->
<div class="section gray-bg" style="padding-top:15px;padding-bottom:15px">
	<div class="container">
		<div class="row">
	   	<div class="col-md-6">

		   	<h3 class="margin-top-clear" style="font-style:italic;">
		   		#{if listing}
			   		<a class="black anchor" href="/channel/${listing.uuid}">${listing.title}</a>
		   		#{/if}
		   		#{else}
		   			<i>&{'create-new-channel'}</i>
		   		#{/else}
		   		#{if event}
			   		<nobr>
			   		<i style="font-size:0.7em">
				   		<span>${event.eventStart.format("d MMM yyyy")}, </span>
				   		<span>#{time time:event.eventStart/}</span> - 
				   		<span>#{time time:event.eventEnd/}</span> &middot;		   		
				   		<span>${event.getMinutes()} min</span>		   		
			   		</i>
			   		</nobr>
			   	#{/if}
		   	</h3>	

	   		#{if listing}
				<a href="/search?category=${listing.category}" class="label btn-dark">&{listing.category}</a>
		   	#{/if}
	   	
	   		#{if event}
				#{if item && item.charging == 'free'}
					<span class="label btn-dark">&{'free'}</span>
				#{/if}
				#{else}
					<span class="label btn-dark">&{'price'}: ${event.getTotalPrice()} ${event.currency}</span>							
					#{if !fromEvent && listing.firstFree}
						<span class="label btn-dark">&{'first-event-is-free'}</span>
					#{/if}
				#{/else}
	   		   	#{if event.charging != null && attendance && !event.isFree()}
					#{if paid && attendance.paypalTransactionDate}
						<span class="label default-bg margin-clear">
							&{'paid-on'} ${attendance.paypalTransactionDate.format("dd MMM, yyyy")}
						</span>&nbsp;
					#{/if} 						
		   		#{/if}
				#{if attendance && attendance.paid && attendance.refundRequested && attendance.refunded == null}
					<span class="label default-bg margin-clear">&{'refund-requested'}</span>&nbsp;
				#{/if}		   		
				#{if attendance && attendance.paid && attendance.refundRequested && attendance.refunded}
					<span class="label default-bg margin-clear">&{'refunded'}</span>&nbsp;
				#{/if}	
				
	   			#{if event.state == 'customer_created' }
					<span class="label default_bg ">&{'waiting-for-approvement'}</span>
				#{/if}					
	   		#{/if}
	   		
	   		#{elseif listing}
  				#{if listing.charging == 'free'}
					<span class="label btn-dark">&{'price'}: &{'free'}</span>
				#{/if}						
				#{else}
					<span class="label default-bg">&{'price'}: &{'from'} ${listing.price} ${item.currency} &{'for'} ${listing.chargingTime} &{'min'}</span>
					#{if listing.firstFree}
						<span class="label btn-dark">&{'first-event-is-free'}</span>
					#{/if}
				#{/else}
	   		#{/elseif}
	   		
	   		
	   	</div>
		
		<div class="col-md-6">
			#{include 'Listings/editButtons.html' /}
		
			<!-- social -->
		   	<div style="float:right; display: inline-block;margin-top:5px;">
				<ul class="social-links light clearfix" style="margin:0px; display: inline-block;">
					<li class="dribbble"><a href="" data-toggle="modal" data-target="#myModal" ><i class="fa fa-link"></i></a></li>
					<li class="facebook">
						<a id="fb-share" href="#"><i class="fa fa-facebook"></i></a>
					<li class="twitter">
						<a id="twitter-share-button" href="#"><i class="fa fa-twitter"></i></a>
					</li>
					<li class="linkedin">
						<a id="linkedin-share-button" href="#" ><i class="fa fa-linkedin"></i></a>
					</li>
					<li class="googleplus">
						<a href="https://plus.google.com/share?url=${baseUrl+request.url}" onclick="javascript:window.open(this.href,
						  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus"></i></a>					
					</li>
					
					<li class="googleplus">
						<a href="/mail?action=new&url=${request.url.urlEncode()}&to=info@wid.gr" rel="tooltip" data-original-title="Report a problem"><i class="icon-megaphone"></i> </a>
					</li>
				
					#{if listing && listing.video}
					<li class="youtube">
						<a class="popup-iframe" href="${listing.video}" rel="tooltip" data-original-title="&{'play-introduction'}"><i class="fa fa-youtube-play"></i></a>
					</li>
					#{/if}
										
				</ul>
			   	#{if listing}
				<script>
					$("#fb-share").click(function(e){
					    e.preventDefault();
					    console.log(window.location.href);
					    FB.ui(
					    {
						    method: 'feed',
						    name: '${listing.title}',
						    link: window.location.href,
						    picture: '${baseUrl}/${listing.imageUrl}',
						    caption: '${listing.user.fullName}',
						    description: '${listing.description.newLines().trimDot(300).raw()}',
						    message: ''
					    });
					});		
					$("#twitter-share-button").click(function(e){
					    e.preventDefault();
					    var width  = 400,
				        height = 400,
				        left   = ($(window).width()  - width)  / 2,
				        top    = ($(window).height() - height) / 2,
				        url    = this.href,
				        opts   = 'status=1' +
				                 ',width='  + width  +
				                 ',height=' + height +
				                 ',top='    + top    +
				                 ',left='   + left;
					    var url = "https://twitter.com/share?text=${listing.title}";
				    	window.open(url, 'twitter', opts);						    
					})	
					
					$("#linkedin-share-button").click(function(e){
					    e.preventDefault();
					    var width  = 400,
				        height = 400,
				        left   = ($(window).width()  - width)  / 2,
				        top    = ($(window).height() - height) / 2,
				        url    = this.href,
				        opts   = 'status=1' +
				                 ',width='  + width  +
				                 ',height=' + height +
				                 ',top='    + top    +
				                 ',left='   + left;
					    var url = "https://www.linkedin.com/shareArticle?mini=true&url=${baseUrl}${request.url}&title=${listing.title.urlEncode()}&summary=${listing.description.newLines().trimDot(300).raw()}";
				    	window.open(url, 'linkedin', opts);						    
					})
				</script>	 
				#{/if}  					
		   	</div>

		</div>
		</div>
	</div>
</div>
<!-- listing title controls -->






<!-- header image -->
<div class="section dark-bg" style="padding:0px;position:relative">

	<div class="container">	
		<div class="row">
			<div class="col-md-12 " style="padding:0px;">
				#{if edit}
					<!-- edit background image -->
					#{if listing}
						<div class="avatar-container">
						  	<img id="image" class="" style="width:100%" src="/${listing.imageUrl}">
						</div>					
					#{/if}
					#{elseif request.params.imageUrl}
						<div class="avatar-container">
					  		<img id="image" class="cropper" style="width:100%" src="/${request.params.imageUrl}">
						</div>								
					#{/elseif}
					#{else}
						<div class="avatar-container">
							<img id="image" class="" style="width:100%" src="/public/images/channel_default">	
						</div>								
					#{/else}
				#{/if}
	
				#{else}
					#{include 'Listings/stream.html' /}
				#{/else}	
			</div>
		</div>
	</div>
</div>
<!-- header -->





<!-- edit -->
#{include 'Listings/edit.html' /}
<!-- edit -->




<!-- parallax -->
#{if !edit}
<div class="section parallax dark-translucent-bg parallax-bg-3" style="padding:20px; background-image: url('/images/page-about-banner-3.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h2 class="title text-center" style="font-size:2.3em">
					<span style="font-size:0.5em;position:relative;bottom:-20px; right:-30px">
						#{if usr.isOnline()}
				  			<span><i class="icon-record" style="color:#5cb85c"></i></span>
						#{/if}
					</span>
					<a href="/user/${usr.login}"><img style="height:60px;width:60px" class="img-circle" src="/${usr.avatarUrl}_64x64"></a>
					<a class="anchor2" href="/channel/${listing.uuid}">${listing.title}</a>	
				</h2>
				<h5 class="text-center text-shadow" style="margin-bottom:0px">
					<span>
						#{if event && fromEvent}
							#{if item && item.charging == 'free'}
								<strong>&{'free'}</strong>
							#{/if}
							#{else}
								<strong>&{'total-price'}: ${event.getTotalPrice()} ${event.currency} &{'for'} ${event.getMinutes()} &{'min'}</strong>							
								#{if !fromEvent && listing.firstFree}
									<span class="label btn-dark">&{'first-event-is-free'}</span>
								#{/if}
							#{/else}
						#{/if}
						
						#{else}
							#{if listing && listing.charging == 'free'}
								<strong>&{'free'}</strong>
							#{/if}						
							#{else}
								<strong>&{'from'} ${listing.price} ${item.currency}</strong>
								<strong>for ${listing.chargingTime} &{'min'}</strong>
								#{if listing.firstFree}
									<span class="label btn-dark">&{'first-event-is-free'}</span>
								#{/if}
							#{/else}	
						#{/else}
					</span>				
				</h5>
			</div>
			<div class="col-md-5">
				<div class="text-center">
					#{if isOwner && listing.isAvailable()}
						<a class="btn btn-success btn-lg btn-short2" href="/available-stop?id=${listing.uuid}&url=${request.url.urlEncode()}&#{token /}">&{'uncheck-me-as-available'}</a>
					#{/if}		
					#{if isOwner && user.isPublisher() && !listing.isAvailable() && listing.type == 'p2p'}
						<a class="btn btn-default btn-lg btn-short2" href="/available-start?id=${listing.uuid}&url=${request.url.urlEncode()}&#{token /}" rel="tooltip" data-original-title="&{'turn-on-available-now'}">&{'check-me-as-available'}</a>
					#{/if}
					
					#{if listing.isAvailable()}
						<a href="#" class="btn btn-success btn-lg btn-short2 open-chat style-switcher hidden" style="border-width:0px;" rel="tooltip" data-original-title="&{'open-chat'}"><i class="fa fa-comments-o"></i></a>
					#{/if}
					
								
					#{if !isOwner}
						#{if !isOwner && listing.isAvailable()}
							<a href="/instant-room?id=${listing.uuid}&#{token /}" class="btn btn-success btn-lg btn-short2 no-schedule-start style-switcher hidden" rel="tooltip" data-original-title="&{'join-session-now'}">&{'request-for-event-instant'}</a>
						#{/if}			
						#{elseif user}
							<a href="/mail?action=new&to=${listing.user.login}&url=${request.url}" class="btn btn-default btn-lg btn-short2 open-chat" style="border-width:0px;" rel="tooltip" data-original-title="&{'write-message-for'} ${listing.user.firstName}"><i class="fa fa-comments-o"></i></a>
						#{/elseif}
						#{else}
							<a href="/contact?id=${listing.user.login}" class="btn btn-default btn-lg btn-short2 open-chat" style="border-width:0px;" rel="tooltip" data-original-title="&{'write-message-for'} ${listing.user.firstName}"><i class="fa fa-comments-o"></i></a>
						#{/else}
						
						<a href="/user/${usr.login}/calendar?channel=${listing.uuid}&#{token /}" class="btn btn-default btn-lg" rel="tooltip" data-original-title="&{'schedule-session-desc'}"><i class="fa fa-calendar"></i> &{'request-for-event'}</a>
					#{/if}
				</div>
			</div>
		</div>
	</div>
</div>
#{/if}
<!-- parallax -->

	
	
#{if !edit}
<div class="container">		
	<div class="row padding30">

		<div class="col-md-4 col-md-push-8">

			<!-- Guests -->
			<a name="invitation"></a>
			#{if fromEvent && !edit}
			<div>
				<h2>
					<label style="font-weight:500" for="notify-check-all">&{'guests'}</label>
					#{if isOwner}
						<input id='notify-check-all' type='checkbox' style='position:relative;top:2px;' class='notify-check-all' value='all'>
					#{/if}
				</h2>
				<div class="separator-2"></div>
				
				#{if false && event && (attendance == null || !attendance.watchlist)}
					<a href="/watchlist/add?event=${event.uuid}&url=${request.url.urlEncode()}&#{token /}" class="btn btn-light-gray btn-sm margin-clear">
						<i class="dialog-event-edit color-link fa fa-plus fa-1x"></i> &{'add-to-watchlist'}
					</a>
				#{/if}
				
				#{if false && attendance != null && attendance.watchlist}
					<a href="/watchlist/remove?id=${attendance.uuid}&url=${request.url.urlEncode()}&#{token /}" class="btn btn-light-gray btn-sm margin-clear">
						<i class="dialog-event-edit color-link fa fa-minus fa-1x"></i> &{'remove-from-watchlist'}
					</a>
				#{/if}				
				
				#{if isOwner}
	 				<form class="" action="/attendance-new-save?eventId=${event.uuid}&url=${request.url.urlEncode()}&#{token /}#invitation" method="post">
					    #{authenticityToken /}
					    <div class="input-group" style="width:100%">
							<input type="text" class="form-control" autocomplete="off" placeholder="&{'contact-name-or-email'}" style="font-size:0.9em" maxlength="100" name="email" id="dialog-invite-input" data-provide="typeahead" rel="tooltip" data-original-title="&{'add-more-people'}">
						    <span class="input-group-btn">
						    	<button class="btn btn-default btn-short" style="margin:0px;height:40px" id="dialog-invite-button" type="submit">&{'add'}</button>
						    </span>
					    </div>
						<div class="error">#{error 'email' /}</div>
						<script>
						        $(".notify-check-all").change(function(){
						            if($(this).prop("checked")){
						                $('.notify-checkboxes').prop("checked", true);
						            } else {
						                $('.notify-checkboxes').prop("checked", false);
						            }
						        });
						    				      
							  	$("#dialog-invite-input").typeahead(
								  	{
								  	    minLength : 2, 
								  	    source : function(value, process){
											  	    $.get("/invites?str="+value, function(data){
											  	        var list = [];
												  	    for(var i in data){
												  	        var item = data[i].name + " ("+data[i].login + ")";
												  	        list.push(item);
												  	    }
											  	        process(list);
											  	    });
								  				},
								  		updater : function(item){
								  		    return item;
								  		}, 
								  		matcher : function(item){
								  		    return true;
								  		}
								  	}
							  	);
						</script>
	  				</form>
					#{/if}					

					#{if event && event.attendances}
	  				<form action="/event/invite?eventId=${event.uuid}&url=${request.url.urlEncode()}&#{token /}" method="post">
						<table class="dialog-invite-list" data-checkboxes="true" style="width:100%">
							#{list items:event.attendances, as:'item'}
							    <tr>
							    	<td>
							    		#{if item.isForUser && item.user != null}
								    		<img class="avatar22 img-circle"  src="/${item.user.avatarUrl}"> <label class="light" for="invite${item.uuid}"><a href="/user/${item.user.login}">${item.user.fullName}</a></label>
										#{/if}
										#{elseif item.customer != null}
								    		<img class="avatar22 img-circle"  src="/${item.customer.avatarUrl}"> <label class="light" for="invite${item.uuid}"><a href="/user/${item.customer.login}">${item.customer.fullName}</a></label>
										#{/elseif}
										#{else}
								    		<img class="avatar22 img-circle"  src="/public/images/avatar_32x32"> <label for="invite${item.uuid}">${item.email}</label>
										#{/else}
							    		#{if isOwner && (item.user == null || !item.isForUser)}<input name="invite" id="invite${item.uuid}" class="notify-checkboxes" type="checkbox" value="${item.uuid}">#{/if} 
							    	</td>
							    	<td style="padding:3px;text-align:center"> 
							    		#{if item.result && item.result == 'accepted'}<span class="label default-bg">&{'accepted'}</span> #{/if}
							    		#{if item.result && item.result == 'declined'}<span class="label label-danger">&{'declined'}</span> #{/if}
							    		#{if item.result == null}<span class="label label-default">&{'waiting'}</span> #{/if}
							    	</td>
							    	<td style="padding:3px;text-align:center"> 
							    	#{if isOwner && item.paid}
							    		<span class="label label-success">&{'paid'}</span>
							    	#{/if}
							    	</td>
							    	#{if !event.isLocked()}
							    	<td style="text-align:right;font-size:1.3em">
							    		#{if user && item.email == user.login}
							    		<a href="/attendance-new-edit?type=accepted&uuid=${item.uuid}&url=${request.url.urlEncode()}&#{token /}#invitation" rel="tooltip" data-original-title="&{'accept'}"><i class="fa fa-check color-link"></i></a>
							    		#{/if}
							    		#{if user && item.email == user.login && !isOwner}
							    		<a href="/attendance-new-edit?type=declined&uuid=${item.uuid}&url=${request.url.urlEncode()}&#{token /}#invitation" rel="tooltip" data-original-title="&{'decline'}"><i class="fa fa-times color-link"></i></a>&nbsp;
							    		#{/if}
							    		#{if isOwner && user && item.email != user.login}
							    		<a href="/attendance-new-delete?uuid=${item.uuid}&url=${request.url.urlEncode()}&#{token /}#invitation" rel="tooltip" data-original-title="&{'delete'}"><i class="fa fa-trash color-link"></i></a>
							    		#{/if}
							    	</td>
							    	#{/if}
							    </tr>
							#{/list}							
						</table>
						#{if isOwner}
							*{
							<h3>&{'write-custom-message'}</h3>
							<div class="form-group" style="margin-bottom:5px;">			    
						    	<textarea rows="4" cols="" name="message" class="form-control" placeholder="Message" style="margin-top:5px"></textarea>
						    </div>
						    }*
					        <button type="submit" class="btn btn-light-gray btn-short btn-block" rel="tooltip" data-original-title="&{'invite-press'}">&{'send-invitation'}</button>
			  				<div class="clearfix"></div>
						#{/if}
	  				</form>					
					#{/if}
			</div>
  			<!-- Guests -->				
			#{/if}
			
			
			<!-- Images -->
			#{if comments}
			<div style="width:100%;">
				#{list items:comments, as:'item'}
					#{list items:item.files, as:'file'}
						#{if file.isImage() && item.paid == false}
							<span style="float:left;margin:1px; " title="${file.name}">
							<span class="overlay-container">
								<img src="/public/uploads/${file.url}_thumb" title="${file.name}" style="height:62px" alt="${file.name}">
								<a href="/public/uploads/${file.url}" class="overlay small popup-img">
									<i class="fa fa-search-plus"></i>
								</a>
							</span>		
							</span>		
						#{/if}
					#{/list}
				#{/list}
				<div class="clearfix"></div>
			</div>
			#{/if}		
			<!-- Images -->

			#{set mail:true /}
			#{include 'leftPanel.html' /}			
		</div>

		<div class="col-md-8 col-md-pull-4">
			<!-- description -->
			<div>
    	   	   <h2>
					#{if listing}
    	   	   			${listing.title}
	 	    	   	#{/if}

					#{if stats}
						<a href="#reviews" style="font-size:0.3em;text-decoration: none">
							<nobr>
				       		#{list items:1..5, as:'i'} 
				       			#{if stats.get("avgStars") >= i}
								    <i class="fa fa-star fa-2x text-default" data-value="1"></i>
				       			#{/if}
				       			#{else}
								    <i class="fa fa-star-o fa-2x" data-value="1"></i>
				       			#{/else}
							#{/list}
							</nobr>
						</a>
	    	   	   	#{/if}
    	   	   	</h2>
    	   	   	<div class="separator-2"></div>
    	   	   	<strong><a href="/user/${listing.user.login}"><img class="avatar16 img-circle" src="/${listing.user.avatarUrl}_32x32"> <span>${listing.user.fullName}</span></a></strong> 
    	   	 	&middot;
    	   	 	

 	    	   	<span>
					#{if fromEvent && event}
		
						#{if event.privacy == 'private'}
							<span class="labels " rel="tooltip" data-original-title="&{'privacy-private-description'}"><i class="fa fa-lock"></i> &{event.privacy}</span> &middot;
						#{/if}
						
						#{if event.privacy == 'public'}
							<span class="labels " rel="tooltip" data-original-title="&{'privacy-public-description'}"><i class="fa fa-unlock"></i> &{event.privacy}</span> 
						#{/if}
						
						<span class="labels " rel="tooltip" data-original-title="&{ event.type+'-description'}"><i class="fa fa-comments"></i> &{event.type}</span> &middot;  
						
						#{if event.language}
		    	   	 		<img class="inline" src='/public/images/flags/${event.language}.gif' rel="tooltip" data-original-title="&{'preferred-language'}"> 
						#{/if}
					#{/if}		 	    	   	
					#{else}
					
						#{if listing.privacy == 'private'}
							<span class="labels "><i class="fa fa-lock"></i> &{listing.privacy}</span> &middot;
						#{/if}
						
						#{if listing.privacy == 'public'}
							<span class="labels "><i class="fa fa-unlock"></i> &{listing.privacy}</span> &middot;
						#{/if}
						
						<span class="labels "><i class="fa fa-comments"></i> &{listing.type}</span> &middot;

						#{if listing.language}
							<img class="inline" src='/public/images/flags/${listing.language}.gif' rel="tooltip" data-original-title="&{'preferred-language'}"> 
						#{/if}
					#{/else}		    	   
	    	   	</span>
    	   	   	
				<p>${listing.getDescriptionHtml().raw()}</p>
    	   		#{if listing && listing.tags}
	    		    #{set tags = listing.tags.split(",") /}
	    	    	#{list items:tags, as:'tag'}
	    	    		<a href="/search?q=${tag}" style="font-size:0.8em" class="label label-default">${tag}</a>
	    	    	#{/list}
    	    	#{/if}
    	    	<br/>
    	    	<br/>
			</div>

		
			<!-- listing events -->
			*{
			#{if !fromEvent}
			<div>
				<div class="pull-left containerUpcoming" style="display:none;margin-top:20px;text-align:center;width:50%;padding-right:7px">
					<h3>
						&{'upcoming-events'}
					</h3>
					<div id="itemsListUpcoming" class="full-width"></div>
					<div class="spinner-container1">
						<div class="spinner-container">
							<div id="spinnerUpcoming" class="spinner-load"></div>
							<a id="moreResultsUpcoming" class="spinner-more"><i class=" icon-plus-circled"></i></a>
						</div>
					</div>
				</div>
				<div class="pull-left containerPrevious" style="display:none;margin-top:20px;text-align:center;width:50%;padding-left:7px">
					<h3>
						&{'recent-events'}
					</h3>
					<div id="itemsListPrevious" class="full-width"></div>
					<div class="spinner-container1">
						<div class="spinner-container">
							<div id="spinnerPrevious" class="spinner-load"></div>
							<a id="moreResultsPrevious" class="spinner-more"><i class=" icon-plus-circled"></i></a>
						</div>
					</div>
				</div>	
			</div>	
			<div class="clearfix"></div>
			#{/if}
			}*
			
			
			<!-- comments -->
			<div>
				<!-- comments -->
				#{if fromEvent}
					#{set objectType:"event" /}
					#{set object:event /}
					#{include 'comments.html' /}			
				#{/if}
				#{else}
					#{set objectType:"listing" /}
					#{set object:listing /}
					#{include 'comments.html' /}			
				#{/else}
			</div>		
						

			<!-- user about -->
			<div>
				#{if listing}
					#{set usr: listing.user /}
				#{/if}		
				#{else}		
					#{set usr: user /}
				#{/else}		
					
				#{include 'userAbout.html' /}
			</div>	
						
			<!-- listings -->
			<div>
				#{if listings && listing.user.isPublisher()}
					<h2>&{'all-channels-from'} ${listing.user.firstName}</h2>
					<div class="separator-2"></div>
					#{set items:listings /}
					#{set forEvents:false /}
					#{include 'listingsList.html' /}
				#{/if}	
			</div>
			<!-- listings -->	

			<!-- ratings -->
			<div>
				#{if listing}
					#{set object:listing /}
					#{set ratingType:"listing" /}
				#{/if}
				#{include 'ratings.html' /}				
			</div>		
			<!-- ratings -->

		</div>

	</div>	
</div>
#{/if}


#{if !edit && globalObject && (globalObject.type == "instant" || listing.user.available != null || globalObject.chatEnabled)}
<script>
	star.user = '${name}';
    star.room = '${room}';
	star.chatRoom = '${listing.user.uuid}';
    #{if user}
		star.avatar = '${user.avatarUrl}';
	#{/if}    
	star.isOwner = false;
   	#{if isOwner}
   		star.isOwner = true;
   	#{/if}
   	star.ownerName = '${listing.user.fullName}';
    star.server_host = '${socketIo}';
    star.livestream = true;
    star.peerId = null;
</script>
<script src="${socketIo}/socket.io/socket.io.js"></script>
<script src="@{'/public/javascripts/room.js'}" type="text/javascript"></script>
#{/if}	

