#{extends 'main.html' /} 
#{set title:'Login' /} 
#{set 'moreScripts'}
	<script>
	  star.fbClbck = function() {
	      
	      FB.api('/me', function(response) {
	        $.post("/login/facebook?id="+response.id+"&authenticityToken="+$("input[name='authenticityToken']").val(), function(redirect){
	            window.location = redirect;
	        });
	      });
	  
	  }
	</script>
	<script type="text/javascript" src="@{'/public/javascripts/facebook.js'}"></script>
#{/set}


<div id="fb-root"></div>


<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<form role="form" action="#{if isPublic}/public#{/if}/login#{if isPublic}?id=${request.params.id}#{/if}" method="POST">
			    #{authenticityToken /}
			    
			    <h2 class=""><i class="fa fa-sign-in"></i> &{'logIn'}</h2>
			    <div class="divider"></div>
			    
				<div class="form-group">
					<label class="" for="login">&{'login'}</label>
					<input type="hidden" class="form-control" id="url" name="url" value="${flash.url}"/>
					<input type="text" class="form-control" id="login" name="username" placeholder="&{'login'}" autofocus/>
				</div>
		
				<div class="form-group">
					<label class="" for="password">&{'password'}</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="&{'password'}"/>
				</div>
		
				<div class="form-group">
					&{'login.registerQuestion'} <a href="/registration">&{'login.here'}</a>
					&{'or'} <a href="/password-reset">&{'reset.password'}</a>
					<br/>
					<br/>
					<div class="pull-left fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
					<button class="pull-right btn btn-default margin-clear"><i class="fa fa-sign-in"></i> &{'logIn'}</button>
					<div style="clear:both;"></div>
				</div>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

