#{extends 'main.html' /} 
#{set 'title'}
	&{'login'}
#{/set}
#{set wide:true /}

#{set 'moreScripts'}
	<script>
		star.fbClbck = function(resp) {
	    	FB.api('/me', function(response) {
	        	$.post("/login/facebook?id="+response.id+"&signedRequest="+resp.authResponse.signedRequest+"&"+star.token, function(redirect){
	            	var params = {};
					params["type"] = "reload";
		            window.location = redirect;
	        	});
	      	});
		}
		$(document).ready(function(){
	    	var params = {};
	    	params["selector"] = ".widgr-embedded-iframe";
	    	var height = $(".embed-item").height();
	    	if(height > 600)
	    	    height = 600;
			params["height"] = height;
			params["type"] = "resize";
			parent.postMessage(JSON.stringify(params),"*");    
		});	  
	</script>
#{/set}

#{set noheader:true /}

<div class="container embed-item">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<form role="form" action="#{if isPublic}/public#{/if}/login#{if isPublic}?id=${request.params.id}#{/if}" method="POST">
			    #{authenticityToken /}
			    <h2><img src="/images/logo_purple.png" style="height:40px"> &{'sign-in'}</h2>
			    <div class="separator-2"></div>
			    
				<div class="form-group">
					<label class="" for="login">&{'login'}</label>
					<input type="hidden" class="form-control" id="token" name="token" value="${request.params.token}"/>
					<input type="hidden" class="form-control" id="url" name="url" value="${flash.url}"/>
					<input type="text" class="form-control" id="login" name="username" placeholder="&{'login'}" autofocus/>
				</div>
		
				<div class="form-group">
					<label class="" for="password">&{'password'}</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="&{'password'}"/>
				</div>
		
				<div class="form-group">
					&{'login-register-question'} <a href="/registration#{if flash.url}?url=${flash.url.urlEncode()}#{/if}">&{'login-here'}</a>
					&{'or'} <a href="/password-reset">&{'reset-your-password'}</a>
				</div>

				<button class="btn btn-default" style="position:relative;top:-10px"><i class="fa fa-sign-in"></i> &{'sign-in'}</button>&nbsp;&nbsp;
				<div class=" fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
				<div style="clear:both;"></div>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

