#{extends 'main.html' /} 

#{set 'moreScripts'}
#{/set}

#{set 'moreStyles'}
#{/set}

#{set background:'true' /} 


<div class="container">				
	<div class="row">
		<div class="col-md-12" style="min-height:40vh">
			<h2>Database</h2>
			<div class="separator-2"></div>
			<a href="/admin/refresh?url=${request.url.urlEncode()}">refresh indexes</a>			
			
			<h2>Users</h2>
			<div class="separator-2"></div>
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>Name</th>
						<th>Account type</th>
						<th>Account plan</th>
						<th>Referrer</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				#{list items:users, as:'item'}
					<tr>
						<td>
							<img class="avatar16" src="/${item.avatarUrl}_32x32">
							<a href="/user/${item.login}">${item.fullName}</a>
						</td>
						<td>
							${item.account.type}
						</td>
						<td>
							<a class="link" href="/settings/paypal/payments?id=${item.uuid}">${item.account.currentPlan().type}</a>
						</td>
						<td>
							#{if item.registrationToken && usersMap.get(item.registrationToken) != null}
								<img class="avatar16" src="/${usersMap.get(item.registrationToken).avatarUrl}_32x32">
								<a href="/user/${usersMap.get(item.registrationToken).login}">${usersMap.get(item.registrationToken).fullName}</a>
							#{/if}
						</td>
						<td>
							#{if false}
								<span class="label label-danger">blocked</span>
							#{/if}
						</td>
						<td>
							<a href="/payments?transaction=${item.login}">transactions</a>
							<a href="/admin/approve?uuid=${item.uuid}&url=${request.url.urlEncode()}" class="btn btn-default btn-sm btn-short btn-margin">Unblock</a>
							<a href="/admin/deny?uuid=${item.uuid}&url=${request.url.urlEncode()}" class="btn btn-white btn-sm btn-short btn-margin">Block</a>
							<a href="/mail?action=new&to=${item.login}">&nbsp;<i class="fa fa-envelope"></i>&nbsp;</a>
						</td>
					</tr>				
				#{/list}				
			</table>
		</div>
	</div>
</div>

																						
