#{extends 'main.html' /} 

#{set 'moreScripts'}
#{/set}

#{set 'moreStyles'}
#{/set}

#{set background:'true' /} 


<div class="container">				
	<div class="row">
		<div class="col-md-12" style="min-height:40vh">
			<h2>Database</h2>
			<div class="separator-2"></div>
			<a href="/admin/refresh?url=${request.url.urlEncode()}">refresh indexes</a>	<br/>	
			*{
			<a href="/admin/delete?url=${request.url.urlEncode()}">delete data</a>			
			}*	
			
			<h2>Users</h2>
			<div class="separator-2"></div>
			<table class="table table-hover table-condensed" style="font-size:0.9em">
				<thead>
					<tr>
						<th>Name</th>
						<th>Plan</th>
						<th>Referrer</th>
						<th>Created</th>
						<th>Last logged</th>
						<th>Actions</th>
					</tr>
				</thead>
				#{list items:users, as:'item'}
					#{if item.role != "superadmin"}
					<tr>
						<td>
							<img class="avatar16" src="/${item.avatarUrl}_32x32">
							<a href="/user/${item.login}">${item.fullName}</a>
							${item.account.name} &middot;
							${item.account.type} &middot;
							${item.role} 
						</td>
						<td>
							#{if item.account.currentPlan()}
							<a class="link" href="/settings/paypal/payments?id=${item.uuid}">${item.account.currentPlan().type}</a>
							#{/if}
						</td>
						<td>
							#{if item.registrationToken && usersMap.get(item.registrationToken) != null}
								<img class="avatar16" src="/${usersMap.get(item.registrationToken).avatarUrl}_32x32">
								<a href="/user/${usersMap.get(item.registrationToken).login}">${usersMap.get(item.registrationToken).fullName}</a>
							#{/if}
						</td>
						<td>
							 ${item.created.format("dd.MM.yyyy")}
						</td>
						<td>
							#{if item.lastLoginTime}
								${item.lastLoginTime.format("dd.MM.yyyy")}
							#{/if}
						</td>
						<td>
							<a href="/mail?action=new&to=${item.login}">&nbsp;<i class="fa fa-envelope-o"></i></a> &middot;
							<a href="/payments?transaction=${item.login}&sent=true">sent</a> &middot;
							<a href="/payments?transaction=${item.login}">received</a> &middot;
							<a href="/admin/dltusr?id=${item.id}&url=${request.url.urlEncode()}" class="btn btn-danger btn-sm btn-margin" onclick="if(confirm('&{'confirm-decline'}?')){return true;} else {return false;}">Delete</a>
							#{if item.blocked}
								<a href="/admin/unblock?uuid=${item.uuid}&url=${request.url.urlEncode()}" class="btn btn-default btn-sm btn-margin">Unblock</a>
							#{/if}
							#{if item.blocked == null}
							<a href="/admin/block?uuid=${item.uuid}&url=${request.url.urlEncode()}" class="btn btn-white btn-sm btn-margin">Block</a>
							#{/if}
						</td>
					</tr>				
					#{/if}				
				#{/list}				
			</table>
		</div>
	</div>
</div>

																						
