#{extends 'main.html' /} 
#{set title:'Login' /} 
#{set background:'true' /} 
#{set 'moreScripts'}
#{/set}

<div class="container">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
	<div class="segoe well transparent2 " style="padding:40px;margin:30px auto;">
		<form role="form" action="/password-reset" method="POST">
		    #{authenticityToken /}
		    
		    <h2 class="segoe"><i class="fa fa-cog"></i> &{'passwordReset'}</h2>
		    <hr>
		    
			#{if flash.securityError}	
			<div class="alert alert-danger alert-dismissable">
		  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  		<small><strong>${flash.securityError}</strong></small>
			</div>
			#{/if}

			#{if flash.access}	
			<div class="alert alert-danger alert-dismissable">
		  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  		<small><strong>${flash.access}</strong></small>
			</div>
			#{/if}
			
			<div class="form-group">
				<label class="segoe" for="login">&{'login'}</label>
				<input type="text" class="form-control" id="login" name="login" placeholder="&{'login'}" autofocus/>
			</div>

			<div class="form-group">
				<input type="hidden" value="${params.uuid}" name="uuid" />
				<input type="text" placeholder="&{'captcha'}" class="form-control" style="display:inline !important;width:20%" name="captcha"/>
				<img src="/captcha?uuid=${params.uuid}">
				<div class="error">#{error 'captcha' /}</div>
			</div>		

			<div class="form-group">
				<table class="pull-right">
					<tr>
						<td>
							<button type="submit" class="btn btn-primary pull-right">&{'submit'}</button>
						</td>
					</tr>
				</table>
				<div style="clear:both;"></div>
			</div>
		</form>
	</div>

</div>
<div class="col-md-3"></div>
</div>
</div>

