#{extends 'main.html' /} 


<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<form role="form" action="#{if isPublic}/public#{/if}/password#{if isPublic}?id=${request.params.id}#{/if}" method="POST">
				#{authenticityToken /}
				
				#{if isPublic}
			    	<h2>&{'password-change'}</h2>
			    #{/if}
				#{if !isPublic}
			    	<h2>&{'password-change'}</h2>
			    #{/if}
				
				<div class="form-group">
					<label for="login">&{'password'}</label>
					<input type="password" class="form-control" id="oldPassword" name="oldPassword" value="${params.oldPassword}"  placeholder="&{'password'}"/>
					<div class="error">#{error 'oldPassword' /}</div>
				</div>
				<div class="form-group">
					<label for="login">&{'password.new'} <span style="font-weight:normal;opacity:0.7">&{'password-label'}</span></label>
					<input type="password" class="form-control" id="password" name="password" value="${params.password}"  placeholder="&{'password.new'}"/>
					<div class="error">#{error 'password' /}</div>
				</div>
				<div class="form-group">
					<label for="login">&{'password-repeat'}</label>
					<input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" value="${params.passwordRepeat}"  placeholder="&{'password-repeat'}"/>
					<div class="error">#{error 'passwordRepeat' /}</div>
				</div>
		
				<div class="form-group">
					<button class="btn btn-default">&{'submit'}</button>
					#{if isPublic}
						<a href="/public/calendar?id=${request.params.id}">&{'cancel'}</a>
					#{/if}
				</div>
				<div style="clear:both"></div>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

