<html>
	<head>
		<title>Facebook login</title>
	</head>
	<body>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
		    	var params = {};
			    #{if fbError != null}
					params["type"] = "redirect";
					params["path"] = "/login";
			    #{/if}
			    #{else}
					params["type"] = "reload";
			    #{/else}
				parent.postMessage(JSON.stringify(params),"*");    
			});	  		
		</script>
	</body>
</html>




