#widgr-container {
	z-index: 10001;
	font-family:'Open Sans', sans-serif;
	border: 1px solid #ddd;
}

#widgr-container a {
	color: #555;
	text-decoration: none;
	opacity: 0.7;
}

#widgr-container a:hover {
	color: #000;
	text-decoration: underline;
	opacity: 0.7;
}

#widgr-container div.style-switcher {
	background-color: white;
	color: #262626;
	width: 360px;
	position: fixed;
	top: 155px;
	left: -362px;
}

#widgr-container div.style-switcher .header {
	background-color: #555;
	position: relative;
	font-size:14px;
	padding:5px;
	height:26px;
	line-height:26px;
	border: 1px solid #fff;
}

#widgr-container .chat-window {
	height: 385px;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
	color: black
}

#widgr-container div.style-switcher a.trigger {
	display: block;
	position: absolute;
	right: -40px;
	top:0px;
	width:23px;
	padding: 8px;
	font-size: 20px;
	text-align: right;
	text-decoration: none;
	border: 1px solid #fff;
	border-left: none;
}

#widgr-container .style-switcher.closed a.trigger {
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
}

#widgr-container a.trigger {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#widgr-container div.style-switcher.opened a.trigger {
	right: -1px;
	border-top: 0px solid #ddd;
	border-bottom: 0px solid #ddd;
}

#widgr-container .widgr-tooltip {
	cursor:pointer;
	color:white;
	border: 1px solid white;
	margin: 8px;
	position:fixed;
	left:35px;
	font-size: 12px;
	padding: 15px;
	border-radius: 4px
}

#widgr-container .widgr-tooltip:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 6px 5px 0;
	border-color: transparent #555;
	display: block;
	width: 0;
	z-index: 1;
	left: -6px;
	top: 7px;
}

#widgr-container .btn {
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#widgr-container .btn-default {
	background-color: #555;
	color: #fff !important;
	border-color: #555;
}

#widgr-container .btn-default:hover {
	background-color: #444;
}

#widgr-container .default-bg {
	background-color: #555;
}

#widgr-container .form-control {
	height:36px;	
	padding: 5px 10px;
	font-size: 13px;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#widgr-container .left-radius {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#widgr-container .right-radius {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#widgr-container .radius {
	border-radius: 4px;
}

.widgr-bubble-left 
{
	word-wrap: break-word;
	margin:5px;
	position: relative;
	left:15px;
	color:white;
	width: 250px;
	min-height: 30px;
	padding: 10px;
	font-size:12px;
	background: rgba(40, 40, 40, 0.7);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.widgr-bubble-right{
	word-wrap: break-word;
	margin:5px;
	position: relative;
	left:40px;
	width: 250px;
	min-height: 30px;
	padding: 10px;
	font-size:12px;
	background: rgba(30, 30, 30, 0.1);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
}

.widgr-bubble-left:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 7px 10px 7px 0;
	border-color: transparent rgba(40, 40, 40, 0.7);
	display: block;
	width: 0;
	z-index: 1;
	left: -10px;
	top: 13px;
}

.widgr-bubble-right:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 7px 0 7px 10px;
	border-color: transparent rgba(30, 30, 30, 0.1);
	display: block;
	width: 0;
	z-index: 1;
	right: -10px;
	top: 13px;
}



#widgr-container .img-circle {
	border-radius: 50%;
}

#widgr-container .style-switcher .btn-short {
	min-width: 0px !important;
}

#widgr-container .shadow {
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

@keyframes blink {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
   }
   @-webkit-keyframes blink {
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
   }
   .blink {
     animation: blink 1s step-start 0s infinite;
     -webkit-animation: blink 1s step-start 0s infinite;
    }
}