#widgr-container a 
{
	color: rgb(114,114,114);
	opacity: 0.9;
}

#widgr-container a:hover 
{
	color: rgb(114,114,114);
	text-decoration: underline;
	opacity: 1;
}

#widgr-container div.style-switcher .header 
{
	background-color: rgb(114,114,114);
	color:white;
}

#widgr-container .btn2-default 
{
	background-color: rgb(114,114,114);
	border-color: rgb(114,114,114);
	color: white;
}

#widgr-container .btn2-default:hover 
{
	background-color: rgb(84, 84, 84);
	color: white;
}

#widgr-container .text-default 
{
	color: rgb(114,114,114);
}

#widgr-container .label 
{
	font-size:0.8em;
	font-weight:bold;
	padding:2px 5px;
	border-radius:3px;
}

#widgr-container .default-bg 
{
	color:white;
	background-color: rgb(114,114,114);
}

.widgr-bubble-left 
{
	background: rgba(114,114,114,0.7);
	color:white;
}

.widgr-bubble-left:after 
{
	border-color: transparent rgba(114,114,114,0.7);
}

.widgr-bubble-right
{
	background: rgba(114,114,114,0.1);
}

.widgr-bubble-right:after 
{
	border-color: transparent rgba(114,114,114,0.1);
}
