#widgr-container a 
{
	color: rgb(122,204,41);
	opacity: 0.9;
}

#widgr-container a:hover 
{
	color: rgb(122,204,41);
	text-decoration: underline;
	opacity: 1;
}

#widgr-container div.widgr-chatbox .widgr-header 
{
	background-color: rgb(122,204,41);
	color:white;
}

#widgr-container .btn2-default 
{
	background-color: rgb(122,204,41);
	border-color: rgb(122,204,41);
	color: white;
}

#widgr-container .btn2-default:hover 
{
	background-color: rgb(92,184,21);
	color: white;
}

#widgr-container .text-default 
{
	color: rgb(122,204,41);
}

#widgr-container .label 
{
	font-size:0.8em;
	font-weight:bold;
	padding:2px 5px;
	border-radius:3px;
}

#widgr-container .default-bg 
{
	color:white;
	background-color: rgb(122,204,41);
}

.widgr-bubble-left 
{
	background: rgba(122,204,41,0.7);
	color:white;
}

.widgr-bubble-left:after 
{
	border-color: transparent rgba(122,204,41,0.7);
}

.widgr-bubble-right
{
	background: rgba(122,204,41,0.1);
}

.widgr-bubble-right:after 
{
	border-color: transparent rgba(122,204,41,0.1);
}
