/* theme fixes */
body {
}
.dropdown-menu {
	z-index: 91001;	
} 

.progress {
	margin-bottom:0px;
}

.inline {
	display:inline !important;
}

tbody {
  background-color: transparent; 
}

.table:not(.table-bordered) {
border-bottom: 0px solid #f3f3f3;
}

.header {
 padding: 5px 0; 
}

.margin-clear-bottom {
	margin-bottom:0px;
}

.anchorLink {
	cursor:pointer;
}


.big {
	font-size:1.7em;
}


.anchor:hover {
	text-decoration: none;
}

.anchor2 {
	text-decoration: none !important;
}

.anchor2:hover {
	text-decoration: underline !important;
}

.link-left {
	text-align:left !important;
}

.btn.btn-sm {
	padding: 5px;
	font-size: 10px;
	min-width: 50px;
}

label.light {
	font-weight:normal;
}

img {
	display:inline
}

.progress {
	margin-top:5px;
	height:inherit;
}

@media screen and (max-width: 767px) {
	.input-group {
		margin-bottom:15px;
	}
	.btn-margin {
		margin-top:15px;
		margin-bottom:15px;
	}	
	.small-hide {
		display: none;
	}
	
	.centered {
		text-align: center;
	}
}


@media (max-width: 992px) {
	.medium-hide {
	    display:none;
	}
}


@media (min-width: 768px){
	.dl-horizontal dd {
		margin-left: 260px;
	}
	.dl-horizontal dt {
		width:180px;
		max-width: 180px;
	}	
}

.vertical-divider-left {
	margin-left: 0px;
}

.parallax.iframe {
	background-attachment: inherit !important;
	background-position: 0px !important;
}

/* theme fixes */










/* various */
.text-light {
	color: #aaa;	
}

p {
	text-align: justify;
}

p.left {
	text-align: left;
}

.centered {
	text-align: center;
}

.gradient {
background: #fafafa; /* Old browsers */
background: -moz-linear-gradient(top,  #fafafa 36%, #dbdbdb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#fafafa), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fafafa 36%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fafafa 36%,#dbdbdb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fafafa 36%,#dbdbdb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fafafa 36%,#dbdbdb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.btn-social {
	min-width: 45px !important;	
	height:45px;
	margin-bottom:5px !important;
}

.timeline {
    position: absolute;
    border: none;
    border-top: 3px solid red;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
}
.opacity {
	opacity: 0.8;	
}
.hidden {
	display: none;
}
.margin-top {
	margin: 10px 0 0 0;
}
.margin-right {
	margin-right: 5px;
}

.padding-bottom {
	padding-bottom: 5px;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";	
}

.separator-timepicker {
	width:20px;
}

.listing-item-top {
	display: none;
	height: 170px;	
	width: 100%;
}

.listing-item {
	display: table-cell;
	height: 128px;
	width: 20%;
	min-width: 300px;
}

.listing-item-right {
	display: table-cell;
	vertical-align: top;
	padding: 15px;
	width: 100%
}

.social-pull-right {
	float:left;
}

@media screen and (max-width: 990px) {
	.social-pull-right {
		float:left;
	}	
	.listing-item {
		display: none;
	}
	.footer-hide {
		display: none;
	}
	.listing-item-top {
		display: block;
		height: 170px;
	}	
	.listing-item-right {
		display: block;
	}	
}


@media screen and (min-width: 767px) {


	.banner-search {
		max-width:400px;
		position:absolute;
		top:-18%;
		left:15px;
		z-index: 9999;	
	}
	.input-block {
		width:300px;
	}
}
@media screen and (max-width: 767px) {
	div.banner {
		//display:none;	
	}
	
	.input-block {
		width:100%;
	}
}

.btn-margin {
	margin-top:0px;
	margin-bottom:0px;
}

.btn-right {
	position:absolute;
	right:15px;
	top:15px;
}

.btn-medium {
	min-width:50px !important;
	margin:0px !important;
}

.btn-short {
	min-width:0px !important;
}

.side-padding-short {
	padding-left:5px !important;
	padding-right:5px !important;
}

.gray-bg-lighter {
	background-color: #fcfcfc;
}

.tip {
	color: silver;
	opacity:0.6;
	position:relative;
	bottom:2px;
	font-size: 0.8em
}

.spinner-container1 {
	display:table;
	width:100%;	
	padding: 0px;
}

.spinner-container {
	padding: 0px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:100%;	
	height:100px;
	font-size:3em;
}
.spinner-load {
	height:100px;
	background: url(/public/images/loader.gif) center no-repeat;
}
.spinner-more {
	opacity:0.8;
	cursor:pointer;
}

.event-box {
	width:360px;
	height:220px; 
	float:left;
	margin:0 15px 15px 0; 
	text-align:left
}

.event-box2 {
	width:365px;
	height:280px; 
	float:left;
	margin:0 15px 15px 0; 
	text-align:left
}


@media screen and (max-width: 550px) {
	.event-box {
		width: 100%;
		height: 360px;
	}
}

.full-width > .event-box {
	width:100%;
	height:80%;
	margin:0 0 15px 0; 	
}

.full-width > .event-box > .overlay-container > img {
}

.event-box-link {
	font-weight:bold
}

.padding {
	padding:15px;
}

.padding-right {
	padding-right:15px;
}

.padding-sides {
	padding-right:15px;
	padding-left:15px;
}

.truncate {
  text-overflow: ellipsis;
}

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 2s steps(5, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}

@keyframes flickerAnimation {
  0%   { background:#5cb85c; }
  50% { background:#333333; }
  100% { background:#5cb85c; }
}
@-o-keyframes flickerAnimation{
  0%   { background:#5cb85c; }
  50% { background:#333333; }
  100% { background:#5cb85c; }
}
@-moz-keyframes flickerAnimation{
  0%   { background:#5cb85c; }
  50% { background:#333333; }
  100% { background:#5cb85c; }
}
@-webkit-keyframes flickerAnimation{
  0%   { background:#5cb85c; }
  50% { background:#333333; }
  100% { background:#5cb85c; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 3s infinite;
   -moz-animation: flickerAnimation 3s infinite;
   -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
}

.error {
	padding: 0px;
	margin-top:5px;
	color: #ff2255;
	font-weight:bold;
	border-color: #ebccd1;	
}

.alert-danger:empty {
   display: none;
}

.error:empty {
   display: none;
}


.black {
	color:black;
}

.white {
	color:white;
}

.black:hover {
	color:black;
	text-decoration: none;
}

.black-link {
	color:black;
}

.black-link:hover {
	color:#555;
	text-decoration: none;
}

.white-link {
	color:white;
}

.white-link:hover {
	color:white;
}

.spinner-small {
		background: url('/public/images/spinner.gif') no-repeat ;
		background-size:20px 20px;
		height:20px;
		width:20px;
		float:left;
		margin-right:5px;
		display:none;
}

.spinner {
		background: url('/public/images/spinner.gif') no-repeat ;
		background-size:40px 40px;
		height:40px;
		width:40px;
		float:left;
		margin-right:5px;
		display:none;
}

.avatar16 {
	height:16px;
	width:16px;
}

.avatar32 {
	height:32px;
	width:32px;
}

.avatar22 {
	height:24px;
	width:24px;
}

.avatar64 {
	height:64px;
	width:64px;
}

.avatar128 {
	height:128px;
}

.img-responsive {
    width: 100%
}

.notify-checkboxes {
	position:relative;
	top:3px;
}

.rating-clear {
	position:relative;
	bottom:5px;
}

.color-link {
	cursor:pointer;
	color:rgba(0,0,0,0.6);
}

.color-link:hover {
	cursor:pointer;
	color:rgba(0,0,0,0.4);
}

.color-link-light {
	cursor:pointer;
	color:rgba(255,255,255,0.9);
}

.color-link-light:hover {
	text-decoration:none;
	color:rgba(255,255,255,0.3);
}

.text-shadow {
	color:white;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
}

.shadow-inset-2 {
	-webkit-box-shadow: inset -20px -45px 122px -34px rgba(0,0,0,0.85);
	-moz-box-shadow: inset -20px -45px 122px -34px rgba(0,0,0,0.85);
	box-shadow: inset -20px -45px 122px -34px rgba(0,0,0,0.85);	
}

.shadow-small {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

.shadow-blur {
  #-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  #-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  #box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

.shadow-blur:hover {
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.2);
}


@media screen and (min-width: 767px) {
	.listing-image {
		min-height:500px;
	}
}
.shadow-inset {
	-webkit-box-shadow: inset 0px 0px 90px 49px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0px 0px 90px 49px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0px 0px 90px 49px rgba(0, 0, 0, 0.8);
}	

.shadow-outset {
	-webkit-box-shadow: 0px 0px 90px 49px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 90px 49px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 90px 49px rgba(0, 0, 0, 0.5);
}	

@media screen and (max-width: 767px) {
	.listing-image {
		min-height:200px;
	}
}



.colorHover:hover{
	border:1px solid gray;
}

.fc-corner-left {
	margin-left:15px !important;
}

.fc-event{
	cursor: pointer !imporant;
}

.fc-event-inner{
	cursor: pointer !imporant;
}

@font-face {
    font-family: 'segoe_uilight';
    src: url('segoeuil-webfont.eot');
    src: url('segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('segoeuil-webfont.woff') format('woff'),
         url('segoeuil-webfont.ttf') format('truetype'),
         url('segoeuil-webfont.svg#segoe_uilight') format('svg');
    font-weight: normal;
    font-style: normal;
}


.controls {
	margin:0px 5px;
}



.actions {
	position: absolute;
	top: 5px;
}

.poster_wrapper {
	height:150px;
	position: relative;
	width: auto;
}

.event_poster {
	float: left;
	position: relative;
	margin: 0 10px 20px 0;
	padding: 0px;
	width:150px;
	border-radius: 5px;
	background-color: #f8f8f8;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
	cursor: pointer;
}

.activity-item {
	 margin:3px;
	 padding:5px;
	 background-color:rgba(0,0,0,0.005);
}

.activity-item:hover {
	 background-color:rgba(0,0,0,0.03);
}

.canvasjs-chart-credit {
	display:none;
}

.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}


@media (min-width: 992px) {
	.container-xs-height {
	    display:table;
	}
	.row-xs-height {
	    display:table-row;
	}
	.col-xs-height {
	    display:table-cell;
	    float:none;
	}	
    .container-sm-height {
        display:table;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
    margin:-10px;
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

@media screen and (max-width: 700px) {
	.fc-header td {
		display: inline-table;
	}
}

/* various */















/* p2p page */


.videoContainer video {
    width: 100%;
    height: 100%;
}

.volumeBar {
    position: absolute;
    width: 5px;
    height: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #12acef;
}

#localScreenContainer {
    display: none;
}
            
.videoContainer > video {
	-webkit-transform:scale(1.5) !important;
}

object {
	width:100%;
}

.modal-dialog {
}

.guest-td {
	background: rgba(0,0,0,0.01);
}


#myModal {
	#overflow:hidden;
}

@media screen and (max-width: 700px) {
	#myModal {
		#margin:0px 10px;
	}
	.proggresive {
		width:100%;
	}
}
	
@media screen and (max-width: 980px) {
	#localVideoContainer { 
		display:none !important;
	}
}

.peer-avatar {
	display:none;
	background:rgba(0,0,0,0.5);
	color:white;
	vertical-align:middle;
}


.user-elm {
	z-index:500;
	text-align:center;
	position:relative;
	float:left;
	margin-right:0px;
	border:3px solid rgba(0,0,0,1);
	margin-bottom:0px;
}

.peer-avatar-label {
	background: rgba(0, 0, 0, 0.5);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-size:1.2em;
	width: 150px;
	height: 150px;
	padding: 0px
}

.videoContainer {
    position: relative;
    width: 150px;
    height: 150px;
    overflow:hidden;
}

.btn-peer {
	width:150px;
}

@media screen and (max-width: 700px) {
	.peer-avatar-label {
		font-size:0.7em;
		overflow:hidden;
		width: 90px;
		max-width: 90px;
		height: 90px;
	}
	
	.videoContainer {
	    width: 90px;
	    height: 90px;
	}
	
	.btn-peer {
		font-size:0.6em;
		width:90px;
	}
	
	.btn-medium {
		font-size:0.6em;
		min-width:20px !important;
		margin:0px !important;
	}	
}

#localScreen {
	display:none;
}

.peer-controls {
	display:none;
	z-index:9999;	
	position: absolute;
	top: -50px;
}

.video-dropdown {
	position: absolute;
	right:5px;
	top: 5px;
	cursor:pointer;
	z-index:9999;
	width:26px;
	height:23px;
	border-radius:5px;
	background: rgba(0,0,0,0.3)
}

.peer-control-lbl {
	width:26px;
	margin-right:3px;
	height:23px;
	float:left;
	border-radius:5px;
}

.video-label {
	width:30%;
	background:rgb(50, 56, 59);
	color:white;
	font-size:16px;
	padding:5px;
	text-align:center;
	display:inline;
	font-weight:bold;
}

.button-margin {
	margin-top:4px;
}

.event-link-share {
	cursor: pointer;
}

#chat-container {
	position:relative;
	background: rgba(40,40,40, 0.99);
	display: table-cell;
	vertical-align: middle;
	padding: 0px;
	padding-left: 25px;
	position: fixed;
	top: 0px;
	width: 350px;
	height: 100%;
}




/* cropper */

.eg-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.eg-main {
  max-height: 480px;
  margin-bottom: 30px;
}

.eg-wrapper {
  background-color: #f7f7f7;
  border: 1px solid #eee;
  box-shadow: inset 0 0 3px #f7f7f7;
  height: 480px;
  width: 100%;
  overflow: hidden;
}

.eg-wrapper img {
  width: 100%;
}

.eg-preview {
  margin-bottom: 15px;
}

.preview {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  background: #f7f7f7;
}

.avatar {
	max-width:264px;
	max-height:264px;
}

.preview-lg {
  width: 264px;
  height: 264px;
}

.preview-md {
  width: 64px;
  height: 64px;
}

.preview-sm {
  width: 32px;
  height: 32px;  
}

.preview-xs {
  width: 16px;
  height: 16px;
}

.eg-data {
  padding-right: 15px;
}

.eg-data .input-group {
  width: 100%;
  margin-bottom: 15px;
}

.eg-data .input-group-addon {
  min-width: 65px;
}

.eg-button > .btn {
  margin-right: 15px;
  margin-bottom: 15px;
}

.eg-input .input-group {
  margin-bottom: 15px;
}

.eg-output .btn {
  margin-right: 15px;
  margin-bottom: 15px;
}

.eg-output img {
  max-height: 214px;
}
