#{extends 'main.html' /} 
#{set 'title'}
	&{'notifications'}
#{/set}

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
#{/set}

<div class="container" style="min-height:50vh">
	<div>
		<div class="row">
			<div class="col-md-12">
				<h2><i class="fa fa-envelope-o"></i> &{'notifications'}</h2>
				<div class="separator-2"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked" role="tablist">
					<li #{if !action} class="active" #{/if}><a href="/mail">&{'Inbox'}</a></li>
					<li #{if action && action.equals("new")} class="active" #{/if}><a href="/mail?action=new">&{'compose-new'}</a></li>
					<li #{if action && action.equals("sent")} class="active" #{/if}><a href="/mail?action=sent">&{'sent-messages'}</a></li>
				</ul>		
				<br/>		
			</div>	
					
 			<div class="col-md-10">
 
  				#{if thread}
				<table class="table  ">
					#{list items:thread, as:'item'}
				       <tr #{if !item.read && item.toUser.equals(user)} style="font-weight:bold" #{/if} #{if message.uuid == item.uuid} class="active" #{/if}>
				       	   	<td style="vertical-align:middle">
				       	   		<img class="avatar16 img-circle" src="../${item.fromUser.avatarUrl}_32x32" height="16px"> ${item.fromUser.fullName} &middot;
								<a href="/mail/${item.uuid}">${item.subject}</a>	
				       		</td>
				       		<td style="vertical-align:middle">
				       			${item.created.format("dd MMM")},
				   				#{time time:item.created/}
				       		</td>
					   </tr>
					   
					   #{if message.uuid == item.uuid}
					   <tr>
					   		<td colspan="5">
								<dl class="dl-horizontal opacity">
									  <dt>&{'subject'}</dt>
									  <dd>${item.subject}</dd>
									  <dt><strong>&{'from'}</strong></dt>
									  <dd><nobr><img class="img-circle avatar16" src="/${item.fromUser.avatarUrl}_32x32" height="16px"> <a href="/user/${item.fromUser.login}">${item.fromUser.fullName}</a></nobr></dd>
									  <dt><strong>To</strong></dt>
									  <dd><nobr><img class="img-circle avatar16" src="/${item.toUser.avatarUrl}_32x32" height="16px"> <a href="/user/${item.toUser.login}">${item.toUser.fullName}</a></nobr></dd>
								</dl>
							   ${item.getHtmlBody().raw()}
					   		</td>
					   </tr>
					   #{/if}
					   
					#{/list}							
				</table>
				
				<button type="button" class="reply-button btn btn-default pull-right ">&{'write-reply'}</button>
				<script>
					$(".reply-button").click(function(){
					    $(this).hide();
					    $(".reply-form").removeClass("hidden");
					});
				</script>

				<div class="clearfix"></div>
 				<form action="/mail-new" role="form" method="post" class="reply-form hidden">
 					<input type="hidden" name="url" value="${request.url.urlEncode()}">
 					<input type="hidden" name="thread" value="#{if message && message.thread}${message.thread}#{/if}#{else}${message.uuid}#{/else}">
					<div class="form-group">
						<label for="exampleInputEmail1">&{'write-reply'}</label>
					    <input type="text" class="form-control" name="subject" id="exampleInputEmail1" placeholder="&{'subject'}" value="${message.subject}">
					</div>
				    <div class="form-group">
						<input type="text" class="form-control typeahead" autocomplete="off" placeholder="&{'contact-name-or-email'}" maxlength="50" name="toUser" value="${message.fromUser.login}" data-provide="typeahead">
				    </div>
					<div class="form-group has-feedback">			    
				    	<textarea rows="7" cols="" class="form-control" placeholder="&{'message'}" name="emailBody" style="margin-top:5px"></textarea>
				    	#{include 'help.html' /}
				    	<div class="alert alert-danger">#{error 'emailBody' /}</div>
				    </div>		
					<div class="form-group">			    
				        <button type="submit" class="pull-right btn btn-default popup-event-notify">&{'submit'}</button>
		  				<div class="clearfix"></div>
				    </div>				    			
				</form>
				#{/if}
 			
 				#{elseif action && action.equals("new")}	
				<div class="error">#{error 'email' /}</div>		
 				<form action="/mail-new" role="form" method="post" class="margin-clear">
 					<input type="hidden" name="url" value="${request.url.urlEncode()}">
					<div class="form-group">
						<label for="exampleInputEmail1">&{'subject'}</label>
					    <input type="text" class="form-control" name="subject" id="exampleInputEmail1" placeholder="&{'subject'}" value="#{if params.subject}${params.subject}#{/if}#{else}${request.params.subject}#{/else}">
					</div>
					<div class="alert alert-danger">#{error 'subject' /}</div>
					
					<label for="exampleInputEmail1">To</label>
					<div class="form-group">
						<input type="text" class="form-control typeahead" autocomplete="off" placeholder="&{'contact-name-or-email'}" maxlength="50" name="toUser" data-provide="typeahead" value="#{if params.toUser}${params.toUser}#{/if}#{else}${request.params.to}#{/else}">
					</div>
					<div class="alert alert-danger">#{error 'userTo' /}</div>
					
					<div class="form-group has-feedback">			    
						<label for="exampleInputEmail1" >Body</label>
				    	<textarea rows="15" class="form-control" placeholder="&{'message'}" name="emailBody">${params.emailBody}</textarea>
				    	#{include 'help.html' /}
				    </div>
				    <div class="alert alert-danger">#{error 'emailBody' /}</div>
				    
					<div class="form-group">			    
				        <button type="submit" class="pull-right btn btn-default popup-event-notify">&{'submit'}</button>
		  				<div class="clearfix"></div>
				    </div>
  				</form>	
  				#{/elseif}
 			
 			
 				#{elseif !action}
				<table class="table table-hover table-striped">
					#{list items:received, as:'item'}
				       <tr #{if !item.read && item.toUser.equals(user)} style="font-weight:bold" #{/if}>
				       	   	<td style="vertical-align:middle">
				       	   		<img class="avatar16 img-circle" src="/${item.fromUser.avatarUrl}_32x32" height="16px"> ${item.fromUser.fullName} &middot;
								<a href="/mail/${item.uuid}">${item.subject}</a>	
				       		</td>
				       		<td style="vertical-align:middle">
				       			${item.created.format("dd MMM")},
				   				#{time time:item.created/}
				       		</td>
					   </tr>
					#{/list}							
				</table>
				<div style="text-align:center">
					#{if from > 0}
						<a href="/mail?from=${from-50}" class="btn btn-gray btn-sm">&{'newer'}</a>
					#{/if}
					#{else}
						<button class="btn btn-gray btn-sm" disabled="disabled">&{'newer'}</button>
					#{/else}
					#{if received.size() > 0}
						<a href="/mail?action=${action}&from=${from+50}" class="btn btn-gray btn-sm">&{'older'}</a>
					#{/if}
					#{else}
						<button class="btn btn-gray btn-sm" disabled="disabled">&{'older'}</button>
					#{/else}
				</div>				
				#{/elseif}

 				#{elseif action && action.equals("sent")}
				<table class="table table-hover table-striped">
					#{list items:sent, as:'item'}
				       <tr #{if !item.read && item.toUser.equals(user)} style="font-weight:bold" #{/if}>
				       	   	<td style="vertical-align:middle">
				       	   		<img class="avatar16 img-circle" src="/${item.toUser.avatarUrl}_32x32"> ${item.toUser.fullName} &middot;
				       	   		<a href="/mail/${item.uuid}">${item.subject}</a>	
				       		</td>
				       		<td style="vertical-align:middle">
				       			${item.created.format("dd MMM")},
				   				#{time time:item.created/}
				       		</td>
					   </tr>
					#{/list}							
				</table>
				<div style="text-align:center">
					#{if from > 0}
						<a href="/mail?action=${action}&from=${from-50}" class="btn btn-gray btn-sm">&{'newer'}</a>
					#{/if}
					#{else}
						<button class="btn btn-gray btn-sm" disabled="disabled">&{'newer'}</button>
					#{/else}
					#{if sent.size() > 0}
						<a href="/mail?action=${action}&from=${from+50}" class="btn btn-gray btn-sm">&{'older'}</a>
					#{/if}
					#{else}
						<button class="btn btn-gray btn-sm" disabled="disabled">&{'older'}</button>
					#{/else}
				</div>
				#{/elseif}
				
				<script>
				  	$(".typeahead").typeahead(
					  	{
					  	    minLength : 2, 
					  	    source : function(value, process){
								  	    $.get("/invites?str="+value, function(data){
								  	        var list = [];
									  	    for(var i in data){
									  	        var item = data[i].name + " ("+data[i].login + ")";
									  	        list.push(item);
									  	    }
								  	        process(list);
								  	    });
					  				},
					  		updater : function(item){
					  		    return item;
					  		}, 
					  		matcher : function(item){
					  		    return true;
					  		}
					  	}
				  	);
				</script>					
			</div>
		</div>
	</div>
</div>





