#{extends 'main.html' /} 
#{set title:'Join Event' /} 
#{set 'moreScripts'}
#{/set}


<div class="container" style="min-height:40vh">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<form role="form" action="" onsubmit="return validate()" method="POST">
			    
			    <h2 class="">&{'join-vide-conference'}</h2>
			    <div class="divider"></div>
			    
				<div class="form-group">
					<input type="text" class="form-control" id="name" name="name" placeholder="&{'your-name'}" focused/> 
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default btn-block" value="&{'join'}" />
					&{'or'} <a href="/login?url=${url}">&{'sign-in'}</a>
				</div>
			</form>
			<script>
				function validate(){
				    if($("#name").val().length > 2){
				        return true;
				    } 
			        return false;
				}
				document.getElementById("name").focus();
			</script>			
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
			    



