#{extends 'raw.html' /} 
#{i18n /}

#{set 'moreStyles'}
        <style>
        	.body {
        		background: black;
        		height: 80vh;
        	}
			.video-element {
				border: 3px solid rgba(0,0,0,0);
			}
			.body video {
				#transform: scale(1.4);
			}
			.footer{
				display:none;
			}
        </style>
#{/set}
#{set 'moreScripts'}

#{/set}

#{set 'moreHtml'}
#{/set}


<!-- Chat box -->
<div>
	<div id="chat-container" style="right:-325px;z-index: 9999;">
		<div class="color-link-light" id="chat-slider" style="display:table-cell;vertical-align:middle;position:absolute;left:6px;height:100%"><i class="fa fa-chevron-left"></i></div>
		<div style="height:100%">
			<div id="content" class="form-control" style="background:black;font-size:0.8em;color:white;height: 90%; overflow-y: scroll; border: 0px;"></div>
			<div class="controls">
				<form onsubmit="return false;">
					<div class="input-group">
						<input type="text" id="chat-text" class="form-control transparent" style="height:40px;"><input id="chat-name" type="hidden" value="${name}"> 
						<span class="input-group-btn">
							<button id="chat-send" class="btn btn-gray btn-short margin-clear" style="height:40px;">Send</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- Share Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
        <h3 class="modal-title" id="myModalLabel"><i class="fa fa-link"></i> Share</h3>
      </div>
      <div class="modal-body">
      	<input id="share-link" type="text" class="form-control" value="${request.base + request.url}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-short" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div style="text-align:center;">
	<br/>
	<div id="controls">
		<div class="button-group">
			<button type="button" id="controls-mute" class="btn btn-dark btn-medium" ><i class="icon-sound"></i></button>
			<button type="button" id="screenShareButton" class="btn btn-dark btn-medium"><i class="fa fa-desktop"></i></button>
			<button type="button" id="controls-switchauto" class="btn btn-dark btn-medium" ><i class="fa fa-cog"></i></button>
			<button class="btn btn-dark btn-medium" data-toggle="modal" data-target="#myModal"><i class="fa fa-link"></i></button>
			<button type="button" id="controls-hangup" class="opacity btn btn-danger btn-medium" ><i class="fa fa-phone"></i></button>
		</div>
	</div>
	
	<div style="width:100%; position:absolute;bottom:0px;text-align:center">
		<div id="remotes">
			<div class="videoContainer"><video id="localVideo" oncontextmenu="return false;"></video></div>
			<div id="localScreenContainer" class="videoContainer"></div>
		</div>
	</div>
</div>



<script>
    star.user = '${name}';
    star.room = '${room}';
    star.userInRoom = true;
    star.server_host = '${socketIo}';
    star.livestream = true;
    star.peerId = null;
</script>
<script src="${socketIo}/socket.io/socket.io.js"></script>
<script src="@{'/public/javascripts/lib/simpleWebRtc.js'}" type="text/javascript" ></script>
<script src="@{'/public/javascripts/room.js'}" type="text/javascript"></script>
<div class="clear"></div>
