#{extends 'main.html' /} 
#{set raw: true /}

#{set 'title'}
	#{if e} ${e.listing.title} #{/if}
#{/set}


#{set 'moreStyles'}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
       <style>
       	.body {
       		background: black;
       		height: 100vh;
       	}
		.video-element {
			border: 3px solid rgba(0,0,0,0);
		}
		video {
			width: 100%;
			max-height: 99.5vh;
		}
		#localVideo {
			transform: scale(-1);
		}
		.video-screen {
			//position:fixed;
			//top:0px;
			//z-index:-1;
			//height:100%;
		}
		.video-screen-mimized {
			position:inherit;
			z-index:0;
			height:100%;
		}
		.sharescreen {
			position: fixed;
			top: 0px;
			height: 100%;				
		}
		.controls {
			font-size: 20px;
			padding: 10px;
			width: 50px;
			border-radius: 50px !important;
			border: 0px;
			margin-left: 5px;
		}
		
		.modal.in {
			background: rgba(0,0,0,0.1);
		}
		
		.controls.btn-dark {
			background: none;
		}
		
		.controls:hover {
			font-size: 42px;
			width: 80px;
			border-radius: 80px !important;
			border: 0px;
		}
		
       </style>
#{/set}
#{set 'moreScripts'}
	<script src="@{'/public/javascripts/lib/jquery-ui.custom.min.js'}" type="text/javascript" ></script>
	<script src="@{'/public/javascripts/lib/jquery.ui.touch.js'}" type="text/javascript"></script>	
	<script src="@{'/public/javascripts/utils.js'}" type="text/javascript"></script>	
	<script src="@{'/public/javascripts/widgr.js'}" type="text/javascript"></script>	 
	<script src="@{'/public/javascripts/lib/getScreenId.js'}" type="text/javascript"></script>	
	<script>
		$(document).ready(function(){
		    #{if user}
		  	$("#dialog-invite-input").typeahead(
			  	{
			  	    minLength : 2, 
			  	    source : function(value, process){
						  	    $.get("/invites?str="+value, function(data){
						  	        var list = [];
							  	    for(var i in data){
							  	        var item = data[i].name + " ("+data[i].login + ")";
							  	        list.push(item);
							  	    }
						  	        process(list);
						  	    });
			  				},
			  		updater : function(item){
			  		    return item;
			  		}, 
			  		matcher : function(item){
			  		    return true;
			  		}
			  	}
		  	);
			#{/if}
		  	star.invites = [];
		  	$(".dialog-invite-button").click(function(){
		  	    if($("#dialog-invite-input").val().match(/\((.*?)\)/))
		  	    	star.invites.push($("#dialog-invite-input").val().match(/\((.*?)\)/)[1]);
		  		else
		  	    	star.invites.push($("#dialog-invite-input").val());
		  		    
		  	  	$(".invite-container").append("<br/><label class='invite-item'>"+$("#dialog-invite-input").val()+"</label>");
		  		$("#dialog-invite-input").val("");
		  		$(".invite-share").removeAttr('disabled');
		  	});
		  	$(document).on("click", ".invite-share", function(){
		  	  	var data = {};
		  	  	data.user = star.user;
		  	  	data.room = star.room;
		  	  	data.invites = star.invites;
		  	  	starServices.hangoutInvite(data, function(){
		  	    	$(".invite-container").html("");
		  	    	star.invites = [];
		  	    	$(".dialog-close").click();
			  		$(".invite-share").attr('disabled','disabled');
		  	  	});
		  	});
		});
	</script>	
#{/set}

<div id="fb-root"></div>


<!-- Canvas -->
<div class="canvas-container ui-widget-content shadow-small modal-content draggable" style="background: #fafafa; display: none; position:fixed;z-index: 999;" >
	<div class="modal-header drag-slider" id="canvas-slider">
    	<button type="button" class="close" onclick="canvas.close()"><span>&times;</span><span class="sr-only">Cancel</span></button>
    	<h3 class="modal-title" id="myModalLabel"><i class="fa fa-paint-brush"></i> &{'canvas'}</h3>
    </div>
    <div style="padding:0px 10px">
	    <button class="btn btn-light-gray btn-short " id="mode-pen" onclick="canvas.mode('pen')" rel="tooltip" data-original-title="&{'paint'}"><i class="fa fa-paint-brush"></i></button>
	    <button class="btn btn-light-gray btn-short " id="mode-eraser" onclick="canvas.mode('eraser')" rel="tooltip" data-original-title="&{'eraser'}"><i class="fa fa-eraser"></i></button>
	    <button class="btn btn-light-gray btn-short " id="undo" onclick="canvas.undo()" rel="tooltip" data-original-title="&{'undo'}"><i class="fa fa-undo"></i></button>
	    <button class="btn btn-light-gray btn-short " id="clr" onclick="canvas.erase()" rel="tooltip" data-original-title="&{'clear'}"><i class="fa fa-trash"></i></button>
	    <button class="btn btn-light-gray btn-short " id="btn" onclick="canvas.share(this)" rel="tooltip" data-original-title="&{'share'}" ><i class="fa fa-share-alt"></i></button>
	    #{if event}
	    <button class="btn btn-light-gray btn-short " id="btn" onclick="canvas.save()" rel="tooltip" data-original-title="&{'save-painting'}"><i class="fa fa-upload"></i></button>
	    #{/if}
	    <input type="text" id="canvas-name" class="form-control" style="width:150px;display:inline-block" placeholder="&{'canvas-name'}">
    </div>
    <canvas class="canvas-paper" width="460" height="300" style="background-image: url('../images/canvas_pattern_0.jpg');background-repeat: repeat;background-position: 0 0;"></canvas>
</div>



<!-- comments -->
#{if event}
<div class="comments-container modal-content ui-widget-shadow-small shadow-small draggable" style="display:none; background: white; position:fixed;z-index: 999;border:1px solid silver">
	<div class="modal-header drag-slider" id="comments-slider">
    	<button type="button" class="close" onclick="canvas.commentsClose()"><span>&times;</span><span class="sr-only">Cancel</span></button>
    	<h3 class="modal-title" id="myModalLabel"><i class="icon-docs"></i> &{'posts-and-uploads'}</h3>
    </div>
	<div class="comments-resize-2" style="height:400px; width: 400px; padding:10px; padding-top:0px; margin:10px; background: white">
		<div style="overflow-y: scroll; overflow-x:hidden; height:100%;padding:15px">
		#{set objectType:"event" /}
		#{set object:event /}
		#{include 'comments.html' /}
		</div>
	</div>			
</div>	
#{/if}



<!-- Install extension modal -->
<div class="modal" id="extensionModal" tabindex="-1" role="dialog" aria-labelledby="extensionModal" aria-hidden="true">
  <div class="modal-dialog shadow-outset">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">&{'cancel'}</span></button>
        <h3 class="modal-title" id="myModalLabel"><i class="fa fa-cogs"></i> &{'extension-needs-to-be-installed'}</h3>
      </div>
      <div class="modal-body">
	    <div class="form-group">
	    	&{'extension-needs-to-be-installed-message'}
	    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light-gray btn-short dialog-close" data-dismiss="modal">&{'cancel'}</button>
      </div>
    </div>
  </div>
</div>


<!-- Share Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog shadow-outset">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">&{'cancel'}</span></button>
        <h3 class="modal-title" id="myModalLabel"><i class="icon-user-add"></i> &{'share-with-more'}</h3>
      </div>
      <div class="modal-body">
	    <div class="form-group">
	    	<label for="share-link">&{'share-via-link'}</label>
	      	<input id="share-link" type="text" class="form-control" value="${baseUrl}/room?id=${room}" onclick="javascript:$(this).select();">
	    </div>
	    <div class="form-group">
	    	<label for="share-link">&{'send-notification'}</label>
		    <div class="input-group" style="width:100%">
				<input type="text" class="form-control" autocomplete="off" placeholder="&{'contact-name-or-email'}" maxlength="50" name="email" id="dialog-invite-input" data-provide="typeahead">
			    <span class="input-group-btn">
			    	<button class="btn btn-default btn-short dialog-invite-button" style="margin:0px;height:40px" type="button">&{'add'}</button>
			    </span>
		    </div>
	    </div>
	    <div class="form-group invite-container">
	    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-short invite-share" disabled="disabled">&{'send-invitation'}</button>
        <button type="button" class="btn btn-light-gray btn-short dialog-close" data-dismiss="modal">&{'cancel'}</button>
      </div>
    </div>
  </div>
</div>


<table style="width:100%;height:100%;position:relative;">
	<tr>
		<!-- content -->
		<td class="maximized-container" style="position:relative;text-align:center">
		
			#{if user}
			<div class="logo small-hide" style="position:absolute;top:30px;right:30px;z-index:20">
				<a href="/dashboard"><img class="img-circle" src="${user.avatarUrl}_32x32"></a>
			</div>
			#{/if}	
			
			<div class="logo small-hide" style="position:absolute;top:30px;left:20px;opacity: 0.7;z-index:20;text-align: left">
				<img style="height:30px" src="/public/images/logo_purple_footer.png">
				#{if event}
					<h6><a href="/event/${event.uuid}" class="white-link text-shadow2">${event.listing.title}</a></h6>
				#{/if}
			</div>
				
			<div class="ready-join-session" style="position: absolute; width:100%; top:50%;z-index: 10000">
				<h2 class="white-link text-shadow2" style="color:white">Ready to join Session #{if event}&bdquo;${event.listing.title}&rdquo;#{/if} ?</h2>
				<button type="button" id="btn-call-start" class="btn btn-default dialog-close shadow-small" style="display: none" data-dismiss="modal">&{'join'}</button>
			</div>				
				
			<div style="position: absolute;top:20px;width:inherit;z-index:10;width:100%">
				<div style="opacity:0.7;">
					<div class="btn-group control-buttons">
						<button id="controls-mute" class="controls text-shadow btn btn-dark btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'mute'}"><i class="icon-sound"></i></button>
						<button id="controls-camera" class="controls text-shadow btn btn-dark btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'turn-camera-off'}"><i class="fa fa-eye-slash"></i></button>
						<button id="screenShareButton" class="controls text-shadow btn btn-dark btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'share-your-screen'}"><i class="fa fa-desktop"></i></button>
						<button id="canvas-open" class="controls text-shadow btn btn-dark btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'open-canvas'}"><i class="fa fa-paint-brush"></i></button>
						<button id="controls-hangup" class="controls text-shadow btn btn-danger btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'hang-up'}"><i class="fa fa-phone"></i></button>
						<a href="${request.url}" class="controls text-shadow btn btn-dark btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'refresh'}"><i class="fa fa-refresh"></i></a>
						<button id="comments-open" class="controls text-shadow btn btn-dark btn-medium" #{if event == null} disabled#{/if} rel="tooltip" data-placement="bottom" data-original-title="&{'posts-and-uploads'}"><i class="icon-docs"></i></button>
						<button class="controls text-shadow btn btn-dark btn-medium" data-toggle="modal" data-target="#myModal" rel="tooltip" data-placement="bottom" data-original-title="&{'share-with-more'}"><i class="icon-user-add"></i></button>
						<button id="chat-open" class="controls text-shadow btn btn-dark btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'open-canvas'}"><i class="fa fa-comments-o"></i></button>
					</div>
				</div>
			</div>
			
			<div style="position:absolute;left:10px;bottom:10px;">
				<div id="remotes" style="display:none">
					<div class="videoContainer"><video id="localVideo" oncontextmenu="return false;"></video></div>
					<div id="localScreenContainer" class="videoContainer"></div>
				</div>
			</div>
		</td>
	
	
		<!-- right panel -->
		<td class="right-panel" style="width:350px;background: white;display:none;padding:10px; z-index:1000; position:relative;vertical-align:bottom">
			<div class="widgr-chat-content-team" style="max-height:90vh;overflow-y: auto; text-align:left; color:black;width:330px;position:absolute;top:10px">
				<p style="text-align:center;"><a style="cursor:pointer;font-weight: bold" data-from="0" class="team-feeds-load">&{'previous-messages'}</a> <a href="#" id="chat-close"><i class="pull-left fa fa-times"></i></a></p>
			</div>
			<div class="input-group" style="margin-top:10px;width:330px;">
				<input id="chat-text3" class="form-control" maxlength="400" placeholder="&{'enter-your-message'}"> 
				<span class="input-group-btn">
					<button id="chat-send3" class="btn btn-dark btn-short" style="margin:0px;height:40px"><i class="fa fa-share"></i></button>
				</span>
			</div>	
		</td>	
	</tr>
</table>



<script>
    star.user = '${name.escapeJavaScript()}';
    star.userUuid = '${user.uuid}';
    star.userName = '${user.getFullName().escapeJavaScript()}';
    star.userAvatar = '${user.avatarUrl}';
    star.room = '${room.escapeJavaScript()}';
    star.chatRoom = '${room.escapeJavaScript()}';
    #{if user}
    	star.login = '${user.login.escapeJavaScript()}';
    	star.avatar = '${user.avatarUrl.escapeJavaScript()}';
    #{/if}
    star.userInRoom = true;
    star.server_host = '${socketIo.escapeJavaScript()}';
    star.livestream = true;
    star.peerId = null;
</script>
<script src="${socketIo}/socket.io/socket.io.js"></script>
<script src="@{'/public/javascripts/lib/simpleWebRtc.js'}" type="text/javascript" ></script>
<script src="@{'/public/javascripts/room.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/canvas.js'}" type="text/javascript"></script>
<div class="clear"></div>
<video id="screen-unique-id" class="sharescreen" autoplay="autoplay" ></video>
