#{extends 'raw.html' /} 

#{set 'moreStyles'}
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
        <style>
        	.body {
        		background: black;
        		height: 100vh;
        	}
			.video-element {
				border: 3px solid rgba(0,0,0,0);
			}
			.footer{
				display:none;
			}
			
			video {
				width: 100%;
				z-index: -10;
			}
			#localVideo {
				transform: scale(-1);
			}
			.video-screen {
				position:fixed;
				top:0px;
				z-index:-1;
				height:100%;
			}
			.video-screen-mimized {
				position:inherit;
				z-index:0;
				height:100%;
			}
			.sharescreen {
				position: fixed;
				top: 0px;
				height: 100%;				
			}
        </style>
#{/set}
#{set 'moreScripts'}
	<!-- 
	<script src="//cdn.firebase.com/v0/firebase.js"></script>
	<script src="//cdn.webrtc-experiment.com/screen.js"></script>
	 -->

	<script src="@{'/public/javascripts/lib/jquery-ui.custom.min.js'}" type="text/javascript" ></script>
	<script src="@{'/public/javascripts/utils.js'}" type="text/javascript"></script>	
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	 
	<script src="@{'/public/javascripts/lib/getScreenId.js'}" type="text/javascript"></script>	
#{/set}

#{set 'moreHtml'}
#{/set}


<!-- Chat box -->
<div>
	<div id="chat-container" style="right:-325px;z-index: 9999;height:100%">
		<div class="color-link-light" id="chat-slider" style="display:table;position:absolute;left:6px;top:0px;height:100%;">
			<div style="height:100%; display:table-cell; vertical-align:middle;">
			<i class="fa fa-chevron-left" style=""></i>
			</div>
		</div>
		<div style="height:100%">
			<div id="content" class="form-control shadow-outset" style="background:rgba(0, 0, 0, 0.6);font-size:0.8em;color:white;height: 90%; overflow-y: scroll; border: 0px;"></div>
			<div class="controls">
				<form onsubmit="return false;">
					<div class="input-group">
						<input id="chat-text" class="form-control" style="color:white; border:0px; background: rgba(13, 13, 13, 0.6)" placeholder="&{'enter-your-message'}"> 
						<input id="chat-name" type="hidden" value="${name}"> 
						<span class="input-group-btn">
							<button id="chat-send" class="btn btn-default btn-short margin-clear" style="height:40px;">&{'send'}</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- Canvas -->
<div class="well canvas-container ui-widget-content shadow-outset" style="background: #efefef; position:fixed;display:none;z-index: 9999" >
	<span id="canvas-slider" class="canvas-slider btn btn-light-gray btn-block btn-sm margin-top-clear">Sketch</span>
    <div></div>
    <canvas class="canvas-paper" width="200px" height="200px" style="background: white;"></canvas>
    <input class="btn btn-default btn-sm margin-bottom-clear" type="button" value="save" id="btn" size="30" onclick="canvas.save()" >
    <input class="btn btn-default btn-sm margin-bottom-clear" type="button" value="clear" id="clr" size="23" onclick="canvas.erase()">
    <img id="canvasimg" style="display:none;">
</div>



#{if user}
<div class="logo" style="position:fixed;top:25px;right:50px; z-index: 100">
	<a href="/dashboard"><img class="img-circle" style="border:1px solid #333" src="${user.avatarUrl}_32x32"></a>
</div>
#{/if}	


<div class="logo" style="position:fixed;top:20px;left:20px;opacity: 0.7;"><img style="height:40px" src="/public/images/logo_purple_footer.png"></div>

<!-- Install extension modal -->
<div class="modal" id="extensionModal" tabindex="-1" role="dialog" aria-labelledby="extensionModal" aria-hidden="true">
  <div class="modal-dialog shadow-outset">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">&{'cancel'}</span></button>
        <h3 class="modal-title" id="myModalLabel"><i class="fa fa-cogs"></i> &{'extension-needs-to-be-installed'}</h3>
      </div>
      <div class="modal-body">
	    <div class="form-group">
	    	&{'extension-needs-to-be-installed-message'}
	    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light-gray btn-short dialog-close" data-dismiss="modal">&{'cancel'}</button>
      </div>
    </div>
  </div>
</div>


*{
#{if listing}
<!-- Rating Modal -->
<div class="modal" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModal" aria-hidden="true">
  <div class="modal-dialog shadow-outset">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">&{'cancel'}</span></button>
        <h3 class="modal-title" id="myModalLabel"><i class="icon-user"></i> &{'please-provide-a-rating'}</h3>
      </div>
      <div class="modal-body">
      	#{set ratingType:"listing" /}
      	#{set ratingsHide:true /}
      	#{include 'ratings.html' /}
      </div>
    </div>
  </div>
</div>
#{/if}
}*

<!-- Share Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog shadow-outset">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">&{'cancel'}</span></button>
        <h3 class="modal-title" id="myModalLabel"><i class="icon-user-add"></i> &{'share-with-more'}</h3>
      </div>
      <div class="modal-body">
	    <div class="form-group">
	    	<label for="share-link">&{'share-via-link'}</label>
	      	<input id="share-link" type="text" class="form-control" value="${baseUrl + request.url}" onclick="javascript:$(this).select();">
	    </div>
	    <div class="form-group">
	    	<label for="share-link">&{'send-notification'}</label>
		    <div class="input-group" style="width:100%">
				<input type="text" class="form-control" autocomplete="off" placeholder="&{'contact-name-or-email'}" maxlength="50" name="email" id="dialog-invite-input" data-provide="typeahead">
			    <span class="input-group-btn">
			    	<button class="btn btn-default btn-short dialog-invite-button" style="margin:0px;height:40px" type="button">&{'add'}</button>
			    </span>
		    </div>
	    </div>
	    <div class="form-group invite-container">
			
	    </div>
		<script>
			    #{if user}
			  	$("#dialog-invite-input").typeahead(
				  	{
				  	    minLength : 2, 
				  	    source : function(value, process){
							  	    $.get("/invites?str="+value, function(data){
							  	        var list = [];
								  	    for(var i in data){
								  	        var item = data[i].name + " ("+data[i].login + ")";
								  	        list.push(item);
								  	    }
							  	        process(list);
							  	    });
				  				},
				  		updater : function(item){
				  		    return item;
				  		}, 
				  		matcher : function(item){
				  		    return true;
				  		}
				  	}
			  	);
				#{/if}
			  	star.invites = [];
			  	$(".dialog-invite-button").click(function(){
			  	    if($("#dialog-invite-input").val().match(/\((.*?)\)/))
			  	    	star.invites.push($("#dialog-invite-input").val().match(/\((.*?)\)/)[1]);
			  		else
			  	    	star.invites.push($("#dialog-invite-input").val());
			  		    
			  	  	$(".invite-container").append("<br/><label class='invite-item'>"+$("#dialog-invite-input").val()+"</label>");
			  		$("#dialog-invite-input").val("");
			  		$(".invite-share").removeAttr('disabled');
			  	});
			  	$(document).on("click", ".invite-share", function(){
			  	  	var data = {};
			  	  	data.user = star.user;
			  	  	data.room = star.room;
			  	  	data.invites = star.invites;
			  	  	starServices.hangoutInvite(data, function(){
			  	    	$(".invite-container").html("");
			  	    	star.invites = [];
			  	    	$(".dialog-close").click();
				  		$(".invite-share").attr('disabled','disabled');
			  	  	});
			  	});
		</script>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-short invite-share" disabled="disabled">&{'send-invitation'}</button>
        <button type="button" class="btn btn-light-gray btn-short dialog-close" data-dismiss="modal">&{'cancel'}</button>
      </div>
    </div>
  </div>
</div>


<div style="text-align:center;">
	<br/>
	<div style="opacity:0.7">
		<div class="btn-group">
			<button type="button" id="controls-mute" class="controls btn btn-dark btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'mute'}"><i class="icon-sound"></i></button>
			<button type="button" id="controls-camera" class="controls btn btn-dark btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'turn-camera-off'}"><i class="fa fa-eye-slash"></i></button>
			<button type="button" id="screenShareButton" class="controls btn btn-dark btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'share-your-screen'}"><i class="fa fa-desktop"></i></button>
			<button class="controls btn btn-dark btn-medium" data-toggle="modal" data-target="#myModal" rel="tooltip" data-placement="bottom" data-original-title="&{'share-with-more'}"><i class="icon-user-add"></i></button>
			<a href="${request.url}" class="btn btn-dark btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'refresh'}"><i class="fa fa-refresh"></i></a>
			<button type="button" id="controls-hangup" class="controls btn btn-danger btn-medium" rel="tooltip" data-placement="bottom" data-original-title="&{'hang-up'}"><i class="fa fa-phone"></i></button>
		</div>
	</div>
	
	<div style="width:100%; position:absolute;bottom:0px;text-align:center">
		<div id="remotes">
			<div class="videoContainer"><video id="localVideo" oncontextmenu="return false;"></video></div>
			<div id="localScreenContainer" class="videoContainer"></div>
		</div>
	</div>
</div>



<script>
    star.user = '${name}';
    star.room = '${room}';
    #{if user}
    	star.avatar = '${user.avatarUrl}';
    #{/if}
    star.userInRoom = true;
    star.server_host = '${socketIo}';
    star.livestream = true;
    star.peerId = null;
</script>
<script src="${socketIo}/socket.io/socket.io.js"></script>
<script src="@{'/public/javascripts/lib/simpleWebRtc.js'}" type="text/javascript" ></script>
<script src="@{'/public/javascripts/room.js'}" type="text/javascript"></script>
<div class="clear"></div>
<video id="screen-unique-id" class="sharescreen" autoplay="autoplay" ></video>
