#{extends 'main.html' /} 
#{set 'title'}
	&{'manage-contacts'}
#{/set}


#{set 'moreScripts'}
#{/set}



<div class="container">				
	<div class="row">
		<div class="col-md-12" style="min-height:40vh">
			<h2><i class="icon-users"></i> &{'manage-contacts'}</h2>
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th>&{'name'}</th>
						<th></th>
						<th>&{'status'}</th>
						<th>&{'actions'}</th>
					</tr>
				</thead>
				#{list items:contacts, as:'item'}
					<tr>
						<td>
					  		#{if item.contact.isOnline()}
					  			<i class="text-default icon-record"></i>
							#{/if}
							#{else}
					  			<i style="color:gray" class="icon-record"></i>
							#{/else}						
							<img class="avatar22" src="${item.contact.avatarUrl}_32x32">
							<a href="/user/${item.contact.login}">${item.contact.fullName}</a>
						</td>
						<td>
							<a href="/mail?action=new&to=${item.contact.login}">&{'write-a-message'}</a>
						</td>
						<td>
							#{if item.blocked}
								<span class="label label-danger">&{'blocked'}</span>
							#{/if}
							#{if item.following}
								<span class="label label-default">&{'following'}</span>
							#{/if}
						</td>
						<td>
							#{if item.blocked}
								<a href="/contact-unblock?uuid=${item.uuid}&url=${request.url.urlEncode()}&#{token /}" class="btn btn-gray btn-sm btn-short btn-margin">&{'unblock'}</a>
							#{/if}
							#{else}
								<a href="/contact-block?uuid=${item.uuid}&url=${request.url.urlEncode()}&#{token /}" class="btn btn-light-gray btn-sm btn-short btn-margin">&{'block'}</a>
							#{/else}
							
							#{if item.following}
								<a href="/contact-unfollow?uuid=${item.uuid}&url=${request.url.urlEncode()}&#{token /}" class="btn btn-gray btn-sm btn-short btn-margin">&{'unfollow'}</a>
							#{/if}
							#{else}
								<a href="/contact-follow?uuid=${item.uuid}&url=${request.url.urlEncode()}&#{token /}" class="btn btn-light-gray btn-sm btn-short btn-margin">&{'follow'}</a>
							#{/else}
							
							<a href="/contact-delete?uuid=${item.uuid}&url=${request.url.urlEncode()}&#{token /}" class="btn btn-light-gray btn-sm btn-short btn-margin">&{'remove'}</a>
						</td>
					</tr>				
				#{/list}				
			</table>
		</div>
	</div>
</div>

																						
