#{extends 'main.html' /} 

#{set 'moreScripts'}
#{/set}

#{set 'moreStyles'}
#{/set}


<!-- header-top start -->
<!-- ================ -->
<div id="header-top" class="header-top banner">

	<!-- slideshow start -->
	<!-- ================ -->
	<div class="slideshow">
		
		<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-banner-container">
			<div class="slider-banner-fullscreen">
				<ul>
					<!-- slide 1 start -->
					<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Slide 1">
					
					<!-- main image -->
					<img src="images/page-about-banner-2.jpg"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

					<!-- LAYER NR. 1 -->
					<div class="tp-caption very_large_text sfr text-shadow"
						data-x="center"
						data-y="70" 
						data-speed="600"
						data-start="1200"
						data-end="10000"
						data-endspeed="600">&{'widgr-share-your-knowledge'}
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption medium_text sfb text-shadow"
						data-x="center"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="10000"
						data-endspeed="600">&{'find-help-header'}
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption medium_text sfb text-shadow"
						data-x="center"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="10000"
						data-endspeed="600">&{'get-help-header'}
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption medium_text sfb text-shadow"
						data-x="center"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="10000"
						data-endspeed="600">&{'get-paid-header'}
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption medium_text sfb text-shadow"
						data-x="center"
						data-y="500" 
						data-speed="600"
						data-start="0"
						data-end="10000"
						data-endspeed="600">
						<a href="#about" class="btn btn-lg moving smooth-scroll"><i class="fa fa-angle-double-down fa-2x"></i></a>
					</div>

					</li>
					<!-- slide 1 end -->
				</ul>
				<div class="tp-bannertimer tp-bottom"></div>
			</div>
		</div>
		<!-- slider revolution end -->

	</div>
	<!-- slideshow end -->

</div>
<!-- header-top end -->



<!-- main-container start -->
<!-- ================ -->
<section class="main-container object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300">

	<!-- section start -->
	<!-- ================ -->
	<div class="clearfix">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<br>
					<h1 class="text-center space-top" id="about">&{'about-widgr'}</h1>
					<div class="separator"></div>
					<br>
					<div class="row">
						<div class="col-md-12" style="font-size:1.2em">
							<p>
								&{'about-1'}
							</p>
							<p>
								&{'about-2'}
							</p>
							<p>
								&{'about-3'}
							</p>
						</div>

						*{
						<!-- sidebar start -->
						<aside class="sidebar col-md-6">
							<div class="side vertical-divider-left">
								<div class="block clearfix">
									<h3 class="title margin-top-clear">Intro</h3>
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="//player.vimeo.com/video/29198414?byline=0&amp;portrait=0"></iframe>
									</div>
								</div>
							</div>
						</aside>
						<!-- sidebar end -->
						}*
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
	<!-- section end -->
</section>
<!-- main-container end -->

<a id="features"></a>

<!-- section start -->
<!-- ================ -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h1 class="text-center">&{'why-choose-widgr'}</h1>
				<div class="separator"></div>
				
				<!-- Tabs start -->
				<!-- ================ -->
				<div class="vertical hc-tabs">

					<!-- Tabs Arrow -->
					<div class="arrow hidden-sm hidden-xs"><i class="fa fa-caret-up"></i></div>
					
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#tab1" role="tab" data-toggle="tab"><i class="fa fa-camera pr-10"></i> &{'widgr-feature-1'}</a></li>
						<li><a href="#tab2" role="tab" data-toggle="tab"><i class="fa fa-calendar pr-10"></i> &{'widgr-feature-2'}</a></li>
						<li><a href="#tab4" role="tab" data-toggle="tab"><i class="fa fa-credit-card pr-10"></i> &{'widgr-feature-4'}</a></li>
						<li><a href="#tab3" role="tab" data-toggle="tab"><i class="fa fa-leaf pr-10"></i> &{'widgr-feature-3'}</a></li>
						<li><a href="#tab5" role="tab" data-toggle="tab"><i class="fa fa-facebook pr-10"></i> &{'widgr-feature-5'}</a></li>
						<li><a href="#tab6" role="tab" data-toggle="tab"><i class="fa fa-google-plus pr-10"></i> &{'widgr-feature-6'}</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content" style="font-size:1.2em">
						<div class="tab-pane fade in active" id="tab1">
							<h1 class="text-center title">&{'widgr-feature-1'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-1-text'}
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab2">
							<h1 class="text-center title">&{'widgr-feature-2'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-2-text'}
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab4">
							<h1 class="text-center title">&{'widgr-feature-4'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-4-text'}
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab3">
							<h1 class="text-center title">&{'widgr-feature-3'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-3-text'}
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab5">
							<h1 class="text-center title">&{'widgr-feature-5'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-5-text'}
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab6">
							<h1 class="text-center title">&{'widgr-feature-6'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-6-text'}
								</div>
							</div>
						</div>
					</div>
					
					<!-- Tabs Top -->
					<div class="hc-tabs-top">
						<img data-tab="#tab1" src="images/section-image-1.png" data-tab-animation-effect="fadeInRightSmall">
						<img data-tab="#tab2" src="images/section-image-2.png" data-tab-animation-effect="fadeInRightSmall">
						<img data-tab="#tab4" src="images/paypal.jpg" data-tab-animation-effect="fadeInRightSmall">
						<div class="space"></div>
					</div>					
				</div>
				<!-- tabs end -->
	
			</div>
		</div>
	</div>
</div>
<!-- section end -->




<!-- section start -->
<!-- ================ -->
<div class="section text-muted footer-top clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="owl-carousel clients">
					<div class="client">
						<a ><img src="images/chrome-logo.jpg" alt=""></a>
					</div>
					<div class="client">
						<a ><img src="images/opera-logo.jpg" alt=""></a>
					</div>
					<div class="client">
						<a ><img src="images/explorer-logo.jpg" alt=""></a>
					</div>
					<div class="client">
						<a ><img src="images/firefox_logo.png" alt=""></a>
					</div>
					<div class="client">
						<a ><img src="images/safari-logo.jpg" alt=""></a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
					<h2 class="margin-clear" style="color:black">&{'get-modern-browser'}</h2>
					<p>
						&{'compatibility'}
					</p>
			</div>
		</div>
	</div>
</div>
<!-- section end -->


<a id="pricing"></a>
<!-- pricing section start -->
<!-- ================ -->
<div class="section clearfix">
	<div class="container">
		
		<!-- pricing for publishers -->
		<h1 class="text-center">&{'pricing-for-publishers'}</h1>
		<div class="separator"></div>				
		<div class="row">
			<div class="col-md-12 object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="300">
				<div class="pricing-tables stripped object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall">
					<div class="row grid-space-0">
						<!-- pricing table start -->
						<div class="col-sm-4 plan stripped">
							<div class="header">
								<h3>&{'basic'}</h3>
								<div class="price"><span>&{'free'}</span></div>
							</div>
							<ul>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="&{'fee-per-paid-event-description'}" data-original-title="5% &{'fee-per-paid-event'}" data-trigger="hover">5% &{'fee-per-paid-event'}</a>
								</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="&{'disk-space'}" title="" data-original-title="50MB &{'storage'}" data-trigger="hover">50MB &{'storage'}</a>
								</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="&{'security-description'}" title="" data-original-title="&{'ssl'}" data-trigger="hover">&{'ssl'}</a>
								</li>
								<li><a class="btn btn-default" href="/registration?plan=standard">&{'register-now'}</a></li>
							</ul>
						</div>
						<!-- pricing table end -->

						<!-- pricing table start -->
						<div class="col-sm-4 plan stripped best-value">
							<div class="header">
								<h3>&{'premium'}</h3>
								<div class="price"><span>$10</span>/m.</div>
							</div>
							<ul>
								<li>10 &{'paid-events-per-month'}</li>
								<li>1GB &{'storage'}</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="&{'security-description'}" title="" data-original-title="&{'ssl'}" data-trigger="hover">&{'ssl'}</a>
								</li>
								<li><a class="btn btn-default" href="/registration?plan=premium">&{'register-now'}</a></li>
							</ul>
						</div>
						<!-- pricing table end -->

						<!-- pricing table start -->
						<div class="col-sm-4 plan stripped">
							<div class="header">
								<h3>&{'pro'}</h3>
								<div class="price"><span>$20</span>/m.</div>
							</div>
							<ul>
								<li>&{'unlimited-paid-events'}</li>
								<li>&{'unlimited-disk-space'}</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="&{'security-description'}" title="" data-original-title="&{'ssl'}" data-trigger="hover">&{'ssl'}</a>
								</li>
								<li><a class="btn btn-default" href="/registration?plan=pro">&{'register-now'}</a></li>
							</ul>
						</div>
						<!-- pricing table end -->
					</div>
				</div>
			</div>
		</div>
		
		*{
		<!-- pricing for customers -->
		<h1 class="text-center">&{'pricing-for-customers'}</h1>
		<div class="separator"></div>				
		<div class="row">
			<div class="col-md-12 object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="300">
				<div class="pricing-tables stripped object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall">
					<div class="row grid-space-0">
						<!-- pricing table start -->
						<div class="col-sm-4">
						</div>
						<div class="col-sm-4 plan stripped">
							<div class="header">
								<h3>&{'basic'}</h3>
								<div class="price"><span>&{'free'}</span></div>
							</div>
							<ul>
								<li>
									
								</li>
								<li>
								</li>
							</ul>
						</div>
						<div class="col-sm-4">
						</div>
					</div>
				</div>
			</div>
		</div>		
		}*
		
	</div>
</div>
<!-- pricing section end -->



<!-- section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
	<div class="container">
		<div class="call-to-action">
			<div class="row">
				<div class="col-md-8">
					<h1 class="title text-center">&{'you-are-on-the-right-place'}</h1>
					<p class="text-center" style="font-size:1.4em">&{'fill-in-quick-registration-and-start-using-widgr'}</p>
				</div>
				<div class="col-md-4">
					<div class="text-center">
						<a href="/registration" class="btn btn-default btn-lg">&{'register-now'}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section end -->




<!-- footer start (Add "light" class to #footer in order to enable light footer) -->
<!-- ================ -->
<a id="contact"></a>
<footer id="footer" class="light object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
	<!-- .footer start -->
	<!-- ================ -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="footer-content object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="300">
						<div class="logo-footer"><img id="logo-footer" src="images/logo_purple_footer.png" alt=""></div>
						<p>
						&{'about-3'}
						</p>
						<div class="row">
							<div class="col-md-6">
								<ul class="list-icons">
									*{
									<li><i class="fa fa-map-marker pr-10"></i> One infinity loop, 54100</li>
									<li><i class="fa fa-phone pr-10"></i> +00 1234567890</li>
									}*
									<li><i class="fa fa-envelope-o pr-10"></i> info@wid.gr</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="social-links colored">
									<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
									<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
									<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
									<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
									<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="footer-content object-non-visible" data-animation-effect="fadeInRightSmall" data-effect-delay="300">
						<h2>Contact Us</h2>
						<div class="alert alert-success hidden" id="contactSuccess2">
							<strong>&{'success'}!</strong> &{'contact-sent-message-success'}
						</div>
						<div class="alert alert-error hidden" id="contactError2">
							<strong>&{'error'}!</strong> &{'contact-sent-message-error'}
						</div>
						<form role="form" id="footer-form">
							<div class="form-group has-feedback">
								<label class="sr-only" for="name">&{'name'}</label>
								<input type="text" class="form-control" id="name" placeholder="&{'name'}" name="name">
								<i class="fa fa-user form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="email">&{'email-address'}</label>
								<input type="email" class="form-control" id="email" placeholder="&{'email-address'}" name="email">
								<i class="fa fa-envelope form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="message">&{'message'}</label>
								<textarea class="form-control" rows="4" id="message" placeholder="&{'message'}" name="message"></textarea>
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
							<input type="submit" value="&{'send'}" class="btn btn-default">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .footer end -->



</footer>
<!-- footer end -->


