#{extends 'main.html' /} 
#{set 'title'}
	${userDisplayed.fullName} - &{'calendar'}
#{/set}

#{set 'moreStyles'}
    <link href="@{'/public/css/fullcalendar.css'}"  rel="stylesheet">
    <link href="@{'/public/css/bootstrap-timepicker.min.css'}" rel="stylesheet" media="screen"/>
#{/set}

#{set 'moreMessages'}
	#{if request.cookies.msgCalendar == null}
		<div class="shadow alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" onclick="star.utils.dismiss('msgCalendar')"><span aria-hidden="true">&times;</span><span class="sr-only">&{'close'}</span></button>
		  &{'calendar-msg'}
		</div>
	#{/if}
#{/set}

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/lib/bootstrap-timepicker.min.js'}" type="text/javascript"></script>	
	<script src="@{'/public/javascripts/lib/jquery-ui.custom.min.js'}" type="text/javascript" ></script>
	<script src="@{'/public/javascripts/lib/fullcalendar.min.js'}"></script>
	<script>
	    starCalendar.d = new Date();
	    starCalendar.h = starCalendar.d.getHours();
	    starCalendar.mhalf = starCalendar.d.getMinutes() >= 30 ? true : false;
	    starCalendar.currentMousePos = { x: -1, y: -1 };
	    starCalendar.isPublic = starCalendar.isPublic;
	    starCalendar.isLogged = starCalendar.isLogged;
	    starCalendar.login = starCalendar.login;
	    #{if userDisplayed && listing}
		    starCalendar.proposal = true;
		    starCalendar.chargingTime = ${listing.chargingTime};
	    #{/if}
	    starCalendar.userUUID = starCalendar.userUUID;
	    starCalendar.showEvent = true;
	    starCalendar.activitiesLimit = 5;
	    starCalendar.clientId = "";	
	
		#{if userDisplayed}
			starCalendar.userDisplayed = "${userDisplayed.uuid}";
			starCalendar.userDisplayedLogin = "${userDisplayed.login}";
		#{/if}
		
		#{if listing}
			starCalendar.listing = "${listing.uuid}";
			starCalendar.listingTitle = "${listing.title.escapeJavaScript()}";
		#{/if}
		#{if listings && listings.size() > 0 || request.params.listing != null}
			starCalendar.listings = true;
		#{/if}
		
		// create events
		#{if user && isOwner}
			starCalendar.userUUID = "${user.uuid}";
			starCalendar.login = "${user.login}";
			starCalendar.editable = true;
		#{/if}
		#{else}
			starCalendar.editable = false;
		#{/else}
		
	    // set default view
		starCalendar.defaultView = star.utils.getCookie("agenda");

		// set hiddenDays
	    #{if userDisplayed && !isOwner}
		    starCalendar.hiddenDays = "${userDisplayed.hiddenDays}";
	    #{/if}
	    #{else}
		    starCalendar.hiddenDays = "";
	    #{/else}
	    
	    starCalendar.hiddenDays = starCalendar.hiddenDays.split(",");
	    for(var i = 0; i < starCalendar.hiddenDays.length; i++){
	        starCalendar.hiddenDays[i] = parseInt(starCalendar.hiddenDays[i]);
	    }	    
		
	    // set working hours
	    #{if userDisplayed && !isOwner && userDisplayed.workingHourStart != null}
		    starCalendar.startHour = parseInt("${userDisplayed.workingHourStart}");
		    starCalendar.endHour = parseInt("${userDisplayed.workingHourEnd}");
	    #{/if}
	    #{else}
		    starCalendar.startHour = parseInt("0");
		    starCalendar.endHour = parseInt("24");
	    #{/else}
	</script>
	<script src="@{'/public/javascripts/calendar.js'}" type="text/javascript"></script>
#{/set}

<!-- facebook init -->
<div id="fb-root"></div>
	
#{if listing}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!-- include from listings list -->
			
			#{set item: listing /}
			#{set usr: userDisplayed /}
			<br/>
			<div class="anchorLink shadow-blur" data-href="/listing/${item.uuid}" style="cursor:pointer;text-align:left;width:100%; background: #fafafa; width:100%; margin:0 0 20px 0;">
			   		
		   		<div class="listing-item-top shadow-inset-2" style="background: url('/${item.imageUrl}') no-repeat center; background-size:cover;">
		   		</div>
		
		   		<div class="listing-item shadow-inset-2" style="background: url('/${item.imageUrl}') no-repeat center; background-size:cover;">
		   		</div>				   		
		   		
		   		<div style="display:table-cell;vertical-align:top;padding:15px;position:relative;">
					<p>
						<img class="inline img-circle avatar22" src="/${item.user.avatarUrl}_32x32"> 
						<strong>${item.user.fullName}</strong>  &middot; 
						&{item.category} 
					</p>
					<h4>${item.title}</h4>
					
					<span class="truncate">${item.getDescriptionHtml().trimDot(200).raw()}</span>
		   			<p>
		   			#{if item.charging != 'free'}
		   				<strong>&{'from'} ${item.price} <small>${item.currency}</small></strong>
			   			<nobr>&{'for'} 15</nobr> &{'minutes'}
		   			#{/if}
		   			#{else}
		   				<strong class="">&{'free'}</strong>
		   			#{/else}
		   			#{if item.firstFree}
		   				<span class="label default-bg">&{'first-free'}</span>
		   			#{/if}
		   			
		   			</p>
		      		#{list items:1..5, as:'i'} 
		       			#{if i <= item.ratingAvg} 
						    <i class="fa fa-star text-default" data-value="1"></i>
		       			#{/if}
		       			#{else}
						    <i class="fa fa-star-o" data-value="1"></i>
		       			#{/else}
					#{/list}
		            ${item.ratingStars} &{'reviews'}   					   			
		   		</div>
			</div>

		</div>
	</div>	
</div>
<br/>
#{/if}	

#{elseif userDisplayed}
	#{set usr: userDisplayed/}
	#{include 'userTop.html' /}
#{/elseif}	
	
<!-- Calendar container -->
<section class="main-container" >	
<div class="container" style="min-height:60%;">
	<div class="row">
		<div class="col-md-12">
			#{if user && user.syncWithGoogle()}
				<label for="google-checkbox">&{'show-google-calendar-events'}</label>
				<input id="google-checkbox" type="checkbox" name="check">
			#{/if}
			<div class="" id="calendar-div"></div>
			<br/>
		</div>
	</div>
</div>
</section>


<!-- Event detail Modal -->
#{set 'moreHtml'}
<div class="modal " id="myPopover" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span id="popup-close" style='cursor: pointer;'><i class='fa fa-times'></i></span></button>
				<h3 class="modal-title" id="myModalLabel">
					<span class="event-title"></span>
					<small style="color:white"><br/><span class="event-time-from"></span><span class="event-time-to"></span>	</small>			
				</h3>
			</div>
			<div class="modal-body">
			
				<div id='event-popup'>
					<div class='arrow'></div>
					<div class='popover-content'>
						<div class="popup-edit-event">
							<span class="event-createdByName"></span>
							<span class="event-details"></span>
						</div>	

						<div class="popup-new-event" style="display:none;">					
							<div class="form-group" >
								<div class="row" style="margin-left:0px" >
								  <div class="col-lg-6" style="padding-left:0px">
									<label class="control-label">&{'start-time'}</label>
									<div class="input-group input-append bootstrap-timepicker" style="margin-bottom:5px;">
										<input id="timepicker1" type="text" class="timepicker1 form-control input-small" name="eventStart" value="${params.eventStart}">
										<span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
									</div>
								  </div>
								  <div class="col-lg-6" style="padding-left:0px">
									<label class="control-label">&{'end-time'}</label>
									<div class="input-group input-append bootstrap-timepicker" style="margin-bottom:5px;">
										<input id="timepicker2" type="text" class="timepicker2 form-control input-small" name="eventEnd" value="${params.eventEnd}">
										<span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
									</div>
								  </div>
								</div>
							</div>
						</div>							
						
						<div class="popup-edit-event">
							<p class="popup-event-description">
							</p>
							
							<span class="event-detail-container"></span>
				
							<h3>&{'guests'}</h3>
							<div class="form-group">
								<table class=" dialog-invite-list" data-checkboxes="false" style="width:100%;">
								</table>
							</div>
						</div>
						
						<div class="popup-new-event" style="display:none;">
							#{if userDisplayed && listing}
								<input type="hidden" id="popup-listing" name="listing" value="${listing.uuid}">
							#{/if}
							#{else}
								<select class="form-control" name="listing" id="popup-listing"  style="margin-bottom:5px">
									#{list items:listings, as:'item'}
										<option value="${item.uuid}">${item.title}</option>
									#{/list}
								</select>
							#{/else}
						</div>
					</div>
				</div><!-- end-popup dialog -->			
			
			</div>
			<div class="modal-footer">
				<span style="float:left">
					<a href='' data-url="/event/" style="margin:2px;" class="btn btn-default event-anchor btn-short popup-event-view">&{'view'}</a>
					#{if userDisplayed && listing}
						<button class="btn btn-default btn-short event-dialog-propose">&{'submit-for-approval'}</button> 
					#{/if}
					#{else}
						<button class="btn btn-default btn-short event-dialog-create">&{'save'}</button> 
					#{/else}					 
					#{if isOwner && user && user.syncWithGoogle()}
						<button class="btn btn-default btn-short event-dialog-sync" style="display:none">&{'sync-with-google-cal'}</button> 
					#{/if}
					<span class="popup-event-approvement" style="display:none;">
						<a class="btn btn-success btn-short event-anchor popup-event-approve" href='' style="margin:2px;" id="" data-url="/event-approve?url=${request.url.urlEncode()}&#{token /}&event="><i class="fa fa-check"></i> &{'approve'}</a>
						<a class="btn btn-danger btn-short event-anchor popup-event-decline" href='' style="margin:2px;" id="" data-url="/event-decline?url=${request.url.urlEncode()}&#{token /}&event="><i class="fa fa-times"></i> &{'decline'}</a>
					</span>				
				</span>
				<span style="float:right">
					<a href='#' style="margin:2px;" class="btn btn-light-gray btn-short popup-event-delete">&{'delete'}</a>
				</span>	
			</div>
		</div>
	</div>
</div>
#{/set}


