#{extends 'main.html' /} 
#{set background:'true' /} 
#{i18n /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
    <link href="@{'/public/css/fullcalendar.css'}"  rel="stylesheet">
	<script src="@{'/public/javascripts/lib/jquery-ui.custom.min.js'}" type="text/javascript" ></script>
	<script src="@{'/public/javascripts/lib/fullcalendar.min.js'}"></script>
	<script src="@{'/public/javascripts/utils.js'}"></script>
	<script>
	    starCalendar.d = new Date();
	    starCalendar.h = starCalendar.d.getHours();
	    starCalendar.mhalf = starCalendar.d.getMinutes() >= 30 ? true : false;
	    starCalendar.currentMousePos = { x: -1, y: -1 };
	    starCalendar.isPublic = starCalendar.isPublic;
	    starCalendar.isLogged = starCalendar.isLogged;
	    starCalendar.login = starCalendar.login;
	    starCalendar.userDisplayedLogin = starCalendar.userDisplayedLogin;
	    starCalendar.selectedEventDate = starCalendar.selectedEventDate;
	    starCalendar.selectedEventId = starCalendar.selectedEventId;
	    starCalendar.userUUID = starCalendar.userUUID;
	    starCalendar.userDisplayed = starCalendar.userDisplayed;
	    starCalendar.defaultCurrency = starCalendar.defaultCurrency;
	    starCalendar.showEvent = true;
	    starCalendar.activitiesLimit = 5;
	    starCalendar.clientId = "";	
	
		#{if userDisplayed}
			starCalendar.userDisplayed = "${userDisplayed.uuid}";
			starCalendar.userDisplayedLogin = "${userDisplayed.login}";
		#{/if}
		#{if listing}
			starCalendar.listing = "${listing.uuid}";
			starCalendar.listingTitle = "${listing.title}";
		#{/if}
		#{if listings && listings.size() > 0 || request.params.listing != null}
			starCalendar.listings = true;
		#{/if}
		
		// create events
		#{if user && (user.isPublisher() || userDisplayed)}
			starCalendar.userUUID = "${user.uuid}";
			starCalendar.login = "${user.login}";
			starCalendar.editable = true;
		#{/if}
		#{else}
			starCalendar.editable = false;
		#{/else}
		
	    // set default view
	    #{if user}
		    starCalendar.defaultView = star.utils.getCookie("agenda");
		#{/if}

		// set hiddenDays
	    #{if userDisplayed && !isOwner}
		    starCalendar.hiddenDays = "${userDisplayed.hiddenDays}";
	    #{/if}
	    #{else}
		    starCalendar.hiddenDays = "";
	    #{/else}
	    
	    starCalendar.hiddenDays = starCalendar.hiddenDays.split(",");
	    for(var i = 0; i < starCalendar.hiddenDays.length; i++){
	        starCalendar.hiddenDays[i] = parseInt(starCalendar.hiddenDays[i]);
	    }	    
		
	    // set working hours
	    #{if userDisplayed && !isOwner && userDisplayed.workingHourStart != null}
		    starCalendar.startHour = parseInt("${userDisplayed.workingHourStart}");
		    starCalendar.endHour = parseInt("${userDisplayed.workingHourEnd}");
	    #{/if}
	    #{else}
		    starCalendar.startHour = parseInt("6");
		    starCalendar.endHour = parseInt("24");
	    #{/else}
	</script>
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/calendar.js'}" type="text/javascript"></script>
#{/set}

<!-- facebook init -->
<div id="fb-root"></div>
  <!--
 <script>
   window.fbAsyncInit = function() {
     FB.init({
       appId      : '117287758301883',
       status     : true,
       xfbml      : true,
       channelUrl: window.location.origin+'/channel.html'
     });
   };
   
   (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
 </script>
-->    

	
	#{if listing}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- include from listings list -->
				<script>
					$(document).ready(function(){
					    $(".anchorLink").click(function(){
					        document.location = $(this).attr("data-href");
					    });
					});
				</script>				
				
				#{set item: listing /}
				#{set usr: userDisplayed /}
				<br/>
				<div class="shadow-blur" style="background: #fafafa; width:100%; margin:0 0 20px 0;">
					
					<div class="anchorLink" data-href="/channel/${item.uuid}" style="cursor:pointer;display:table;text-align:left;width:100%">
				   		
				   		<div style="display:table-cell; height:128px; width:200px; min-width:200px; background: url('/${item.imageUrl}') no-repeat center; background-size:cover; border-right:5px solid #{if item && item.color} ${item.color} #{/if} #{else} #3A87AD #{/else};">
				   		</div>
				   		
				   		<div style="display:table-cell;vertical-align:top;padding:0 15px 0 15px;position:relative;">
							<h4>${item.title}</h4>
							<p style="margin-bottom:5px">
								<img class="inline img-circle avatar22" src="/${item.user.avatarUrl}_32x32"> 
								<strong>${item.user.fullName}</strong>  &middot; 
								${item.category}  &middot; 
								${item.privacy}  &middot; 
								${item.type}
							</p>
							
							
							<span class="truncate">${item.getDescriptionHtml().trimDot(140).raw()}</span>
				   			<p>
				   			#{if item.charging != 'free'}
				   				<strong>from ${item.price} <small>${item.currency}</small></strong>
					   			<nobr>for 15</nobr> minutes
				   			#{/if}
				   			#{else}
				   				<strong class="">Free</strong>
				   			#{/else}
				   			#{if item.firstFree}
				   				<span class="label label-default">first free</span>
				   			#{/if}
				   			</p>
				   		</div>
				   	</div>		
				</div>

			</div>
		</div>	
	</div>
	<br/>
	#{/if}	
	
	#{elseif userDisplayed}
		#{set usr: userDisplayed/}
		#{include 'userTop.html' /}
	#{/elseif}	
	
<section class="main-container object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300">		
<div class="container" style="min-height:60%;">
	<div class="row">
		<div class="col-md-12">
			<div class="" id="calendar-div"></div>
			<br/>
		</div>
	</div>
</div>
</section>




#{set 'moreHtml'}
<!-- popup dialog -->
<div id="myPopover" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
<div class="modal-dialog" style="">
<div class="modal-content">
<div class="modal-body">

<div id='event-popup'>
	<div class='arrow'></div>
	<div class='popover-content'>
		<span id="popup-close" class="color-link" style='position:absolute;right:20px; cursor: pointer;'><i class='fa fa-times fa-2x'></i></span> 
		<div style='float: left;'>
			<h2 class="margin-top-clear"> 
				<span class="event-title"></span>
				<span class="popup-event-approvement" style="display:none;position:relative;top:-3px;">
					<a class="btn btn-light-gray btn-sm event-anchor popup-event-approve" href='' style="margin:2px;" id="" data-url="/event-approve?url=${request.url.urlEncode()}&event="><i class="fa fa-check"></i> &{'dashboard.approve'}</a>
					<a class="btn btn-light-gray btn-sm event-anchor popup-event-decline" href='' style="margin:2px;" id="" data-url="/event-decline?url=${request.url.urlEncode()}&event="><i class="fa fa-times"></i> &{'dashboard.decline'}</a>
				</span>
			</h2> 
		</div>
		<br/>
		<br/>
		<div style="clear:both"></div>

		<div>
			<i class="fa fa-clock-o fa-1x"></i> <span class="event-time-from"></span> <strong> - </strong> <span class="event-time-to"></span>
		</div>
		<div class="event-createdByName"></div>
		<div class="popup-edit-event">
		
			<h3>About</h3>
			<p class="popup-event-description">
			</p>

			<h3>&{'dashboard.guests'}</h3>
			<div class="form-group">
				<table class=" dialog-invite-list" data-checkboxes="false" style="width:100%;">
				</table>
			</div>
		
			<span style="float:left">
				<a href='' data-url="/event/" style="margin:2px;" class="btn btn-default event-anchor" id="popup-event-view">&{'dashboard.view'}</a>
			</span>
			<span style="float:right">
				<a href='#' style="margin:2px;" class="btn btn-light-gray " id="popup-event-delete">&{'dashboard.delete'}</a>
			</span>
			<div style="clear:both"></div>
		</div>
		
		<div class="popup-new-event" style="display:none;">
			#{if userDisplayed && listing}
				<input type="hidden" id="popup-listing" name="listing" value="${listing.uuid}">
			#{/if}
			#{else}
				<select class="form-control" name="listing" id="popup-listing"  style="margin-bottom:5px">
					#{list items:listings, as:'item'}
						<option value="${item.uuid}">${item.title}</option>
					#{/list}
				</select>
			#{/else}
			
			<span class="pull-right">
				#{if userDisplayed && listing}
					<button class="btn btn-white  event-dialog-propose">Request for Event</button> 
				#{/if}
				#{else}
					<button class="btn btn-white  event-dialog-create">&{'dashboard.save'}</button> 
				#{/else}
			</span>
			<div style="clear:both"></div>
		</div>
	</div>
</div><!-- end-popup dialog -->

</div>
</div>
</div>
</div>
#{/set}


