#{extends 'main.html' /} 

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
#{/set}

#{set 'moreStyles'}
#{/set}


<!-- section start -->
<!-- ================ -->
<div class="section clearfix">

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2 class="margin-top-clear"><i class="fa fa-search"></i> Search Channels</h2>
				<div class="separator-2"></div>
				
				<form class="form-inline" role="form">
				  <div class="form-group">
					    <div class="input-group">
					      	<label class="sr-only" for="search">Search</label>
					      	<div class="input-group-addon"><i class="fa fa-search"></i></div>
					      	<input type="text" class="form-control" autocomplete="off" size="50" maxlength="100" name="search" id="query-search" value="${request.params.search}" data-provide="typeahead">
							<script src="@{'/public/javascripts/suggest.js'}" type="text/javascript"></script>					      	
					    </div>
						<div class="form-group">
							<label class="sr-only" for="category">Category</label>
						    <select class="form-control" name="category" id="category">
						    	<option value="">Select category</option>
						    	<option #{if request.params.category == 'business'} selected="selected" #{/if} value="business"> &{'business'}</option>
						    	<option #{if request.params.category == 'education'} selected="selected" #{/if} value="education"> &{'education'}</option>
						    	<option #{if request.params.category == 'electronics'} selected="selected" #{/if} value="electronics"> &{'electronics'}</option>
						    	<option #{if request.params.category == 'health'} selected="selected" #{/if} value="health"> &{'health'}</option>
						    	<option #{if request.params.category == 'art'} selected="selected" #{/if} value="art"> &{'art'}</option>
						    	<option #{if request.params.category == 'sport'} selected="selected" #{/if} value="sport"> &{'sport'}</option>
						    	<option #{if request.params.category == 'household'} selected="selected" #{/if} value="household"> &{'household'}</option>
						    	<option #{if request.params.category == '18plus'} selected="selected" #{/if} value="18plus"> &{'18plus'}</option>
						    </select>
						</div>				    
						<div class="form-group">
							<label class="sr-only" for="sorting">Sorting</label>
						    <select class="form-control" name="sort" id="sort">
						    	<option #{if request.params.sort == 'reviews'} selected="selected" #{/if} value="reviews"> &{'Sort by reviews'}</option>
						    	<option #{if request.params.sort == 'soonest'} selected="selected" #{/if} value="soonest"> &{'Sort by soonest available'}</option>
						    </select>
						</div>	
				  </div>
				  <div class="form-group">
					  <button type="submit" class="btn btn-default">Search</button>
				  </div>
				</form>	
				<div class="clearfix"></div>	
						
				<div style="text-align:center;width:100%">
					<div id="itemsListListing">
					</div>

					<div class="spinner-container1">
						<div class="spinner-container">
							<div id="spinnerListing" class="spinner-load"></div>
							<a id="moreResultsListing" class="spinner-more"><i class=" icon-plus-circled"></i></a>
						</div>
					</div>
				</div>		
				<script>
					$(document).ready(function(){
						var params = "";
					    if(document.location.search.length > 1){
							params = "&"+document.location.search.substring(1);
					    }
					    console.log(params);
						star.initItems("Listing", params);
		
						if ($("[rel=tooltip]").length) {
				        	$("[rel=tooltip]").tooltip();
				        }
					     
					    $(document).on("click", ".link", function(){
					        document.location = $(this).attr("data-href");
					    });
					    
					    $(".category").click(function(){
					        $(".category").removeClass("black");    
					    	var category = $(this).attr("data-category"); 
					    	$(this).addClass("black");
					    	
					    	$("#itemsListListing").html("");
							var params = "&category="+category;
							star.Listing.first = 0;
							star.initItems("Listing", params);
					    });
					});				
				</script>						
			</div>
		</div>
	</div>

</div>
<!-- section end -->
