#{extends 'main.html' /} 
#{set 'title'}
	&{'search-title'}
#{/set}
#{set 'moreScripts'}
	<script>
		$(document).ready(function(){
			var params = "";
		    if(document.location.search.length > 1){
				params = "&"+document.location.search.substring(1);
		    }
			star.initItems("Listing", params);
		});				
	</script>	
#{/set}

#{set 'moreStyles'}
#{/set}


<!-- section start -->
<!-- ================ -->
<div class="section clearfix">

	<div class="container">
		<div class="row padding30">
			<div class="col-md-12" style="min-height: 60vh">

				<form class="form-inline" role="form">
				    <div class="form-group">
				      	<input type="text" class="form-control" placeholder="&{'search-string'}" autocomplete="off" size="50" maxlength="100" name="q" id="query-search" value="${request.params.q}" data-provide="typeahead">
				    </div>
					<div class="form-group">
						<label class="sr-only" for="category">&{'category'}</label>
					    <select class="form-control" name="category" id="category">
					    	<option value="">Select category</option>
					    	<option #{if request.params.category == 'business'} selected="selected" #{/if} value="business"> &{'business'}</option>
					    	<option #{if request.params.category == 'education'} selected="selected" #{/if} value="education"> &{'education'}</option>
					    	<option #{if request.params.category == 'electronics'} selected="selected" #{/if} value="electronics"> &{'electronics'}</option>
					    	<option #{if request.params.category == 'food'} selected="selected" #{/if} value="food"> &{'food'}</option>
					    	<option #{if request.params.category == 'health'} selected="selected" #{/if} value="health"> &{'health'}</option>
					    	<option #{if request.params.category == 'art'} selected="selected" #{/if} value="art"> &{'art'}</option>
					    	<option #{if request.params.category == 'sport'} selected="selected" #{/if} value="sport"> &{'sport'}</option>
					    	<option #{if request.params.category == 'fashion'} selected="selected" #{/if} value="fashion"> &{'fashion'}</option>
					    	<option #{if request.params.category == 'household'} selected="selected" #{/if} value="household"> &{'household'}</option>
					    	*{
					    	<option #{if request.params.category == '18plus'} selected="selected" #{/if} value="18plus"> &{'18plus'}</option>
					    	}*
					    </select>
					</div>				    
					<div class="form-group">
						<label class="sr-only" for="sorting">&{'sorting'}</label>
					    <select class="form-control" name="sort" id="sort">
					    	<option #{if request.params.sort == 'reviews'} selected="selected" #{/if} value="reviews"> &{'sort-by-reviews'}</option>
					    	<option #{if request.params.sort == 'match'} selected="selected" #{/if} value="match"> &{'sort-by-best-match'}</option>
					    	<option #{if request.params.sort == 'availability'} selected="selected" #{/if} value="availability"> &{'by-availability'}</option>
					    </select>
					</div>	
					<div class="form-group">
						<button type="submit" class="btn btn-default">&{'search'}</button>
					</div>
				</form>	
				<div class="clearfix"></div>	
						
				<div style="text-align:center;width:100%">
					<div id="itemsListListing">
					</div>
					&nbsp;
					<div class="spinner-container1">
						<div class="spinner-container">
							<div id="spinnerListing" class="spinner-load"></div>
							<a id="moreResultsListing" class="spinner-more"><i class="icon-plus-circled"></i></a>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>

</div>
<!-- section end -->
