#{extends 'main.html' /} 
#{set 'title'}
	&{'chat'}
#{/set}

#{set 'moreScripts'}
#{/set}

#{set 'moreMessages'}
	#{if request.cookies.msgChannels == null}
		<div class="shadow alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" onclick="star.utils.dismiss('msgChannels')"><span aria-hidden="true">&times;</span><span class="sr-only">&{'close'}</span></button>
		  &{'msgChannels-msg'}
		</div>
	#{/if}
#{/set}

<div class="padding container container-xs-height">
	<div class="row row-xs-height">
		<div class="col-md-12">
			<h2>
				<i class="fa fa-comments-o"></i> Chat with your visitors
				#{if user.isAvailable()}
					<a class="btn btn-light-gray btn-sm" href="/available-stop?id=${user.uuid}&url=${request.url.urlEncode()}&#{token /}"><i class="fa fa-power-off"></i> &{'uncheck-me-as-available'}</a>
				#{/if}		
			</h2>
		
			#{if !user.isAvailable()}
				<div style="text-align: center;margin:100px 0;">
				<a class="btn btn-default" href="/available-start?id=${user.uuid}&url=${request.url.urlEncode()}&#{token /}" rel="tooltip" data-original-title="&{'turn-on-available-now'}"><i class="fa fa-circle"></i> &{'check-me-as-available'}</a>
				</div>
			#{/if}	
		</div>
		
		#{if user.isAvailable()}
		<div class="col-md-4">
			<div class="stats row grid-space-10">
				<div class="col-md-6 col-sm-6">
					<div class="box-style-1 gray-bg">
						<h5 class="title">&{'visitors'}</h5>
						<i class="icon-users" style="font-size:40px"></i>
						<span class="stat-num counting users-count" data-to="1125" data-speed="3000">?</span>
					</div>	
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="box-style-1 gray-bg">
						<h5 class="title">&{'agents'}</h5>
						<i class="fa fa-headphones" style="font-size:40px"></i>
						<span class="stat-num counting admins-count" data-to="1125" data-speed="3000">?</span>
					</div>	
				</div>
			</div>
			<div class="style-switcher-container" style="font-size:0.9em;padding-top:20px;">
	        	<ul class="selectable chat-avatars2 list-unstyled">
	        	</ul>				
			</div>
			<br/>
			<br/>
		</div>			
		
		<div class="col-md-8">
			<div class="style-switcher-container">
				<div class="style-switcher-container-2">
			        
			        <h3 class="chat-dropdown margin-top-clear">
		        		<span data-bind="label" class="chat-user-label">&{'select-user'}</span>
			        </h3>
					
					<div id="content2" class="" style="background:#fafafa; padding:10px;height:50vh; margin-bottom:10px; overflow-y: auto; overflow-x:hidden; text-align:left; color:black"></div>
					
					<div class="chat-message-form">
						<div class="input-group">
							<input id="chat-text2" class="form-control" maxlength="400" placeholder="&{'enter-your-message'}"> 
							<span class="input-group-btn">
								<button id="chat-send2" class="btn btn-default btn-short" style="margin:0px;height:40px"><i class="fa fa-share"></i></button>
							</span>
							<span class="input-group-btn">
								<button id="create-instant-room" class="btn btn-gray btn-short" style="margin:0px;height:40px" title="&{'create-instant-session'}"><i class="fa fa-video-camera"></i></button>
							</span>
						</div>
					</div>
					
					<br/>
					<label style="font-weight: normal"><input type="checkbox" id="create-instant-room-charging" value="true"> First session free</label> &nbsp;
					<label style="font-weight: normal"><input type="checkbox" id="auto-switch-off" value="true"> Auto user switch off</label>
				</div>
			</div>
		</div>	
		#{/if}
		
	</div>
</div>

#{if user.isAvailable()}
<script>
	star.chatRoom = '${user.account.key}';
   	star.ownerName = '${user.getFullName().escapeJavaScript()}';
   	star.ownerUuid = '${user.uuid}';
    star.server_host = '${socketIo}';
    star.livestream = true;
    star.peerId = null;
	star.listing = '${user.uuid}';
	
	star.isOwner = true;
	star.isTeam = true;
	star.logged = true;
	star.userName = "Guest"+ Math.floor(Math.random()*900);
	star.userAvatar = 'public/images/avatar';
	star.userUuid = star.utils.uuid();
	star.userName = '${user.getFullName().escapeJavaScript()}';
	star.userAvatar = '${user.avatarUrl}';
   	star.userUuid = '${user.uuid}';
    
    $('.chat-container').append(star.utils.chatContent(star));
</script>
<script src="${socketIo}/socket.io/socket.io.js"></script>
<script src="@{'/public/javascripts/room.js'}" type="text/javascript"></script>
#{/if}

