#{extends 'main.html' /} 
#{set 'title'}
	&{'live-chat'}
#{/set}

#{set 'moreScripts'}
#{/set}

#{set 'moreMessages'}
	#{if request.cookies.msgLiveChat == null}
		<div class="shadow alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" onclick="star.utils.dismiss('msgLiveChat')"><span aria-hidden="true">&times;</span><span class="sr-only">&{'close'}</span></button>
		  &{'msgLiveChat-msg'}
		</div>
	#{/if}
#{/set}



<!-- Embed modal -->
<div class="modal" id="embedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">&{'cancel'}</span></button>
        <h3 class="modal-title" id="myModalLabel"><i class="fa fa-code"></i> &{'embed-chat-admin'}</h3>
      </div>
      <div class="modal-body">
      	<label style="font-weight:normal">&{'embed-chat-admin-desc'}</label>
      	<form action="">
	      	<textarea rows="6" class="form-control widgr-embed-snippet" maxlength="500" onclick="javascript:$(this).select();"><iframe src="${baseUrl}/chat" seamless frameborder="0" style="width:100%;min-height:700px"></iframe></textarea>
      	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-short" data-dismiss="modal">&{'close'}</button>
      </div>
    </div>
  </div>
</div>


<div class="padding container container-xs-height">
	<div class="row row-xs-height">
		<div class="col-xs-12">
			<h2>
				<i class="fa fa-comments-o"></i> &{'live-chat'}
				#{if user.isAvailable()}
					<small> 
						&nbsp;&nbsp;
						<i class="icon-users"></i>&{'visitors'}: <span class="users-count">?</span> &nbsp;
						<i class="fa fa-headphones"></i> &{'agents'}: <span class="admins-count">?</span>			
					</small> &nbsp;
					<a class="btn btn-light-gray btn-sm" href="/available-stop?id=${user.uuid}&url=${request.url.urlEncode()}&#{token /}"><i class="fa fa-power-off"></i> &{'uncheck-me-as-available'}</a>
				#{/if}		
				<a class="btn btn-light-gray btn-sm" href="" rel="tooltip" data-original-title="&{'embed-chat-admin'}" data-toggle="modal" data-target="#embedModal"><i class="fa fa-code"></i></a>
			</h2>
		
			#{if !user.isAvailable()}
				<div style="text-align: center;margin:100px 0;">
					<a class="btn btn-dark" href="/available-start?id=${user.uuid}&url=${request.url.urlEncode()}&#{token /}" rel="tooltip" data-original-title="&{'turn-on-available-now'}"><i class="fa fa-circle"></i> &{'check-me-as-available'}</a>
				</div>
			#{/if}	
		</div>
		
		#{if user.isAvailable()}
		<div class="col-xs-4">
			<div class="widgr-chatbox-container">
	        	<ul class="selectable chat-avatars2 list-unstyled">
	        	</ul>				
			</div>
			<br/>
		</div>			
		<div class="col-xs-8 user-switch" style="display:none">
			<div class="widgr-chatbox-container">
		        <h4 class="chat-dropdown margin-top-clear" style="line-height: 52px;">
	        		<span data-bind="label" class="chat-user-label"><i  class="icon-user"></i> Select User</span>
		        </h4>
				<div id="widgr-chat-content" class="" style="padding:10px;height:50vh; margin-bottom:10px; overflow-y: auto; overflow-x:hidden; text-align:left; color:black"></div>
				<div class="chat-message-form1">
					<div class="input-group">
						<input id="chat-text2" class="form-control" maxlength="400" placeholder="&{'enter-your-message'}"> 
						<span class="input-group-btn">
							<button id="chat-send2" class="btn btn-default btn-short" style="margin:0px;height:40px"><i class="fa fa-share"></i></button>
						</span>
					</div>
				</div>
				<br/>
				<label style="font-weight: normal"><input type="checkbox" id="auto-switch-off" value="true"> &{'auto-switch'}</label> &nbsp;
				<a class="create-instant-room" data-paid="true" style="cursor:pointer;margin:0px;height:40px">&{'create-instant-session'} (&{'paid'})</a> &nbsp;
				<a class="create-instant-room" data-paid="false" style="cursor:pointer;margin:0px;height:40px">&{'create-instant-session'} (&{'free'})</a> &nbsp;
			</div>
		</div>	
		<div class="col-xs-8 team-switch">
			<h4 style="margin-top:0px;height:52px;line-height: 52px">
				<i class="fa fa-headphones"></i> &{'team-chat'}
			</h4>
			<div class="widgr-chat-content-team" style="padding:10px;height:50vh; margin-bottom:10px; overflow-y: auto; overflow-x:hidden; text-align:left; color:black">
				<p style="text-align:center;width:100%"><a style="cursor:pointer;font-weight: bold" data-from="0" class="team-feeds-load">&{'previous-messages'}</a></p>
			</div>
			<div class="input-group">
				<input id="chat-text3" class="form-control" maxlength="400" placeholder="&{'enter-your-message'}"> 
				<span class="input-group-btn">
					<button id="chat-send3" class="btn btn-dark btn-short" style="margin:0px;height:40px"><i class="fa fa-share"></i></button>
				</span>
			</div>				
		</div>			
		#{/if}
		
	</div>
</div>

#{if user.isAvailable()}
<script>
	star.chatRoom = '${user.account.key}';
   	star.ownerName = '${user.getFullName().escapeJavaScript()}';
   	star.ownerUuid = '${user.uuid}';
    star.server_host = '${socketIo}';
    star.livestream = true;
    star.peerId = null;
	star.listing = '${user.uuid}';
	star.embedded = false;
	
	star.isOwner = true;
	star.isTeam = true;
	star.logged = true;
	star.userName = "Guest"+ Math.floor(Math.random()*900);
	star.userAvatar = 'public/images/avatar';
	star.userUuid = star.utils.uuid();
	star.userName = '${user.getFullName().escapeJavaScript()}';
	star.userAvatar = '${user.avatarUrl}';
   	star.userUuid = '${user.uuid}';
    
    $('.chat-container').append(star.utils.chatContent(star));
</script>
<script src="${socketIo}/socket.io/socket.io.js"></script>
<script src="@{'/public/javascripts/livechat.js'}" type="text/javascript"></script>
#{/if}

