#{extends 'main.html' /} 
#{i18n /}

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
	<script src="@{'/public/javascripts/dashboard.js'}" type="text/javascript"></script>	
#{/set}

<div class="padding container-xs-height">
	<div class="row row-xs-height">
		
		<div class="col-md-7 col-xs-height col-top">
			<h2>
				<i class="fa fa-desktop"></i> Dashboard
				<small><a href="/channel/new?action=edit&new=true&url=${request.url.urlEncode()}" class="btn btn-light-gray btn-sm"><i class="fa fa-plus"></i> New Channel</a></small>
			</h2>
			#{if listings}
				#{set items:listings /}
				#{set forEvents:false /}
				#{include 'listingsList.html' /}
			#{/if}				
		</div>
		<div class="col-md-2 col-xs-height col-top">
			<div class="tabs-style-2">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#h2tab4" role="tab" data-toggle="tab" class="side-padding-short">Upcoming</a></li>
					<li><a href="#h2tab5" role="tab" data-toggle="tab" class="side-padding-short">Previous</a></li>
					<li><a href="#h2tab3" role="tab" data-toggle="tab" class="side-padding-short">Requests</a></li>
					<!-- 
					<li><a href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-list pr-5"></i>Watchlist</a></li>
					 -->
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane fade" id="h2tab2">
						#{if watchList && watchList.size() > 0}
							#{set items:watchList /}
							#{include 'eventsList.html' /}	
						#{/if}	
					</div>
					
					<div class="tab-pane fade" id="h2tab3">
						#{if approved && approved.size() > 0}
							#{set items:approved /}
							#{include 'eventsList.html' /}	
						#{/if}	
					</div>
					
					<div class="tab-pane fade tab-pane in active" id="h2tab4">
						<div id="itemsListUpcoming" class="full-widthd"></div>
						<div class="spinner-container1">
							<div class="spinner-container">
								<div id="spinnerUpcoming" class="spinner-load"></div>
								<a id="moreResultsUpcoming" class="spinner-more"><i class=" icon-plus-circled"></i></a>
							</div>
						</div>	
					</div>
					
					<div class="tab-pane fade" id="h2tab5">
						<div id="itemsListPrevious" class="full-widthd"></div>
						<div class="spinner-container1">
							<div class="spinner-container">
								<div id="spinnerPrevious" class="spinner-load"></div>
								<a id="moreResultsPrevious" class="spinner-more"><i class=" icon-plus-circled"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>

		<div class="col-md-3 col-xs-height col-top" style="background: #fdfdfd;" >
			#{include 'activities.html' /}
		</div>	
	</div>
</div>

