#{extends 'main.html' /} 
#{set 'title'}
	&{'dashboard'}
#{/set}

#{set 'moreScripts'}
	<script>
		//load activities
		if(starCalendar == undefined)
		    var starCalendar = {};
		starCalendar.activitiesLimit = 10;
		starCalendar.clientId = ""; 
	
		starEvent.loadActivities();
		$(document).ready(function(){
		    $(".activities-refresh").click(function(){
		        starEvent.loadActivities();
		    });
		    
		    $(".activities-more").click(function(){
		        starCalendar.activitiesLimit += 10;
		        starEvent.loadActivities();
		    });
		});
	
	    star.dashboard = true;
		#{if user}
	   		star.user = "${user.uuid}";	
		#{/if}
		starCalendar.comments = true;
	</script>
#{/set}

#{set 'moreMessages'}
	#{if request.cookies.msgDasboard == null}
		<div class="shadow alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" onclick="star.utils.dismiss('msgDasboard')"><span aria-hidden="true">&times;</span><span class="sr-only">&{'close'}</span></button>
		  &{'dashboard-description'}
		</div>
	#{/if}
#{/set}


<div class="padding container ">
	<div class="row ">
	
		<div class="col-md-4 col-md-push-8 " >
			#{include 'activities.html' /}
		</div>		

		<div class="col-md-8 col-md-pull-4 ">
			
			<div class="tabs-style-2">
			
				#{set objectType:"user" /}
				#{set object:user /}
				#{include 'comments.html' /}
				
				
				*{
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#h2tab6" role="tab" data-toggle="tab" class="">&{'lates-posts'}</a></li>
					<li><a href="#h2tab4" role="tab" data-toggle="tab" class="">&{'upcoming-events'}</a></li>
					<li><a href="#h2tab5" role="tab" data-toggle="tab" class="">&{'previous-events'}</a></li>
					<li><a href="#h2tab7" role="tab" data-toggle="tab" class="">&{'manage-channels'}</a></li>
					<li><a href="#h2tab3" role="tab" data-toggle="tab" class="">&{'waiting-for-approvement'}</a></li>
				</ul>
				
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane fade tab-pane in active" id="h2tab6">
						#{set objectType:"user" /}
						#{set object:user /}
						#{include 'comments.html' /}
					</div>

					<div class="tab-pane fade" id="h2tab2">
						#{if watchList && watchList.size() > 0}
							#{set items:watchList /}
							#{include 'eventsList.html' /}	
						#{/if}	
					</div>
					
					<div class="tab-pane fade" id="h2tab3">
						#{if approved && approved.size() > 0}
							#{set items:approved /}
							#{include 'eventsList.html' /}	
						#{/if}	
					</div>

					<div class="tab-pane fade" id="h2tab7">
						<div>
							<a href="/channel/new?action=edit&new=true&url=${request.url.urlEncode()}" class="btn btn-light-gray btn-block margin-clear"><i class="fa fa-plus"></i> Create Channel</a>
						</div>	
						<br/>	
						#{if listings}
							#{set items:listings /}
							#{set forEvents:false /}
							#{include 'listingsList.html' /}
						#{/if}	
					</div>
					
					<div class="tab-pane fade" id="h2tab4">
						<div id="itemsListUpcoming" class="full-widthd"></div>
						<div class="spinner-container1">
							<div class="spinner-container">
								<div id="spinnerUpcoming" class="spinner-load"></div>
								<a id="moreResultsUpcoming" class="spinner-more"><i class=" icon-plus-circled"></i></a>
							</div>
						</div>	
					</div>
					
					<div class="tab-pane fade" id="h2tab5">
						<div id="itemsListPrevious" class="full-widthd"></div>
						<div class="spinner-container1">
							<div class="spinner-container">
								<div id="spinnerPrevious" class="spinner-load"></div>
								<a id="moreResultsPrevious" class="spinner-more"><i class=" icon-plus-circled"></i></a>
							</div>
						</div>
					</div>
				</div>
				}*
				
				
				
			</div>		
		</div>
				
	</div>
</div>

