#{extends 'main.html' /} 
#{set 'title'}
	FAQ
#{/set}
#{set wide:true /}


<div class="container">
	<div class="row" style="font-size:1.0em">
		<div class="col-md-12">
			<br/>
			<a id="faq"></a>
			<h2 class="text-center" >Frequently asked questions - Customers</h2>			
			<div class="separator"></div>
			<br/>
			
			<h5>What does Widgr cost me?</h5>
			<p>While some Providers may provide free sessions, you'll need to pay for others. Price is set up by Providers. Paying is easy using PayPal. Except this there are no additional fees for using Widgr</p>
			
			<h5>How do I issue a refund to my customer?</h5>
			<p>You can issue a refund to your Customer through Received payments screen. Here you can find individual transactions and refund them easily with just few clicks.</p>
			
			<h5>How should I handle technical issues?</h5>
			<p>Technical issues can happen at any time. If you get disconnected, try rejoining the Session again with F5 (Refresh). If you're experiencing technical issues while in a Widgr (e.g., poor audio or video quality), you can submit feedback by clicking the bull horn icon at the top of the Session screen and selecting Send feedback. You can also contact us to report any technical issues</p>

			<h5>How do I request a refund?</h5>
			<p>You can request a refund by clicking button "Request Refund" in upper right corner on the Session page. After submitting your request Provider will be notified and can issue you a refund.</p>

			<h5>How do I sign up for a Provider's account?</h5>
			<p>Every standard account can be turnet into Provider account. Everything what needs to be done is to have filled profile information a you will need to create at least one listing. After that you can request for Provider account. <a href="help#basic-use-publisher">Learn more here</a></p>
			<br/>	
			<br/>	
			

		
			<h2 class="text-center" >Frequently asked questions - Providers</h2>			
			<div class="separator"></div>
			<br/>
			
			<h5>How should I handle technical issues?</h5>
			<p>Technical issues can happen at any time. If you get disconnected, try rejoining the Session again with F5 (Refresh). If you're experiencing technical issues while in a Widgr (e.g., poor audio or video quality), you can submit feedback by clicking the bull horn icon at the top of the Session screen and selecting Send feedback. You can also contact us to report any technical issues</p>
			
			<h5>How do I contact my customer before the Session?</h5>
			<p>You can send a message to a customer by going to Your Session. Find the customer you want to message and click Send a message. When you activate your status as Available you can even use instant chat box tool to communicate with your potential customers. Event when they are not logged in.</p>
		
			<h5>What does Widgr cost me?</h5>
			<p>When you don't plan to provide paid sessions, Widgr will be always free for you. Hovewer for paid sessions there is a 5% fee from the session's price which is substracted from your gross incoming payment.</p>
		
			<h5>Will pricing change affect existing bookings or only new bookings?</h5>
			<p>All Sessions scheduled before any pricing change will be charged whatever the price was at the time of booking. Only Sessions booked after the pricing change will be affected by the new price. You can always override the default price on every individual Session</p>

			<h5>Will pricing change affect my existing customer ratings and reviews?</h5>
			<p>Existing customer ratings and reviews will remain on your listing page.</p>

			<h5>How can I improve my search listing visibility?</h5>
			<p>There are many ways to make your Listing more discoverable in the search results. Having availability is critical, and we highly recommend having instant availability as often as you can in addition to scheduled availability. Other factors include keywords in your description and title, introductory video, and reputation</p>
		
			<h5>What's the benefit of offering First Session Free?</h5>
			<p>First Session Free allows new customers an opportunity to try your Session for free. It's a great way to drive more customers to your Listing and increase your business. It's also a great way to transition your Listings from free to paid while keeping your existing customer ratings and reviews.</p>

			<h5>Will customers have to sign in to see my Profile or Listing?</h5>
			<p>No. Customers will be able to see your Listings without signing in; however, they must sign in to book a Session.</p>

			<h5>When will I be paid for my Sessions?</h5>
			<p>All Paymentns are currently done through PayPal and are processed immediately.</p>
		
			<h5>How do I issue a refund to my customer?</h5>
			<p>You can issue a refund to your Customer through Received payments screen. Here you can find individual transactions and refund them easily with just few clicks.</p>

			<h5>Will customers have to sign in to see member pricing?</h5>
			<p>No. Customers will be able to see member pricing when they browse or search for a Listing. They will be required to sign in during booking.</p>

			<br/>
			<br/>
		</div>
	</div>
</div>