#{extends 'main.html' /} 
#{set 'title'}
	Help
#{/set}

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
#{/set}

#{set 'moreStyles'}
#{/set}

<div class="container">
	<div class="row" style="font-size:1.0em">
		<div class="col-md-12">
			<br/>
			<br/>
			<h1 class="text-center">Help & FAQ</h1>
			<div class="separator"></div>
			<ul class="list">
				<li><a href="/help#basic-use"><i class="icon-right-open"></i>How to use Widgr as Customer</a></li>
				<li><a href="/help#basic-use-publisher"><i class="icon-right-open"></i>How to use Widgr as Publisher</a></li>
				<li><a href="/help#paypal"><i class="icon-right-open"></i>How to set up your Publisher account for PayPal</a></li>
				<li><a href="/help#facebook"><i class="icon-right-open"></i>How to connect your account with Facebook</a></li>
				<li><a href="/help#gcal"><i class="icon-right-open"></i>How to sync your sessions with Google Calendar</a></li>
			</ul>
			<br/>
	
			
			<a id="basic-use"></a>
			<h2>How to use Widgr as Customer</h2>
			<div class="separator-2"></div>
			<div class="row">
				<div class="col-md-6">
					<p>Widgr is an easy and comfortable way to learn skills and get help from experts over the Internet. No matter who you are, where you are, or what time it is, you can talk to someone who can help you.</p>
					<p>Widgr is a place where you can find people offering help on a wide variety of subjects. We call them Widgr Publishers. These publishers can be individuals or companies. You can find the help you need by visiting the Widgr and searching or browsing various categories.</p>
					<p>This video example shows you how to schedule a Session for particular Channel.
				</div>
				<div class="col-md-6">
					<div class="side vertical-divider-left">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe width="100%" src="https://www.youtube.com/embed/1FOdK6zZd6c" frameborder="0" allowfullscreen></iframe>
						</div>			
					</div>
				</div>
			</div>
			<br/>
			<br/>
			
			
			<a id="basic-use-publisher"></a>
			<h2>How to use Widgr as Publisher</h2>
			<div class="separator-2"></div>
			<div class="row">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="100%" src="https://www.youtube.com/embed/TRB8m6eOOyc" frameborder="0" allowfullscreen></iframe>
					</div>			
				</div>
				<div class="col-md-6">
					<div class="side vertical-divider-left">
						<p>Ever wanted to share cooking recipes, speak a new language, or provide health tips? Widgr allows you to share your passion and expertise through live video, right from your computer or mobile device</p>
						<p>For becoming a Publisher you will need fill additional personal information about yourself, such as your education and experiences to ensure people that you are the right person they are searching for.</p>
						<p>Next step is to create your first Channel. After you submit a channel, it will go through a review process to ensure it complies with Widgr Policies. Once your channel is reviewed, we will send you a notification and let you know whether channel was approved. </p>
						<p>This video example shows you how to request for a Publisher account.</p>
					</div>			
				</div>
			</div>
			<br/>
			<br/>

			<a id="paypal"></a>
			<h2>How to set up your Publisher account for PayPal</h2>
			<div class="separator-2"></div>
			<div class="row">
				<div class="col-md-6">
					<p>When you decide to start providing paid Channels through Widgr, all you need is to enter your PayPal account name in Settings page. It must be a verified Premier or Business account, as you will use this account for receiving money.</p>
					<p>This video example shows you where you can set up your PayPal account.</p>
				</div>
				<div class="col-md-6">
					<div class="side vertical-divider-left">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe width="100%" src="https://www.youtube.com/embed/ga6kmEdvQ6Y" frameborder="0" allowfullscreen></iframe>
						</div>			
					</div>			
				</div>
			</div>
			<br/>
			<br/>

			<a id="facebook"></a>
			<h2>How to connect your account with Facebook</h2>
			<div class="separator-2"></div>
			<div class="row">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="100%" src="https://www.youtube.com/embed/ga6kmEdvQ6Y" frameborder="0" allowfullscreen></iframe>
					</div>			
				</div>
				<div class="col-md-6">
					<div class="side vertical-divider-left">
						<p>
						You can use Facebook to speed up registration process and afterwards you will be able to log into Widgr with your facebook account. 
						You can always change or disconnect Widgr from your Facebook account anytime</p>
						<p>As a Widgr Publisher you might find useful another feature. If you own a Facebook page, you can install Widgr extension to your Facebook page. 
						With this option your Widgr profile will be displayed on a custom page tab within your Facebook page. So it will become more accessible to your existing Facebook community</p>
						<p>This video example shows how you can add widgr to your Facebook page</p>
					</div>			
				</div>
			</div>
			<br/>
			<br/>

			<a id="gcal"></a>
			<h2>How to sync your sessions with Google Calendar</h2>
			<div class="separator-2"></div>
			<div class="row">
				<div class="col-md-6">
					<p>For better planning you might find useful another feature. You can connect Widgr with Google Calendar. With this option you can be notified about upcoming Sessions on every device where you are using Google Calendar</p>
					<p>This video example shows how to sync your Sessions with Google Calendar</p>
				</div>
				<div class="col-md-6">
					<div class="side vertical-divider-left">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe width="100%" src="https://www.youtube.com/embed/ga6kmEdvQ6Y" frameborder="0" allowfullscreen></iframe>
						</div>			
					</div>			
				</div>
			</div>
			<br/>
			<br/>
			
			
			<br/>
			<br/>
			<a id="faq"></a>
			<h2 class="text-center" >Frequently asked questions (Customers)</h2>			
			<div class="separator"></div>
			<br/>
			
			<h5>How should I handle technical issues?</h5>
			<p>Technical issues can happen at any time. If you get disconnected, try rejoining the Session again with F5 (Refresh). If you're experiencing technical issues while in a Widgr (e.g., poor audio or video quality), you can submit feedback by clicking the bull horn icon at the top of the Session screen and selecting Send feedback. You can also contact us to report any technical issues</p>

			<h5>How do I request a refund?</h5>
			<p>You can request a refund by clicking button "Request Refund" in upper right corner on the Session page. After submitting your request Publisher will be notified and can issue you a refund.</p>
			
			

			<br/>
			<br/>
			<a id="faq"></a>
			<h2 class="text-center" >Frequently asked questions (Publishers)</h2>			
			<div class="separator"></div>
			<br/>
			
			<h5>How should I handle technical issues?</h5>
			<p>Technical issues can happen at any time. If you get disconnected, try rejoining the Session again with F5 (Refresh). If you're experiencing technical issues while in a Widgr (e.g., poor audio or video quality), you can submit feedback by clicking the bull horn icon at the top of the Session screen and selecting Send feedback. You can also contact us to report any technical issues</p>
			
			<h5>How do I contact my customer before the Session?</h5>
			<p>You can send a message to a customer by going to Your Session. Find the customer you want to message and click Send a message. When you activate your status as Available you can even use instant chat box tool to communicate with your potential customers. Event when they are not logged in.</p>
		
			<h5>Will pricing change affect existing bookings or only new bookings?</h5>
			<p>All Sessions scheduled before any pricing change will be charged whatever the price was at the time of booking. Only Sessions booked after the pricing change will be affected by the new price. You can always override the default price on every individual Session</p>

			<h5>Will pricing change affect my existing customer ratings and reviews?</h5>
			<p>o. Existing customer ratings and reviews will remain on your listing page.</p>

			<h5>How can I improve my search listing visibility?</h5>
			<p>There are many ways to make your Channel more discoverable in the search results. Having availability is critical, and we highly recommend having instant availability as often as you can in addition to scheduled availability. Other factors include keywords in your description and title, introductory video, and reputation</p>
		
			<h5>What's the benefit of offering First Session Free?</h5>
			<p>First Session Free allows new customers an opportunity to try your Session for free. It's a great way to drive more customers to your Channel and increase your business. It's also a great way to transition your Channels from free to paid while keeping your existing customer ratings and reviews.</p>

			<h5>Will customers have to sign in to see my Profile or Channel?</h5>
			<p>No. Customers will be able to see your Channels without signing in; however, they must sign in to book a Session.</p>

			<h5>When will I be paid for my Sessions?</h5>
			<p>All Paymentns are currently done through PayPal and are processed immediately.</p>
		
			<h5>How do I issue a refund to my customer?</h5>
			<p>You can issue a refund to your Customer through Received payments screen. Here you can find individual transactions and refund them easily with just few clicks.</p>

			<h5>Will customers have to sign in to see member pricing?</h5>
			<p>No. Customers will be able to see member pricing when they browse or search for a Channel. They will be required to sign in during booking.</p>

			<br/>
			<br/>
		</div>
	</div>
</div>