#{extends 'main.html' /} 

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
#{/set}

#{set 'moreStyles'}
#{/set}



<!-- banner start -->
<!-- ================ -->
<div class="banner">

	<!-- slideshow start -->
	<!-- ================ -->
	<div class="slideshow">
		
		<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-banner-container">
			<div class="slider-banner">
				<ul>
					<!-- slide 1 start -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Premium HTML5 template">
					
					<!-- main image -->
					<img src="/images/slider-1-slide-education.jpg"  alt="slidebg1" data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="right center">

					<!-- LAYER NR. 1 -->
					<div class="tp-caption default-bg large sfr tp-resizeme"
						data-x="0"
						data-y="70" 
						data-speed="600"
						data-start="1200"
						data-end="9400"
						data-endspeed="600">For customers
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600">Want to know mo
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600">Find everything on one place
					</div>

					<!-- LAYER NR. 6 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600">Get help from Experts
					</div>

					<!-- LAYER NR. 10 -->
					<div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
						data-x="0"
						data-y="370" 
						data-speed="600"
						data-start="2400"
						data-end="9400"
						data-endspeed="600">And Much More...
					</div>

					<!-- LAYER NR. 11 -->
					<div class="tp-caption sfr tp-resizeme"
						data-x="right"
						data-y="center" 
						data-speed="600"
						data-start="1700"
						data-end="9400"
						data-endspeed="600">
						#{if ratings && ratings.education}
							#{set item:ratings.education /}
							#{include 'homeRating.html' /}
						#{/if}
					</div>
					
					</li>
					<!-- slide 1 end -->
					
					<!-- slide 2 start -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
					
					<!-- main image -->
					<img src="images/slider-2-slide-run.jpg"  alt="slidebg1" data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="right center">

					<!-- LAYER NR. 1 -->
					<div class="tp-caption default_bg large sfr tp-resizeme"
						data-x="0"
						data-y="70" 
						data-speed="600"
						data-start="1200"
						data-end="9400"
						data-endspeed="600">For Publishers
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption default_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600">Offer your experience as new service
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption default_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600">Reach your community on Social networks
					</div>

					<!-- LAYER NR. 6 -->
					<div class="tp-caption default_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600">Get paid for helping other
					</div>

					<!-- LAYER NR. 10 -->
					<div class="tp-caption default_bg sfb medium tp-resizeme"
						data-x="0"
						data-y="370" 
						data-speed="600"
						data-start="2400"
						data-end="9400"
						data-endspeed="600">And Much More...
					</div>

					<!-- LAYER NR. 11 -->
					<div class="tp-caption sfr tp-resizeme"
						data-x="right"
						data-y="center" 
						data-speed="600"
						data-start="1400"
						data-end="9400"
						data-endspeed="600">
						#{if ratings && ratings.sport}
							#{set item:ratings.sport /}
							#{include 'homeRating.html' /}
						#{/if}						
					</div>

					</li>
					<!-- slide 2 end -->

					<!-- slide 3 start -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
					
					<!-- main image -->
					<img src="/images/slider-3-slide-business.jpg"  alt="kenburns"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="right center">

					<!-- LAYER NR. 1 -->
					<div class="tp-caption large sfr tp-resizeme"
						data-x="0"
						data-y="70" 
						data-speed="600"
						data-start="1200"
						data-end="9400"
						data-endspeed="600"><img id="logo" src="/images/logo_purple.png" style="" alt="widgr">
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600">Integration with Facebook
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600">Sync your Events with Calendar
					</div>

					<!-- LAYER NR. 6 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600">Easy and secure payment with Paypal
					</div>

					<!-- LAYER NR. 10 -->
					<div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
						data-x="0"
						data-y="370" 
						data-speed="600"
						data-start="2400"
						data-end="9400"
						data-endspeed="600">Don't miss out!
					</div>

					<!-- LAYER NR. 11 -->
					<div class="tp-caption sfr"
						data-x="right" data-hoffset="0"
						data-y="center" 
						data-speed="600"
						data-start="2700"
						data-endspeed="600"
						data-autoplay="false"
						data-autoplayonlyfirsttime="false"
						data-nextslideatend="true">
						#{if ratings && ratings.sport}
							#{set item:ratings.sport /}
							#{include 'homeRating.html' /}
						#{/if}
					</div>

					</li>
					<!-- slide 3 end -->
				</ul>
				<div class="tp-bannertimer tp-bottom"></div>
			</div>
		</div>
		<!-- slider revolution end -->

	</div>
	<!-- slideshow end -->

</div>
<!-- banner end -->


<!-- main-container start -->
<!-- ================ -->
<section class="main-container gray-bg">

	<!-- main start -->
	<!-- ================ -->
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				
					<form class="form" role="form" method="get" action="/channels">
					    <div class="input-group banner-search input-block">
					      	<input type="text" placeholder="Find Help with ..." style="width:400px" class="form-control" autocomplete="off" size="70" maxlength="100" name="search" id="query-search" value="${request.params.search}" data-provide="typeahead">
							<script src="@{'/public/javascripts/suggest.js'}" type="text/javascript"></script>						    
						    <span class="input-group-btn">
						    	<button class="btn btn-default btn-short btn-margin" style="height:40px;" id="dialog-invite-button" type="submit"><i style="font-size:1.3em" class="fa fa-search"></i></button>
						    </span>
					    </div>
					</form>						
				
					<h1 class="text-center title">What is <img id="logo" src="/images/logo_purple.png" style="" alt="widgr"> about?</h1>
					<div class="row">
						<!-- 
						<p class="text-center">one place where you can</p>
						 -->
						<div class="col-sm-4">
							<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
								<i class="fa fa-leaf"></i>
								<h2>Find Help</h2>
								<p>
									With Helpouts you can get help anytime from people with expertise across a range 
									of topics. Teachers, counselors, doctors, home repair specialists, personal trainers, 
									hobby enthusiasts, and more.
								</p>
								<a href="page-services.html" class="btn-default btn">Read More</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
								<i class="fa fa-laptop"></i>
								<h2>Get Help</h2>
								<p>
									You can choose who to get help from based on qualifications, availability, ratings and reviews. 
									Also, you can choose to get help right away or schedule a Helpout for later.
								</p>
								<a href="page-services.html" class="btn-default btn">Read More</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
								<i class="fa fa-sitemap"></i>
								<h2>Get Paid</h2>
								<p>While some Helpouts are free, you'll need to pay for some. Paying for help is easy using Google Wallet.</p>
								<a href="page-services.html" class="btn-default btn">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- main end -->

</section>
<!-- main-container end -->


<!-- section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg-3">
	<div class="container">
		<div class="call-to-action">
			<div class="row">
				<div class="col-md-8">
					<h1 class="title text-center">You are on the right place</h1>
					<p class="text-center">Just fill in quick registration form and find the right expert for you.</p>
				</div>
				<div class="col-md-4">
					<div class="text-center">
						<a href="/registration" class="btn btn-default btn-lg">Register Now, it's free</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="section clearfix">

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Channels by Category <small><a class="link pull-right" href="/channels">VIEW ALL</a></small></h2>
				<div class="separator-2"></div>
				<div style="text-align:center">
					<a data-category="business" rel="tooltip" data-placement="top" title="Business" class="category segoe-bold #{if request.params.category =='business'}black#{/if}" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-suitcase"></i></a>
					<a data-category="education" rel="tooltip" data-placement="top" title="Education" class="category segoe-bold " style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-graduation-cap"></i></a>
					<a data-category="electronics" rel="tooltip" data-placement="top" title="Computers & Technicals" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-desktop"></i></a>
					<a data-category="health" rel="tooltip" data-placement="top" title="Health & Nutrition" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-medkit"></i></a>
					<a data-category="art" rel="tooltip" data-placement="top" title="Art & Music" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-music"></i></a>
					<a data-category="sport" rel="tooltip" data-placement="top" title="Sport's & Fitness" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-futbol-o"></i></a>
					<a data-category="household" rel="tooltip" data-placement="top" title="Household & Gardening" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-wrench"></i></a>
					<a data-category="18plus" rel="tooltip" data-placement="top" title="18+ (Adults only)" class="category segoe-bold" style="cursor: pointer; text-decoration:none; font-size: 3em;margin:20px"><nobr>18<i style="font-size:0.7em;position:relative;left:-12px;top:4px" class="fa fa-plus"></i></nobr></a>
				</div>				
				<br/>
				<div style="text-align:center;width:100%">
					<div id="itemsListListing" style="margin:auto;width:100%">
					</div>

					<div class="spinner-container1">
						<div class="spinner-container">
							<div id="spinnerListing" class="spinner-load"></div>
							<a id="moreResultsListing" class="spinner-more"><i class=" icon-plus-circled"></i></a>
						</div>
					</div>
				</div>		
				<script>
					$(document).ready(function(){
						var params = "";
						star.initItems("Listing", params);
		
						if ($("[rel=tooltip]").length) {
				        	$("[rel=tooltip]").tooltip();
				        }
					     
					    $(document).on("click", ".link", function(){
					        document.location = $(this).attr("data-href");
					    });
					    
					    $(".category").click(function(){
					        $(".category").removeClass("black");    
					    	var category = $(this).attr("data-category"); 
					    	$(this).addClass("black");
					    	
					    	$("#itemsListListing").html("");
							var params = "&category="+category;
							star.Listing.first = 0;
							star.initItems("Listing", params);
					    });
					});				
				</script>						
			</div>
		</div>
	</div>

</div>
<!-- section end -->
