#{extends 'main.html' /} 
#{set 'title'}
	&{'home'}
#{/set}

#{set 'moreScripts'}
	<script>
		$(document).ready(function(){
			var params = "";
			star.initItems("Listing", params);

		    $(document).on("click", ".link", function(){
		        document.location = $(this).attr("data-href");
		    });
		    
		    $(".category").click(function(){
		        $(".category").removeClass("black");    
		    	var category = $(this).attr("data-category"); 
		    	$(this).addClass("black");
		    	
		    	$("#itemsListListing").html("");
				var params = "&category="+category;
				star.Listing.first = 0;
				star.initItems("Listing", params);
		    });
		});				
	</script>
#{/set}

#{set 'moreStyles'}
#{/set}



<!-- banner start -->
<!-- ================ -->
<div class="banner">

	<!-- slideshow start -->
	<!-- ================ -->
	<div class="slideshow">
		
		<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-banner-container">
			<div class="slider-banner">
				<ul>
					<!-- slide 1 start -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="">
					
					<!-- main image -->
					<img src="/images/slider-1-slide-3.jpg">

					<!-- LAYER NR. 1 -->
					<div class="tp-caption default-bg large sfr tp-resizeme"
						data-x="0"
						data-y="70" 
						data-speed="600"
						data-start="1200"
						data-end="9400"
						data-endspeed="600">&{'for-customers'}
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600">&{'find-everything-on-one-place'}
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600">&{'get-help-from-experts'}
					</div>

					<!-- LAYER NR. 6 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600">&{'easy-use'}
					</div>

					*{
					<!-- LAYER NR. 10 -->
					<div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
						data-x="0"
						data-y="370" 
						data-speed="600"
						data-start="2400"
						data-end="9400"
						data-endspeed="600">&{'and-much-more'}
					</div>

					<!-- LAYER NR. 11 -->
					<div class="tp-caption sfr tp-resizeme"
						data-x="right"
						data-y="center" 
						data-speed="600"
						data-start="1700"
						data-end="9400"
						data-endspeed="600">
						#{if ratings && ratings.education}
							#{set item:ratings.education /}
							#{include 'homeRating.html' /}
						#{/if}
					</div>
					}*
					
					</li>
					<!-- slide 1 end -->
					
					<!-- slide 2 start -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="">
					
					<!-- main image -->
					<img src="images/slider-3-slide-business.jpg">

					<!-- LAYER NR. 1 -->
					<div class="tp-caption default_bg large sfr tp-resizeme"
						data-x="0"
						data-y="70" 
						data-speed="600"
						data-start="1200"
						data-end="9400"
						data-endspeed="600">&{'for-publishers'}
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption default_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600">&{'offer-your-experience'}
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption default_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600">&{'reach-your-community'}
					</div>

					<!-- LAYER NR. 6 -->
					<div class="tp-caption default_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600">&{'get-paid-for-helping'}
					</div>

					*{
					<!-- LAYER NR. 10 -->
					<div class="tp-caption default_bg sfb medium tp-resizeme"
						data-x="0"
						data-y="370" 
						data-speed="600"
						data-start="2400"
						data-end="9400"
						data-endspeed="600">&{'and-much-more'}
					</div>

					<!-- LAYER NR. 11 -->
					<div class="tp-caption sfr tp-resizeme"
						data-x="right"
						data-y="center" 
						data-speed="600"
						data-start="1400"
						data-end="9400"
						data-endspeed="600">
						#{if ratings && ratings.sport}
							#{set item:ratings.sport /}
							#{include 'homeRating.html' /}
						#{/if}						
					</div>
					}*
					
					</li>
					<!-- slide 2 end -->

					<!-- slide 3 start -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="">
					
					<!-- main image -->
					<img src="/images/slider-1-slide-2.jpg">

					<!-- LAYER NR. 1 -->
					<div class="tp-caption large sfr tp-resizeme"
						data-x="0"
						data-y="70" 
						data-speed="600"
						data-start="1200"
						data-end="9400"
						data-endspeed="600"><img id="logo" src="/images/logo_purple_footer.png" style="" alt="widgr">
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="170" 
						data-speed="600"
						data-start="1600"
						data-end="9400"
						data-endspeed="600">&{'feature31'}
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="220" 
						data-speed="600"
						data-start="1800"
						data-end="9400"
						data-endspeed="600">&{'feature32'}
					</div>

					<!-- LAYER NR. 6 -->
					<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
						data-x="0"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600"><i class="icon-check"></i>
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption white_bg sfb medium tp-resizeme"
						data-x="50"
						data-y="270" 
						data-speed="600"
						data-start="2000"
						data-end="9400"
						data-endspeed="600">&{'feature33'}
					</div>
					
					*{
					<!-- LAYER NR. 10 -->
					<div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
						data-x="0"
						data-y="370" 
						data-speed="600"
						data-start="2400"
						data-end="9400"
						data-endspeed="600">&{''}
					</div>

					<!-- LAYER NR. 11 -->
					<div class="tp-caption sfr"
						data-x="right" data-hoffset="0"
						data-y="center" 
						data-speed="600"
						data-start="2700"
						data-endspeed="600"
						data-autoplay="false"
						data-autoplayonlyfirsttime="false"
						data-nextslideatend="true">
						#{if ratings && ratings.sport}
							#{set item:ratings.sport /}
							#{include 'homeRating.html' /}
						#{/if}
					</div>
					}*

					</li>
					<!-- slide 3 end -->
				</ul>
				<div class="tp-bannertimer tp-bottom"></div>
			</div>
		</div>
		<!-- slider revolution end -->

	</div>
	<!-- slideshow end -->

</div>
<!-- banner end -->


<section class="main-container white-bg" style="padding-top:0px">
	<div class="main">
		<div class="container">
			<div class="row">
			
				<div class="col-sm-12">
					<form class="form" role="form" method="get" action="/search">
					    <div class="input-group banner-search">
					      	<input type="text" placeholder="Find Help with ..." class="form-control" autocomplete="off" size="30" maxlength="100" name="q" id="query-search" value="${request.params.q}" data-provide="typeahead">
						    <span class="input-group-btn">
						    	<button class="btn btn-default btn-short btn-margin" style="height:40px;" id="dialog-invite-button" type="submit"><i style="font-size:1.3em" class="fa fa-search"></i></button>
						    </span>
					    </div>
					</form>					
				</div>
				
				<div class="col-sm-4">
					<div class="object-non-visible animated object-visible fadeInUpSmall centered" data-animation-effect="fadeInUpSmall" data-effect-delay="1500">
						<h2>
							<i class="icon-users"></i><br/>
							&{'group-video-chat'}
						</h2>
						&{'group-video-chat-desc'}
					</div>
				</div>
				<div class="col-sm-4">
					<div class="object-non-visible animated object-visible fadeInUpSmall centered" data-animation-effect="fadeInUpSmall" data-effect-delay="2000">
						<h2>
							<i class="fa fa-desktop"></i><br/>
							&{'screen-sharing'}
						</h2>
						&{'screen-sharing-desc'}
					</div>
				</div>
				<div class="col-sm-4">
					<div class="object-non-visible animated object-visible fadeInUpSmall centered" data-animation-effect="fadeInUpSmall" data-effect-delay="2500">
						<h2>
							<i class="icon-download"></i><br/>
							&{'no-installation'}
						</h2>
						&{'no-installation-desc'}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- section start -->
<!-- ================ -->
<div class="section parallax default-translucent-bg parallax-bg-3" style="padding:30px">
	<div class="container">
		<div class="call-to-action">
			<div class="row">
				<div class="col-md-8">
					<h2 class="title text-center" style="font-size:2.5em">&{'instant-video-calls'}</h2>
					<p class="text-center" style="font-size:1.4em;margin-bottom:0px;">&{'anonymous-peers-no-plugins'}</p>
				</div>
				<div class="col-md-4">
					<div class="text-center">
						<a href="/instant" target="_blank" class="btn btn-dark btn-lg"><i class="fa fa-video-camera fa-flip-horizontal"></i> &nbsp; &{'start-now'}</a>
					</div>
					<div class="owl-carousel clients">
						<div class="client">
							<a ><img src="images/chrome-logo.png" style="width:50px;height:50px"></a>
						</div>
						<div class="client">
							<a ><img src="images/opera-logo.png" style="width:50px;height:50px"></a>
						</div>
						<div class="client">
							<a ><img src="images/explorer-logo.png" style="width:50px;height:50px"></a>
						</div>
						<div class="client">
							<a ><img src="images/firefox_logo.png" style="width:50px;height:50px"></a>
						</div>
						<div class="client">
							<a ><img src="images/safari-logo.png" style="width:50px;height:50px"></a>
						</div>
					</div>						
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section end -->


<!-- main-container start -->
<!-- ================ -->
<section class="main-container gray-bg">

	<!-- main start -->
	<!-- ================ -->
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center title">&{'what-is'}</h1>
					<div class="row">
						<div class="col-sm-4">
							<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
								<i class="fa fa-search"></i>
								<h2>&{'find-help'}</h2>
								<p>
									&{'find-help-message'}
								</p>
								<a href="/about" class="btn-white btn">&{'read-more'}</a>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="500">
								<i class="icon-users"></i>
								<h2>&{'get-help'}</h2>
								<p>
									&{'get-help-message'}
								</p>
								<a href="/about" class="btn-white btn">&{'read-more'}</a>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="1000">
								<i class="fa fa-line-chart"></i>
								<h2>&{'get-paid'}</h2>
								<p>
									&{'get-paid-message'}
								</p>
								<a href="/about" class="btn-white btn">&{'read-more'}</a>
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- main end -->
</section>
<!-- main-container end -->


<!-- features -->
#{include 'features.html' /}


<!-- section start -->
<!-- ================ -->
<div class="section dark-bg" style="padding:30px">
	<div class="container">
		<div class="call-to-action">
			<div class="row">
				<div class="col-md-8">
					<h2 class="title text-center" style="font-size:2.5em">&{'you-are-on-the-right-place'}</h2>
					<p class="text-center" style="font-size:1.4em;margin-bottom:0px;">&{'fill-in-quick-registration-and-start-using-widgr'}</p>
				</div>
				<div class="col-md-4">
					<div class="text-center">
						<a href="/registration" class="btn btn-default btn-lg"><i class="fa fa-pencil"></i> &nbsp; &{'register-now'}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section end -->


<!-- section start -->
<!-- ================ -->
<div class="section clearfix">

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>&{'channels-by-category'} <small><a class="link pull-right" href="/search">&{'view-all'}</a></small></h2>
				<div class="separator-2"></div>
				<div style="text-align:center">
					<a data-category="business" rel="tooltip" data-placement="top" title="&{'business'}" class="category segoe-bold #{if request.params.category =='business'}black#{/if}" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-suitcase"></i></a>
					<a data-category="education" rel="tooltip" data-placement="top" title="&{'education'}" class="category segoe-bold " style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-graduation-cap"></i></a>
					<a data-category="electronics" rel="tooltip" data-placement="top" title="&{'electronics'}" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-laptop"></i></a>
					<a data-category="food" rel="tooltip" data-placement="top" title="&{'food'}" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-cutlery"></i></a>
					<a data-category="health" rel="tooltip" data-placement="top" title="&{'health'}" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-heartbeat"></i></a>
					<a data-category="art" rel="tooltip" data-placement="top" title="&{'art'}" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-music"></i></a>
					<a data-category="sport" rel="tooltip" data-placement="top" title="&{'sport'}" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-futbol-o"></i></a>
					<a data-category="fashion" rel="tooltip" data-placement="top" title="&{'fashion'}" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-eye"></i></a>
					<a data-category="household" rel="tooltip" data-placement="top" title="&{'household'}" class="category segoe-bold" style="cursor: pointer; font-size: 3em;margin:20px"><i class="fa fa-wrench"></i></a>
					*{
					<a data-category="18plus" rel="tooltip" data-placement="top" title="&{'18plus'}" class="category segoe-bold" style="cursor: pointer; text-decoration:none; font-size: 3em;margin:20px"><nobr>18<i style="font-size:0.7em;position:relative;left:-12px;top:4px" class="fa fa-plus"></i></nobr></a>
					}*
				</div>				
				<br/>
				<div style="text-align:center;width:100%">
					<div id="itemsListListing" style="margin:auto;width:100%">
					</div>
					&nbsp;

					<div class="spinner-container1">
						<div class="spinner-container">
							<div id="spinnerListing" class="spinner-load"></div>
							<a id="moreResultsListing" class="spinner-more"><i class=" icon-plus-circled"></i></a>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>

</div>
<!-- section end -->
