#{extends 'main.html' /} 
#{set 'title'}
	&{'dashboard'}
#{/set}

#{set 'moreScripts'}
#{/set}

<div class="padding container container-xs-height">
	<div class="row row-xs-height">
	
		<div class="col-md-12 col-xs-height col-top">
			<h2>
				<i class="fa fa-share-alt"></i> &{'manage-channels'}
				<a href="/channel/new?action=edit&new=true&url=${request.url.urlEncode()}" class="btn btn-light-gray margin-clear btn-sm"><i class="fa fa-plus"></i> Create Channel</a>
			</h2>
			<br/>	
			#{if listings}
				#{set items:listings /}
				#{set forEvents:false /}
				#{include 'listingsList.html' /}
			#{/if}	
		</div>
	</div>
</div>

