#{extends 'main.html' /} 
#{set 'title'}
	&{'dashboard'}
#{/set}

#{set 'moreScripts'}
	<script>
		var now = (new Date(new Date().getTime())).toJSON();
		var params1 = "&start="+now+"&end="+now+"&direction=previous&type=dashboard";
		star.initItems("Previous", params1);
	
	
	    star.dashboard = true;
		#{if user}
	   		star.user = "${user.uuid}";	
		#{/if}
		starCalendar.comments = true;
	</script>
#{/set}

#{set 'moreMessages'}
	#{if request.cookies.msgPrevious == null}
		<div class="shadow alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" onclick="star.utils.dismiss('msgPrevious')"><span aria-hidden="true">&times;</span><span class="sr-only">&{'close'}</span></button>
		  &{'previous-msg'}
		</div>
	#{/if}
#{/set}

<div class="padding container">
	<div class="row">
		<div class="col-md-12">
			<h2><i class="icon-back-in-time"></i> &{'previous-events'}</h2>
			<div id="itemsListPrevious" class="full-widthd"></div>
			<div class="spinner-container1">
				<div class="spinner-container">
					<div id="spinnerPrevious" class="spinner-load"></div>
					<a id="moreResultsPrevious" class="spinner-more"><i class=" icon-plus-circled"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

