#{extends 'main.html' /} 

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
#{/set}

#{set 'moreStyles'}
#{/set}

<div class="container">
	<div class="row" style="font-size:1.2em">
		<br/>
		<br/>
		<h1 class="text-center">Privacy Policy</h1>
		<div class="separator"></div>
		<br/>

		<h2>What information do we collect?</h2>
		<p>
			Personal information means information about the user, under which it is possible to directly or indirectly identify the user. We respect your privacy. This Privacy Policy informs about our privacy practices and ways of collecting information online and how we use them. Capitalized terms used in this Privacy Police have the meaning assigned to the them in the Terms of Use. 
		</p>

		<h2>Your Consent</h2>
		<p>
			By using our site, you consent to our web site privacy policy.
		</p>
		
		<p>
			We collect personal data in order to improve the quality of services and adapt them to your contact with Website. 
			We may collect your personal information such as:
		</p>
		<ul>
			<li>Name</li>
			<li>Email</li>
			<li>Social links eg. Facebook, Google Plus, LinkedIn (if entered)</li>
			<li>User Profile Information (if entered)</li>
		</ul>

		<h2>How do we protect your information?</h2>
		<ul>
			<li>
				We encrypt all our services using SSL.
			</li>
			<li>
				We review our information collection, storage and processing practices, including physical security measures, to guard against unauthorized access to systems.
			</li>
			<li>
				We restrict any access to personal information third parties. We will not sell or rent your personal information, including customer e-mail addresses, to anyone. 
			</li>
		</ul>
		
		<h2>Policy Modifications</h2>
		<p>
			Any changes to this Privacy Policy by us will be published on the website and if the changes are substantial, we will notify you significantly (in the case of certain change of Privacy Policy we may notice you via e-mail). Any changes will be effective from the date of publication on the website or sending by e-mail. We periodically check the adherence of Privacy Policy. In case of receipt of a formal written request will investigate your complaint.		
		</p>
		
		<h2>How to Contact us</h2>
		<p>
			You may send comments or questions regarding this Privacy Policy to <a href="mailto:info@wid.gr">info@wid.gr</a>		
		</p>
		
		
		<br/>
		<div class="separator"></div>
		<br/>
		<br/>
	</div>
</div>