<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" 
  xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" 
  xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">
  <url> 
    <loc>https://wid.gr/</loc> 
    <priority>1</priority>
    <image:image>
       <image:loc>https://wid.gr/images/logo_purple.png</image:loc> 
    </image:image>
  </url>
  <url> 
    <loc>https://wid.gr/search</loc> 
    <priority>0.9</priority>
    <image:image>
       <image:loc>https://wid.gr/images/logo_purple.png</image:loc> 
    </image:image>
  </url>
  <url> 
    <priority>0.7</priority>
    <loc>https://wid.gr/search?category=business</loc> 
  </url>
  <url> 
    <priority>0.7</priority>
    <loc>https://wid.gr/search?category=education</loc> 
  </url>
  <url> 
    <priority>0.7</priority>
    <loc>https://wid.gr/search?category=electronics</loc> 
  </url>
  <url> 
    <priority>0.7</priority>
    <loc>https://wid.gr/search?category=art</loc> 
  </url>
  <url> 
    <priority>0.7</priority>
    <loc>https://wid.gr/search?category=health</loc> 
  </url>
  <url> 
    <priority>0.7</priority>
    <loc>https://wid.gr/search?category=sport</loc> 
  </url>
  <url> 
    <priority>0.7</priority>
    <loc>https://wid.gr/search?category=household</loc> 
  </url>
  <url>
    <priority>0.8</priority>
    <loc>https://wid.gr/about</loc> 
  </url>
  <url> 
    <priority>0.6</priority>
    <loc>https://wid.gr/help</loc> 
  </url>
  <url> 
    <priority>0.6</priority>
    <loc>https://wid.gr/faq</loc> 
  </url>
</urlset>