#{extends 'main.html' /} 

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
#{/set}

#{set 'moreStyles'}
#{/set}

<div class="container">
	<div class="row" style="font-size:1.2em">
		<br/>
		<br/>
		<h1 class="text-center">Terms of Use</h1>
		<div class="separator"></div>
		<br/>
		<p>
			To use Widgr, it is necessary that you agree to the Terms. Please read the Terms carefully. If you do not fully accept the Terms, you may not use Widgr.
		</p>
		
		<h3>Important Disclaimers.</h3>		
		<p>
			Widgr does not participate in the provision of advice or the creation of the content of any Session offered by a third-party Publisher, and does not represent or endorse and will not be responsible for: (a) the reliability or performance of any third-party Provider; (b) the safety, quality, accuracy, reliability, integrity, or legality of any Helpout offered or provided by a third-party Publisher; or the truth or accuracy of the description of any session offered or provided by a third-party Publisher, or of any advice, opinion, offer, proposal, statement, data, or other information provided by a third-party Publisher displayed, distributed, or purchased through the Service.
		</p>
		
		<h3>Verifying Provider Details.</h3>		
		<p>
			Although Widgr may in some instances attempt to verify certain information provided by Widgr Publishers, Widgr has no obligation to do so and makes no representations regarding the accuracy of such verification. It is your responsibility to verify the identity, qualifications and status of a Publisher.		
		</p>
		
		<h3>Basic Use Requirements.</h3> 		
		<p>
			To use the Service, you will need a device capable of making a Online video call and working Internet access.		
		</p>
		
		<h3>Age Restrictions.</h3>		
		<p>
			In order to use the Service you must be 13 years of age or older. If you are between 13 and 18 years of age, you must have your parent or legal guardian's permission to use the Service. You must not access the Service or accept these Terms if you are a person who is either barred or otherwise legally prohibited from receiving or using the Service or any session under the laws of the country in which you are resident or from which you access or use the Service.		
		</p>
		
		<h3>Purchasing a session.</h3> 		
		<p>
			In order to schedule certain session, you may be required to provide information about yourself such as your name, address, and billing details to Widgr. Widgr's general Privacy Policy explains how we treat your personal data and protect your privacy when using the Service. You agree that any such information you provide to Widgr will always be accurate, correct, and up to date.		
		</p>
		
		<h3>Compliance with Tax Laws.</h3>		
		<p>
			You must comply with any and all applicable tax laws, including the reporting and payment of any Taxes arising in connection with your use of the Service. The reporting and payment of any such applicable Taxes are your responsibility.
		</p>
		
		<h3>Refunds.</h3> 
		<p>
			Paypal (or payment processor's) terms and conditions regarding refunds apply to your purchase of a session except that you can also request a full or partial refund from the Publisher
		</p>
		
		<h3>Misuse of the Service.</h3> 
		<p>
			Please ensure that you use the Service in accordance with the Product Policies. There is an option available in the Service to report abuse. 
		</p>
		<br/>
		<div class="separator"></div>
		<br/>
		<br/>
	</div>
</div>