#{extends 'main.html' /} 
#{set 'title'}
	Terms of Use
#{/set}
#{set wide:true /}

<div class="container">
	<div class="row" style="font-size:1.0em">
		<div class="col-md-12">
			<br/>
			<br/>
			<h1 class="text-center">Terms of Use</h1>
			<div class="separator"></div>
			<br/>
			<p>
				To use Widgr, it is necessary that you agree to the Terms. Please read the Terms carefully. If you do not fully accept the Terms, you may not use services provided by Widgr. 
			</p>
				
			<h3>Definitions</h3>		
			<ul>
				<li><strong>Customer</strong> - End user which is subject of using services provided by Widgr will be referred as Customer. </li>
				<li><strong>Provider</strong> - User which is advertising their services on Widgr will be referred as Provider. These publishers are not affiliated with Widgr and can be individuals or companies.</li>
				<li><strong>Channel</strong> - Listing which Provider is providing</li>
				<li><strong>Session</strong> - Particular event in Channel with defined beginning and end time</li>
			</ul>
			
			<h3>Important Disclaimers</h3>		
			<p>
				Widgr does not participate in the provision of advice or the creation of the content of any 
				Session offered by a Provider, and does not represent or endorse and will not be responsible for: (a) the 
				reliability or performance of any Provider; (b) the safety, quality, accuracy, reliability, integrity, or 
				legality of any Session offered or provided by a Provider; or the truth or accuracy of the description of 
				any Session offered or provided by a Provider, or of any advice, opinion, offer, proposal, statement, data, 
				or other information provided by a Provider displayed, distributed, or purchased through the Service.
			</p>
			
			<h3>Basic Use Requirements</h3> 		
			<p>
				To use the Service, you will need a device capable of making a Online video call and working Internet access.		
			</p>
			
			<h3>Age Restrictions</h3>		
			<p>
				In order to use the Service you must be 18 years of age or older. 
				You must not access the Service or accept these Terms if you are a person who is either barred or otherwise legally prohibited 
				from receiving or using the Service or any Session under the laws of the country in which you are resident or from which you access or use the Service.		
			</p>
			
			<h3>Illegal Content</h3>		
			<p>
				Do not use Widgr to engage in illegal activities or promote dangerous or illegal acts. As a Provider, it is your responsibility to ensure that the content promoted in your Channel and during your video call complies with all applicable laws and regulations. 
				Similarly, we don't allow the promotion of any products, services, or information intended to assist users in circumventing the law or avoiding detection of illegal activity.
				If the legal status of a product or service is unclear, we may disable your account on Widgr.
				Examples of illegal content include: underage or non-consensual sexual content, prostitution, drugs, narcotics, violence, racial intolerance, etc.	
			</p>
			
			<h3>Purchasing a paid Session</h3>
			<p>
				In order to take certain Session you may be required to pay for it first.
				You can purchase paid Session using PayPal. If you do not have a verified PayPal Account, you can set one up on its <a href="http://www.paypal.com">official website</a>, 
				You agree to the <a href="https://www.paypal.com/sk/webapps/mpp/ua/acceptableuse-full">PayPal Acceptable Use Policy</a> when you purchase a Session using PayPal. 
				Please ensure that you read those terms carefully before making any purchase.
				When you schedule a Session you are committing to purchase that Session from the Provider, so please review the 
				Session description carefully before purchasing it. Provider may change the pricing and availability 
				of a Session at any time before you purchase it. Provider may also post rescheduling.
			</p>

			<h3>Verifying Provider Details</h3>		
			<p>
				Although Widgr may in some instances attempt to verify certain information provided by Providers, 
				Widgr has no obligation to do so and makes no representations regarding the accuracy of such verification. 
				It is your responsibility to verify the identity, qualifications and status of a Provider based on reviews and
				communication with Provider.		
			</p>
			
			<h3>Widgr Provider conditions</h3>
			<p>
				To become a Provider, you will need provide information about Channel, which you would like to publish. You will become publisher
				only after successfull approvement of your publisher request. During the approvement process we will review information you provided to your Profile
				and Channel which you want to publish. Published Channels must be clear, accurate, and relevant. 
				Channels must clearly and accurately describe the service being offered, and your specific, relevant experience, competency or certification that 
				qualifies you to provide that service. Channels must include a photo that is related to your topic of the Channel. 
				It must be a high quality photo, that gives a visual representation of your service. 
			</p>
			
			<p>
				In order to be able to create paid Sessions, you will be required to provide information about your valid Business or Premier PayPal account to Widgr. 
				<a href="/privacy">Privacy Policy</a> explains how we treat your personal data and protect your privacy when using the Service. 
				You agree that any such information you provide to Widgr will always be accurate, correct, and up to date. 
				You as the Provider agree that with active Basic Account, when you receive a payment for a paid Session a small fee is substracted from the incoming payment.
				<a href="/about#pricing">Please see the pricing here.</a>
				You as the Provider and the primary receiver of money must agree that you are subject of paying the PayPal fee. 
				<a href="https://www.paypal.com/us/webapps/mpp/paypal-fees">Learn more about fee structure on official PayPal site.</a>		
				To use PayPal services You must agree with <a href="https://www.paypal.com/sk/webapps/mpp/ua/acceptableuse-full">PayPal Acceptable Use Policy</a>.	
			</p>
			
			<p>
				Introduction videos which you may upload to the published Channel are a great way for potential Customers to get to know you 
				and what to expect during your Session. Please make sure that your introduction videos adhere to the following guidelines:
			</p>
			
			<ul>
				<li>Short and concise - Introduction videos must be less than 5 minutes long</li>
				<li>Talk about what you are going to offer - Focus on what you will cover in this Session.</li>
				<li>Talk about why youare qualified and what sets you apart - Give a quick overview of your qualifications most related to the Session topic you will be teaching.</li>
				<li>Background, sound, and lighting - Record your video in the location where you will be hosting Session. Make sure that your voice is audible, that you speak clearly, and that you have sufficient lighting to be clearly visible.</li>
				<li>Show yourself - Customers want to get to know you, so make sure that you make a live appearance in the video.</li>
			</ul>

			<h3>Refunds for Customers</h3> 
			<p>
				If you as a Customer are not completely happy with your experience, Widgr supports refundation policy. You as a Customer can issue a refund within 72 hours after completing the Session.
				PayPal (or payment processor's) terms and conditions regarding refunds apply to your purchase of a Session except that you can also request a full or partial refund from the Provider.
				First, we'll suggest that you request a refund from the Provider of the provided Session. 
				If the Provider does not issue a satisfactory refund, We will issue you the refund on behalf of the Provider. If you would like a refund, please <a href="/about#contact">contact us</a>.
			</p>
			<strong>Important!</strong> To be able to guarantee money back for the Customer, you as the provider of the Session must agree that, we reserve the right to complete the refund 
			transaction on behalf of the Provider. This will happen only after individual consideration of the particular complaint.

			<h3>Compliance with Tax Laws</h3>		
			<p>
				You must comply with any and all applicable tax laws, including the reporting and payment of any Taxes arising in connection with your use of the Service. 
				The reporting and payment of any such applicable Taxes are your responsibility.
			</p>
			
			<h3>Misuse of the Service</h3> 
			<p>
				Please ensure that you use the Service in accordance with the Product Policies. 
			</p>
			
			<h3>Access to Data in the Service</h3> 
			<p>
				Administrator of Widgr may access and review messages, chat transcripts, or other private 
				information in the Service to provide customer service, review claims of abuse, 
				and for other reasons in accordance with general Privacy Policy, unless stated otherwise. 
			</p>
			
			<h3>About these Terms</h3> 
			<p>
				We may modify these Terms to, for example, reflect changes to the law or changes to our services. 
				You should look at the Terms regularly. We will post notice of modifications to these Additional Terms for Customers on this page. 
				Changes will not apply retroactively and will become effective no sooner than fourteen days after they are posted. 
				However, changes addressing new functions or changes made for legal reasons will be effective immediately. 
				If you do not agree to the modified terms, you should discontinue your use of Widgr.
			</p>
			<br/>
			<div class="separator"></div>
			<br/>
			<br/>
		</div>
	</div>
</div>