#{extends 'main.html' /} 

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
#{/set}

#{set 'moreStyles'}
#{/set}

<div class="container">
	<div class="row" style="font-size:1.2em">
		<br/>
		<br/>
		<h1 class="text-center">Terms of Use</h1>
		<div class="separator"></div>
		<br/>
		<p>
			To use Widgr, it is necessary that you agree to the Terms. Please read the Terms carefully. If you do not fully accept the Terms, you may not use Widgr.
		</p>
		<p>
			<strong>Important Disclaimers.</strong> Widgr does not participate in the provision of advice or the creation of the content of any Helpout offered by a third-party Provider, and does not represent or endorse and will not be responsible for: (a) the reliability or performance of any third-party Provider; (b) the safety, quality, accuracy, reliability, integrity, or legality of any Helpout offered or provided by a third-party Provider; or (c) the truth or accuracy of the description of any Helpout offered or provided by a third-party Provider, or of any advice, opinion, offer, proposal, statement, data, or other information provided by a third-party Provider displayed, distributed, or purchased through the Service.
		</p>
		<p>
			<strong>Verifying Provider Details.</strong> Although Google may in some instances attempt to verify certain information provided by Providers, Google has no obligation to do so and makes no representations regarding the accuracy of such verification. It is your responsibility to verify the identity, qualifications and status of a Provider.		
		</p>
		<p>
			<strong>Basic Use Requirements.</strong> To use the Service, you will need a device capable of making a Hangouts call and working Internet access.		
		</p>
		<p>
			<strong>Age Restrictions.</strong> In order to use the Service you must be 13 years of age or older. If you are between 13 and 18 years of age, you must have your parent or legal guardian's permission to use the Service. You must not access the Service or accept these Terms if you are a person who is either barred or otherwise legally prohibited from receiving or using the Service or any Helpout under the laws of the country in which you are resident or from which you access or use the Service.		
		</p>
		<p>
			<strong>Purchasing a Helpout.</strong> In order to schedule certain Helpouts, you may be required to provide information about yourself such as your name, address, and billing details to Google. Google's general Privacy Policy explains how we treat your personal data and protect your privacy when using the Service. You agree that any such information you provide to Google will always be accurate, correct, and up to date.		
		</p>
		<p>
			Providers are not allowed to charge for a Helpout provided to a customer within the European Union.  For all customers located outside of the European Union, when you schedule a Helpout you are committing to purchase that Helpout from the Provider, so please review the Helpout description carefully before purchasing it. A Provider may change the pricing and availability of a Helpout at any time before you purchase it. A Provider may also post rescheduling and cancellation policies in the Helpout description that may limit your ability to reschedule or cancel the Helpout without penalty.
		</p>
		<p>
			<strong>Compliance with Tax Laws.</strong> You must comply with any and all applicable tax laws, including the reporting and payment of any Taxes arising in connection with your use of the Service. The reporting and payment of any such applicable Taxes are your responsibility.
		</p>
		<p>
			<strong>Refunds.</strong> The Google Wallet (or payment processor's) terms and conditions regarding refunds apply to your purchase of a Helpout except that you can also request a full or partial refund from the Provider, and if the refund offered by the Provider is unsatisfactory you can appeal that decision to Google under the terms of the 100% Money Back Guarantee. If a refund is granted for a Helpout, you may no longer be able to access the recording of that Helpout if one was made.
		</p>
		<p>
			<strong>Misuse of the Service.</strong> Please ensure that you use the Service in accordance with the Helpouts Product Policies. There is an option available in the Service to report abuse. A report of abuse may trigger a recording of the Helpout in progress and/or access to the chat history by Google as required in order to investigate the reported abuse. More details about recordings are provided in the Recording of Session policy.
		</p>
		<br/>
		<br/>
	</div>
</div>