<html>
<body style="background: #fff">
	<h1>Test page</h1>	
	<br/>

	<ul style="list-style: square">
		<li>Proficiency in almost every CAD/CAM software available</li>
		<li>Experience on wide range of machines ranging from water
			abrasive jets to 5-Axis CNC mills to wire EDM machines and laser
			cutters</li>
		<li>Designed, fabricated, and worked on over 250 projects</li>
		<li>Projects published on CNN, CBS, Yahoo News, Gawker,
			Huffington Post, Popular Mechanics, Gizmodo, and several more.</li>
		<li>Awards include Instructables Hurricane Laser Contest Winner
			(Ping Pong Ball Mauler), Make It Real Contest Winner (Printed Circuit
			Board Sprayer Machine), and Soldier Design Competition Award Winner
			(Explosive Detection Unit)</li>
	</ul>
	<div style="padding:40px">
	      
	      	<script type="text/javascript" src="https://localhost:10001/public/javascripts/embed.js"></script>
	      	<iframe id="widgr-embed-container" class="shadow" data-bs="https://localhost:10001" data-ws="https://localhost:10002" data-usr="info@wid.gr" data-room="f632aace6c24457fa8d69c7366a69fd6" width="100%" height="200px" src="https://localhost:10001/embed/channel/5ca63d6f81f54e7a875a7d204c54783e" seamless frameBorder="0" scrolling="no" style="overflow: hidden; height:465px; width:465px"></iframe>
	
	</div>
	<ul style="list-style: square">
		<li>Proficiency in almost every CAD/CAM software available</li>
		<li>Experience on wide range of machines ranging from water
			abrasive jets to 5-Axis CNC mills to wire EDM machines and laser
			cutters</li>
		<li>Designed, fabricated, and worked on over 250 projects</li>
		<li>Projects published on CNN, CBS, Yahoo News, Gawker,
			Huffington Post, Popular Mechanics, Gizmodo, and several more.</li>
		<li>Awards include Instructables Hurricane Laser Contest Winner
			(Ping Pong Ball Mauler), Make It Real Contest Winner (Printed Circuit
			Board Sprayer Machine), and Soldier Design Competition Award Winner
			(Explosive Detection Unit)</li>
	</ul>

</body>
</html>	      	