<html>
<body style="background: #fafafa">
	<h1>Test page</h1>	
	<br/>

	<ul style="list-style: square">
		<li>Proficiency in almost every CAD/CAM software available</li>
		<li>Experience on wide range of machines ranging from water
			abrasive jets to 5-Axis CNC mills to wire EDM machines and laser
			cutters</li>
		<li>Designed, fabricated, and worked on over 250 projects</li>
		<li>Projects published on CNN, CBS, Yahoo News, Gawker,
			Huffington Post, Popular Mechanics, Gizmodo, and several more.</li>
		<li>Awards include Instructables Hurricane Laser Contest Winner
			(Ping Pong Ball Mauler), Make It Real Contest Winner (Printed Circuit
			Board Sprayer Machine), and Soldier Design Competition Award Winner
			(Explosive Detection Unit)</li>
	</ul>


     		<script type="text/javascript" src="https://wid.gr/public/javascripts/embed.js"></script>
     		<iframe id="widgr-embedded-container" class="shadow" src="https://wid.gr/embed/channel/ec47dbc986034237b16e02d07d790165" seamless frameBorder="0" scrolling="no" style="overflow: hidden; height:465px; width:465px"></iframe>

	
	<ul style="list-style: square">
		<li>Proficiency in almost every CAD/CAM software available</li>
		<li>Experience on wide range of machines ranging from water
			abrasive jets to 5-Axis CNC mills to wire EDM machines and laser
			cutters</li>
		<li>Designed, fabricated, and worked on over 250 projects</li>
		<li>Projects published on CNN, CBS, Yahoo News, Gawker,
			Huffington Post, Popular Mechanics, Gizmodo, and several more.</li>
		<li>Awards include Instructables Hurricane Laser Contest Winner
			(Ping Pong Ball Mauler), Make It Real Contest Winner (Printed Circuit
			Board Sprayer Machine), and Soldier Design Competition Award Winner
			(Explosive Detection Unit)</li>
	</ul>

</body>
</html>	      	