#{extends 'main.html' /} 
#{set 'title'}
	&{'dashboard'}
#{/set}

#{set 'moreScripts'}
	<script>
		var now = (new Date(new Date().getTime())).toJSON();
		var params = "&start="+now+"&end="+now+"&direction=upcoming&type=dashboard";
		star.initItems("Upcoming", params);	
	
	    star.dashboard = true;
		#{if user}
	   		star.user = "${user.uuid}";	
		#{/if}
		starCalendar.comments = true;
	</script>
#{/set}

<div class="container">
	<div class="row">
	

		<div class="col-md-12">
			<h3><i class="icon-clock"></i> &{'upcoming-events'}</h3>
			<div class="separator-2"></div>		
			<div id="itemsListUpcoming"></div>
			<div class="spinner-container1">
				<div class="spinner-container">
					<div id="spinnerUpcoming" class="spinner-load"></div>
					<a id="moreResultsUpcoming" class="spinner-more"><i class=" icon-plus-circled"></i></a>
				</div>
			</div>	
		</div>
	</div>
</div>

