#{extends 'main.html' /} 
#{set 'title'}
	&{'upcoming-events'}
#{/set}

#{set 'moreScripts'}
	<script>
		var now = (new Date(new Date().getTime())).toJSON();
		var params = "&start="+now+"&end="+now+"&direction=upcoming&type=dashboard";
		star.initItems("Upcoming", params);	
	
	    star.dashboard = true;
		#{if user}
	   		star.user = "${user.uuid}";	
		#{/if}
		starCalendar.comments = true;
	</script>
#{/set}


#{set 'moreMessages'}
	#{if request.cookies.msgUpcoming == null}
		<div class="shadow alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" onclick="star.utils.dismiss('msgUpcoming')"><span aria-hidden="true">&times;</span><span class="sr-only">&{'close'}</span></button>
		  &{'upcoming-msg'}
		</div>
	#{/if}
#{/set}

<div class="container">
	<div class="padding row">
		<div class="col-md-12">
			<h2><i class="icon-clock"></i> &{'upcoming-events'}</h2>
			<div id="itemsListUpcoming"></div>
			<div class="spinner-container1">
				<div class="spinner-container">
					<div id="spinnerUpcoming" class="spinner-load"></div>
					<a id="moreResultsUpcoming" class="spinner-more"><i class=" icon-plus-circled"></i></a>
				</div>
			</div>	
		</div>
	</div>
</div>

