<div>

	<h3>&{'contacts'} <a href="/contacts" class="btn btn-light-gray btn-sm">&{'manage'}</a></h3>
	<div class="separator-2"></div>
	<p>
		#{list items:contacts, as:'item'}
	  		#{if item.contact.isOnline()}
				<a href="/user/${item.contact.login}"><img class="pull-left" style="height:32px;margin:1px" src="/${item.contact.avatarUrl}_64x64" title="${item.contact.fullName}"></a>
			#{/if}
			#{else}
				<a href="/user/${item.contact.login}"><img class="pull-left" style="height:32px;margin:1px;opacity:0.2" src="/${item.contact.avatarUrl}_64x64" title="${item.contact.fullName}"></a>
			#{/else}			
		#{/list}	
	</p>
	
	<form class="form-inline" method="post" role="form" action="/contacts/invite?url=${request.url.urlEncode()}&#{token /}">
	  	<div class="form-group">
		    <label>&{'invite-new-user'} &nbsp;</label>
		    <div class="input-group">
		      	<input type="text" class="form-control" autocomplete="off" size="50" maxlength="100" name="email" placeholder="&{'type-email'}" value="${flash.email}" >
			    <span class="input-group-btn">
			    	<button class="btn btn-light-gray btn-short btn-margin" style="height:40px;" id="dialog-invite-button" type="submit">&{'invite-by-email'}</button>
			    </span>					    
		    </div>
		</div>				
	</form>	
	
	<br/>
	<br/>

	<h3>&{'activities'}  <span style="font-size:0.7em"><i class="activities-refresh color-link  fa fa-refresh"></i></span> </h3>
	<div class="separator-2"></div>
	<ul style="width:100%;" class="table  list-unstyled   activities "></ul>
	<div style="width:100%;text-align:center;">
		<i class="activities-more color-link fa fa-chevron-down"></i>
	</div>
</div>
