<div>
	<h2>&{'contacts'} <a href="/contacts" class="btn btn-light-gray btn-sm margin-clear">&{'manage'}</a></h2>
	<p>
		#{list items:contacts, as:'item'}
			#{if item.blocked == null || item.blocked == false}
		  		#{if item.contact.isOnline()}
					<a href="/user/${item.contact.login}"><img class="pull-left" style="height:32px;margin:1px" src="/${item.contact.avatarUrl}_64x64" title="${item.contact.fullName}"></a>
				#{/if}
				#{else}
					<a href="/user/${item.contact.login}"><img class="pull-left" style="height:32px;margin:1px;opacity:0.2" src="/${item.contact.avatarUrl}_64x64" title="${item.contact.fullName}"></a>
				#{/else}			
			#{/if}
		#{/list}	
	</p>
	
	<br/>
	<h3>&{'activities'}  <span style="font-size:0.7em"><i class="activities-refresh color-link  fa fa-refresh"></i></span> </h3>
	<div class="separator-2"></div>
	<ul style="width:100%;" class="table  list-unstyled   activities "></ul>
	<div style="width:100%;text-align:center;">
		<i class="activities-more color-link fa fa-chevron-down"></i>
	</div>
</div>
