<script>
	$(document).ready(function(){
	    var library = [];
	    var params = "";
	    if(starCalendar.event != undefined){
		    params = "event="+starCalendar.event+"&";
		    params  += "type="+"event"+"&";
	    } else if(starCalendar.listing != undefined){
		    params = "listing="+starCalendar.listing+"&";
		    params  += "type="+"listing"+"&";
	    } else {
		    params  += "type="+"user"+"&";
	    }
	    star.params = params;
	    star.loadComments(params, star.dashboard);
	    
		$("#uploadButtonMedia").click(function(){
		    starEvent.getFiles();
		    $('#mediaModal').modal({show:true});
		});
	    
	    $("#moreResultsComments").click(function(){
	        star.moreComments(params, star.dashboard);
	    });

	    $("#comment-save").click(function(e){
	        e.preventDefault();
	        
	        var data = {};
	        data.uuid = $("input[name='uuid']").val();
	        data.objectType = $("input[name='objectType']").val();
	        data.comment = $("textarea[name='comment']").val();
	        data.type = $("input[name='type']:checked").val();
	        data.url = $("input[name='url']").val();
	        data.tempId = $("input[name='tempId']").val();
	        data.paid = $("input[name='paidComment']").is(':checked');
	        data.library = starEvent.library;

	        console.log(data);
	        
	        starServices.addComment(data, function(){
	            $('#comment-form')[0].reset();
	            $('#images').html("");
		        star.loadComments(params, star.dashboard);
		        var tmp = star.utils.uuid()
		        $('#comment').val(tmp);
		        starCalendar.temp = tmp;
		        starEvent.library = [];
		        
		        if(typeof webrtc != "undefined"){
    		        var d = {};
    		        star.socket_message_broadcast("files-reload", d);
		        }		        
	        });
	    });
	    
	    $(document).on("click", ".comment-delete", function(){
	        if(confirm(i18n("delete-selected-item"))){
		        $.get($(this).attr("data-href"), function(){
			        star.loadComments(params, star.dashboard);
    		        var d = {};
    		        if(typeof webrtc != "undefined"){
                    	star.socket_message_broadcast("files-reload", d);
    		        }
		        });
	        }
	    });

	    $(document).on("click", ".comment-reply", function(e){
	        e.preventDefault();
	        $('.comment-reply').show();
	        $('.comment-reply-input').hide();
	        $(this).next().show();
	        $(this).hide();
	    });

	    $(document).on("click", ".comment-reply-submit", function(e){
	        e.preventDefault();
	        var txt = $(this).prev().val();
	        var data = {};
	        data.comment = txt;
	        data.id = $(this).attr("data-id");
	        starServices.addCommentReply(data, function(){
		        $(this).prev().val("");
		        console.log(txt);
		        star.loadComments(params, star.dashboard);
	        });
	    });
	
		$("#upload-buttonComments").click(function(){
		    $("#uploadComments").click();
		});
		
		$("#uploadComments").change(function(){
		    var params = "";
		    params = "temp="+$("#comment").val();
		    if(starCalendar.event != undefined)
			    params += "&type=event&item="+starCalendar.event;
		    else if(starCalendar.listing != undefined)
			    params += "&type=listing&item="+starCalendar.listing;
		    else
			    params += "&type=comment";
		        
    		star.utils.uploadFiles('/fileupload?'+star.token+'&'+params, this.files, function(json){
    		    console.log(json);
    		    var resp = JSON.parse(json);
    		    if(resp.extension.indexOf("image") != -1){
	    		    $("#images").append("<img class='img-thumbnail' style='height:100px;margin:4px' src='/public/uploads/"+resp.url+"_thumb'>");
    		    } else {
    		        $("#images").append("<span class='label default_bg'><i class='fa fa-file'></i> "+resp.name+"</span><br/>");
    		    }
   		        $("#fileUploadComments").val(resp.uuid);
   		        $("#typeComments").val("file");
    		});
		});
	});
</script>

#{if (!edit && isOwner) || (!edit && user && event && event.commentsEnabled)}
<div class="row">
<div class="col-md-12">

	<div class="modal" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">&{'cancel'}</span></button>
	        <h3 class="modal-title" id="myModalLabel"><i class="icon-docs"></i> &{'media-library'}</h3>
	      </div>
	      <div class="modal-body">
	      	<div id="fileSizeContainer"></div>
	      	<div style="max-height:400px;overflow-y:auto" id="filesContainer"></div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default btn-short" data-dismiss="modal">&{'close'}</button>
	      </div>
	    </div>
	  </div>
	</div>	

	<form action="/event/comment?uuid=${object.uuid}&objectType=${objectType}&url=${request.url.urlEncode()}" id="comment-form" method="post">
		<h2><img class="img-circle" style="float:left" src="/${user.avatarUrl}_32x32">&nbsp;&{'share-whats-new'}</h2>
    	<div class="form-group has-feedback">
    		<div class="">
    			<input type="hidden" name="objectType" value="${objectType}">
				<input type="hidden" name="uuid" value="${object.uuid}">
	    		<textarea rows="3" class="form-control" maxlength="1000" name="comment" id="dialog-comment-input"></textarea>
    		</div>
	   		#{include 'help.html' /}
    	</div>
    	
  	    <button class="btn btn-light-gray pull-right margin-clear" id="comment-save" type="button">&{'submit'}</button>
  	    
		<div class="form-group">
			<div class="btn-group pull-left" data-toggle="buttons">
			  <label class="btn btn-light-gray active btn-short margin-clear" rel="tooltip" data-original-title="&{'plain-text'}">
			    <input type="radio" name="type" id="upload-buttonLink" checked="checked" value="text"><i class="fa fa-pencil"></i>
			  </label>
			  <label class="btn btn-light-gray btn-short margin-clear" id="upload-buttonComments" rel="tooltip" data-original-title="&{'upload-files'}">
			    <input type="radio" name="type" id="upload-buttonComments1" value="file" ><i class="fa fa-upload"></i>
			  </label>
			  <label class="btn btn-light-gray btn-short margin-clear" id="uploadButtonMedia" rel="tooltip" data-original-title="&{'attach-media'}">
			    <input type="radio" name="type" id="uploadButtonMedia" value="library" ><i class="icon-docs"></i> 
			  </label>
			</div>	
		</div>			
		
		#{if isOwner && fromEvent}
			<label class="pull-left" style="margin:10px;font-weight:100;" rel="tooltip" data-original-title="&{'paid-comment-info'}"> 
				<input type="checkbox" name="paidComment" value="paidComment"> &{'paid-comment'}
			</label>
			<div class="clearfix"></div>	
		#{/if}
				
		<br/>
		<br/>
		
		<!-- File upload -->
		#{authenticityToken /}
		<input type="file" id="uploadComments" name="upload" style="display:none" multiple="multiple">
		<input type="hidden" id="comment" name="tempId" value="${commentTemp}">
		<input type="hidden" id="fileUploadComments" name="fileUpload">
		<div id="progresses" >
		</div>
		<div id="images">
		</div>	
		<!-- File upload -->
	</form>
</div>    
</div>    
#{/if}	
    
    
<div class="commentsContainer" style="display:none;margin-top:40px">
	<div id="comments-container" class="image-boxes"></div>   
	<div class="spinner-container2" style="display:table;width:100%">
		<div class="spinner-container">
			<div id="spinnerComments" class="spinner-load"></div>
			<a id="moreResultsComments" class="spinner-more"><i class="icon-plus-circled"></i></a>
		</div>
	</div>
</div>   



