#{if objectType == "user" || (!edit && isOwner) || (!edit && user && object && object.commentsEnabled)}
<div class="row">
<div class="col-md-12">
	<form action="/event/comment?uuid=${object.uuid}&objectType=${objectType}&url=${request.url.urlEncode()}" id="comment-form" method="post">
		<h2><img class="img-circle" style="float:left" src="/${user.avatarUrl}_32x32">&nbsp;&{'share-whats-new'}</h2>
		<div class="separator-2"></div>
    	<div class="form-group has-feedback">
    		<div class="">
    			<input type="hidden" name="objectType" value="${objectType}">
				<input type="hidden" name="uuid" value="${object.uuid}">
	    		<textarea rows="3" class="form-control" maxlength="1000" name="comment" id="dialog-comment-input"></textarea>
    		</div>
	   		#{include 'help.html' /}
    	</div>
    	
  	    <button class="btn btn-default pull-right margin-clear" id="comment-save" type="button">&{'submit'}</button>
		
		<div class="form-group">
			<div class="btn-group pull-left" data-toggle="buttons">
			  #{if isOwner}
				  <label class="btn btn-light-gray active btn-short margin-clear" >
				    <input type="radio" name="type" id="upload-buttonLink" checked="checked" value="text"><i class="fa fa-pencil"></i> &{'text'}
				  </label>
				  <label class="btn btn-light-gray btn-short margin-clear" id="upload-buttonComments">
				    <input type="radio" name="type" id="upload-buttonComments1" value="file" ><i class="fa fa-upload"></i> &{'file'}
				  </label>
			  #{/if}
			  #{else}
				   <input type="hidden" name="type" id="upload-buttonLink" checked="checked" value="text">
			  #{/else}
			</div>				
		</div>					
		<br/>
		<br/>
		
		<!-- File upload -->
		<input type="file" id="uploadComments" name="upload" style="display:none" multiple="multiple">
		<input type="hidden" id="comment" name="tempId" value="${commentTemp}">
		<input type="hidden" id="fileUploadComments" name="fileUpload">
		<script>
			$(document).ready(function(){
				$("#upload-buttonComments").click(function(){
				    $("#uploadComments").click();
				});
				$("#uploadComments").change(function(){
				    // on edit page set ads uuid 
				    var params = "";
				    #{if temp}params = "?temp=${commentTemp}";#{/if}
				    
		    		star.utils.uploadFiles('/fileupload'+params, this.files, function(json){
		    		    var resp = JSON.parse(json);
		    		    if(resp.extension.indexOf("image") != -1){
			    		    $("#images").append("<img class='img-thumbnail' style='height:100px;margin-bottom:4px' src='/public/uploads/"+resp.url+"_thumb'>");
		    		    } else {
		    		        $("#images").append("<span class='label default_bg'><i class='fa fa-file'></i> "+resp.name+"</span><br/>");
		    		    }
	    		        $("#fileUploadComments").val(resp.uuid);
	    		        $("#typeComments").val("file");
		    		});
				});
			});
		</script>
		
		<div id="progresses" >
		</div>
		<div id="images">
			#{if files}
				#{list items:files, as:'file'}
					<div style="position:relative; float:left;">
			        <img class="img-thumbnail" style="height:100px;margin-bottom:4px" src="/public/uploads/${file.url}_thumb" alt="${file.name}" title="${file.name}">
						<a class="btn btn-default btn-xs" href="/remove-upload?uuid=${file.uuid}&url=${request.url.urlEncode()}" style=""><i class="fa fa-times"></i></a>
					</div>
				#{/list}
			#{/if}
		</div>	
		<!-- File upload -->
	</form>
</div>    
</div>    
#{/if}	
    
    
<div class="commentsContainer" style="display:none;margin-top:40px">
	<div id="comments-container" class="image-boxes"></div>   
	<div class="spinner-container2" style="display:table;width:100%">
		<div class="spinner-container">
			<div id="spinnerComments" class="spinner-load"></div>
			<a id="moreResultsComments" class="spinner-more"><i class=" icon-plus-circled"></i></a>
		</div>
	</div>
</div>   



<script>
	$(document).ready(function(){
	    var params = "";
	    if(starCalendar.event != undefined){
		    params = "event="+starCalendar.event+"&";
		    params  += "type="+"event"+"&";
	    } else if(starCalendar.listing != undefined){
		    params = "listing="+starCalendar.listing+"&";
		    params  += "type="+"listing"+"&";
	    } else {
		    params  += "type="+"user"+"&";
	    }
	    star.loadComments(params, star.dashboard);
	    
	    $("#moreResultsComments").click(function(){
	        star.moreComments(params, star.dashboard);
	    });

	    $("#comment-save").click(function(e){
	        e.preventDefault();
	        
	        var data = {};
	        data.uuid = $("input[name='uuid']").val();
	        data.objectType = $("input[name='objectType']").val();
	        data.comment = $("textarea[name='comment']").val();
	        data.type = $("input[name='type']:checked").val();
	        data.url = $("input[name='url']").val();
	        data.tempId = $("input[name='tempId']").val();

	        starServices.addComment(data, function(){
	            $('#comment-form')[0].reset();
	            $('#images').html("");
		        star.loadComments(params, star.dashboard);
	        });
	    });
	    
	    $(document).on("click", ".comment-delete", function(){
	        if(confirm("Do you really want to delete selected comment?")){
		        $.get($(this).attr("data-href"), function(){
			        star.loadComments(params, star.dashboard);
		        });
	        }
	    });

	    $(document).on("click", ".comment-reply", function(e){
	        e.preventDefault();
	        $('.comment-reply').show();
	        $('.comment-reply-input').hide();
	        $(this).next().show();
	        $(this).hide();
	    });

	    $(document).on("click", ".comment-reply-submit", function(e){
	        e.preventDefault();
	        var txt = $(this).prev().val();
	        var data = {};
	        data.comment = txt;
	        data.id = $(this).attr("data-id");
	        starServices.addCommentReply(data, function(){
		        $(this).prev().val("");
		        console.log(txt);
		        star.loadComments(params, star.dashboard);
	        });
	    });
	})
</script> 
