    	
#{if !edit && user && object && object.commentsEnabled}
<br/>
<br/>
<br/>
<h2>Latest Posts</h2>
<div class="separator-2"></div>

<div class="row">
<div class="col-md-12">
    <div class="modal-comments">
		<div class="">
			<form action="/event/comment?uuid=${object.uuid}&url=${request.url.urlEncode()}" method="post">
				<h3><img class="img-circle" style="float:left" src="/${user.avatarUrl}_32x32">&nbsp;Share what's new</h3>
			    <div>
			    	<div class="form-group">
			    		<textarea rows="4" class="form-control" maxlength="1000" placeholder="&{'dashboard.addComment'}" name="comment" id="dialog-comment-input"></textarea>
			    	</div>
			    	
	    	        <button class="btn btn-default btn-primary pull-right" style="" id="dialog-comment-button" type="submit">Submit</button>
					<div class="btn-group">
	    	        	<button class="btn btn-light-gray" style="min-width: 0px;" id="dialog-comment-button" type="submit"><i class="fa fa-link"></i> Url</button>
	    	        	<button class="btn btn-light-gray" style="min-width: 0px;" id="dialog-comment-button" type="submit"><i class="fa fa-file-image-o"></i> Media</button>
						<button class="btn btn-light-gray" style="min-width: 0px;" type="button" id="upload-buttonComments"><i class="fa fa-upload"></i> File</button>
					</div>				
					
					<!-- File upload -->
					<input type="file" id="uploadComments" name="upload" style="display:none" multiple="multiple">
					<input type="hidden" id="comment" name="tempId" value="${commentTemp}">
					<input type="hidden" id="fileUploadComments" name="fileUpload">
					<input type="hidden" id="typeComments" name="type">
					<script>
						$(document).ready(function(){
							$("#upload-buttonComments").click(function(){
							    $("#uploadComments").click();
							});
							$("#uploadComments").change(function(){
							    // on edit page set ads uuid 
							    var params = "";
							    #{if temp}params = "?temp=${commentTemp}";#{/if}
							    
					    		star.utils.uploadFiles('/fileupload'+params, this.files, function(json){
					    		    var resp = JSON.parse(json);
					    		    if(resp.extension.indexOf("image") != -1){
						    		    $("#images").append("<img class='img-thumbnail' style='height:100px;margin-bottom:4px' src='public/uploads/"+resp.url+"_thumb'>");
					    		    } else {
					    		        $("#images").append("<span class='label label-primary'><i class='fa fa-file'></i> "+resp.name+"</span><br/>");
					    		    }
				    		        $("#fileUploadComments").val(resp.uuid);
				    		        $("#typeComments").val("file");
					    		});
							});
						});
					</script>
					<div id="progresses" >
					</div>
					<div id="images">
						#{if files}
							#{list items:files, as:'file'}
								<div style="position:relative; float:left;">
						        <img class="img-thumbnail" style="height:100px;margin-bottom:4px" src="/public/uploads/${file.url}_thumb" alt="${file.name}" title="${file.name}">
									<a class="btn btn-default btn-xs" href="/remove-upload?uuid=${file.uuid}&url=${request.url.urlEncode()}" style=""><i class="fa fa-times"></i></a>
								</div>
							#{/list}
						#{/if}
					</div>	
					<!-- File upload -->
	   	        </div>
			</form>
		</div>
    </div>		
</div>    
</div>    
#{/if}	
    
    
    		
#{if comments}
<div class="row">	
	<div class="col-md-12">
		<table class="table table-hover ">
			#{list items:comments, as:'item'}
		       <tr class='' style='position:relative'>
		       	   <td>
			       	   #{if isOwner}
					       <a href="/event/comment/delete?uuid=${item.uuid}&url=${request.url.urlEncode()}"><i class='pull-right color-link fa fa-times delete-comment'></i></a>
				       #{/if} 
				        
				       <div style='display:table-cell;padding-right:10px'>
				       	<img class='img-circle avatar32'  src='../${item.user.avatarUrl}'> 
				       </div>
				
				       <div style='display:table-cell;vertical-align:top;'>
					       <div>
					       		<a href='/user/${item.user.login}'>${item.user.fullName}</a> on 
						   		<span>${item.created.format("dd MMM, yyyy")}</span>
				   				<span>#{time time:item.created/}</span>
					       </div>
					        <p>${item.comment}</p>
	    		       		#{if item.files}
	    		       			<strong>Attachments</strong><br/>
						       	<table style='color:black'>
					       			#{list items:item.files, as:'file'}
					       			<tr>
					       				<td>
						       				<span><i class="fa fa-file"></i> <a href="/public/uploads/${file.url}" download="${file.name}">${file.name}</a></span>
					       				</td>
					       				<td>
						       				&nbsp;&nbsp;${file.size.formatSize()}
					       				</td>
					       			</tr>
					       			#{/list}
						       </table>
				       		#{/if}
				       </div>
		       	   </td>
				</tr>
			#{/list}							
		</table>		 
	</div>
</div>
#{/if}	

						

