<script>
	$(document).ready(function(){
	    $(".link").click(function(){
	        document.location = $(this).attr("data-href");
	    });
	});
</script>
#{list items:items, as:'item'}
<div class="shadow-blur" style="background:white;  position:relative; width:320px; height:240px; float:left;margin:0px; margin:0 15px 15px 0;border-top:5px solid #{if item && item.color} ${item.color} #{/if} #{else} #3A87AD #{/else};">
	<div class="link" data-href="/listing-new?uuid=${item.uuid}" style="cursor:pointer">
   		<img src="../${item.imageUrl}_128x128" />
	   	
		<div style="position:absolute;top:90px;left:10px">
			<img class="img-circle" style="border:3px solid white;float:left" src="../${item.user.avatarUrl}_64x64">
		</div>
		
		<div style="margin-top: -40px;margin-left: 90px; width: 230px; position:relative;height:40px; line-height: 1.2; overflow: hidden; text-overflow: ellipsis;">
			<span style="position:absolute; bottom:0px; max-height: 40px; text-shadow: 1px 1px 8px #000;">
				<span style="color:white; text-decoration: none; font-size: 1.3em; font-weight: bold" href="/user/${item.user.login}" >${item.title}</span>
			</span>
		</div>
		
		<div class="segoe-bold" style="margin-left: 90px;margin-top:5px; width: 250px; position:relative;height:40px">
			<a style="color:black; text-decoration: none; font-size: 1.0em; font-weight: bold" href="/user/${item.user.login}" >${item.user.fullName}</a>
		</div>
		
		<div style="width:100%; position:absolute; bottom:0px; padding:10px" >
			<hr style="border:1px solid #f7f7f7" />
	 		<p>	
				<div style="float:left; font-size:0.8em; font-weight: bold; text-align: center">
					#{list items:1..5, as:'i'}
						    <i style="font-size:2em" class="fa fa-star blue" data-value="1"></i>
					#{/list}
					<br/>
					123 reviews
				</div>
				 		
				<div style="float:right;">
				#{if item.charging == 'free'}
					<span style="font-size:1.2em; font-weight: bold">Free</span>
				#{/if}
				
				#{if item.charging == 'before'}
					<span style="font-size:1.2em; font-weight: bold">${item.price} ${item.currency}</span>
				#{/if}  			
				</div>
	 		</p>
	 		<!-- a href="/listing-new?uuid=${item.uuid}" class="pull-right color-link" style="font-size:1.2em"><i class="fa fa-times"></i></a -->
		</div>
   	</div>		
</div>	   
#{/list}	
<div class="clearfix"></div>						
