#{list items:items, as:'item'}
<div class='event-box shadow-blur image-box mb-20 object-non-visible animated object-visible fadeInLeft' data-animation-effect='fadeInLeft' data-effect-delay='300'>
	<div class='overlay-container'>
		<img src='${item.listing.imageUrl}_128x128' alt=''>
		<mark style='position:absolute;bottom:0px;padding:5px' class='title'><img class='avatar16 img-circle' style='margin:3px 5px 0 0; float:left' src='/${item.user.avatarUrl}_32x32'>${item.user.fullName}</mark>
		<div class='overlay'>
			<div class='overlay-links'>
				<a href='/event-detail?uuid=${item.uuid}'><i class='fa fa-link'></i></a>
				<a href='/event-detail?uuid=${item.uuid}' class='popup-img'><i class='fa fa-search-plus'></i></a>
			</div>
		</div>
	</div>
	<div class='image-box-body'>
		<p>
	       <span class='event-time-from' style='font-weight:bold' id='event-time-from'>${item.eventStart.format("d MMM, yyyy")}</span><br/> 
	       <span class='event-time-to'>#{time time:item.eventStart/}</span> - 
	       <span class='event-time-to'>#{time time:item.eventEnd/}</span>		
		</p>
		<p>
			#{if item.charging != 'free'}
				<strong>${item.price}</strong> <small>${item.currency}</small>
			#{/if}
			#{else}
				<strong>Free</strong>
			#{/else}
		</p>
		<p class='event-box-link'><span><a href='/listing-new?uuid=${item.uuid}' class='link-left'><span>${item.listing.title}</span></a></span></p>
	</div>
</div>

#{/list}	
<div class="clearfix"></div>						
