<a id="features"></a>

<!-- section start -->
<!-- ================ -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
	<div class="container">
		<div class="row padding30">
			<div class="col-md-12">

				<h1 class="text-center">&{'why-choose-widgr'}</h1>
				<div class="separator"></div>
				
				<!-- Tabs start -->
				<!-- ================ -->
				<div class="vertical hc-tabs">

					<!-- Tabs Arrow -->
					<div class="arrow hidden-sm hidden-xs"><i class="fa fa-caret-up"></i></div>
					
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#tab1" role="tab" data-toggle="tab"><i class="icon-chat pr-10"></i> &{'widgr-feature-1'}</a></li>
						<li><a href="#tab2" role="tab" data-toggle="tab"><i class="fa fa-calendar pr-10"></i> &{'widgr-feature-2'}</a></li>
						<li><a href="#tab4" role="tab" data-toggle="tab"><i class="fa fa-credit-card pr-10"></i> &{'widgr-feature-4'}</a></li>
						<li><a href="#tab7" role="tab" data-toggle="tab"><i class="fa fa-code pr-10"></i> &{'widgr-feature-7'}</a></li>
						<li><a href="#tab5" role="tab" data-toggle="tab"><i class="fa fa-facebook pr-10"></i> &{'widgr-feature-5'}</a></li>
						*{
						<li><a href="#tab6" role="tab" data-toggle="tab"><i class="fa fa-google-plus pr-10"></i> &{'widgr-feature-6'}</a></li>
						}*
					</ul>

					<!-- Tab panes -->
					<div class="tab-content" style="font-size:1.0em">
						<div class="tab-pane fade in" id="tab7">
							<h1 class="text-center title">&{'widgr-feature-7'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-7-text'}
								</div>
							</div>
						</div>
						<div class="tab-pane fade in active" id="tab1">
							<h1 class="text-center title">&{'widgr-feature-1'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-1-text'}
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab2">
							<h1 class="text-center title">&{'widgr-feature-2'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-2-text'}
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab4">
							<h1 class="text-center title">&{'widgr-feature-4'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-4-text'}
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab5">
							<h1 class="text-center title">&{'widgr-feature-5'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-5-text'}
								</div>
							</div>
						</div>
						
						*{
						<div class="tab-pane fade" id="tab6">
							<h1 class="text-center title">&{'widgr-feature-6'}</h1>
							<div class="space"></div>
							<div class="row">
								<div class="col-md-12">
									&{'widgr-feature-6-text'}
								</div>
							</div>
						</div>
						}*
					</div>
					
					*{
					<!-- Tabs Top -->
					<div class="hc-tabs-top">
						<img data-tab="#tab1" src="images/section-image-1.png" data-tab-animation-effect="fadeInRightSmall">
						<img data-tab="#tab2" src="images/section-image-2.png" data-tab-animation-effect="fadeInLeftSmall">
						<img data-tab="#tab4" src="images/paypal.jpg" data-tab-animation-effect="fadeInRightSmall">
						<img data-tab="#tab5" src="images/facebook1.jpg" data-tab-animation-effect="fadeInLeftSmall">
						<img data-tab="#tab6" src="images/google-calendar.png" data-tab-animation-effect="fadeInRightSmall">
						<img data-tab="#tab7" src="images/embed.jpg" data-tab-animation-effect="fadeInLeftSmall">
						<div class="space"></div>
					</div>					
					}*
				</div>
				<!-- tabs end -->
	
			</div>
		</div>
	</div>
</div>
<!-- section end -->