<header class="header fixed clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-2">

				<!-- header-left start -->
				<!-- ================ -->
				<div class="header-left clearfix">

					<!-- logo -->
					<div class="logo">
						<a href="/home">
							<img id="logo" src="/images/logo_purple.png" style="height:40px;margin-top:5px" alt="widgr">
						</a>
					</div>

					<!-- name-and-slogan -->
					<div class="site-slogan">
						&{'share-your-knowledge'}
					</div>

				</div>
				<!-- header-left end -->

			</div>
			<div class="col-md-10">

				<!-- header-right start -->
				<!-- ================ -->
				<div class="header-right clearfix">

					<!-- main-navigation start -->
					<!-- ================ -->
					<div class="main-navigation animated">

						<!-- navbar start -->
						<!-- ================ -->
						<nav class="navbar navbar-default" role="navigation">
							<div class="container-fluid">

								<!-- Toggle get grouped for better mobile display -->
								<div class="navbar-header" style="padding:15px;">
									<button type="button" class="navbar-toggle btn  btn-block margin-clear" data-toggle="collapse" data-target="#navbar-collapse-1">
										<span class="sr-only">&{'toggle-navigation'}</span>
										<span class="fa fa-chevron-down fa-1x "></span>
									</button>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right">
								 	  	#{if user && user.unreadMessages}
								  	  		<li>
								  	  			<a href="/mail" class="object-non-visible animated object-visible wobble" data-animation-effect="wobble" data-effect-delay="6000" ><i style="font-size:1.3em" class="text-default fa fa-envelope title="&{'received-new-message'}"></i></a>
								  	  		</li>
									  	#{/if}
									  	
									  	
									 	#{if user}
									      <li #{if request.url.indexOf("dashboard")>=0}class="active" #{/if}><a href="/dashboard">&{'dashboard'}</a></li>
									      <li #{if request.url.indexOf("calendar")>=0}class="active" #{/if}><a href="/user/${user.login}/calendar"><i class="fa fa-calendar"></i> &{'calendar'}</a></li>
										#{/if}
										
								 	  	#{if user == null}
					  	   				<li #{if request.url.indexOf("home")>=0}class="active"#{/if}><a href="/home" id="public-btn-logout"><i class="fa fa-home"></i> &{'home'}</a></li>
									  	#{/if}
   								  	   	<li #{if request.url.indexOf("channels")>=0}class="active"#{/if}><a href="/channels" id="public-btn-logout"><i class="fa fa-search"></i> &{'channels'}</a></li>
									   	<li class='dropdown #{if request.url.indexOf("about")>=0} active #{/if}'>
									    	<a class="dropdown-toggle" data-toggle="dropdown" href="/about" >&{'about'}</a>
									        <ul class="dropdown-menu">
									      		<li><a href="/about#pricing">&{'pricing'}</a></li>
									      		<li><a href="/about#features">&{'features'}</a></li>
									      		<li><a href="/about#contact">&{'contact-us'}</a></li>
									      		<li><a href="/instant" target="_blank">&{'start-instant-chat'}</a></li>
									        </ul>
									    </li>   
									    
								    	<li class="dropdown" style="">
									    	<a class="dropdown-toggle" data-toggle="dropdown" href="#" title="" ><span><img src='/public/images/flags/#{if request.cookies.get("PLAY_LANG") != null}${request.cookies.get("PLAY_LANG").value}#{/if}#{else}${lang}#{/else}.gif'></span></a>
									        <ul class="dropdown-menu">
									            <li><a href="/locale?locale=en&url=${request.url.urlEncode()}" ><img class="inline" src='/public/images/flags/en.gif'> English</a></li>
									            <li><a href="/locale?locale=de&url=${request.url.urlEncode()}" ><img class="inline" src='/public/images/flags/de.gif'> Deutsch</a></li>
									        </ul>
									    </li> 											
										
									  	#{if !user}
									      <li> 
									      	<a href="/login?url=${request.url.urlEncode()}" id="public-btn-logout" title="&{'sign-out'}">
									      		<i class="black fa fa-power-off fa-1x"> </i>
									      	</a>
									      </li>  
										#{/if} 	
										
									  	#{if user}
							  				#{if user.isAdmin()}
									      <li class="dropdown">
									        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
									        <ul class="dropdown-menu">
									          	<li><a href="/admin/users"><i class="icon-users"></i> Users</a></li>
									          	<li><a href="/admin/publishers"><i class="icon-users"></i> Publisher Requests</a></li>
									        </ul>
									      </li>	
									      #{/if}									  	
									      <li class="dropdown">
									        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
									        	<img class="img-circle inline" title="${user.fullName}" style="height:24px;" src="/${user.avatarUrl}_64x64">
									        </a>
									        <ul class="dropdown-menu">
									          	<li><a href="/user/${user.login}"><i class="icon-user"></i> &{'profile'}</a></li>
									          	<li><a href="/contacts"><i class="icon-users"></i> &{'contacts'}</a></li>
									          	<li><a href="/mail"><i class="fa fa-envelope-o"></i> &{'notifications'}</a></li>
									          	<li><a href="/payments"><i class="fa fa-credit-card"></i> &{'received-payments'}</a></li>
									          	<li><a href="/settings"><i class=" icon-tools"></i> &{'settings'}</a></li>
									      	  	<li> 
									      		<a href="/logout?url=${request.url.urlEncode()}" id="public-btn-logout" title="&{'sign-out'}">
									      			<i class="black fa fa-power-off fa-1x"></i> &{'sign-out'}
									      		</a>
									      		</li>          
									        </ul>
									      </li>	
										#{/if} 																		
									</ul>
								</div>

							</div>
						</nav>
						<!-- navbar end -->

					</div>
					<!-- main-navigation end -->

				</div>
				<!-- header-right end -->

			</div>
		</div>
	</div>
</header>
<!-- header end -->		

*{ss}*