
<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="col-xs-2  col-sm-4">

				<!-- header-top-first start -->
				<!-- ================ -->
				<div class="header-top-first clearfix">
					<ul class="social-links clearfix hidden-xs">
						<li class="vimeo"><a href="/"><i class="fa fa-home"></i></a></li>
						<li class="facebook"><a target="_blank" href="http://www.facebook.com/widgr"><i class="fa fa-facebook"></i></a></li>
						<li class="googleplus"><a target="_blank" href="https://plus.google.com/+WidGrApp"><i class="fa fa-google-plus"></i></a></li>
						<li class="twitter"><a target="_blank" href="http://twitter.com/widgrApp"><i class="fa fa-twitter"></i></a></li>
						<li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCWM6yey03-S3OYVEo3PC3Mg"><i class="fa fa-youtube"></i></a></li>
						<li class="vimeo"><a target="_blank" href="https://vimeo.com/channels/widgr"><i class="icon-vimeo"></i></a></li>
					</ul>
					<div class="social-links hidden-lg hidden-md hidden-sm">
						<div class="btn-group dropdown">
							<button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
							<ul class="dropdown-menu dropdown-animation">
								<li class="vimeo"><a href="/"><i class="fa fa-home"></i></a></li>
								<li class="facebook"><a target="_blank" href="http://www.facebook.com/widgr"><i class="fa fa-facebook"></i></a></li>
								<li class="googleplus"><a target="_blank" href="http://plus.google.com/+WidGrApp"><i class="fa fa-google-plus"></i></a></li>
								<li class="twitter"><a target="_blank" href="http://www.twitter.com/widgrApp"><i class="fa fa-twitter"></i></a></li>
								<li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCWM6yey03-S3OYVEo3PC3Mg"><i class="fa fa-youtube"></i></a></li>
								<li class="vimeo"><a target="_blank" href="https://vimeo.com/channels/widgr"><i class="icon-vimeo"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- header-top-first end -->

			</div>
			<div class="col-xs-10 col-sm-8">

				<!-- header-top-second start -->
				<!-- ================ -->
				<div id="header-top-second" class="clearfix">

					<!-- header top dropdowns start -->
					<!-- ================ -->
					
					
					<div class="header-top-dropdown">
						<div class="btn-group dropdownq">
							<a class="btn dropdown-toggle margin-top-clear" href="/instant" target="_blank" rel="tooltip" data-placement="bottom" data-original-title="&{'start-instant-chat'}"><i class="fa fa-video-camera fa-flip-horizontal"></i></a>
							<a class="btn dropdown-toggle margin-top-clear" href="/search">&{'search'}</a>
							<a class="btn dropdown-toggle margin-top-clear" href="/about">&{'about-widgr'}</a>
							<a class="btn dropdown-toggle margin-top-clear" href="/help">&{'tour'}</a>
							<a class="btn dropdown-toggle margin-top-clear" href="/faq">&{'FAQ'}</a>
							<a class="btn dropdown-toggle margin-top-clear" href="/contact">&{'contact-us'}</a>
						</div>
						<div class="btn-group dropdown">
							<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
								<img src='/public/images/flags/#{if request.cookies.get("WIDGR_LANG") != null}${request.cookies.get("WIDGR_LANG").value}#{/if}#{else}${lang}#{/else}.gif'>
							</button>
							<ul class="dropdown-menu dropdown-menu-right dropdown-animation" style="padding:0px;">
					            <li><a href="/locale?locale=en&url=${request.url.urlEncode()}" ><img class="inline" src='/public/images/flags/en.gif'> English</a></li>
					            <li><a href="/locale?locale=de&url=${request.url.urlEncode()}" ><img class="inline" src='/public/images/flags/de.gif'> Deutsch</a></li>
							</ul>							
						</div>
						
					</div>
					<!--  header top dropdowns end -->

				</div>
				<!-- header-top-second end -->

			</div>
		</div>
	</div>
</div>

#{if noheader == null}
<header class="header fixed clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-2">

				<!-- header-left start -->
				<!-- ================ -->
				<div class="header-left clearfix">

					<!-- logo -->
					<div class="logo-header centered">
						<div class="logo">
							<a href="/home"><img id="logo" src="/images/logo_purple.png" style="height:40px;margin-top:10px" alt="widgr"></a>
						</div>
	
						<!-- name-and-slogan -->
						<div class="site-slogan centered">
							&{'share-your-knowledge'}
						</div>
					</div>

				</div>
				<!-- header-left end -->

			</div>
			<div class="col-md-10">
			
				<!-- header-right start -->
				<!-- ================ -->
				<div class="header-right clearfix">

					<!-- main-navigation start -->
					<!-- ================ -->
					<div class="main-navigation animated">

						<!-- navbar start -->
						<!-- ================ -->
						<nav class="navbar navbar-default" role="navigation">
							<div class="container-fluid">

								<!-- Toggle get grouped for better mobile display -->
								<div class="navbar-header" style="padding:15px;">
									<button type="button" class="navbar-toggle btn  btn-block margin-clear" data-toggle="collapse" data-target="#navbar-collapse-1">
										<span class="sr-only">&{'toggle-navigation'}</span>
										<span class="fa fa-chevron-down fa-1x "></span>
									</button>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right">
									
									 	#{if user == null}
								  	  		<li><a href="/"><i class="fa fa-home"></i> &{'home'}</a></li>
										#{/if}			

									 	#{if user}
											<li class="header-notification #{if user && user.unreadMessages}#{/if}#{else}hidden#{/else}" style="padding-left:30px">
								  	  			<a href="/mail" class="object-non-visible animated object-visible wobble" data-animation-effect="wobble" data-effect-delay="6000" ><i style="font-size:1.3em" class="text-default fa fa-envelope title="&{'received-new-message'}"></i></a>
								  	  		</li>	
										 	#{if user.unreadMessages == null}
								  	  		<li class="header-notification2"><a href="/mail" style="padding-right:0px"><i class="fa fa-envelope-o"></i></a></li>
											#{/if}							  	  		
										#{/if}			
										
														  	  		

   								  	   	<li #{if request.url.indexOf("seach")>=0}class="active"#{/if}><a href="/search" id="public-btn-logout">&{'search'}</a></li>

									 	#{if user}
									      <li class="dropdown">
									        <a href="/dashboard" class="dropdown-toggle" data-toggle="dropdown">
									        	&{'dashboard'}
									        </a>
									        <ul class="dropdown-menu">
									          	<li><a href="/dashboard"><i class="fa fa-dashboard"></i> &{'dashboard'}</a></li>
									          	<li><a href="/listings"><i class="fa fa-share-alt"></i> &{'manage-channels'}</a></li>
									          	#{if user.isPublisher()}
										          	<li><a href="/approvements"><i class="fa fa-check"></i> &{'session-approval'}</a></li>
									          	#{/if}
									          	<li><a href="/media-library"><i class="icon-docs"></i> &{'media-library'}</a></li>
									        </ul>
									      </li>	

									      <li class="dropdown">
									        <a href="/user/${user.login}/calendar" class="dropdown-toggle" data-toggle="dropdown">
									        	&{'your-sessions'}
									        </a>
									        <ul class="dropdown-menu">
											    <li><a href="/user/${user.login}/calendar"><i class="fa fa-calendar"></i> &{'your-sessions'}</a></li>
									          	<li><a href="/upcoming"><i class="icon-clock"></i> &{'upcoming-events'}</a></li>
									          	<li><a href="/past"><i class="icon-back-in-time"></i> &{'previous-events'}</a></li>
									        </ul>
									      </li>	
									      									 	
										#{/if}
										
									   	
								 	  	#{if user == null}
									   	<li class='dropdown #{if request.url.indexOf("about")>=0} active #{/if}'>
									    	<a class="dropdown-toggle" data-toggle="dropdown" href="/about" >&{'about-widgr'}</a>
									        <ul class="dropdown-menu">
									      		<li><a href="/about">&{'about-widgr'}</a></li>
									      		<li><a href="/about#features">&{'features'}</a></li>
									      		<li><a href="/about#pricing">&{'pricing'}</a></li>
									      		<li><a href="/about#contact">&{'contact-us'}</a></li>
									        </ul>
									    </li>   
									  	#{/if}
									    
									  	#{if !user}
									      <li> 
									      	<a href="/login?url=${request.url.urlEncode()}" id="public-btn-logout" title="&{'sign-in'}">
									      		<i class="black fa fa-power-off fa-1x"> </i> &{'sign-in'}
									      	</a>
									      </li>  
										#{/if} 	
										
									  	#{if user}
									      <li class="dropdown">
									        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
									        	#{if user.isAvailable()}
									        		<i style="color:#5cb85c" class="fa fa-circle"></i>
									        	#{/if}
									        	<img class="img-circle inline" style="position:relative;bottom:2px;height:24px;" src="/${user.avatarUrl}_64x64">
									        </a>
									        <ul class="dropdown-menu">
												#{if user.isAvailable()}
													<li><a href="/available-stop?url=${request.url.urlEncode()}&#{token /}"><i style="color:#5cb85c" class="fa fa-circle"></i> &{'uncheck-me-as-available'}</a></li>
												#{/if}		
																					        
									          	<li><a href="/user/${user.login}"><i class="icon-user"></i> &{'profile'}</a></li>
									          	
									          	<li><a href="/contacts"><i class="icon-users"></i> &{'contacts'}</a></li>
									          	<li><a href="/payments"><i class="fa fa-bar-chart-o"></i> &{'received-payments'}</a></li>
									          	<li><a href="/payments?sent=true"><i class="fa fa-bar-chart-o"></i> &{'sent-payments'}</a></li>
									          	<li><a href="/settings"><i class="fa fa-sliders"></i> &{'settings'}</a></li>

						  						#{if user.isAdmin()}
						  						<li class="divider"></li>
									          	<li><a href="/admin/users"><i class="fa fa-cog"></i> Users</a></li>
									          	<li><a href="/admin/publishers"><i class="fa fa-cog"></i> Publisher Requests</a></li>
						  						<li class="divider"></li>
									      		#{/if}										          	
									          	
									          	
									      	  	<li> 
									      		<a href="/logout?url=${request.url.urlEncode()}" id="public-btn-logout" title="&{'sign-out'}">
									      			<i class="black fa fa-power-off fa-1x"></i> &{'sign-out'}
									      		</a>
									      		</li>          
									        </ul>
									      </li>	
										#{/if} 																		
									</ul>
								</div>

							</div>
						</nav>
						<!-- navbar end -->

					</div>
					<!-- main-navigation end -->

				</div>
				<!-- header-right end -->

			</div>
		</div>
	</div>
</header>
#{/if}
