<div class="shadow-small">
#{if user && user.account.type == "standard"}
	<div class="colorBg" style="text-align:center;padding:5px">
		<span><a href="/settings#account" style="color:white">Share what you know and become a Publisher.</a></span>
		<strong><a href="/" style="color:white">Learn more</a></strong>
	</div>
#{/if}
<nav class="navbar color role="navigation" style="font-size:1.4em;background:white;">

  <!-- logo -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand segoe-bold" style="font-size:1.8em;font-weight:0;position:relative;bottom:10px" href="/home">
    	<span class="color"><i class='fa fa-comments fa-1x'></i>wi</span><span class="segoe-bold black">dgr</span>
    </a>
    <form class="form navbar-left">
	    <span class="input-group" style="max-width:250px;margin: 8px;">
	      <input type="text" class="form-control" placeholder="Search for event">
	      <span class="input-group-btn">
	        <button class="btn btn-primary colorBg" type="button"><i class="fa fa-search"></i></button>
	      </span>
	    </span>
    </form>     
  </div>
  <!-- end of logo -->

  <!-- collapsible items -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="">

     
    <ul class="nav navbar-nav navbar-right">
 	#{if user}
 	  #{if user.unreadMessages}
  	  	<li><a href="/mail" id="public-btn-logout"><i  class="color fa fa-envelope-o" title="&{'menu.newMessage'}"></i> </a></li>
	  #{/if}
  	  <li><a href="/dashboard" id="public-btn-logout"><i class="black fa fa-desktop  fa-1x" title="&{'menu.dashboard'}"></i> </a></li>
      <li><a href="/user/${user.login}/calendar"><i class='black fa fa-calendar fa-1x' title="&{'menu.calendar'}"></i></a></li>
	#{/if}
	
      <li class="dropdown" style="">
    	<a class="dropdown-toggle" data-toggle="dropdown" href="#" title="" ><span style=";position:relative;top:-2px"><img src='/public/images/flags/#{if request.cookies.get("PLAY_LANG") != null}${request.cookies.get("PLAY_LANG").value}#{/if}#{else}${lang}#{/else}.gif'> <b class="black caret"></b></span></a>
        <ul class="dropdown-menu">
            <li><a href="/locale?locale=sk&url=${request.url.urlEncode()}" ><img src='/public/images/flags/sk.gif'> Slovensky</a></li>
            <li><a href="/locale?locale=en&url=${request.url.urlEncode()}" ><img src='/public/images/flags/en.gif'> English</a></li>
            <li><a href="/locale?locale=cz&url=${request.url.urlEncode()}" ><img src='/public/images/flags/cz.gif'> Česky</a></li>
            <li><a href="/locale?locale=pl&url=${request.url.urlEncode()}" ><img src='/public/images/flags/pl.gif'> Polski</a></li>
            <li><a href="/locale?locale=hu&url=${request.url.urlEncode()}" ><img src='/public/images/flags/hu.gif'> Magyar</a></li>
            <li><a href="/locale?locale=de&url=${request.url.urlEncode()}" ><img src='/public/images/flags/de.gif'> Deutsch</a></li>
        </ul>
      </li>   
	
  	#{if user}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	<img class="img-circle" title="${user.fullName}" style="height:16px;-webkit-transform: scale(2)" src="/${user.avatarUrl}_32x32">
        </a>
        <ul class="dropdown-menu">
          <li><a href="/user/${user.login}"><i class="fa fa-user"></i> &{'menu.profile'}</a></li>
          <li><a href="/mail"><i class="fa fa-envelope"></i> &{'menu.mail'}</a></li>
          <li><a href="/settingspayments"><i class="fa fa-credit-card"></i> &{'menu.payments'}</a></li>
          <li><a href="/Accounts/contacts"><i class="fa fa-users"></i> &{'menu.contacts'}</a></li>
          <li><a href="/settings"><i class="fa fa-pencil-square-o"></i> &{'menu.settings'}</a></li>
      <li> 
      	<a href="/logout" id="public-btn-logout" title="&{'menu.logout'}">
      		<i class="black fa fa-power-off fa-1x"></i> Sign out
      	</a>
      </li>          
        </ul>
      </li>	
	#{/if}  		
  	#{if !user}
      <li> 
      	<a href="/login?url=${request.url.urlEncode()}" id="public-btn-logout" title="&{'menu.login'}">
      		<i class="black fa fa-power-off fa-1x"> </i>
      	</a>
      </li>  
	#{/if}  		
	</ul>
  </div>
  <!-- end of collapsible items -->  
</nav>		
</div>
