<div class="small-hide">
	<h2>&{'tips-for-first-timers'}</h2>
	<div class="separator-2"></div>
	
	<h5><i class="fa fa-globe fa-1x"></i> &{'get-a-modern-browser'}</h5>
	<p>
		&{'full-experience'}
	</p>
	
	<h5><i class="fa fa-video-camera fa-flip-horizontal fa-1x"></i> &{'set-up-your-camera'}</h5>
	<p>&{'set-up-your-camera-desc'}</p>
	
	<h5><i class="fa fa-youtube fa-1x"></i> &{'video-tutorials'}</h5>
	<ul>
		<li><a href="/help#request-session">How to request for a Session</a>
		<li><a href="/help#publisher">How request for Provider account</a>
		<li><a href="/help#embed">Embed Widgr to your website</a>
		<li><a href="/help">And more ... </a>
	</ul>
	<br/>
</div>


