<h2>&{'tips-for-first-timers'}</h2>
<div class="separator-2"></div>

<h5><i class="fa fa-globe fa-1x"></i> &{'get-a-modern-browser'}</h5>
<p>
	&{'full-experience'}
</p>

<h5><i class="fa fa-video-camera fa-1x"></i> &{'set-up-your-camera'}</h5>
<p>&{'set-up-your-camera-desc'}</p>

<h5><i class="fa fa-youtube fa-1x"></i> &{'video-tutorials'}</h5>
<ul>
	<li><a href="/help#basic-use">How to use Widgr as Customer</a>
	<li><a href="/help#basic-use-publisher">How to use Widgr as Publisher</a>
	<li><a href="/help#paypal">How to set up PayPal account</a>
	<li><a href="/help">And more ... </a>
</ul>
<br/>

*{
#{if !isOwner && mail}
<br/>
<a href="/mail?action=new&to=${usr.login}&url=${request.url.urlEncode()}" class="btn btn-light-gray btn-block"><i class="fa fa-envelope"></i> &{'write-message-for'} ${usr.firstName}</a>
<br/>
#{/if}
}*

<iframe width="100%" height="200px" frameBorder="0" src="https://localhost:10001/embed/channel/da119626412e4e55b58d56af52e5de93"></iframe>