<script>
	$(document).ready(function(){
	    $(".anchorLink").click(function(){
	        document.location = $(this).attr("data-href");
	    });
	});
</script>

#{list items:items, as:'item'}
<div class="shadow-blur anchorLink" data-href="/channel/${item.uuid}" style="cursor:pointer;text-align:left;width:100% background: #fafafa; width:100%; margin:0 0 20px 0;">
	<div>
   		<div class="listing-item-top" style="background: url('/${item.imageUrl}') no-repeat center; background-size:cover; border-bottom:5px solid #{if item && item.color} ${item.color} #{/if} #{else} #3A87AD #{/else};">
   		</div>

   		<div class="listing-item" style="background: url('/${item.imageUrl}') no-repeat center; background-size:cover; border-right:5px solid #{if item && item.color} ${item.color} #{/if} #{else} #3A87AD #{/else};">
   		</div>
   		
   		<div class="listing-item-right">
			<h4 class="margin-clear">${item.title.trimDot(90)}</h4>
			<p style="width: 100%; margin:5px 0">
				<img class="inline img-circle avatar22" src="/${item.user.avatarUrl}_32x32"> 
				<strong>${item.user.fullName}</strong>  &middot; 
				${item.category}  &middot; 
				${item.privacy}  &middot; 
				${item.type}
			</p>
			
			
			<span class="truncate">${item.getDescriptionHtml().trimDot(90).raw()}</span>
   			<p>
   			#{if item.charging != 'free'}
   				from <strong>${item.price} <small>${item.currency}</small></strong>
	   			<nobr>for 15</nobr> minutes
   			#{/if}
   			#{else}
   				<strong class="">Free</strong>
   			#{/else}
   			#{if item.firstFree}
   				<span class="label default_bg">first free</span>
   			#{/if}
   			</p>
   			
       		#{list items:1..5, as:'i'} 
       			#{if i <= item.ratingAvg} 
				    <i class="fa fa-star text-default" data-value="1"></i>
       			#{/if}
       			#{else}
				    <i class="fa fa-star-o" data-value="1"></i>
       			#{/else}
			#{/list}
            ${item.ratingStars} reviews   	
           
			#{if isOwner}
				<a href="/event?action=edit&newEvent=true&url=${request.url.urlEncode()}&listingId=${item.uuid}" class="btn btn-gray btn-sm btn-margin pull-right">Create event</a>
			#{/if}
			
			#{else}
				<a href="/user/${usr.login}/calendar?listing=${item.uuid}" class="btn btn-gray btn-sm btn-margin pull-right "><i class="fa fa-calendar"></i> Request a Time</a>
			#{/else}            		
   		</div>
   	</div>		
</div>	   
#{/list}	
<div class="clearfix"></div>						


