#{list items:items, as:'item'}
#{if item.deleted == null || (user != null && user.uuid == item.user.uuid && displayHidden) }
<div class="shadow-blur anchorlink" data-href="/listing/${item.uuid}" style="#{if item.deleted}opacity:0.6#{/if}; cursor:pointer;text-align:left;width:100% background: #fafafa; width:100%; margin:0 0 20px 0;">
	<div>
   		<div class="listing-item-top shadow-inset-2" style="background: url('/${item.imageUrl}') no-repeat center; background-size:cover;">
   		</div>
   		<div class="listing-item shadow-inset-2" style="background: url('/${item.imageUrl}') no-repeat center; background-size:cover;">
   		</div>
   		<div class="listing-item-right" style="background: #fafafa">
			<p style="width: 100%;">
				<img class="inline img-circle avatar32" src="/${item.user.avatarUrl}_32x32">&nbsp; 
				<strong>${item.user.fullName}</strong>  &middot; 
				&{item.category}  
				
				#{if item.language}
					 &middot;  <img style="position:relative;bottom:1px;" src="/public/images/flags/${item.language}.gif">
				#{/if}
			</p>
			
			<h6 class="margin-clear" style="font-size:1.0em">
			<a href="/listing/${item.uuid}">
				${item.title.trimDot(90)}
			</a>
			#{if user && item.user.uuid == user.uuid && item.deleted}
				<small class="label label-default pull-right" style="font-size:0.6em">&{'archived'}</small>
			#{/if}			
			</h6>
			<br/>
			
			<span class="truncate">${item.getDescriptionHtml().trimDot(90).raw()}</span>
   			<p>
   			#{if item.charging != 'free'}
   				&{'from'} <strong>${item.price} <small>${item.currency}</small></strong>
	   			<nobr>&{'for'} 15</nobr> &{'minutes'}
   			#{/if}
   			#{else}
   				<strong class="">&{'free'}</strong>
   			#{/else}
   			#{if item.firstFree}
   				<span class="label label-default">&{'first-free'}</span>
   			#{/if}
   			</p>
   			
       		#{list items:1..5, as:'i'} 
       			#{if i <= item.ratingAvg} 
				    <i class="fa fa-star text-default" data-value="1"></i>
       			#{/if}
       			#{else}
				    <i class="fa fa-star-o" data-value="1"></i>
       			#{/else}
			#{/list}
            ${item.ratingStars} &{'reviews'}   	
           	
           	#{if item.deleted == null}
				#{if isOwner && user && user.account.type == "publisher"}
					<a href="/event?action=edit&newEvent=true&url=${request.url.urlEncode()}&listingId=${item.uuid}" class="btn btn-light-gray btn-sm btn-margin pull-right"><i class="fa fa-plus"></i> &{'create-event'}</a>
				#{/if}
			#{/if}	
			<div class="clearfix"></div>			
   		</div>
   	</div>		
</div>	
#{/if}   

<script type="application/ld+json">
{
	"@context": "http://schema.org",
  	"@type": "NewsArticle",
  	"author": "${item.user.getFullName()}",
  	"url": "${baseUrl}/listing/${item.uuid}",
  	"headline": "${item.title}",
  	"alternativeHeadline": "${item.title}",
  	"image": ["${baseUrl}${item.imageUrl}_128x128"],
 	"datePublished": "${item.created}",
  	"description": "${item.title}",
  	"articleBody": "${item.description}"
}
</script>
#{/list}	
<div class="clearfix"></div>						


