<div style="text-align:center">
	<p class="segoe-bold black">Connect over live video with</p>
	<img class=" avatar128" src="../${usr.avatarUrl}">
	<br/>
	<br/>
	<p>
		<a class="black segoe-bold" style="font-size:1.2em" href="/public/user?id=${usr.uuid}">${usr.fullName}</a>
		#{if !isOwner}
		<span>
			#{if follow == null}
				<a href="/follow?id=${usr.uuid}&url=${request.url.urlEncode()}" class="btn btn-primary btn-xs">Follow</a> 
			#{/if}
			#{if follow != null}
				<a href="/unfollow?id=${usr.uuid}&url=${request.url.urlEncode()}" class="btn btn-default btn-xs">Unfollow</a> 
			#{/if}
		</span>
		#{/if}		
	</p>
	<p>
		<span class="black segoe-bold" style="font-size:1.2em">from 15.00$</span><br/>
		<span class="segoe-bold" style="font-size:0.8em">for 15 minutes</span>
	</p>

	#{if fromEvent && event}
		<a href="/listing-new?uuid=${event.listing.uuid}">More for this listing</a>
		<br/>
	#{/if}

	<br/>
	#{if listing}
		<a href="../calendar/${usr.login}?listing=${listing.uuid}" class="btn-block btn btn-primary"><i class="fa fa-calendar"></i> Request a meeting</a>
	#{/if}
</div>