#{if usr.userAbout != null && usr.userAbout.length() > 0}
<p class="black">${usr.userAboutHtml().raw()}</p>
#{/if}

#{if usr.userEducation != null && usr.userEducation.length() > 0}
<h3>&{'education'}</h3>
<p class="black ">${usr.userEducationHtml().raw()}</p>
#{/if}

#{if usr.userExperiences != null && usr.userExperiences.length() > 0}
<h3>&{'experiences'}</h3>
<p class="black ">${usr.userExperiencesHtml().raw()}</p>
#{/if}

<ul class="social-links colored clearfix" >
	#{if usr.facebook}<li class="facebook"><a target="_blank" href="${usr.facebook}"><i class="fa fa-facebook"></i></a></li>#{/if}
	#{if usr.twitter}<li class="twitter"><a target="_blank" href="${usr.twitter}"><i class="fa fa-twitter"></i></a></li>#{/if}
	#{if usr.linkedIn}<li class="linkedin"><a target="_blank" href="${usr.linkedIn}"><i class="fa fa-linkedin"></i></a></li> #{/if}
	#{if usr.googlePlus}<li class="googleplus"><a target="_blank" href="${usr.googlePlus}"><i class="fa fa-google-plus"></i></a></li>#{/if}
</ul>

#{if usr.account.url}
<p class="black">&{'website'} <a href="${usr.account.formatUrl(usr.account.url)}" target="_blank">${usr.account.url}</a></p>
#{/if}
