
<div class="section gray-bg-lighter ">
<div class="container">
	
	<div class="row">
		<div class="col-lg-3 col-sm-3">
			<div class="box-style-1 gray-bg team-member">
				<div class="overlay-container">
					<img src="/${usr.avatarUrl}" style="width:100%s">
					<div class="overlay">
						<ul class="social-links colored clearfix">
						#{if usr.facebook}<li class="facebook"><a target="_blank" href="${usr.facebook}"><i class="fa fa-facebook"></i></a></li>#{/if}
						#{if usr.twitter}<li class="twitter"><a target="_blank" href="${usr.twitter}"><i class="fa fa-twitter"></i></a></li>#{/if}
						#{if usr.linkedIn}<li class="linkedin"><a target="_blank" href="${usr.linkedIn}"><i class="fa fa-linkedin"></i></a></li> #{/if}
						#{if usr.googlePlus}<li class="googleplus"><a target="_blank" href="${usr.googlePlus}"><i class="fa fa-google-plus"></i></a></li>#{/if}
						</ul>
					</div>
				</div>
			</div>
		</div>
		

		
		<div class="col-lg-5 col-sm-5">
						
			<h2 class="margin-clear">
				<span style="font-size:0.6em">
		  		#{if usr.isOnline()}
		  			<i class="text-default icon-record"></i>
				#{/if}
				#{else}
		  			<i style="color:gray" class="icon-record"></i>
				#{/else}		
				</span>
				<a class="anchor" href="/user/${usr.login}">${usr.fullName}</a>
						
		    	#{if userProfile}
					<span>
				    	#{if user && isOwner}
				    		<a href="/settings?edit=true" class="btn btn-light-gray btn-sm controls"><i class="fa fa-pencil"></i> &{'edit-profile'}</a> 
				    	#{/if}			
						#{if user && !isOwner}
						<span>
							#{if follow && follow.following == true}
								<a href="/contact-unfollow?uuid=${follow.uuid}&url=${request.url.urlEncode()}" class="btn btn-light-gray btn-sm controls"><i class="fa fa-minus"></i> &{'unfollow'}</a> 
							#{/if}
							#{else}
								<a href="/contact-follow?uuid=${follow}&usr=${usr.uuid}&url=${request.url.urlEncode()}" class="btn btn-light-gray btn-sm controls"><i class="fa fa-plus"></i> &{'follow'}</a> 
							#{/else}
						</span>
						#{/if}	
					</span>
				#{/if}				
			</h2>
			<ul class="list-icons">
				<li><i class="fa fa-clock-o"></i> &{'last-online'} #{if usr.lastOnlineTime} ${usr.lastOnlineTime.format("dd MMM, yyyy")} #{time time:usr.lastOnlineTime/} #{/if}</li>
				<li><i class="fa fa-calendar pr-5"></i><a href="/user/${usr.login}/calendar/public">&{'public calendar'}</a></li>
				<li><i class="fa fa-envelope pr-5"></i>${usr.login}</li>
			</ul>
		</div>

		<div class="col-lg-4 col-sm-4 " style="height:100%">
			<div class="vertical-divider-left-lg side">
				<h3 class="title margin-clear">&{'followers'}</h3>
				#{if followers}
					<p>
					#{list items:followers, as:'item'}
			    		<a href="/user/${item.user.login}"><img class="pull-left" style="height:22px;margin:1px" src="/${item.user.avatarUrl}_32x32"></a>
					#{/list}	
					</p>						
				#{/if}
				<div class="clearfix"></div>
				<br/>
				
				<h3 class="title">&{'following'}</h3>
				#{if followees}
					<p>
					#{list items:followees, as:'item'}
			    		<a href="/user/${item.contact.login}"><img class="pull-left " style="height:22px;margin:1px" src="/${item.contact.avatarUrl}_32x32"></a>
					#{/list}
					</p>			
				#{/if}	
				<div class="clearfix"></div>
				<br/>
			</div>
		</div>	
		
	</div>


</div>
</div>
