#{extends 'main.html' /} 
#{set 'title'}
	${listing.title} - ${userDisplayed.fullName}
#{/set}

#{if request.params.facebook == null}
	#{set raw: true /}
#{/if}
#{else}
	#{set facebook: true /}
#{/else}

<!-- include from listings list -->
#{set usr: userDisplayed /}

<script>
	star.eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
	star.messageEvent = star.eventMethod == "attachEvent" ? "onmessage" : "message";
	eventer = window[star.eventMethod];

	eventer(star.messageEvent,function(e) {
	    var params = e.data;
	    try {
		    params = JSON.parse(params);
		    if(params.type == "msg"){
		        #{if user}
			        params.user = "${user.uuid}";
		        #{/if}
		        params.recipient = "${listing.user.uuid}";
				starServices.sendMessage(params);
				
		    } else if (params.type = "save-feed"){
                roomServices.saveFeed(params, function(){
                });  
		    } else if (params.type = "get-feeds"){
	            roomServices.getFeeds(params.params, function(data){
	                star.renderFeeds(data);
	            });
		    }
	    } catch (err) {
               return false;
           }
	},false);	

	var params = {};
	params["data-bs"] = "${baseUrl}";
	params["data-ws"] = "${socketIo}";
	params["data-lg-user-ui"] = ""+new Date().getTime();
	#{if user}
		params["data-lg-user-ui"] = "${user.uuid}";
		params["data-lg-user"] = "${user.getFullName()}";
		params["data-lg-user-ava"] = "${user.avatarUrl}";
		params["data-lg-user-lg"] = "${user.login}";
	#{/if}
	
	params["data-listingTitle"] = "${listing.title}";
	params["data-listingImage"] = "${listing.imageUrl}";
	params["data-listingCharging"] = "${listing.charging}";
	params["data-listingPrice"] = "${listing.price}";
	params["data-listingDuration"] = "${listing.chargingTime}";
	params["data-listingCurrency"] = "${listing.currency}";
	params["data-listingFirstFree"] = "${listing.firstFree}";
	params["data-listingStars"] = '${stats.get("avgStars")}';
	params["data-listingReviews"] = '${stats.get("totalStars")}';
	params["data-listingUuid"] = '${listing.uuid}';
	params["data-listingUserName"] = '${listing.user.getFullNameAccount()}';
	params["data-listingUserUuid"] = '${listing.user.uuid}';
	
	
	params["data-room"] = "${userDisplayed.account.key}";
	params["data-owner"] = "${userDisplayed.getFullName()}";
	params["data-owner-avatar"] = "${userDisplayed.avatarUrl}";
	params["data-owner-uuid"] = "${userDisplayed.uuid}";
	params["data-owner-company"] = "${userDisplayed.account.name}";
	params["type"] = "init";
	parent.postMessage(JSON.stringify(params),"*");  
	
	$(document).ready(function(){
		$("#widgr-open-chat").click(function(){
		    var params = {};
			params["type"] = "chat-open";
			parent.postMessage(JSON.stringify(params),"*"); 		    
		});
	});
	
	
	var roomServices = {};
	roomServices.saveFeed = function(data, success, error){
	 $.ajax({
	     type: "POST",
	     url: "/public/feed",
	     data: JSON.stringify(data),
	     success: success,
	     error: error,
	     contentType: "application/json"
	 });
	};

	roomServices.getFeeds = function(params, success, error){
	 $.ajax({
	     type: "GET",
	     url: "/public/feeds?"+params,
	     success: success,
	     error: error,
	     contentType: "application/json"
	 });
	};

	roomServices.instantRoom = function(params, success, error){
	    var data = {};
	    $.ajax({
	        type: "POST",
	        url: "/instant-room-rest?"+params,
	        data: JSON.stringify(data),
	        success: success,
	        error: error,
	        contentType: "application/json"
	    });    
	};	
	
</script>
<div id="fb-root"></div>

