#{extends 'main.html' /} 
#{set 'title'}
	${listing.title} - ${userDisplayed.fullName}
#{/set}

#{if request.params.facebook == null}
	#{set raw: true /}
#{/if}
#{else}
	#{set facebook: true /}
#{/else}

<!-- include from listings list -->
#{set item: listing /}
#{set usr: userDisplayed /}


<div id="fb-root"></div>
<div id="embed-item page-wrapper" #{if facebook}style="position:relative; max-width: 665px; margin: 60px auto;" class="shadow-small" #{/if}>

	#{if facebook == null}
	<script>
		var params = {};
		params["data-bs"] = "${baseUrl}";
		params["data-ws"] = "${socketIo}";
		#{if user}
			params["data-lg-user-ui"] = "${user.uuid}";
			params["data-lg-user"] = "${user.getFullName()}";
			params["data-lg-user-ava"] = "${user.avatarUrl}";
			params["data-lg-user-lg"] = "${user.login}";
		#{/if}
		params["data-room"] = "${item.user.uuid}";
		params["data-usr"] = "${item.user.getFullName()}";
		params["data-usr-ava"] = "${item.user.avatarUrl}";
		params["data-usr-id"] = "${item.user.uuid}";
		params["data-usr-comp"] = "${item.user.account.name}";
		params["type"] = "init";
		parent.postMessage(JSON.stringify(params),"*");  
		
		$(document).ready(function(){
		    var params = {};
			params["height"] = $("#embed-item").height();
			params["type"] = "resize";
			parent.postMessage(JSON.stringify(params),"*");    
			
			$("#widgr-open-chat").click(function(){
			    var params = {};
				params["type"] = "chat-open";
				parent.postMessage(JSON.stringify(params),"*"); 		    
			});
		});
		
	</script>	
	#{/if}
	
	<a href="/listing/${item.uuid}" target="_blank">
	<div style="position:relative">
	  	<span class="listing-item-top shadow-inset-2" style="display:block; background: url('/${item.imageUrl}') no-repeat center; background-size:cover;position:relative">
			#{if item.video}
				<a class="text-shadow" style="font-size:3em; color:white;position:absolute;top:30%;left:45%" href="${item.video}" target="_blank" title="&{'play-introduction'}"><i class="fa fa-youtube-play"></i></a>
			#{/if}
			
			<a href="/listing/${item.uuid}" target="_blank">
		        <span style='position:absolute;bottom:5px;font-size:18px;right:10px;width:75%'>
		        	<span style='font-weight:bold;' class='white'>${item.title}</span>
		        </span>		
	        </a>
	        
			<a href="/user/${userDisplayed.login}#chat=open" style="position:absolute;left:20px;top:130px" target="_blank"  data-original-title="&{'go-to-profile'}"><img class="img-circle" style="border:5px solid white" src="/${userDisplayed.avatarUrl}_64x64"></a>			
	  	</span>
	</div>
	</a>
	
  	<div style="position:relative" class="shadow-inset">
  		<div style='position:absolute;top:5px;right:10px;width:75%'>
	  		#{if userDisplayed.isOnline()}
	  			&{'online'}
	  			<span><i class="icon-record" style="color:#5cb85c"></i></span>
			#{/if}
			#{else}
	  			&{'offline'}
	  			<span><i class="icon-record" style="color:gray"></i></span>
			#{/else}
			<strong>
				${item.user.getFullNameAccount()}
			</strong>
		</div>		
		<br/>	
		
		<div class="centered" style="padding: 15px">
			<div><a class="" target="_blank" href="/listing/${item.uuid}">${item.description.trimDot(160).raw()}</a></div>
				#{if listing.isAvailable()}
					<a href="#chat" id="widgr-open-chat" class="btn btn-gray btn-short open-chat style-switcher" title="&{'open-chat'} ${listing.user.getFullName()}"><i class="fa fa-comments-o"></i></a>
					<a href="/instant-room?id=${listing.uuid}&#{token /}" target="_blank" class="btn btn-gray btn-short no-schedule-start style-switcher " style="display:none"><i class="fa fa-arrow-right"></i> &{'request-for-event-instant'}</a>
				#{/if}			
				#{elseif user}
					<a href="/mail?action=new&to=${listing.user.login}" target="_blank" class="btn btn-gray btn-short" title="&{'write-message-for'} ${listing.user.getFullName()}"><i class="fa fa-envelope-o"></i></a>
				#{/elseif}
				#{else}
					<a href="/contact?id=${listing.user.login}" target="_blank" class="btn btn-gray btn-short " title="&{'write-message-for'} ${listing.user.firstName}"><i class="fa fa-envelope-o"></i></a>
				#{/else}
				<a href="/user/${usr.login}/calendar?channel=${listing.uuid}&#{token /}" target="_blank" class="btn btn-gray btn-short"  title="&{'schedule-session'}"><i class="fa fa-calendar"></i> &{'schedule-session'}</a>

			<div>
			&{'price'}:
			#{if item.charging != 'free'}
				&{'from'} ${item.price} <small>${item.currency} &{'for'} ${item.chargingTime} &{'minutes'}</small>
				#{if item.firstFree}
					<span class="label label-success">&{'first-free'}</span>
				#{/if}	
			#{/if}
			#{else}
				<strong class="">&{'free'}</strong>
			#{/else}	
			</div>	
			<br/>

			<div>
	       		#{list items:1..5, as:'i'} 
	       			#{if stats.get("avgStars") >= i}
					    <i class="fa fa-star text-default" data-value="1"></i>
	       			#{/if}
	       			#{else}
					    <i class="fa fa-star-o" data-value="1"></i>
	       			#{/else}
				#{/list}
				&{'from'} ${stats.get("totalStars")} <a class="" target="_blank" href="/listing/${item.uuid}#reviews">&{'reviews'}</a>
			</div>
			<hr/>	
		    <div style="text-align:center;padding:10px;font-size:13px">
				#{if user == null}
			    	&{'embed-login-message', request.url.urlEncode(), request.url.urlEncode()}
			    	<br/><br/>
				#{/if}
			    <a target="_blank" class="black-link" href="${baseUrl}"><img style="vertical-align: middle;height: 30px" alt="widgr" src="/public/images/logo_purple.png"></a>
		    </div>
		</div>  	
  	</div>
</div>


#{if facebook}
	<script>
	    star.room = '${listing.uuid}';
		star.chatRoom = '${listing.user.uuid}';
	   	star.ownerName = '${listing.user.getFullName().escapeJavaScript()}';
	    star.server_host = '${socketIo}';
	    star.livestream = true;
	    star.peerId = null;
		star.listing = '${listing.uuid}';
		star.user = '${name.escapeJavaScript()}';
		star.isOwner = false;
		#{if isOwner}
	   		star.isOwner = true;
	   	#{/if}
		#{if user}
			star.userAvatar = '${user.avatarUrl}';
	    	star.userUuid = '${user.uuid}';
		#{/if}    
		#{else}
			star.userAvatar = 'public/images/avatar';
			star.userUuid = '${new Date().getTime()}';
		#{/else}	
	</script>
	<script src="${socketIo}/socket.io/socket.io.js"></script>
	<script src="@{'/public/javascripts/room.js'}" type="text/javascript"></script>
#{/if}


