#{extends 'main.html' /} 
#{set 'title'}
	${usr.fullName}
#{/set}

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
	<script src="@{'/public/javascripts/utils.js'}" type="text/javascript" ></script>
#{/set}

#{set 'moreStyles'}
#{/set}


#{include 'userTop.html' /}

<div class="container" >				
	<div class="row">
	
  	
		<div class="col-md-12">
			#{if listings && usr.isPublisher()}
				<h2>&{'all-channels-from'} ${usr.firstName}</h2>
				<div class="separator-2"></div>
				#{set items:listings /}
				#{set forEvents:false /}
				#{include 'listingsList.html' /}
			#{/if}			
		
			#{if (usr.userAbout != null && usr.userAbout.length() > 0 ) || (usr.userExperiences != null && usr.userExperiences.length() > 0) || (usr.userEducation != null && usr.userEducation.length() > 0)}
			<div>
				<h2 class="">&{'about'} ${usr.firstName}</h2>
				<div class="separator-2"></div>
				#{set usr:usr /}
				#{include 'userAbout.html' /}
			</div>
			#{/if}
						
			<div>
				#{set object:usr /}
				#{include 'ratings.html' /}			
			</div>
		</div>	  	
	  	
	</div>
</div>

																						
