#{extends 'main.html' /} 

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
	<script src="@{'/public/javascripts/utils.js'}" type="text/javascript" ></script>
#{/set}

#{set 'moreStyles'}
#{/set}

#{set background:'true' /} 

#{include 'userTop.html' /}

<div class="container">				
	<div class="row">
		<div class="col-md-8">
			#{if listings}
				<br/>
				#{set items:listings /}
				#{set forEvents:false /}
				#{include 'listingsList.html' /}
			#{/if}	

			<div>
				<h2 class="">About ${usr.firstName}</h2>
				#{set usr:usr /}
				#{include 'userAbout.html' /}
			</div>
			<br>
			
			<div>
				#{set object:usr /}
				#{include 'ratings.html' /}			
			</div>
		</div>	  	
	  	
		
	  	<div class="col-md-4">
	  		#{include 'leftPanel.html' /}
	  	</div>
	  	
	</div>
</div>

																						
