#{extends 'main.html' /} 

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
	<script src="@{'/public/javascripts/utils.js'}" type="text/javascript" ></script>
	<script src="@{'/public/javascripts/userProfile.js'}" type="text/javascript" ></script>
#{/set}

#{set 'moreStyles'}
    <style>
	@media (min-width: 768px) {
	    	.row {
	    		margin:0px;
	    	}	
	}
	@media (min-width: 992px) {
	    	.right-row {
				margin-left:20px;
	    	}	
	}
	@media (max-width: 992px) {
	    	.right-row-first {
				margin-top:20px;
	    	}	
	}
    </style>
#{/set}

#{set background:'true' /} 

#{include 'userTop.html' /}

<div class="container">				
	<div class="row">
		<div class="col-md-8" style="padding:0px;">
		
			<div class="shadow" style="background: white;padding:15px;">
				<span class="segoe-bold-h2">About ${usr.firstName}</span>
				<br/>
				#{set usr:usr /}
				#{include 'userAbout.html' /}
			</div>
			<br>
				  	
			#{if listings}
				#{set items:listings /}
				#{set forEvents:false /}
				#{include 'listingsList.html' /}
			#{/if}	
			
			<div class="shadow" style="background: white;padding:15px">
				#{set object:usr /}
				#{include 'ratings.html' /}			
			</div>
		</div>	  	
	  	
		
	  	<div class="col-md-4" style="padding:0px">
			<div class="shadow right-row right-row-first" style="background: white;padding:15px;">
				<a href="/mail?action=new&to=${usr.login}" class="segoe-bold-h2 color-link underline" style="margin-top:5px"><i class="fa fa-envelope-o"></i> Write a message</a>
			</div>	  	
	  		
	  		<!-- 
	  		<br/>
			<div class="shadow right-row right-row-first" style="background: white;padding:15px;">
				<h3 class="segoe-bold-h2">Upcoming Events</h3>
				<div id="eventListUpcoming"></div>
				<div class="event_poster">
					<div class="poster_wrapper" style="background:rgba(0,0,0, 0.7)">
						<div style="height:140px;width:100%;display:table;text-align: center">
							<div style="display:table-cell;vertical-align:middle;">
								<div id="spinnerUpcoming" style="display:none;height:120px;background: url('../public/images/loading.gif') center no-repeat"></div>
								<span id="moreResultsUpcoming" class="color-link-light"><i class="fa fa-plus fa-3x"></i></span>
							</div>
						</div>	
					</div>
	        	 	<div class="event-time black" style="padding:5px">
	        			<br/><br/>
	        		</div>					
				</div>
				<div class="clearfix"></div>
				
				<h3 class="segoe-bold-h2">Previous Events</h3>
				<div id="eventListPrevious"></div>
				<div class="event_poster">
					<div class="poster_wrapper" style="background:rgba(0,0,0, 0.7)">
						<div style="height:140px;width:100%;display:table;text-align: center">
							<div style="display:table-cell;vertical-align:middle;">
								<div id="spinnerPrevious" style="display:none;height:120px;background: url('../public/images/loading.gif') center no-repeat"></div>
								<span id="moreResultsPrevious" class="color-link-light"><i class="fa fa-plus fa-3x"></i></span>
							</div>
						</div>	
					</div>
	        	 	<div class="event-time black" style="padding:5px">
	        			<br/><br/>
	        		</div>					
				</div>
				<div class="clearfix"></div>	
			</div>		
			 -->

	  	</div>
	  	
	</div>


</div>

																						
