<html>
	<body>
		<div style="max-width:1000px; background-color: #4D9CD7; background-color: #F8F8F8; font-family: 'Segoe UI Light','Segoe UI','Helvetica Neue Medium', Arial, sans-serif; font-size: 14px;line-height: 1.42857142857143; text-align: left;">
			
			<!-- User part -->
			<div style="margin:0px;width:100%; max-width:1000px; background-color: #4D9CD7">
				<br/>
				<div style="color:white; text-decoration:none">
					<table>
						<tr>
							<td>
								<img style="padding-left:20px;" src="${userImage}">
							</td>
							<td style="padding-left:10px; font-family: 'Segoe UI Light','Segoe UI','Helvetica Neue Medium', Arial, sans-serif;font-size:1.3em;">
								${user} <br/>
								is sharing with you Event
							</td>
						</tr>
					</table>
				</div>
				<br/>
			</div>
			
			<!-- Event time part -->
			#if($event)
			<div style="margin:0px;width:100%; max-width:1000px; background-color: rgb(66, 139, 202)">
				<a style="color:white; text-decoration:none" href="${url}">
					<span style="padding-left:20px; font-family: 'Segoe UI Light','Segoe UI','Helvetica Neue Medium', Arial, sans-serif;font-size:2.3em;">${title}</span><br/>
					<span style="padding-left:20px; font-family: 'Segoe UI Light','Segoe UI','Helvetica Neue Medium', Arial, sans-serif;font-size:1.5em;">On ${date} ${start} - ${end} GMT</span>
				</a>
				<br/>
				<br/>
			</div>
			#end
			
			<!-- Channel image part -->
			<a style="color:white; text-decoration:none" href="${url}">
				<img  style="width:100%; max-width:1000px;" src="${image}">
			</a>
			<br/>
			
			<div style="margin:0px;width:100%; max-width:1000px; color: black; background-color: #F8F8F8;">
				<p style="margin:0px;padding-left:20px; background-color: #F8F8F8;">
					<br/>
					<img style="padding-right:2px;height:20px;" src="${userImage}"> <span style="font-size:1.7em;color:gray">${user} wrote</span><br/>
					${message}
				</p>
				<p style="margin:0px;padding-left:20px; background-color: #F8F8F8;">
					<span style="font-size:1.7em;color:gray">About Event</span><br/>
					${description}
				</p>
				<p style="margin:0px;padding-left:20px; background-color: #F8F8F8;">
					<span style="font-size:1.7em;color:gray">About ${user}</span><br/>
					${userAbout}
				</p>
			</div>
			
			#if($newAccount)
			<div style="width:100%; max-width:1000px; background-color: #e0e0e0">		
				<br/>
				<p style="margin:0px;padding-left:20px">
					<span style="font-size:1.7em;">Don't have an account?</span><br/>
					${emailRegister1} <a href="${newAccountUrl}">${emailRegister2}</a> ${emailRegister3}
				</p>
				<br/>
			</div>
			#end
		</div>
	</body>
</html>