<html>
	<body style="font-family: Arial, Helvetica;">
		<div style="max-width:1000px; background-color: ${color4}; font-family: Arial, Helvetica; font-size: 13px; line-height: 1.3; text-align: left;">

			<!-- Title and User part -->
			<div style="margin:0px;width:100%; max-width:1000px;padding:20px; color:white; background-color: ${color4}">
				<table style="border-collapse: collapse; width:100%">
					<tr>
						#if($user)
						<td style="vertical-align:middle;">
							<a href="${userUrl}" style="margin-right:20px"><img  style="max-height:100px; height:100px;width:100px;" height="100px" width="100px" src="${userImage}"></a>
						</td>
						<td>
							&nbsp;
						</td>
						#end
						<td style="width: 100%; vertical-align:middle; font-family: Arial, Helvetica;font-size:1.3em;">
							#if($user)
								<h3>${user} &nbsp;<a href="${userUrl}" style="color:white;font-size:10px;">${userUrlLabel}</a></h3>
							#end
							<h4 style="margin-top:0px;">${title}</h4>
							#if($event)
								<span style="font-family: Arial, Helvetica;font-size:14px;">${eventDate} ${eventStart} - ${eventEnd}</span>
								<a href="${eventUrl}" style="color:white;font-size:10px;font-family: Arial, Helvetica">${userUrlLabel}</a>
							#end					
						</td>
					</tr>
				</table>
			</div>
			
			<!-- Event part -->
			#if($event)
			<div style="width:100%;max-width:1000px;padding:20px; padding-top:0px; background-color: ${color4}">
				<a href="${eventUrl}">
					<img  style="width:100%; max-width:1000px;" src="${eventImage}">
				</a>			
			</div>
			#end					
			
			
			<!-- Main message -->
			<div style="margin:0px;width:100%; max-width:1000px; color: black; padding: 20px; background-color: ${color2}; font-family: Arial, Helvetica; ">
				<div style="margin:0px;">
					#if(!$event && $notification)
						<h3>${notificationLabel}</h3>
						<p>${notification}</p>
					#end
					
					#if($message)
						${message}
					#end
					
					#if($event)
						<h3>About ${event}</h3>
						${eventDescription}
					#end
					
					#if(!$existing)
						${whatIsWidgr}
					#end
					
					${regards}
				</div>
			</div>
			
			<!-- Second message -->
			#if(!$existing)
				#if($url)
				<div style="width:100%; max-width:1000px; padding: 20px; background-color: ${color2}; font-family: Arial, Helvetica; ">		
					<a href="${url}" style="margin:0 20px; color: white; font-size:1.3em; text-decoration: none; background-color: ${color1}; padding:15px;">${urlLabel}</a>
					<br/>
					<br/>
				</div>
				#end
			#end
			
			<!-- Footer -->
			<div style="margin:0px;width:100%; max-width:1000px; padding: 20px; color: gray; background-color: ${color3}">
				<div style="width:100%; text-align:center"><img src="${logo}" alt="widgr">
					<div style="font-size:1.2em;">
						<a style="text-decoration: none; color:darkgray" href="${baseUrl}help">${help}</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
						<a style="text-decoration: none; color:darkgray" href="${baseUrl}contact">${contact}</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;	
						<a style="text-decoration: none; color:darkgray" href="${baseUrl}privacy">${security}</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;	
						<a style="text-decoration: none; color:darkgray" href="${baseUrl}terms">${terms}</a>	
					</div>
				</div>

				<br/>
				${footer}
			</div>

		</div>
	</body>
</html>