#{extends 'main.html' /} 
#{set 'title'}
	&{'settings'}
#{/set}

#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/css/jquery.Jcrop.min.css'}" type="text/css" />
#{/set}

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>
	<script>
		starCalendar.aspectRatio = 1;
	</script>

#{/set}


<form id="cropForm" action="/crop" method="post">
	<input type="hidden" id="url" name="url" value="${request.url.urlEncode()}" />
	<input type="hidden" id="x1" name="x1" />
	<input type="hidden" id="x2" name="x2" />
	<input type="hidden" id="y1" name="y1" />
	<input type="hidden" id="y2" name="y2" />
	<input type="hidden" id="imageIdCrop" name="imageId" />
	<input type="hidden" id="type" name="type" value="avatar" />
	<input type="hidden" id="tempCrop" name="objectId" value="#{if event}${event.uuid}#{/if}#{else}${temp}#{/else}"/>
</form>

<div>
<div class="container">
	<div class="row">
	  	<div class="col-md-12">
	  	
			#{if plan && planLast != null && planLast.id != plan.id}
				<div class="alert alert-info alert-dismissible" role="alert">
					&{'account-will-be-valid'} <strong>&{planLast.type}</strong> &{'account-will-be-valid-2'}  ${planLast.validFrom.format("dd MMM yyyy")}, #{time time:planLast.validFrom/}
				</div>
			#{/if}	

			#{if plan && planLast != null && planLast.id != plan.id && planLast.type != "standard" && planLast.profile == null}
				<div class="alert alert-info alert-dismissible" role="alert">
					&{'your-subscription-not-activated', messages.get(plan.type)}
					&{'PayPal-payment-message'}
					<img style="cursor:pointer" class="paypal-subscription pull-right" src="//www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" data-id="${planLast.id}" align="top" alt="&{'subscribe-with-paypal'}"/>
				</div>
			#{/if}	
			
			#{if plan != null && !plan.isStandard() && plan.paid == null}
				<div class="alert alert-info alert-dismissible" role="alert">
					&{'your-subscription-not-activated', messages.get(plan.type)}
					<br/>
					&{'total'}: <strong>${plan.account.getPlanPrice()} USD &{'monthly'}</strong>
					<img style="cursor:pointer" class="paypal-subscription pull-right" src="//www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" data-id="${plan.id}" align="top" alt="&{'subscribe-with-paypal'}"/>
					<br/>
					<br/>
					<span style="font-size:12px">&{'PayPal-payment-message'}</span>
				</div>					
			#{/if}			
			<script>
				$(".paypal-subscription").click(function(){
				    var id = $(this).attr("data-id");
				    $('<form>', {
				        "method": 'post',
				        "action": '/settings/subscription?'+star.token+'&id='+id
				    }).appendTo(document.body).submit();
				});
			</script>	  	
	  	
			<h2 class="btn-margin">
				<i class="fa fa-cog"></i> &{'settings'}
				<span class="">
					#{if !edit}
						<a class="btn btn-light-gray btn-sm btn-margin" href="/settings?edit=true"><i class="fa fa-pencil"></i> &{'edit'}</a>
					#{/if}
					#{else}
						<a class="btn btn-light-gray btn-sm btn-margin" href="/settings"><i class="fa fa-times"></i> &{'cancel'}</a>
					#{/else}
				</span>
			</h2>
			<form class="form-horizontal" role="form" method="post" action="/settings?edit=true">	
		    #{authenticityToken /}

			<div class="row">
				<div class="col-md-9">
					<div class="avatar-container">
					  <img id="image" class="cropper avatar" src="/${user.avatarUrl}">
					</div>
					  <span id="upload-button" class="btn btn-default btn-short" style="position:absolute;left:25px;top:0px"><i class="fa fa-camera"></i></span>
				</div>
				<div class="col-md-3">
					<div class="eg-preview clearfix" style="display:none">
						<div class="avatar-preview preview preview-lg"></div>
						<div class="avatar-preview preview preview-md"></div>
						<div class="avatar-preview preview preview-sm"></div>
						<div class="avatar-preview preview preview-xs"></div>
					</div>
				</div>
			</div>
		    
			<!-- File upload -->
			<div>
				<span id="crop-button" class="btn btn-default " style="display:none"><i class="fa fa-camera"></i> &{'crop'}</span>
				<input type="file" id="upload" name="upload"  accept="image/*" style="display:none">
				<input type="hidden" id="temp" name="temp" value="${params.temp}"/>
				<input type="hidden" id="imageInput" name="image" value="${params.image}"/>
				<input type="hidden" id="imageId" name="imageId"/>
				<div id="progresses" style='margin-top:10px'>
				</div>
				<div class="clearfix"></div>
				<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>	
			</div>
			<!-- Fileupload -->		
			
			<h3>&{'account.account'}</h3>
			<div class="separator-2"></div>
			#{if !edit}
			<dl class="dl-horizontal">
				<dt>&{'login'}</dt>
				<dd>${user.login} &nbsp;</dd>
				<dt>&{'account-name'}</dt>
				<dd>${user.account.name} &nbsp;</dd>

				<dt>&{'account-type'}</dt>
				<dd>
					#{if user && user.account.type == "publisherReq"}
						<span class="label label-default">&{user.account.type}</span><br/>
						<span class="label label-success">&{'waiting-for-approvement'}</span>
					#{/if}
					#{elseif user && user.account.type == "standard"}
						<span class="label label-default">&{user.account.type}</span><br/>
						<a href="/settings/request-publisher?url=${request.url.urlEncode()}&#{token /}">&{'become-a-publisher'}</a>
					#{/elseif}
					#{else}
						<span class="label default-bg">&{user.account.type}</span>
					#{/else}
				</dd>
				
				#{if user.isPublisher()}
				<dt>&{'account-plan'}</dt>
				<dd>
					#{if plan}
						<span class="label default-bg">
							&{plan.type} 
							#{if !plan.isStandard()}
							, &{'price'}: ${user.account.getPlanPrice()}$ &{'per-month'}
							#{/if}
						</span>&nbsp;
						
						#{if plan.profile && plan.type == "premium"}
						<span class="label default-bg">
							&{'events-left'}: ${user.availableEvents()}						
						</span>
						#{/if}
						
						#{if plan && plan.validTo != null}&nbsp;
							<span class="label label-default">
								&{'valid-to'} ${plan.validTo.format("dd MMM yyyy")}
							</span>
						#{/if}
						<br/>
						<br/>
						*{
						#{if plan.type == "standard" || plan == null}
							#{if planLast == null || (plan && planLast && planLast.id == plan.id)}
								<a href="/settings/paypal/upgrade?type=premium&url=${request.url.urlEncode()}&#{token /}">&{'upgrade-to-plan'} &{'premium'}</a> &middot;
								<a href="/settings/paypal/upgrade?type=pro&url=${request.url.urlEncode()}&#{token /}">&{'upgrade-to-plan'} &{'pro'}</a> &middot;
							#{/if}
						#{/if}
						
						#{if plan.type == "premium"}
							#{if plan && planLast && planLast.id == plan.id && plan.profile != null}
								<a href="/settings/paypal/upgrade?type=pro&url=${request.url.urlEncode()}&#{token /}">&{'upgrade-to-plan'} &{'pro'}</a> &middot;
							#{/if}
							#{if plan && plan.canceled == null}
								<a href="/settings/paypal/cancel?url=${request.url.urlEncode()}&#{token /}">&{'cancel-subscription'}</a> &middot;
							#{/if}
						#{/if}
						
						#{if plan.type == "pro"}
							#{if plan && plan.canceled == null}
								<a href="/settings/paypal/cancel?url=${request.url.urlEncode()}&#{token /}">&{'cancel-subscription'} &middot;
							#{/if}
						#{/if}
						}*
						<a href="/about#pricing">&{'learn-more-about-pricing'}</a>
					#{/if}
				</dd>
				#{/if}
			</dl>
			#{/if}
			#{else}
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">&{'account-name'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="accName" placeholder="&{'account.accountName'}" name="accName" value="${params.accName}">
			      <div class="error">#{error 'accName' /}</div>
			    </div>
			</div>
			#{/else}
			<br/>
			
			
			
			

			#{if user.account.type == "publisher"}
			<a id="paypal"></a>
			<h3>&{'paypal-account'}</h3>
			<div class="separator-2"></div>
			#{if !edit}
			<dl class="dl-horizontal">
				<dt>&{'paypal-account'}</dt>
				<dd>
					${user.account.paypalAccount}
					<i class="icon-help tip" rel="tooltip" data-placement="right" data-original-title="&{'paypal-info'}"></i>
				</dd>
				<dt>&{'account.currency'}</dt>
				<dd>${user.account.currency} &nbsp;</dd>
			</dl>
			#{/if}
			#{else}
			<div class="form-group">
				<label for="paypal" class="col-sm-2 control-label">&{'paypal-account'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="paypal" placeholder="&{'paypal-account'}" name="paypal" value="${params.paypal}">
			      <div class="error">#{error 'paypal' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="currency" class="col-sm-2 control-label">&{'default-currency'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="currency" id="currency">
						<option #{if params.currency == "USD"}selected='selected'#{/if} value="USD">USD</option>
						<option #{if params.currency == "EUR"}selected='selected'#{/if} value="EUR">EUR</option>
						<option #{if params.currency == "CHF"}selected='selected'#{/if} value="SEK">CHF</option>
						<option #{if params.currency == "GBP"}selected='selected'#{/if} value="GBP">GBP</option>
						<option #{if params.currency == "AUD"}selected='selected'#{/if} value="AUD">AUD</option>
						<option #{if params.currency == "CAD"}selected='selected'#{/if} value="CAD">CAD</option>
						<option #{if params.currency == "JPY"}selected='selected'#{/if} value="JPY">JPY</option>
						<option #{if params.currency == "CZK"}selected='selected'#{/if} value="CZK">CZK</option>
						<option #{if params.currency == "BRL"}selected='selected'#{/if} value="BRL">BRL</option>
						<option #{if params.currency == "DKK"}selected='selected'#{/if} value="DKK">DKK</option>
						<option #{if params.currency == "NOK"}selected='selected'#{/if} value="NOK">NOK</option>
						<option #{if params.currency == "NZD"}selected='selected'#{/if} value="NZD">NZD</option>
						<option #{if params.currency == "PLN"}selected='selected'#{/if} value="SEK">PLN</option>
						<option #{if params.currency == "SEK"}selected='selected'#{/if} value="SEK">SEK</option>
					</select>
					<div class="error">#{error 'currency' /}</div>
			    </div>
			</div>			
			#{/else}
			<br/>
			#{/if}			
			
			
			
			
			<h3>&{'user-preferences'}</h3>
			<div class="separator-2"></div>
			#{if !edit}
			<dl class="dl-horizontal">				
				<dt>&{'display-name'}</dt>
				<dd>
					${user.firstName} ${user.lastName}
				</dd>
				
				<dt>&{'password'}</dt>
				<dd>
					<a href="/password">&{'change-your-password'}</a>
				</dd>
				
				<dt>&{'locale'}</dt>
				<dd>
					${user.locale}
				</dd>
				
				<dt>&{'timezone'}</dt>
				<dd>
					#{if user.timezone} #{if user.timezone < 0} + #{/if} ${user.timezone / -60}:00 &{'hrs'} #{/if}
				</dd>			
				
				<dt>&{'email-notifications'}</dt>
				<dd>
					&{user.emailNotification}<i class="icon-help tip" rel="tooltip" data-placement="right" data-original-title="&{'enable-or-disable-email-notifications'}"></i>
				</dd>	
				
				<dt>&{'facebook-id'}</dt>
				<dd>
					${user.facebookName}
					<div class="fb-login-button" data-max-rows="1" data-scope="public_profile" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
					<i class="icon-help tip" rel="tooltip" data-placement="right" data-original-title="&{'connect-with-your-facebook-account'}"></i><br/>
					<br/>
					#{if user.facebookId != null}
						<a href="/facebook/clear?${request.url.urlEncode()}&#{token /}">&{'clear-facebook-id'}</a> &middot;
					#{/if}				
					<a target="_blank" href="https://www.facebook.com/add.php?api_key=731388346951866&pages">&{'install-widgr-app-to-your-facebook-page'}</a> &middot;
					<a href="/help">&{'learn-more'}</a>
				  	<script type="text/javascript" src="@{'/public/javascripts/facebook.js'}"></script>
					<script>
					  star.fbClbck = function() {
					      FB.api('/me', function(response) {
					        $("#facebookId").val(response.id);
					        $("#facebookName").val(response.name);
					        $('<form>', {
					            "html": '<input name="facebookId" value="' + response.id + '" /><input name="facebookName" value="' + response.name + '" />',
					            "action": '/settings/facebook/add?#{token /}',
					            "method": 'POST'
					        }).appendTo(document.body).submit();
					      });
					  }
					</script>		
					<div id="fb-root"></div>				
				

				</dd>
			</dl>
			#{/if}
			#{else}
			<div class="form-group">
				<label for="firstName" class="col-sm-2 control-label">&{'first-name'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="firstName" placeholder="&{'first-name'}" name="firstName" value="${flash.firstName}">
			      <div class="error">#{error 'firstName' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="lastName" class="col-sm-2 control-label">&{'last-name'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="lastName" placeholder="&{'last-name'}" name="lastName" value="${flash.lastName}">
			      <div class="error">#{error 'lastName' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="locale" class="col-sm-2 control-label">&{'language'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="locale" id="locale">
						<option #{if flash.locale == "en"}selected='selected'#{/if} value="en">en</option>
						<option #{if flash.locale == "de"}selected='selected'#{/if} value="de">de</option>
					</select>
					<div class="error">#{error 'locale' /}</div>
			    </div>
			</div>						
			<div class="form-group">
				<label for="locale" class="col-sm-2 control-label">&{'timezone'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="timezone" id="timezone">
						<option #{if params.timezone == "-660"}  selected='selected'#{/if} value="-660">- 11:00 &{'hrs'}</option>
						<option #{if params.timezone == "-600"}  selected='selected'#{/if} value="-600">- 10:00 &{'hrs'}</option>
						<option #{if params.timezone == "-540"}  selected='selected'#{/if} value="-540">- 09:00 &{'hrs'}</option>
						<option #{if params.timezone == "-480"}  selected='selected'#{/if} value="-480">- 08:00 &{'hrs'}</option>
						<option #{if params.timezone == "-420"}  selected='selected'#{/if} value="-420">- 07:00 &{'hrs'}</option>
						<option #{if params.timezone == "-360"}  selected='selected'#{/if} value="-360">- 06:00 &{'hrs'}</option>
						<option #{if params.timezone == "-300"}  selected='selected'#{/if} value="-300">- 05:00 &{'hrs'}</option>
						<option #{if params.timezone == "-240"}  selected='selected'#{/if} value="-240">- 04:00 &{'hrs'}</option>
						<option #{if params.timezone == "-180"}  selected='selected'#{/if} value="-180">- 03:00 &{'hrs'}</option>
						<option #{if params.timezone == "-120"}  selected='selected'#{/if} value="-120">- 02:00 &{'hrs'}</option>
						<option #{if params.timezone == "-60"}  selected='selected'#{/if} value="-60">- 01:00 &{'hrs'}</option>
						<option #{if params.timezone == "0"} selected='selected'#{/if} value="0">&nbsp; 00:00 &{'hrs'}</option>
						<option #{if params.timezone == "60"} selected='selected'#{/if} value="60">+ 01:00 &{'hrs'}</option>
						<option #{if params.timezone == "120"}selected='selected'#{/if} value="120">+ 02:00 &{'hrs'}</option>
						<option #{if params.timezone == "180"}selected='selected'#{/if} value="180">+ 03:00 &{'hrs'}</option>
						<option #{if params.timezone == "240"}selected='selected'#{/if} value="240">+ 04:00 &{'hrs'}</option>
						<option #{if params.timezone == "300"}selected='selected'#{/if} value="300">+ 05:00 &{'hrs'}</option>
						<option #{if params.timezone == "360"}selected='selected'#{/if} value="360">+ 06:00 &{'hrs'}</option>
						<option #{if params.timezone == "420"}selected='selected'#{/if} value="420">+ 07:00 &{'hrs'}</option>
						<option #{if params.timezone == "480"}selected='selected'#{/if} value="480">+ 08:00 &{'hrs'}</option>
						<option #{if params.timezone == "540"}selected='selected'#{/if} value="540">+ 09:00 &{'hrs'}</option>
						<option #{if params.timezone == "600"}selected='selected'#{/if} value="600">+ 10:00 &{'hrs'}</option>
						<option #{if params.timezone == "660"}selected='selected'#{/if} value="660">+ 11:00 &{'hrs'}</option>
						<option #{if params.timezone == "720"}selected='selected'#{/if} value="720">+ 12:00 &{'hrs'}</option>
					</select>
					<div class="error">#{error 'locale' /}</div>
			    </div>
			</div>	
			<div class="form-group">
			<label for="locale" class="col-sm-2 control-label">&{'email-notification'}</label>
			<div class="col-sm-10">
				<label class="radio-inline">
				  <input type="radio" name="emailNotification" id="inlineRadio1" value="true" #{if params.emailNotification == "null" || params.emailNotification == "true"} checked="checked" #{/if}> &{'enabled'}
				</label>
				<label class="radio-inline">
				  <input type="radio" name="emailNotification" id="inlineRadio2" value="false" #{if params.emailNotification == 'false'} checked="checked" #{/if}> &{'disabled'}
				</label>
			</div>				
			</div>						
			#{/else}
			<br/>			
			




			<h3>&{'your-calendar'}</h3>
			<div class="separator-2"></div>
			#{if !edit}
			<dl class="dl-horizontal">
				<dt>&{'working-hours'}</dt>
				<dd>${user.workingHourStart} - ${user.workingHourEnd} &{'hrs'}</dd>
				<dt>&{'hidden-days'}</dt>
				<dd>
					#{if user.hiddenDays != null}
 					#{if user.hiddenDays.indexOf("0") >= 0}&{'cal.sunday'}#{/if} 
 					#{if user.hiddenDays.indexOf("1") >= 0}&{'cal.monday'}#{/if} 
 					#{if user.hiddenDays.indexOf("2") >= 0}&{'cal.tuesday'}#{/if} 
 					#{if user.hiddenDays.indexOf("3") >= 0}&{'cal.wednesday'}#{/if} 
 					#{if user.hiddenDays.indexOf("4") >= 0}&{'cal.thursday'}#{/if} 
 					#{if user.hiddenDays.indexOf("5") >= 0}&{'cal.friday'}#{/if} 
 					#{if user.hiddenDays.indexOf("6") >= 0}&{'cal.saturday'}#{/if} 
 					#{/if}
				</dd>
				<dt>&{'sync-with-google'}</dt>
				<dd>
					<div>
						#{if user.googleCalendarId}
						<span class="">&{'google-calendar-sync-with'} ${user.googleCalendarId}</span>
						#{/if}
						<i class="icon-help tip" rel="tooltip" data-placement="right" data-original-title="&{'enable-google-calendar-sync'}"></i>
					</div>
					<br/>
					<span><a href="/google?url=${request.url.urlEncode()}&#{token /}">&{'enable-google-calendar-sync'}</a></span> &middot; 
					#{if user.googleTokenExpires}
						<span><a href="/google/clear?url=${request.url.urlEncode()}&#{token /}">&{'disable-google-calendar-sync'}</a></span>
					#{/if}
				</dd>
			</dl>
			
			#{/if}
			#{else}
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">&{'start-of-working-hours'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="workingHourStart" id="workingHourStart">
						<option #{if params.workingHourStart == "1"} selected='selected'#{/if} value="1">01:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "2"}selected='selected'#{/if} value="2">02:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "3"}selected='selected'#{/if} value="3">03:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "4"}selected='selected'#{/if} value="4">04:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "5"}selected='selected'#{/if} value="5">05:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "6"}selected='selected'#{/if} value="6">06:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "7"}selected='selected'#{/if} value="7">07:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "8"}selected='selected'#{/if} value="8">08:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "9"}selected='selected'#{/if} value="9">09:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "10"}selected='selected'#{/if} value="10">10:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "11"}selected='selected'#{/if} value="11">11:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "12"}selected='selected'#{/if} value="12">12:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "13"}selected='selected'#{/if} value="13">13:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "14"}selected='selected'#{/if} value="14">14:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "15"}selected='selected'#{/if} value="15">15:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "16"}selected='selected'#{/if} value="16">16:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "17"}selected='selected'#{/if} value="17">17:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "18"}selected='selected'#{/if} value="18">18:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "19"}selected='selected'#{/if} value="19">19:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "20"}selected='selected'#{/if} value="20">20:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "21"}selected='selected'#{/if} value="21">21:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "22"}selected='selected'#{/if} value="22">22:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "23"}selected='selected'#{/if} value="23">23:00 &{'hrs'}</option>
					</select>
					<div class="error">#{error 'workingHourStart' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">&{'end-of-working-hours'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="workingHourEnd" id="workingHourEnd">
						<option #{if params.workingHourEnd == "1"} selected='selected'#{/if} value="1">01:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "2"}selected='selected'#{/if} value="2">02:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "3"}selected='selected'#{/if} value="3">03:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "4"}selected='selected'#{/if} value="4">04:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "5"}selected='selected'#{/if} value="5">05:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "6"}selected='selected'#{/if} value="6">06:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "7"}selected='selected'#{/if} value="7">07:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "8"}selected='selected'#{/if} value="8">08:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "9"}selected='selected'#{/if} value="9">09:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "10"}selected='selected'#{/if} value="10">10:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "11"}selected='selected'#{/if} value="11">11:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "12"}selected='selected'#{/if} value="12">12:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "13"}selected='selected'#{/if} value="13">13:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "14"}selected='selected'#{/if} value="14">14:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "15"}selected='selected'#{/if} value="15">15:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "16"}selected='selected'#{/if} value="16">16:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "17"}selected='selected'#{/if} value="17">17:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "18"}selected='selected'#{/if} value="18">18:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "19"}selected='selected'#{/if} value="19">19:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "20"}selected='selected'#{/if} value="20">20:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "21"}selected='selected'#{/if} value="21">21:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "22"}selected='selected'#{/if} value="22">22:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "23"}selected='selected'#{/if} value="23">23:00 &{'hrs'}</option>
					</select>
					<div class="error">#{error 'workingHourStart' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">&{'hidden-days'}</label>
			    <div class="col-sm-10" style="position:relative;top:7px;">
			    	<label for="hiddenDays0">
				    	<input type="checkbox" name="hiddenDays" value="0" id="hiddenDays0" #{if params.hiddenDays != null && params.hiddenDays.indexOf("0") >= 0}checked='checked'#{/if}> &{'cal.sunday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays1">
				    	<input type="checkbox" name="hiddenDays" value="1" id="hiddenDays1" #{if params.hiddenDays != null && params.hiddenDays.indexOf("1") >= 0}checked='checked'#{/if}> &{'cal.monday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays2">
				    	<input type="checkbox" name="hiddenDays" value="2" id="hiddenDays2" #{if params.hiddenDays != null && params.hiddenDays.indexOf("2") >= 0}checked='checked'#{/if}> &{'cal.tuesday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays3">
				    	<input type="checkbox" name="hiddenDays" value="3" id="hiddenDays3" #{if params.hiddenDays != null && params.hiddenDays.indexOf("3") >= 0}checked='checked'#{/if}> &{'cal.wednesday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays4">
				    	<input type="checkbox" name="hiddenDays" value="4" id="hiddenDays4" #{if params.hiddenDays != null && params.hiddenDays.indexOf("4") >= 0}checked='checked'#{/if}> &{'cal.thursday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays5">
				    	<input type="checkbox" name="hiddenDays" value="5" id="hiddenDays5" #{if params.hiddenDays != null && params.hiddenDays.indexOf("5") >= 0}checked='checked'#{/if}> &{'cal.friday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays6">
				    	<input type="checkbox" name="hiddenDays" value="6" id="hiddenDays6" #{if params.hiddenDays != null && params.hiddenDays.indexOf("6") >= 0}checked='checked'#{/if}> &{'cal.saturday'}
			    	</label>
			    </div>
				<div class="error">#{error 'hiddenDays' /}</div>
			</div>			
			
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">&{'google-calendar-id'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="googleCalendarId" id="googleCalendarId">
						#{if calendars}
						#{list items:calendars, as:'item'}
							<option #{if user.googleCalendarId == item.id} selected='selected'#{/if} value="${item.id}">${item.summary} #{if item.primary}(&{'primary'})#{/if}</option>
						#{/list}
						#{/if}
					</select>
					<div class="error">#{error 'workingHourStart' /}</div>
			    </div>
			</div>
			#{/else}
				




			<br/>
			<h3>&{'About You'}</h3>
			<div class="separator-2"></div>
			#{if !edit}
				#{set usr:user /}
				#{include 'userAbout.html' /}
			#{/if}
			#{else}
			<div class="form-group has-feedback">
				<label for="userAbout" class="col-sm-2 control-label">&{'about'}</label>
			    <div class="col-sm-10">
			      <textarea class="form-control" id="userAbout" placeholder="&{'about'}" name="userAbout" rows="10">${params.userAbout}</textarea>
			      <div class="error">#{error 'userAbout' /}</div>
			    </div>
			    #{include 'help.html' /}
			</div>
			<div class="form-group has-feedback">
				<label for="userEducation" class="col-sm-2 control-label">&{'education'}</label>
			    <div class="col-sm-10">
			      <textarea class="form-control" id="userEducation" placeholder="&{'education'}" name="userEducation" rows="10">${params.userEducation}</textarea>
			      <div class="error">#{error 'userEducation' /}</div>
			    </div>
  		        #{include 'help.html' /}
			</div>
			<div class="form-group has-feedback">
				<label for="userExperiences" class="col-sm-2 control-label">&{'experiences'}</label>
			    <div class="col-sm-10">
			      <textarea class="form-control" id="userExperiences" placeholder="&{'experiences'}" name="userExperiences" rows="10">${params.userExperiences}</textarea>
			      <div class="error">#{error 'userExperiences' /}</div>
			    </div>
			    #{include 'help.html' /}
			</div>
			<div class="form-group">
				<label for="website" class="col-sm-2 control-label">&{'website'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="website" placeholder="&{'website'}" name="url" value="${params.url}">
			      <div class="error">#{error 'url' /}</div>
			    </div>
			</div>

			<div class="form-group">
				<label for="facebook" class="col-sm-2 control-label"> &{'facebook'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="facebook" placeholder="&{'facebook'}" name="facebook" value="${params.facebook}">
			      <div class="error">#{error 'facebook' /}</div>
			    </div>
			</div>				

			<div class="form-group">
				<label for="twitter" class="col-sm-2 control-label"> &{'twitter'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="twitter" placeholder="&{'twitter'}" name="twitter" value="${params.twitter}">
			      <div class="error">#{error 'twitter' /}</div>
			    </div>
			</div>				

			<div class="form-group">
				<label for="linkedIn" class="col-sm-2 control-label"> &{'linkedIn'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="linkedIn" placeholder="&{'linkedIn'}" name="linkedIn" value="${params.linkedIn}">
			      <div class="error">#{error 'linkedIn' /}</div>
			    </div>
			</div>				

			<div class="form-group">
				<label for="googlePlus" class="col-sm-2 control-label"> &{'googlePlus'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="googlePlus" placeholder="&{'googlePlus'}" name="googlePlus" value="${params.googlePlus}">
			      <div class="error">#{error 'googlePlus' /}</div>
			    </div>
			</div>				
			#{/else}	
			
			
			


			
			*{
			<br/>
			<h3>Website Embedding</h3>
			<div class="separator-2"></div>
			<dl class="dl-horizontal">
				<dt>&{'account.viaIframe'}</dt>
				<dd style="margin-bottom:30px;">
					<textarea class="form-control" rows="2" ><iframe style="width:100%;height:100%;" frameborder="0" src="${baseUrl}/public/calendar?id=${user.uuid}" seamless></iframe></textarea>
				</dd>
				<dt>&{'account.viaLink'}</dt>
				<dd><textarea class="form-control" rows="1" >${baseUrl}/public/calendar?id=${user.uuid}</textarea></dd>
			</dl>
			}*

			<br/>
			#{if edit}
			<div class="form-group">
				<div class="col-sm-12">
					<div class="pull-right">
						<button type="submit" class="btn btn-default">&{'save'}</button>
						<a href="/Accounts/account" class="btn btn-light-gray">&{'cancel'}</a>
					</div>
				</div>
			</div>
			#{/if}
		</form>
		</div>
	</div>
</div>
</div>


