#{extends 'main.html' /} 
#{set switcher: true /}

#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/css/jquery.Jcrop.min.css'}" type="text/css" />
#{/set}

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/lib/jquery.Jcrop.min.js'}"></script>
	<script src="@{'/public/javascripts/starEvent.js'}" type="text/javascript"></script>
	<script>
		starInit.aspectRatio = 1;

		$(document).ready(function(){
			if ($("[rel=tooltip]").length) {
	        	$("[rel=tooltip]").tooltip();
	        }
		});				
	</script>

#{/set}


#{set 'moreHtml'}
	<!-- Color Switcher (Remove these lines) -->
	<script type="text/javascript" src="@{'/public/style-switcher/style-switcher.js'}"></script>
	<div class="style-switcher closed">
		<div class="header">
			<a class="trigger" href="#"><i class="icon-tools"></i></a>
			<h2>Style Switcher</h2>
		</div>
		<div class="clearfix body">
			<h3>Predifined Colors</h3>
			<ul class="styleChange">
				<li class="red selected" data-style="red" title="red"></li>
				<li class="blue" data-style="blue" title="blue"></li>
				<li class="green" data-style="green" title="green"></li>
				<li class="orange" data-style="orange" title="orange"></li>
				<li class="dark-gray" data-style="dark_gray" title="dark_gray"></li>
				<li class="pink" data-style="pink" title="pink"></li>
				<li class="purple" data-style="purple" title="purple"></li>
				<li class="dark-cyan" data-style="dark_cyan" title="dark_cyan"></li>
				<li class="yellow" data-style="yellow" title="yellow"></li>
				<li class="light-blue" data-style="light_blue" title="light_blue"></li>
				<li class="brown" data-style="brown" title="brown"></li>
				<li class="light-green" data-style="light_green" title="light_green"></li>
				<li class="dark-red" data-style="dark_red" title="dark_red"></li>
			</ul>
			<hr>
			<h3>Footer</h3>
			<ul class="footerChange">
				<li class="dark selected" data-style="dark" title="dark"><i class="fa fa-square-o"></i> Dark</li>
				<li class="light" data-style="light" title="light"><i class="fa fa-square-o"></i> Light</li>
			</ul>
			<hr>
			<h3>Layout Mode</h3>
			<ul class="layoutChange">
				<li class="wide selected" data-style="wide" title="wide"><i class="fa fa-arrow-left pr-10"></i>Wide<i class="fa fa-arrow-right pl-10"></i></li>
				<li class="boxed" data-style="boxed" title="boxed"><i class="fa fa-arrow-right pr-5"></i>Boxed<i class="fa fa-arrow-left pl-5"></i></li>
			</ul>
			<h3>Patterns</h3>
			<ul class="patternChange">
				<li class="pattern-0" data-style="pattern-0" title="white background"></li>
				<li class="pattern-1" data-style="pattern-1" title="pattern-1"></li>
				<li class="pattern-2" data-style="pattern-2" title="pattern-2"></li>
				<li class="pattern-3" data-style="pattern-3" title="pattern-3"></li>
				<li class="pattern-4" data-style="pattern-4" title="pattern-4"></li>
				<li class="pattern-5" data-style="pattern-5" title="pattern-5"></li>
				<li class="pattern-6" data-style="pattern-6" title="pattern-6"></li>
				<li class="pattern-7" data-style="pattern-7" title="pattern-7"></li>
				<li class="pattern-8" data-style="pattern-8" title="pattern-8"></li>
				<li class="pattern-9" data-style="pattern-9" title="pattern-9"></li>
			</ul>
			<ul class="resetAll">
				<li class="btn btn-default btn-sm" title="Reset">Reset All</li>
			</ul>
		</div>
	</div>
	<!-- Color Switcher End -->
#{/set}

#{set background:'true' /} 
<form id="cropForm" action="/crop" method="post">
	<input type="hidden" id="url" name="url" value="${request.url.urlEncode()}" />
	<input type="hidden" id="x1" name="x1" />
	<input type="hidden" id="x2" name="x2" />
	<input type="hidden" id="y1" name="y1" />
	<input type="hidden" id="y2" name="y2" />
	<input type="hidden" id="imageUrlCrop" name="imageUrl" />
	<input type="hidden" id="imageIdCrop" name="imageId" />
	<input type="hidden" id="type" name="type" value="avatar" />
	<input type="hidden" id="tempCrop" name="objectId" value="#{if event}${event.uuid}#{/if}#{else}${temp}#{/else}"/>
</form>

<div>
<div class="container">
	<div class="row">
	  	<div class="col-md-12">
			<h2 class="btn-margin">
				<i class=" icon-tools"></i>Settings
				<span class="">
					#{if event && params.image && params.image.indexOf("uploads") != -1}
						<a href="/event/reset-image?id=${event.uuid}&url=${request.url.urlEncode()}" id="delete-upload-button" class="btn btn-default btn-margin"><i class="fa fa-times"></i> Remove</a>
					#{/if}					
					#{if !edit}
						<a class="btn btn-light-gray btn-sm btn-margin" href="/settings?edit=true"><i class="fa fa-pencil"></i> &{'edit'}</a>
					#{/if}
					#{else}
						<a class="btn btn-light-gray btn-sm btn-margin" href="/settings"><i class="fa fa-times"></i> &{'cancel'}</a>
					#{/else}
				</span>
			</h2>
			
			<form class="form-horizontal" role="form" method="post" action="/settings?edit=true">	
		    
		    
			<!-- File upload -->
			<div>
				<span id="crop-button" class="btn btn-default " style="display:none"><i class="fa fa-camera"></i> Crop</span>
				<img id="image" style="height:256px;" class="" src="/${user.avatarUrl}">
				<span id="upload-button" class="btn btn-light-gray radius btn-short" style="position:relative;left:-150px"><i class="fa fa-camera"></i></span>
				<input type="file" id="upload" name="upload"  accept="image/*" style="display:none">
				<input type="hidden" id="temp" name="temp" value="${params.temp}"/>
				<input type="hidden" id="imageInput" name="image" value="${params.image}"/>
				<input type="hidden" id="imageId" name="imageId"/>
				<div id="progresses" style='margin-top:10px'>
				</div>
				<div class="clearfix"></div>
				<script src="@{'/public/javascripts/upload.js'}" type="text/javascript"></script>	
			</div>
			<!-- Fileupload -->		
			
			

			#{if !user.account.newPlanApplied()}
			<div class="shadow alert alert-info alert-dismissible" role="alert">
			    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					Change to ${user.account.planRequest} plan will be applied after 
					${account.planRequestFrom.format("dd MMM, yyyy")}
					<span>#{time time:account.planRequestFrom/}</span>
			</div>
			#{/if}					


			<h3>&{'account.account'}</h3>
			<div class="separator-2"></div>
			#{if !edit}
			<dl class="dl-horizontal">
				<dt>&{'account.plan'}</dt>
				<dd>
					${user.account.currentPlan()}
				</dd>
				<dt>&{'account.accountType'}</dt>
				<dd>
					${user.account.type} &nbsp; 
					#{if user && user.account.type == "standard"}
						<br/><a href="/settings/request-publisher?url=${request.url.urlEncode()}">Become a Publisher</a>
						<i class="fa fa-question-circle" rel="tooltip" data-placement="right" data-original-title="To become a publisher you must have filled in personal information and created at least one channel. To create new channel go to Dashboard and click 'new channel' button."></i>
					#{/if}
					#{if user && user.account.type == "publisherReq"}
						<br/>Waiting for approvement
					#{/if}
				</dd>
				
				<dt>&{'account.company'}</dt>
				<dd>${user.account.name} &nbsp;</dd>
				
				<dt>&{'name'}</dt>
				<dd>${user.firstName} ${user.lastName}</dd>
				
				<dt>&{'login'}</dt>
				<dd>${user.login}</dd>
				
				<dt>&{'password'}</dt>
				<dd><a href="/password">&{'account.changeYourPassword'}</a></dd>
				
				<dt>&{'language'}</dt>
				<dd>${user.locale} &nbsp;</dd>
				
				<dt>&{'timezone'}</dt>
				<dd>${user.timezone} &nbsp;</dd>			
				
				<dt>&{'EmailNotification'}</dt>
				<dd>${user.emailNotification} &nbsp;</dd>			
			</dl>
			#{/if}
			#{else}
			<div class="form-group">
				<label for="accPlan" class="col-sm-2 control-label">&{'account.plan'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="accPlan" id="accPlan">
						<option #{if params.type == "standard"}  selected='selected' #{/if} value="standard">Standard</option>
						<option #{if params.type == "month"}  selected='selected' #{/if} value="month">Monthly Basic</option>
						<option #{if params.type == "gold"}  selected='selected' #{/if} value="gold">Monthly Gold</option>
					</select>
					<div class="error">#{error 'locale' /}</div>
			    </div>
			</div>	
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">&{'account.accountName'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="accName" placeholder="&{'account.accountName'}" name="accName" value="${params.accName}">
			      <div class="error">#{error 'accName' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="firstName" class="col-sm-2 control-label">&{'firstName'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="firstName" placeholder="&{'firstName'}" name="firstName" value="${flash.firstName}">
			      <div class="error">#{error 'firstName' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="lastName" class="col-sm-2 control-label">&{'lastName'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="lastName" placeholder="&{'lastName'}" name="lastName" value="${flash.lastName}">
			      <div class="error">#{error 'lastName' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="locale" class="col-sm-2 control-label">&{'language'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="locale" id="locale">
						<option #{if flash.locale == "sk"}selected='selected'#{/if} value="sk">sk</option>
						<option #{if flash.locale == "en"}selected='selected'#{/if} value="en">en</option>
					</select>
					<div class="error">#{error 'locale' /}</div>
			    </div>
			</div>						
			<div class="form-group">
				<label for="locale" class="col-sm-2 control-label">&{'timezone'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="timezone" id="timezone">
						<option #{if params.timezone == "-360"}  selected='selected'#{/if} value="-360">- 06:00 &{'hrs'} New York</option>
						<option #{if params.timezone == "-300"}  selected='selected'#{/if} value="-300">- 05:00 &{'hrs'}</option>
						<option #{if params.timezone == "-240"}  selected='selected'#{/if} value="-240">- 04:00 &{'hrs'}</option>
						<option #{if params.timezone == "-180"}  selected='selected'#{/if} value="-180">- 03:00 &{'hrs'}</option>
						<option #{if params.timezone == "-120"}  selected='selected'#{/if} value="-120">- 02:00 &{'hrs'}</option>
						<option #{if params.timezone == "-60"}  selected='selected'#{/if} value="-60">- 01:00 &{'hrs'}</option>
						<option #{if params.timezone == "0"} selected='selected'#{/if} value="0">&nbsp; 00:00 &{'hrs'} GMT Greenwich</option>
						<option #{if params.timezone == "60"} selected='selected'#{/if} value="60">+ 01:00 &{'hrs'}</option>
						<option #{if params.timezone == "120"}selected='selected'#{/if} value="120">+ 02:00 &{'hrs'}</option>
						<option #{if params.timezone == "180"}selected='selected'#{/if} value="180">+ 03:00 &{'hrs'}</option>
						<option #{if params.timezone == "240"}selected='selected'#{/if} value="240">+ 04:00 &{'hrs'}</option>
						<option #{if params.timezone == "300"}selected='selected'#{/if} value="300">+ 05:00 &{'hrs'}</option>
						<option #{if params.timezone == "360"}selected='selected'#{/if} value="360">+ 06:00 &{'hrs'}</option>
					</select>
					<div class="error">#{error 'locale' /}</div>
			    </div>
			</div>				
			<div class="form-group">
			<label for="locale" class="col-sm-2 control-label">&{'Email notification'}</label>
			<div class="col-sm-10">
				<label class="radio-inline">
				  <input type="radio" name="emailNotification" id="inlineRadio1" value="true" #{if params.emailNotification == "null" || params.emailNotification == "true"} checked="checked" #{/if}> enabled
				</label>
				<label class="radio-inline">
				  <input type="radio" name="emailNotification" id="inlineRadio2" value="false" #{if params.emailNotification == 'false'} checked="checked" #{/if}> disabled
				</label>
			</div>				
			</div>				
			#{/else}			
			
			

			
			
			
	  		<br/>				    
			<h3>&{'About You'}</h3>
			<div class="separator-2"></div>
			#{if !edit}
				#{set usr:user /}
				#{include 'userAbout.html' /}
			#{/if}
			#{else}
			<div class="form-group">
				<label for="userAbout" class="col-sm-2 control-label">&{'account.userAbout'}</label>
			    <div class="col-sm-10">
			      <textarea type="text" class="form-control" id="userAbout" placeholder="&{'account.userAbout'}" name="userAbout" rows="10">${params.userAbout}</textarea>
			      <div class="error">#{error 'userAbout' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="userEducation" class="col-sm-2 control-label">&{'account.userEducation'}</label>
			    <div class="col-sm-10">
			      <textarea type="text" class="form-control" id="userEducation" placeholder="&{'account.userEducation'}" name="userEducation" rows="10">${params.userEducation}</textarea>
			      <div class="error">#{error 'userEducation' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="userExperiences" class="col-sm-2 control-label">&{'account.userExperiences'}</label>
			    <div class="col-sm-10">
			      <textarea type="text" class="form-control" id="userExperiences" placeholder="&{'account.userExperiences'}" name="userExperiences" rows="10">${params.userExperiences}</textarea>
			      <div class="error">#{error 'userExperiences' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="website" class="col-sm-2 control-label">&{'account.website'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="website" placeholder="&{'account.website'}" name="url" value="${params.url}">
			      <div class="error">#{error 'url' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="facebook" class="col-sm-2 control-label"> &{'facebook'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="facebook" placeholder="&{'facebook'}" name="facebook" value="${params.facebook}">
			      <div class="error">#{error 'facebook' /}</div>
			    </div>
			</div>				
			<div class="form-group">
				<label for="googlePlus" class="col-sm-2 control-label"> &{'googlePlus'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="googlePlus" placeholder="&{'googlePlus'}" name="googlePlus" value="${params.googlePlus}">
			      <div class="error">#{error 'googlePlus' /}</div>
			    </div>
			</div>				
			<div class="form-group">
				<label for="linkedIn" class="col-sm-2 control-label"> &{'linkedIn'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="linkedIn" placeholder="&{'linkedIn'}" name="linkedIn" value="${params.linkedIn}">
			      <div class="error">#{error 'linkedIn' /}</div>
			    </div>
			</div>				
			<div class="form-group">
				<label for="twitter" class="col-sm-2 control-label"> &{'twitter'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="twitter" placeholder="&{'twitter'}" name="twitter" value="${params.twitter}">
			      <div class="error">#{error 'twitter' /}</div>
			    </div>
			</div>				
			<div class="form-group">
				<label for="skype" class="col-sm-2 control-label"> &{'skype'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="skype" placeholder="&{'skype'}" name="skype" value="${params.skype}">
			      <div class="error">#{error 'skype' /}</div>
			    </div>
			</div>				
			#{/else}	
			
			
			
			
			
		    
	  	
	  	
	  	
	  	
	  		<br/>
			<h3>&{'Your Calendar'}</h3>
			<div class="separator-2"></div>
			#{if !edit}
			<dl class="dl-horizontal">
				<dt>&{'working.hours'}</dt>
				<dd>${user.workingHourStart} - ${user.workingHourEnd} &{'hrs'}</dd>
				<dt>&{'hidden.days'}</dt>
				<dd>
					#{if user.hiddenDays != null}
 					#{if user.hiddenDays.indexOf("0") >= 0}&{'cal.sunday'}#{/if} 
 					#{if user.hiddenDays.indexOf("1") >= 0}&{'cal.monday'}#{/if} 
 					#{if user.hiddenDays.indexOf("2") >= 0}&{'cal.tuesday'}#{/if} 
 					#{if user.hiddenDays.indexOf("3") >= 0}&{'cal.wednesday'}#{/if} 
 					#{if user.hiddenDays.indexOf("4") >= 0}&{'cal.thursday'}#{/if} 
 					#{if user.hiddenDays.indexOf("5") >= 0}&{'cal.friday'}#{/if} 
 					#{if user.hiddenDays.indexOf("6") >= 0}&{'cal.saturday'}#{/if} 
 					#{/if}
				</dd>
			</dl>
			#{/if}
			#{else}
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">&{'workingHourStart'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="workingHourStart" id="workingHourStart">
						<option #{if params.workingHourStart == "1"} selected='selected'#{/if} value="1">01:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "2"}selected='selected'#{/if} value="2">02:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "3"}selected='selected'#{/if} value="3">03:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "4"}selected='selected'#{/if} value="4">04:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "5"}selected='selected'#{/if} value="5">05:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "6"}selected='selected'#{/if} value="6">06:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "7"}selected='selected'#{/if} value="7">07:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "8"}selected='selected'#{/if} value="8">08:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "9"}selected='selected'#{/if} value="9">09:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "10"}selected='selected'#{/if} value="10">10:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "11"}selected='selected'#{/if} value="11">11:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "12"}selected='selected'#{/if} value="12">12:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "13"}selected='selected'#{/if} value="13">13:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "14"}selected='selected'#{/if} value="14">14:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "15"}selected='selected'#{/if} value="15">15:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "16"}selected='selected'#{/if} value="16">16:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "17"}selected='selected'#{/if} value="17">17:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "18"}selected='selected'#{/if} value="18">18:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "19"}selected='selected'#{/if} value="19">19:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "20"}selected='selected'#{/if} value="20">20:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "21"}selected='selected'#{/if} value="21">21:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "22"}selected='selected'#{/if} value="22">22:00 &{'hrs'}</option>
						<option #{if params.workingHourStart == "23"}selected='selected'#{/if} value="23">23:00 &{'hrs'}</option>
					</select>
					<div class="error">#{error 'workingHourStart' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">&{'workingHourEnd'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="workingHourEnd" id="workingHourEnd">
						<option #{if params.workingHourEnd == "1"} selected='selected'#{/if} value="1">01:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "2"}selected='selected'#{/if} value="2">02:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "3"}selected='selected'#{/if} value="3">03:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "4"}selected='selected'#{/if} value="4">04:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "5"}selected='selected'#{/if} value="5">05:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "6"}selected='selected'#{/if} value="6">06:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "7"}selected='selected'#{/if} value="7">07:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "8"}selected='selected'#{/if} value="8">08:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "9"}selected='selected'#{/if} value="9">09:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "10"}selected='selected'#{/if} value="10">10:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "11"}selected='selected'#{/if} value="11">11:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "12"}selected='selected'#{/if} value="12">12:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "13"}selected='selected'#{/if} value="13">13:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "14"}selected='selected'#{/if} value="14">14:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "15"}selected='selected'#{/if} value="15">15:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "16"}selected='selected'#{/if} value="16">16:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "17"}selected='selected'#{/if} value="17">17:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "18"}selected='selected'#{/if} value="18">18:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "19"}selected='selected'#{/if} value="19">19:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "20"}selected='selected'#{/if} value="20">20:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "21"}selected='selected'#{/if} value="21">21:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "22"}selected='selected'#{/if} value="22">22:00 &{'hrs'}</option>
						<option #{if params.workingHourEnd == "23"}selected='selected'#{/if} value="23">23:00 &{'hrs'}</option>
					</select>
					<div class="error">#{error 'workingHourStart' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">&{'hiddenDays'}</label>
			    <div class="col-sm-10" style="position:relative;top:7px;">
			    	<label for="hiddenDays0">
				    	<input type="checkbox" name="hiddenDays" value="0" id="hiddenDays0" #{if params.hiddenDays != null && params.hiddenDays.indexOf("0") >= 0}checked='checked'#{/if}> &{'cal.sunday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays1">
				    	<input type="checkbox" name="hiddenDays" value="1" id="hiddenDays1" #{if params.hiddenDays != null && params.hiddenDays.indexOf("1") >= 0}checked='checked'#{/if}> &{'cal.monday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays2">
				    	<input type="checkbox" name="hiddenDays" value="2" id="hiddenDays2" #{if params.hiddenDays != null && params.hiddenDays.indexOf("2") >= 0}checked='checked'#{/if}> &{'cal.tuesday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays3">
				    	<input type="checkbox" name="hiddenDays" value="3" id="hiddenDays3" #{if params.hiddenDays != null && params.hiddenDays.indexOf("3") >= 0}checked='checked'#{/if}> &{'cal.wednesday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays4">
				    	<input type="checkbox" name="hiddenDays" value="4" id="hiddenDays4" #{if params.hiddenDays != null && params.hiddenDays.indexOf("4") >= 0}checked='checked'#{/if}> &{'cal.thursday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays5">
				    	<input type="checkbox" name="hiddenDays" value="5" id="hiddenDays5" #{if params.hiddenDays != null && params.hiddenDays.indexOf("5") >= 0}checked='checked'#{/if}> &{'cal.friday'} &nbsp;
			    	</label>
			    	<label for="hiddenDays6">
				    	<input type="checkbox" name="hiddenDays" value="6" id="hiddenDays6" #{if params.hiddenDays != null && params.hiddenDays.indexOf("6") >= 0}checked='checked'#{/if}> &{'cal.saturday'}
			    	</label>
			    </div>
				<div class="error">#{error 'hiddenDays' /}</div>
			</div>			
			#{/else}
					






			<br/>
			<h3>&{'Paypal Account'}</h3>
			<div class="separator-2"></div>
			#{if !edit}
			<dl class="dl-horizontal">
				<dt>&{'account.paypalAccount'}</dt>
				<dd>${user.account.paypalAccount} &nbsp;</dd>
				<dt>&{'account.currency'}</dt>
				<dd>${user.account.currency} &nbsp;</dd>
			</dl>
			#{/if}
			#{else}
			<div class="form-group">
				<label for="paypal" class="col-sm-2 control-label">&{'account.paypalAccount'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="paypal" placeholder="&{'account.paypalAccount'}" name="paypal" value="${params.paypal}">
			      <div class="error">#{error 'paypal' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="currency" class="col-sm-2 control-label">&{'account.currency'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="currency" id="currency">
						<option #{if params.currency == "USD"}selected='selected'#{/if} value="USD">USD</option>
						<option #{if params.currency == "EUR"}selected='selected'#{/if} value="EUR">EUR</option>
						<option #{if params.currency == "CHF"}selected='selected'#{/if} value="SEK">CHF</option>
						<option #{if params.currency == "GBP"}selected='selected'#{/if} value="GBP">GBP</option>
						<option #{if params.currency == "AUD"}selected='selected'#{/if} value="AUD">AUD</option>
						<option #{if params.currency == "CAD"}selected='selected'#{/if} value="CAD">CAD</option>
						<option #{if params.currency == "JPY"}selected='selected'#{/if} value="JPY">JPY</option>
						<option #{if params.currency == "CZK"}selected='selected'#{/if} value="CZK">CZK</option>
						<option #{if params.currency == "BRL"}selected='selected'#{/if} value="BRL">BRL</option>
						<option #{if params.currency == "DKK"}selected='selected'#{/if} value="DKK">DKK</option>
						<option #{if params.currency == "NOK"}selected='selected'#{/if} value="NOK">NOK</option>
						<option #{if params.currency == "NZD"}selected='selected'#{/if} value="NZD">NZD</option>
						<option #{if params.currency == "PLN"}selected='selected'#{/if} value="SEK">PLN</option>
						<option #{if params.currency == "SEK"}selected='selected'#{/if} value="SEK">SEK</option>
					</select>
					<div class="error">#{error 'currency' /}</div>
			    </div>
			</div>			
			#{/else}
			
			
			
			
			
			
			
			
			
			
			<br/>
			<h3>&{'Outgoing Email'}</h3>
			<div class="separator-2"></div>
			<div class="alert alert-success alert-dismissable" style="display:none;" id="email-success"></div>
			<div class="alert alert-danger alert-dismissable" style="display:none;" id="email-danger"></div>
			#{if !edit}
			<dl class="dl-horizontal">
				<dt>Smtp host</dt>
				<dd>${user.account.smtpHost} &nbsp;</dd>
				
				#{if user.account.smtpHost == null || user.account.smtpHost != "DEFAULT"}
				<dt>Smtp port</dt>
				<dd>${user.account.smtpPort} &nbsp;</dd>
				<dt>&{'account.account'}</dt>
				<dd>${user.account.smtpAccount} &nbsp;</dd>
				<dt>&{'account.protocol'}</dt>
				<dd>${user.account.smtpProtocol} &nbsp;</dd>
				<dt></dt>
				#{/if}
				<dd>
					<a href="#" id="test-email">&{'email.test.link'}</a><span class="spinner-small spinner-test"></span> |
					<a href="/settings/smtp/reset?url=${request.url.urlEncode()}">Reset to default</a>
				</dd>
			</dl>
				<script>
					$("#test-email").click(function(){
			            $(".spinner-test").show();
					    $.ajax({
					        type: "GET",
					        url: "/test-email",
					        success: function(data) {
					            $("#email-success").html(data.response);
					            $("#email-success").show();
					            $(".spinner-test").hide();
						    },
					        error: function(data) {
					            console.log(data);
					            $("#email-danger").html(data.responseText);
					            $("#email-danger").show();
					            $(".spinner-test").hide();
						    },
					        contentType: "application/json"
					    });
					});
				</script>
			#{/if}
			#{else}
			<div class="form-group">
				<label for="smtpHost" class="col-sm-2 control-label">Smtp host</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="smtpHost" placeholder="Smtp host" name="smtpHost" value="${flash.smtpHost}">
			      <div class="error">#{error 'smtpHost' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="smtpPort" class="col-sm-2 control-label">Smtp port</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="smtpPort" placeholder="Smtp port" name="smtpPort" value="${flash.smtpPort}">
			      <div class="error">#{error 'smtpPort' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="smtpPort" class="col-sm-2 control-label">&{'account.account'}</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="smtpAccount" placeholder="&{'account.account'}" name="smtpAccount" value="${flash.smtpAccount}">
			      <div class="error">#{error 'smtpAccount' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="smtpPort" class="col-sm-2 control-label">&{'password'}</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="smtpPassword" placeholder="&{'password'}" name="smtpPassword" value="${flash.smtpPassword}">
			      <div class="error">#{error 'smtpPassword' /}</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="smtpProtocol" class="col-sm-2 control-label">&{'account.protocol'}</label>
			    <div class="col-sm-10">
					<select class="form-control" name="smtpProtocol" id="smtpProtocol">
						<option #{if flash.smtpProtocol == "SMTP"}selected='selected'#{/if} value="SMTP">SMTP</option>
						<option #{if flash.smtpProtocol == "SMTPS"}selected='selected'#{/if} value="SMTPS">SMTPS</option>
					</select>
					<div class="error">#{error 'smtpProtocol' /}</div>
			    </div>
			</div>			
			#{/else}
			



			
			
			
			
			
			<br/>
			<h3>Website Embedding</h3>
			<div class="separator-2"></div>
			<dl class="dl-horizontal">
				<dt>&{'account.viaIframe'}</dt>
				<dd style="margin-bottom:30px;">
					<textarea class="form-control" rows="2" ><iframe style="width:100%;height:100%;" frameborder="0" src="${baseUrl}/public/calendar?id=${user.uuid}" seamless></iframe></textarea>
				</dd>
				<dt>&{'account.viaLink'}</dt>
				<dd><textarea class="form-control" rows="1" >${baseUrl}/public/calendar?id=${user.uuid}</textarea></dd>
			</dl>







			#{if edit}
			<div class="form-group">
				<div class="col-sm-12">
					<div class="pull-right">
						<button type="submit" class="btn btn-default">&{'save'}</button>
						<a href="/Accounts/account" class="btn btn-white">&{'cancel'}</a>
					</div>
				</div>
			</div>
			#{/if}

		</form>
		</div>
	</div>
</div>
</div>


