#{extends 'main.html' /} 
#{set 'moreScripts'}
#{/set}

#{set background:'true' /} 

<div style="padding:30px;min-height:100%;min-height:100vh;" class="transparent2">

<div class="container">
	<div class="row">
	  	<div class="col-md-12 segoe">
			<h2 class="segoe"><i class='fa fa-bar-chart-o fa-1.5x'></i> &{'customers'}</h2>
			<hr>

			<table class="table table-striped" style="font-size:0.8em">
				<thead>
		        <tr>
		          <th>&{'customer'}</th>
		          <th>&{'email'}</th>
		        </tr>
		      </thead>
				#{list items:customers, as:'c'}
				<tr>
	    			<td><a href="/Accounts/contact?id=${c.uuid}">${c.firstName} ${c.lastName}</a></td>
	    			<td><a href="mailto:${c.login}">${c.login}</a></td>
				</tr>
				#{/list}
			</table>

		</div>
	</div>
</div>
</div>


