#{extends 'main.html' /} 
#{set 'title'}
	&{'payments.receivedPayments'}
#{/set}

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/lib/canvasjs.min.js'}" type="text/javascript" ></script>
#{/set}

#{set background:'true' /} 

<div style="padding:30px;min-height:100%;min-height:100vh;" class="transparent2">
<div class="container">
	<div class="row">
	  	<div class="col-md-12">
			<h2> 
				#{if senderUser}
					<img class="img-circle avatar32" src="${senderUser.avatarUrl}_32x32"> ${senderUser.fullName} - &{'payments.receivedPayments'}
				#{/if}
				#{elseif request.params.sent}
					<i class='fa fa-bar-chart-o'></i> &{'payments.sentPayments'}
				#{/elseif}
				#{else}
					<i class='fa fa-bar-chart-o'></i> &{'payments.receivedPayments'}
				#{/else}
			</h2>

			<form class="form-inline" method="GET">
				<input type="hidden" name="transaction" value="${request.params.transaction}">
				<input type="hidden" name="sender" value="${request.params.sender}">
				<input type="hidden" name="sent" value="${request.params.sent}">
				<div class="form-group">
					&{'payments.timeRange'}
				</div>
				<div class="form-group"> 
					<select class="form-control" name="filterTime" id="filterTime">
						<option #{if flash.filterTime == "month"}selected='selected'#{/if} value="month">&{'payments.thisMonth'}</option>
						<option #{if flash.filterTime == "year"}selected='selected'#{/if} value="year">&{'payments.thisYear'}</option>
						<option #{if flash.filterTime == "all"}selected='selected'#{/if} value="all">&{'payments.allTime'}</option>
					</select>
				</div>
				<div class="form-group">
					&{'from'}
				</div>
				<div class="form-group">
					<input class="form-control" placeholder="From" name="filterTimeFrom" data-date-format="dd/mm/yyyy" id="dp1" value="${flash.filterTimeFrom}">
				</div>
				<div class="form-group">
					&{'to'}
				</div>
				<div class="form-group">
					<input class="form-control" placeholder="To" name="filterTimeTo" data-date-format="dd/mm/yyyy" id="dp2" value="${flash.filterTimeTo}">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">&{'submit'}</button>
				</div>

				<script>
					$(document).ready(function(){
						var setDate = function(elm){
							var now = new Date();
							if($(elm).val() == "month"){
							    $('#dp1').val(new Date(now.getFullYear(), now.getMonth(), 1).format("dd/mm/yyyy"));	    
								$('#dp2').val(new Date(now.getFullYear(), now.getMonth() + 1, 0).format("dd/mm/yyyy"));	    
							}
							if($(elm).val() == "year"){
								$('#dp1').val(new Date(now.getFullYear(), 0, 1).format("dd/mm/yyyy"));	    
								$('#dp2').val(new Date(now.getFullYear(), now.getMonth() + 1, 0).format("dd/mm/yyyy"));	    
							}
							if($(elm).val() == "all"){
							    $('#dp1').val("");	    
							    $('#dp2').val("");	    
							}
						};
						$('#dp1').datepicker();
						$('#dp2').datepicker();
						$('#filterTime').change(function(){setDate(this)});
						if($('#dp1').val() == "" && $('#dp2').val() == "")
						    setDate($('#filterTime'));
						
					})
				</script>
			</form>
			
			<br/>
			
			#{if request.params.sent}
				<h3>&{'payments.totalExpenses'}</h3>
			#{/if}
			#{else}
				<h3>&{'payments.totalSales'}</h3>
			#{/else}
			
			
			<br/>
			<div id="chartContainer" style="height: 300px; width: 90%;">
			</div>			
			<script>
			
			window.onload = function () {
				var chart = new CanvasJS.Chart("chartContainer",
				{

					title:{
						text: "",
						fontSize: 30
					},
					axisX:{

						gridColor: "Silver",
						tickColor: "silver",
						valueFormatString: "DD. MMM hh"

					},                        
		                        toolTip:{
		                          shared:true
		                        },
					theme: "theme2",
					axisY: {
						gridColor: "Silver",
						tickColor: "silver"
					},
					legend:{
						verticalAlign: "center",
						horizontalAlign: "right"
					},
					data: [
					#{list items:mapTotal, as:'p'}
					{        
						type: "line",
						showInLegend: true,
						name: "${p.key}",
						lineThickness: 2,

						dataPoints: [
						#{list items:p.value, as:'t'}
							{ x: new Date(${t.key}), y: ${t.value} },
						#{/list}						             
						]
					},
					#{/list}						             
					],
		          legend:{
		            cursor:"pointer",
		            itemclick:function(e){
		              if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		              	e.dataSeries.visible = false;
		              }
		              else{
		                e.dataSeries.visible = true;
		              }
		              chart.render();
		            }
		          }
				});

		chart.render();
		}			
			</script>

			
			<br/>
			<h3>&{'payments.transactions'}</h3>
			<table class="table table-striped table-condensed" style="font-size:0.9em;width:90%">
				<thead>
		        <tr>
		          #{if request.params.sent}
			          <th>&{'publisher'}</th>
		          #{/if}
		          #{else}
			          <th>&{'customer'}</th>
		          #{/else}
		          <th>&{'event'}</th>
		          <th>&{'price'}</th>
		          <th>&{'date'}</th>
		          <th>&{'refundation'}</th>
		        </tr>
		      </thead>
				#{list items:payments, as:'p'}
				<tr>
	    			<td>
				          #{if request.params.sent}
		    				<img class="avatar16 img-circle" src="${p.event.user.avatarUrl}_32x32">
		    				<a href="/user/${p.event.user.login}">${p.event.user.fullName}</a>
				          #{/if}
				          #{else}
		    				<img class="avatar16 img-circle" src="${p.customer.avatarUrl}_32x32">
		    				<a href="/user/${p.customer.login}">${p.customer.fullName}</a>
		    				<strong><a href="/payments?sender=${p.customer.login}">&{'filter'}</a></strong>
				          #{/else}	    			
	    			</td>
	    			<td>
	    				<a href="/event/${p.event.uuid}">
	    					${p.event.listing.title.trimDot(25)} , 
	    					${p.event.eventStart.format("dd MMM yyyy")}
	    					#{time time:p.event.eventStart/}	    					
	    				</a>
	    			</td>
	    			<td>${p.price} ${p.currency}</td>
	    			<td>
	    				#{if p.paypalTransactionDate}
	    					${p.paypalTransactionDate.format("dd MMM yyyy")}
	    					#{time time:p.paypalTransactionDate/}
	    				#{/if}
	    			</td>
	    			<td>
	    				#{if p.refunded == null && p.refundRequested}
	    					<a href="/mail?action=new&to=${p.customer.login}&subject=${p.event.listing.title}"><i class="fa fa-envelope-o"></i></a>&nbsp;
		    				<span class="label label-danger" rel="tooltip" data-placement="top" data-original-title="${p.refundReason}">
		    					&{'refund-reason'}
		    				</span>&nbsp;
	    					<a href="/paypal/refund/${p.uuid}?url=${request.url.urlEncode()}&#{token /}" class="btn btn-default btn-sm margin-clear"  onclick="if(confirm('&{'confirm-decline'}')){return true;} else {return false;}">Refund</a>
	    				#{/if}
	    				#{if request.params.sent && p.refundRequested == null}
	    					<a href="/event/${p.event.uuid}">&{'request-refund'}</a>&nbsp;
	    				#{/if}	  	    				
	    				#{if p.refunded}
	    					<span class="label label-default">&{'refunded'}</span>
	    				#{/if}
	    			</td>
	    			
				</tr>
				#{/list}
			</table>

		</div>
	</div>
</div>
</div>


